<!-- <main>
        <div class="FloatIcon_FloatIcon__JBW0S">
                <div class="FloatIcon_Icon__OAYI3"><img alt="Urban Money Float Icon" loading="lazy" width="28" height="25"
                        decoding="async" data-nimg="1" src="./../../assets/images/FloatIcon.svg" style="color: transparent;">
                </div>
                <div class="FloatIcon_title__0ZXTP">
                    <div class="FloatIcon_closeIcon__Gi9ll"></div>
                    <p class="fontBold font12 mb10">Need Loan Assistance?</p><button
                        class="btn FloatIcon_connectNow__pDqOd">Connect Now <i class="bi bi-arrow-right"></i> </button>
                </div>
            </div>
    <div class="container">
        <div class="BreadCrumb_breadCrumb__pNdJT">
            <ul>
                <li><a class="text777 font12" href="/">Home</a></li>
                <li class="text777 font12 "><a class="" href="https://www.urbanmoney.com/investment-plans">Investment
                        Plans</a></li>
                <li class="text777 font12 ">Sip</li>
            </ul>
        </div>
    </div>
    <div class="containerMaxiwith containerFlex">
        <section class="CmsContent_eligible__8MIhE">
            <div class="container">
                <h1 class="font24 mb30 text2828 bottomborderf5a623 Innerheading fontsemiBold lineHeight36">Systematic
                    Investment Plan - SIP</h1>
                <div class="CmsContent_genericBanner___VBOA"></div>
                <div class="mt35">
                    <p><span>Recently, Systematic Investment Plans (SIPs) have become one of the most popular investment
                            tools in the financial market. This can be attributed to the benefit of compounding
                            interest, rupee cost averaging and the ability to offset any potential
                            losses.</span><span>&nbsp;</span></p>
                    <p><span>In place of investing in a lump sum amount during market highs and lows, an SIP enables
                            investors to invest systematically throughout the business cycle and distribute the cost
                            evenly. They also help effectively balance out long term risks, providing stable and steady
                            returns.</span></p>

                    <h2><span>What is a Systematic Investment Plan (SIP)?</span></h2>
                    <p><span>A Systematic Investment Plan or SPI is a convenient investment tool that enables the
                            investor to systematically invest a pre-decided amount of money in mutual funds at regular
                            intervals. The investment can be made in an organised manner on an annual, half-yearly,
                            quarterly, monthly or weekly basis. This allows the investor to earn regular returns via a
                            pre-planned tool and flexibility in asset management and investment amount.</span></p>

                    <h2><span>Benefits of Investing in SIP</span></h2>
                    <p><span>Given below are some of the benefits of investing in a Systematic Investment Plan:</span>
                    </p>

                    <h3><span>The Boon of Compounding</span></h3>
                    <p><span>One of the most important benefits of investing in an SIP is the compounding interest it
                            offers to investors. Since the investor makes deposits at regular intervals, the investment
                            amount earns more interest over the investment period. The amount invested earlier has more
                            time to aggressively earn interest throughout the tenure. Let's understand this with the
                            help of an example:</span><span>&nbsp;</span></p>
                    <p><b>Example:</b><span> Let's assume that X, 40 years old, invests Rs. 10,000 in a SIP with an
                            interest rate of 7%. They will earn Rs. 52,40,000 when they reach retirement age. Now let's
                            assume that Y, who is 30 years old, invests Rs. 10,000 in the same investment scheme. They
                            will earn Rs. 1.22 crore upon maturity. Due to the significant ten-year difference in the
                            investment period, Y earns more than double what X gains with their investment.</span></p>

                    <h3><span>Rupee-Cost Averaging</span></h3>
                    <p><span>When you decide to invest in an SIP, you should not rely only on hearsay and speculation to
                            invest your hard-earned money into mutual funds. Volatility is a constant in any equity
                            investment option. Therefore, mutual funds use the rupee-cost averaging method, which relies
                            on averaging the price at which you purchase units of a mutual fund. The fundamental law of
                            demand states that the price of a commodity goes down when purchased in large quantities.
                            This method will account for any losses that an investor may incur due to the market's
                            volatility.</span></p>

                    <h3><span>Inculcates Systematic Saving</span></h3>
                    <p><span>Since investors can choose to invest a particular amount at a predetermined frequency, they
                            enjoy more financial flexibility. This allows the investor to plan their monthly expenses
                            around their investment and earn significantly.</span></p>

                    <h3><span>Flexibility and Convenience</span></h3>
                    <p><span>Even though investors can hold their investments in SIPs over a long-term period, there is
                            no specified duration during which the investment has to be made. Investors can choose to
                            withdraw from the investment plan at any given point.</span><span>&nbsp;</span></p>
                    <p><span>The regular investment amount can also be changed according to the investor's choice.
                            Additionally, the investor can place standing instructions to their bank so that the
                            investment amount is auto-debited on the investment date.</span></p>

                    <h2><span>Types of SIP</span></h2>
                    <p><span>The Systematic Investment Plans available in the country can be broadly classified based on
                            investment objective and instalment flexibility:</span></p>

                    <h3><span>Based on Investment Objective</span></h3>
                    <p><span>SIPs can be defined as mutual funds with an interval-based mode of payment. The underlying
                            funds in an SIP can be debt-focused, equity-oriented or balance oriented. These are
                            categorised according to the underlying asset class.</span><span>&nbsp;</span></p>
                    <p><span>Equity funds usually offer high-risk high returns, while debt options offer low risk and
                            comparatively lower returns. Balanced SIPs are less riskier than equity funds but are more
                            volatile than debt funds.</span><span>&nbsp;</span></p>
                    <p><span>Further, some Systematic Investment Plans can be used as tax-saving instruments or
                            insurance products like the ULIPs (Unit Linked Saving Schemes) and ELSS (Equity Linked
                            Savings Scheme). These investment schemes are tax-exempt as per Section 80C of the Income
                            Tax Act.</span></p>

                    <h3><span>Based on Instalment Flexibility</span></h3>
                    <p><span>SIPs offer the investor a reliable method where they can fix a predetermined amount to be
                            invested consistently. The various kinds of SIPs based on instalment flexibility are as
                            given below:</span></p>

                    <h4><span>Regular SIPs</span></h4>
                    <p><span>In this investment plan, the investor decides an investment amount and makes recurring
                            payments. They do so by giving standing instructions to their banking partner or enabling
                            the electronic transfer of funds from their account to the SIP account. Since the regular
                            intervention is not required from the investor, it is a fairly simple and hassle-free
                            process. An equal amount of money is invested in the case of market highs or lows. This
                            effectively averages out the cost of SIP units purchased.</span></p>

                    <h4><span>Flexible SIPs</span></h4>
                    <p><span>This investment allows the investor to change their investment amount as per their
                            requirements. This way, the investor can purchase more units when the market is at a low and
                            vice versa. This is dictated by a predetermined formula that enables the investor to react
                            according to the market's volatility.</span><span>&nbsp;</span></p>
                    <p><span>You can modify your investment amount according to the ever-changing market conditions and
                            financial conditions. When facing a financial crisis, you can decrease the investment amount
                            and increase it when the situation improves or you have a surplus. For this, you will have
                            to inform the fund manager at least a week before the investment deduction.</span></p>

                    <h4><span>Step-up SIP</span></h4>
                    <p><span>A Step-up SIP or Top-up SIP is a kind of investment scheme that enables the investor to
                            increase the investment amount when required. You can start the investment at a regular
                            amount and go for a top-up option.</span><span>&nbsp;</span></p>
                    <p><span>For example, if you invest in a monthly SIP with Rs. 5,000, you can ask the provider to
                            increase the amount by Rs. 1,000 every 12 months. This is ideal for salaried professionals
                            who expect annual appraisals or bonuses. You can eventually increase your contributions to
                            the SIP account as per increased spending power and gain more returns by investing more
                            money.</span></p>

                    <h4><span>Perpetual SIP</span></h4>
                    <p><span>Usually, SIPs require investors to state the investment tenure they wish to park their
                            investment. However, in the case of Perpetual SIPs, the investor is required to mention the
                            investment start date but not the end date.</span><span>&nbsp;</span></p>
                    <p><span>In fact, if no maturity date is mentioned on your offer documents, it is considered to be a
                            Perpetual SIP. This implies that this investment scheme will continue till the investor
                            requests the asset manager to discontinue the SIP. If the investor does not wish to limit
                            their investment post the maturity date, they can voluntarily choose a Perpetual SIP and go
                            for a longer duration.</span></p>

                    <h4><span>Trigger SIP</span></h4>
                    <p><span>As the name suggests, in this investment scheme, the stakeholder gets to trigger an
                            investment clause to account for the highs and lows of the market. You can trigger the
                            clause by redeeming units, starting the SIP or transferring to another
                            plan.</span><span>&nbsp;</span></p>
                    <p><span>This is ideal for seasoned investors who have a knack for predicting market behaviour and
                            can set triggers for specific events. You can effectively set triggers if you have a firm
                            understanding of market conditions and know when to buy or sell the units of an SIP.</span>
                    </p>

                    <h4><span>Multi SIP</span></h4>
                    <p><span>This investment scheme enables the investor to invest in multiple funds of a provider via
                            one SIP. For instance, if you invest Rs 4,000 monthly in a multi SIP, it may be split up
                            into four units of Rs. 1,000 each. This way, the investor can avoid the massive paperwork
                            and hassle of managing multiple SIP accounts. Further, this is also a convenient way to
                            diversify your investment corpus.</span></p>

                    <h2><span>How Does an SIP Investment Work?</span></h2>
                    <p><span>One of the best features of SIP is that it offers the investor flexibility with respect to
                            asset management and investing money in the mutual fund. This is ideal since the pre-decided
                            amount will be automatically deducted from the investor's bank account on the investment
                            date and used to make investments in a mutual fund portfolio.</span><span>&nbsp;</span></p>
                    <p><span>A Net Value Asset (NAV) is then allotted to the investor based on existing market
                            conditions. Additional units under the existing fund will be purchased and added to the
                            portfolio when an investment is made. This ensures that the units in a portfolio are
                            purchased at different prices. Therefore, the investor benefits from the dual
                            characteristics of rupee-cost averaging and compound interest.</span></p>

                    <h2><span>How to Choose an SIP?</span></h2>
                    <p><span>Given below are some of the key factors that you should keep in mind while choosing the
                            right SIP to invest in:</span></p>

                    <ul>
                        <li><span>The mutual fund you choose to invest in should be active in the market for at least
                                the last five years.</span></li>
                        <li><span>Ensure that your bank operates the mutual fund you choose to invest in. To verify this
                                information, you can cross-check the plan's details with your relationship manager at
                                the bank.</span></li>
                        <li><span>The asset management company you have chosen should be reputable and recognised in the
                                industry. Usually, if the organisation is reputable, you can be assured about the
                                performance and the returns it will provide throughout the investment.</span></li>
                        <li><span>Try going through all the details of the plan you are interested in and avoid those
                                with high volatility and low liquidity.</span></li>
                        <li><span>Consider funds that have a decent CRISIL rating. Funds ranking from 1 to 3 are
                                considered ideal investment options.</span></li>
                    </ul>
                    <h2><span>Mistakes to Avoid While Investing in SIP</span></h2>
                    <p><span>Given below are some of the common mistakes that you might want to avoid while investing in
                            mutual funds through SIPs:</span></p>

                    <h3><span>Waiting for the Right Time</span></h3>
                    <p><span>This is one of the main investing mistakes to avoid while investing in mutual funds. By
                            planning to time the market to invest in the mutual funds, you are defeating the primary
                            function of SIP investments, i.e. investing across changing market
                            conditions.</span><span>&nbsp;</span></p>
                    <p><span>As the old saying goes, 'the best time to plant a tree was 20 years ago; the second-best
                            time is now. The same philosophy applies to mutual fund investments. Instead of waiting for
                            the right time to invest, the present should be considered the best
                            time.</span><span>&nbsp;</span></p>
                    <p><span>This enables the investor to start investing at an early age and allows the stakeholder to
                            gain more aggressive returns due to compounding over a long time.</span></p>

                    <h3><span>Discontinuing SIP in Volatile Conditions</span></h3>
                    <p><span>Usually, investors discontinue or terminate their investment during volatile or shaky
                            market environments. Simply put, this is another case of investors trying to time the market
                            by avoiding future investments to limit the losses.</span></p>
                    <p><span>However, what most investors fail to realise is that when the market is down, it is a good
                            opportunity to purchase more units at lower costs and average out their investment cost.
                            Further, abruptly withdrawing from the SIP may pause the journey towards achieving the
                            financial goals. Investors should really start believing in the long term growth stories of
                            the market and continue mutual funds investment through SIPs.</span></p>

                    <h3><span>Unrealistic Investment Goals</span></h3>
                    <p><span>Usually, to achieve higher returns in a shorter investment period, investors tend to set
                            higher investment goals without considering other factors like income and other monthly
                            commitments. While one may be able to stretch the investment for a couple of months, it may
                            lead to the investor prematurely terminating the investment before the goals are achieved.
                            As such, the investor should be realistic with their financial goals and plans; else, they
                            may have a rough investment journey.</span></p>

                    <h3><span>Not Opting for Step-Up SIPs</span></h3>
                    <p><span>A Step-up SIP is an investment scheme in which the monthly investment increases at regular
                            intervals or specific triggers. Using this means, the investor can raise the investment
                            amount in accordance with a rise in fixed income, which will occur over time. Choosing this
                            investment scheme increases the monthly savings quota and helps reach the desired investment
                            corpus.</span><span>&nbsp;</span></p>
                    <p><span>&nbsp;For instance, if you invest Rs. 5,000 per month for 30 years, you will accumulate an
                            investment corpus of Rs. 1.76 crores for a total investment of Rs. 18 lakhs. This is
                            assuming that the returns are earned at an annual rate of 12% per
                            annum.</span><span>&nbsp;</span></p>
                    <p><span>Alternatively, if the investor raises the amount by 10% per year, i.e. Rs. 5,000 in the
                            first year, Rs. 5,500 in the second year, Rs. 6,050 and the total portfolio value will be
                            Rs. 4.42 crores against an investment of Rs. 98 lakhs.</span></p>

                    <h3><span>Lack of Portfolio Performance Review</span></h3>
                    <p><span>Just like it is imperative to make regular investments, it is also important to review the
                            portfolio to ensure that the financial plan stays on track to achieve long-term goals. Every
                            investor should review their portfolio at least once a year so underperforming units can be
                            identified and replaced with better alternatives. Further, such a review can also aid the
                            investor in gauging the gaps between investment and financial goals and taking appropriate
                            measures.</span></p>

                    <h2><span>Tax Benefits of Investing in SIP</span></h2>
                    <p><span>Apart from helping the investor be more disciplined with their investments, SIPs can also
                            help you save taxes. SIPs in an equity-linked savings scheme are eligible for tax exemption
                            in accordance with Section 80C of the Income Tax Act. Investments of up to Rs. 1.5 lakhs are
                            eligible for tax exemption under this provision.</span><span>&nbsp;</span></p>
                    <p><span>Further, it will be highly beneficial to start your SIP at the beginning of the financial
                            year so that the accumulated investment corpus provides you with a significant tax deduction
                            at the end of the year. When you know your investment amount in advance, you can plan your
                            expenses accordingly and make sure that you get more benefits under Section 80C.</span></p>

                    <h2><span>Systematic Investment Plan Vs Lump Sum</span></h2>
                    <p><span>Given below are some of the key differences between investing in mutual funds via the
                            lump-sum method and through SIPs:</span></p>

                    <table>
                        <tbody>
                            <tr>
                                <td><b>Basis of Comparison</b></td>
                                <td><b>SIP</b></td>
                                <td><b>Lump Sum</b></td>
                            </tr>
                            <tr>
                                <td><span>Market Monitoring</span></td>
                                <td><span>It is imperative to keep a check on the market cycle throughout the investment
                                        tenure of the SIP.</span></td>
                                <td><span>It is not necessary to monitor the market as these investments are generally
                                        long-term.</span></td>
                            </tr>
                            <tr>
                                <td><span>Flexibility</span></td>
                                <td><span>This method is more flexible as compared to the lump sum method as the
                                        investment amount can be changed according to the financial condition of the
                                        investor.</span></td>
                                <td><span>There is little room for flexibility in the lump sum investment method.</span>
                                </td>
                            </tr>
                            <tr>
                                <td><span>Volatility</span></td>
                                <td><span>The SIP performance does not get affected by market volatility.</span></td>
                                <td><span>The lump sum investment method is highly responsive to market changes.</span>
                                </td>
                            </tr>
                            <tr>
                                <td><span>Financial Discipline</span></td>
                                <td><span>SIPs help in inculcating a sense of financial discipline in the investor, as
                                        it builds a regular saving habit.</span></td>
                                <td><span>There is no aspect of financial discipline involved as it is a one-time
                                        investment method.</span></td>
                            </tr>
                        </tbody>
                    </table>
                    <h2><span>Top SIP Mutual Funds in India</span></h2>
                    <p><span>Given below are some of the top SIP mutual funds investment plans available in the country
                            in 2022:</span></p>

                    <table>
                        <tbody>
                            <tr>
                                <td><b>Name of Mutual Fund</b></td>
                                <td><b>Previous 5-Year Annual Return of the Fund</b></td>
                                <td><b>Investment Amount</b></td>
                                <td><b>SIP Value at the End of 5 Years</b></td>
                                <td><b>Capital Gains (%)</b></td>
                            </tr>
                            <tr>
                                <td><span>ICICI Prudential Technology Direct Plan Growth</span></td>
                                <td><span>35.2%</span></td>
                                <td><span>Rs 3 lakh</span></td>
                                <td><span>Rs 8.54 lakh</span></td>
                                <td><span>184%</span></td>
                            </tr>
                            <tr>
                                <td><span>Aditya Birla Sun Life Digital India Fund Direct Growth</span></td>
                                <td><span>34.3%</span></td>
                                <td><span>Rs 3 lakh</span></td>
                                <td><span>Rs 8.06 lakh</span></td>
                                <td><span>168%</span></td>
                            </tr>
                            <tr>
                                <td><span>Tata Digital India Fund Direct Growth</span></td>
                                <td><span>36.2%</span></td>
                                <td><span>Rs 3 lakh</span></td>
                                <td><span>Rs 8.35 lakh</span></td>
                                <td><span>178%</span></td>
                            </tr>
                            <tr>
                                <td><span>SBI Technology Opportunities Fund Direct Growth</span></td>
                                <td><span>30.8%</span></td>
                                <td><span>Rs 3 lakh</span></td>
                                <td><span>Rs 7.49 lakh</span></td>
                                <td><span>149%</span></td>
                            </tr>
                            <tr>
                                <td><span>Quant Infrastructure Fund Direct Growth</span></td>
                                <td><span>27.9%</span></td>
                                <td><span>Rs 3 lakh</span></td>
                                <td><span>Rs 6.9 lakh</span></td>
                                <td><span>130%</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
        <div class="RightSideBar_creditDescTile__EwfAF  " id="enquireNow">
            <h3 class="font16 font600 text181d mb15 mt30">Need Loan Assistance?</h3>
            <div class="LeadPopup_contentBox__k4AzT LeadPopup_sideBarForm__yaxs1">
                <p class="font12 text666 fontsemiBold">Connect with Loan Advisor Now!</p>
                <div class="LeadPopup_form__ZbOgW">
                    <div class="form-item"><input type="text" name="fullName" class="formInput" autocomplete="off"
                            required="" maxlength="90" value=""><label for="fullName"
                            class="font12 fontMedium formLabel">Full Name</label><span class="errorText"></span></div>
                    <div class="form-item contBox"><span class="text303542 font12 contCode fontMedium">+91</span><input
                            type="text" name="mobile" class="formInput" autocomplete="off" required="" maxlength="10"
                            value=""><label for="mobileNo" class="font12 fontMedium formLabel">Mobile No.</label><span
                            class="errorText"></span><span class="errorText"></span></div>
                    <div class="form-item">
                        <div class=" css-b62m3t-container"><span id="react-select-3-live-region"
                                class="css-7pg0cj-a11yText"></span><span aria-live="polite" aria-atomic="false"
                                aria-relevant="additions text" class="css-7pg0cj-a11yText"></span>
                            <div class=" css-13cymwt-control">
                                <div class=" css-hlgwow">
                                    <div class=" css-1jqq78o-placeholder" id="react-select-3-placeholder">Choose City
                                    </div>
                                    <div class=" css-19bb58m" data-value=""><input class="" autocapitalize="none"
                                            autocomplete="off" autocorrect="off" id="react-select-3-input"
                                            spellcheck="false" tabindex="0" type="text" aria-autocomplete="list"
                                            aria-expanded="false" aria-haspopup="true" role="combobox"
                                            aria-describedby="react-select-3-placeholder" value=""
                                            style="color: inherit; background: 0px center; opacity: 1; width: 100%; grid-area: 1 / 2; font: inherit; min-width: 2px; border: 0px; margin: 0px; outline: 0px; padding: 0px;">
                                    </div>
                                </div>
                                <div class=" css-1wy0on6"><span class=" css-1u9des2-indicatorSeparator"></span>
                                    <div class=" css-1xc3v61-indicatorContainer" aria-hidden="true"><svg height="20"
                                            width="20" viewBox="0 0 20 20" aria-hidden="true" focusable="false"
                                            class="css-8mmkcg">
                                            <path
                                                d="M4.516 7.548c0.436-0.446 1.043-0.481 1.576 0l3.908 3.747 3.908-3.747c0.533-0.481 1.141-0.446 1.574 0 0.436 0.445 0.408 1.197 0 1.615-0.406 0.418-4.695 4.502-4.695 4.502-0.217 0.223-0.502 0.335-0.787 0.335s-0.57-0.112-0.789-0.335c0 0-4.287-4.084-4.695-4.502s-0.436-1.17 0-1.615z">
                                            </path>
                                        </svg></div>
                                </div>
                            </div>
                        </div><span class="errorText"></span>
                    </div>
                    <div class="form-item">
                        <div class="Select_rangecalc__KDYd8">
                            <div class="selectBox"><select name="productType" class="formInput undefined" required="">
                                    <option value="">Choose Loan Type</option>
                                    <option value="2">Personal Loan</option>
                                    <option value="1">Home Loan</option>
                                    <option value="3">Loan Against Property</option>
                                    <option value="4">Business Loan</option>
                                    <option value="8">Credit Card</option>
                                </select></div>
                        </div><span class="errorText"></span>
                    </div>
                    <div class="LeadPopup_rangecalc__wwLC4 mb0 "><button
                            class="btn btn-primary textCenterSm font16 ">Submit </button><span class="errorText"></span>
                    </div>
                </div>
            </div>
            <h3 class="font16 font600 text181d mb15 mt30">Loans</h3>
            <div class="RightSideBar_creditTile__tbrLG mb16">
                <ul class="RightSideBar_btmoverflow__wat2N">
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/loans/home-loan">Home Loan</a>
                    </li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/loans/personal-loan">Personal
                            Loan</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/loans/loan-against-property">Loan Against Property</a></li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/loans/business-loan">Business
                            Loan</a></li>
                </ul>
            </div>
            <div
                class="RightSideBar_creditTile__tbrLG RightSideBar_creditImg__B2mz1 mb16 RightSideBar_removePadding__YDnG5">
                <a href="https://www.urbanmoney.com/credit-score"><img alt="Credit Score" loading="lazy" width="250"
                        height="250" decoding="async" data-nimg="1" class="imgResponsive" sizes="100vw"
                        srcset="/_next/image?url=https%3A%2F%2Fcdn.urbanmoney.com%2Fimages%2Fcreditscore.png&amp;w=640&amp;q=75 640w, /_next/image?url=https%3A%2F%2Fcdn.urbanmoney.com%2Fimages%2Fcreditscore.png&amp;w=750&amp;q=75 750w, /_next/image?url=https%3A%2F%2Fcdn.urbanmoney.com%2Fimages%2Fcreditscore.png&amp;w=828&amp;q=75 828w, /_next/image?url=https%3A%2F%2Fcdn.urbanmoney.com%2Fimages%2Fcreditscore.png&amp;w=1080&amp;q=75 1080w, /_next/image?url=https%3A%2F%2Fcdn.urbanmoney.com%2Fimages%2Fcreditscore.png&amp;w=1200&amp;q=75 1200w, /_next/image?url=https%3A%2F%2Fcdn.urbanmoney.com%2Fimages%2Fcreditscore.png&amp;w=1920&amp;q=75 1920w, /_next/image?url=https%3A%2F%2Fcdn.urbanmoney.com%2Fimages%2Fcreditscore.png&amp;w=2048&amp;q=75 2048w, /_next/image?url=https%3A%2F%2Fcdn.urbanmoney.com%2Fimages%2Fcreditscore.png&amp;w=3840&amp;q=75 3840w"
                        src="/_next/image?url=https%3A%2F%2Fcdn.urbanmoney.com%2Fimages%2Fcreditscore.png&amp;w=3840&amp;q=75"
                        style="color: transparent; width: 100%; height: auto;"></a></div>
            <h3 class="font16 font600 text181d mb15 mt30">Investment</h3>
            <div class="RightSideBar_creditTile__tbrLG mb16">
                <ul class="RightSideBar_btmoverflow__wat2N">
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/investment-plans/epf">Employee
                            Provident Fund</a></li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/investment-plans/sip">Systematic
                            Investment Plan</a></li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/fixed-deposit-rate">Fixed
                            Deposit</a></li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/mutual-funds">Mutual Funds</a>
                    </li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/investment-plans/recurring-deposit">Recurring Deposit</a>
                    </li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/investment-plans/sip">Systematic
                            Investment Plan (SIP)</a></li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/investment-plans/epf">Employees
                            Provident Fund (EPF)</a></li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/investment-plans/ppf">Public
                            Provident Fund (PPF)</a></li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/investment-plans/vpf">Voluntary
                            Provident Fund (VPF)</a></li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/investment-plans/elss">ELSS</a>
                    </li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/investment-plans/nps">National
                            Pension Scheme (NPS)</a></li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/investment-plans/nsc">National
                            Savings Certificate (NSC)</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/investment-plans/senior-citizens-saving-scheme">Senior
                            Citizen Saving Scheme</a></li>
                </ul>
            </div>
            <h3 class="font16 font600 text181d mb15 mt30">Financial Calculators</h3>
            <div class="RightSideBar_creditTile__tbrLG mb16">
                <ul class="RightSideBar_btmoverflow__wat2N">
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/calculator/income-tax-calculator">Income Tax Calculator</a>
                    </li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/calculator/sip-calculator">SIP
                            Calculator</a></li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/calculator/fd-calculator">FD
                            Calculator</a></li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/calculator/hra-calculator">HRA
                            Calculator</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/calculator/lumpsum-calculator">Lumpsum Calculator</a></li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/calculator/ppf-calculator">PPF
                            Calculator</a></li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/calculator/rd-calculator">RD
                            Calculator</a></li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/calculator/gst-calculator">GST
                            Calculator</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/calculator/sukanya-samriddhi-yojana-calculator">Sukanya
                            Samridhi Yojana Calculator</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/calculator/mutual-fund-calculator">Mutual Fund
                            Calculator</a></li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/calculator/tds-calculator">TDS
                            Calculator</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/calculator/salary-calculator">Salary Calculator</a></li>
                </ul>
            </div>
            <h3 class="font16 font600 text181d mb15 mt30">Check Eligibility</h3>
            <div class="RightSideBar_creditTile__tbrLG mb16">
                <ul class="RightSideBar_btmoverflow__wat2N">
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/loans/home-loan/eligibility-calculator">Home Loan
                            Eligibility Calculator</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/loans/personal-loan/eligibility-calculator">Personal Loan
                            Eligibility Calculator</a></li>
                </ul>
            </div>
            <h3 class="font16 font600 text181d mb15 mt30">Top 10 AMC</h3>
            <div class="RightSideBar_creditTile__tbrLG mb16">
                <ul class="RightSideBar_btmoverflow__wat2N">
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/mutual-funds/sbi-mutual-fund">SBI Mutual Fund</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/mutual-funds/axis-mutual-fund">Axis Mutual Fund</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/mutual-funds/hdfc-mutual-fund">HDFC Mutual Fund</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/mutual-funds/uti-mutual-fund">UTI Mutual Fund</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/mutual-funds/icici-prudential-mutual-fund">ICICI Prudential
                            Mutual Fund</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/mutual-funds/tata-mutual-fund">Tata Mutual Fund</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/mutual-funds/kotak-mahindra-mutual-fund">Kotak Mahindra
                            Mutual Fund</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/mutual-funds/canara-robeco-mutual-fund">Canara Rodeco
                            Mutual Fund</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/mutual-funds/mirae-asset-mutual-fund">Mirae Asset Mutual
                            Fund</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/mutual-funds/bandhan-mutual-fund">Bandhan Mutual Fund</a>
                    </li>
                </ul>
            </div>
            <h3 class="font16 font600 text181d mb15 mt30">Top 10 Banks</h3>
            <div class="RightSideBar_creditTile__tbrLG mb16">
                <ul class="RightSideBar_btmoverflow__wat2N">
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/banks-in-india/citi-bank">CITI
                            Bank</a></li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/banks-in-india/rbl-bank">RBL
                            Bank</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/banks-in-india/bank-of-baroda">Bank of Baroda</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/banks-in-india/canara-bank">Canara Bank</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/banks-in-india/bajaj-finserv">Bajaj Finserv</a></li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/banks-in-india/yes-bank">Yes
                            Bank</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/banks-in-india/deutsche-bank">Deutsche Bank</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/banks-in-india/idfc-first-bank">IDFC FIRST Bank</a></li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/banks-in-india/dcb-bank">DCB
                            Bank</a></li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/banks-in-india/kotak-bank">Kotak
                            Bank</a></li>
                </ul>
            </div>
        </div>
    </div>
    <section class="faq">
        <div class="container">
            <h2 class="faqHeading font24">FAQs</h2>
            <div class="faqBx">
                <div class="FAQ_question__LkjKP ">
                    <div class="FAQ_faqQuestn__v3L3G">
                        <h3 class="txt font14 fontMedium">How long does one need to stay invested in SIP?</h3><span
                            class="FAQ_pluseIcon__sWIas "></span>
                    </div>
                    <div class="FAQ_content__7VPH9">
                        <p style="text-align: justify"><span style="font-weight: 400">Even though there is no fixed
                                lock-in period for investing in an SIP, the longer you stay invested, the better the
                                returns. It is advisable to consider SIPs with a minimum investment duration of 5 years.
                                Mathematically also, it takes around five years to account for the losses and market
                                risks and the benefits of compound interest to kick in.</span></p>
                    </div>
                </div>
                <div class="FAQ_question__LkjKP ">
                    <div class="FAQ_faqQuestn__v3L3G">
                        <h3 class="txt font14 fontMedium">Can I start with Rs. 500 and keep adding?</h3><span
                            class="FAQ_pluseIcon__sWIas "></span>
                    </div>
                    <div class="FAQ_content__7VPH9">
                        <p style="text-align: justify"><span style="font-weight: 400">Yes, you can start with any
                                minimum amount and keep on adding. The Flexi-SIP option enables the investor to start
                                with a regular investment amount and add or decrease the value according to financial
                                and market conditions.</span></p>
                    </div>
                </div>
                <div class="FAQ_question__LkjKP ">
                    <div class="FAQ_faqQuestn__v3L3G">
                        <h3 class="txt font14 fontMedium">Are SIPs better than fixed deposits?</h3><span
                            class="FAQ_pluseIcon__sWIas "></span>
                    </div>
                    <div class="FAQ_content__7VPH9">
                        <p style="text-align: justify"><span style="font-weight: 400">Both SIPs and fixed deposits are
                                good investment options and have their own merits. SIPs are generally more flexible and
                                liquid as compared to fixed deposits. The amount gets credited to the bank account
                                within three days for equity security options, while the same takes two days for debit
                                funds options. Since SIPs are financial instruments linked to the market, the returns
                                you get from your investments are subject to a comparatively higher risk. Fixed deposit
                                options offer more investment safety and guarantee higher returns.</span></p>
                    </div>
                </div>
                <div class="FAQ_question__LkjKP ">
                    <div class="FAQ_faqQuestn__v3L3G">
                        <h3 class="txt font14 fontMedium">Is SIP tax-free?</h3><span
                            class="FAQ_pluseIcon__sWIas "></span>
                    </div>
                    <div class="FAQ_content__7VPH9">
                        <p style="text-align: justify"><span style="font-weight: 400">The ELSS scheme is one of the best
                                tax saving SIP options available. You can claim a tax exemption up to a limit of Rs. 1.5
                                lakhs in a financial year, in accordance with Section 80C of the Income Tax Act.</span>
                        </p>
                    </div>
                </div>
                <div class="FAQ_question__LkjKP ">
                    <div class="FAQ_faqQuestn__v3L3G">
                        <h3 class="txt font14 fontMedium">What happens if I miss an SIP payment?</h3><span
                            class="FAQ_pluseIcon__sWIas "></span>
                    </div>
                    <div class="FAQ_content__7VPH9">
                        <p style="text-align: justify"><span style="font-weight: 400">If, as an investor, you cannot
                                provide funds for a particular investment date, that investment will be skipped. The
                                process will continue whenever the next SIP payment is due. If the funds are available,
                                the SIP will continue as opted initially.</span></p>
                    </div>
                </div>
                <div class="FAQ_question__LkjKP ">
                    <div class="FAQ_faqQuestn__v3L3G">
                        <h3 class="txt font14 fontMedium">Should I invest in SIP when the market is high?</h3><span
                            class="FAQ_pluseIcon__sWIas "></span>
                    </div>
                    <div class="FAQ_content__7VPH9">
                        <p style="text-align: justify"><span style="font-weight: 400">The very purpose of investing in
                                SIPs is to enable the investor to stay invested throughout varying market conditions. In
                                fact, since SIPs require minimal investment from your regular savings, you should always
                                have a broad investment horizon. This way, you can generate wealth from your savings.
                            </span></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main> -->