<header class="Header_header__bAMlx null"><a class="Header_logoBox__y3QXJ" href="/"><img alt="Urban Money"
            loading="lazy" width="100" height="32" decoding="async" data-nimg="1" class="imgResponsive"
            src="./../../assets/images/Borrow Rright new style logo.jpg" style="color: transparent;"></a>
    <nav class="Header_nav__OZyPz null">
        <ul class="Header_navMainUl__TW0AM">
            <li class="Header_navMainLi__p2dEJ dropdownBox"> <a><span
                        class="Header_dropdownToggle__kW4tE font14 text2828" routerLink="/loan">Loans
                        <em><i class="bi bi-chevron-down"></i></em></span></a>
                <div class="dropdownMenu infiniteScroll">
                    <ul class="undefined null">
                        <li class="Header_dropdownLi__z4G6O"><span class="Header_navLink__LVTk_"
                                routerLink="/homeLoan">Home
                                Loan</span></li>
                        <li class="Header_dropdownLi__z4G6O"><span class="Header_navLink__LVTk_"
                                routerLink="/personalLoan">Personal
                                Loan</span></li>
                        <li class="Header_dropdownLi__z4G6O"><span class="Header_navLink__LVTk_"
                                routerLink="/businessLoan">Business
                                Loan</span></li>

                        <li class="Header_dropdownLi__z4G6O"><span class="Header_navLink__LVTk_"
                                routerLink="/loanAgainstProperty">Loan Against
                                Property</span></li>
                    </ul>
                </div>
            </li>
            <!-- <li class="Header_navMainLi__p2dEJ dropdownBox"> <a><span
                        class="Header_dropdownToggle__kW4tE font14 text2828" routerLink="/insurance">Insurance<em><i
                                class="bi bi-chevron-down"></i></em></span></a>
                <div class="dropdownMenu infiniteScroll">
                    <ul class="undefined null">
                        <li class="Header_dropdownLi__z4G6O"><span class="Header_navLink__LVTk_"
                                routerLink="/lifeInsurance">Life
                                Insurance</span></li>
                        <li class="Header_dropdownLi__z4G6O"><span class="Header_navLink__LVTk_"
                                routerLink="/generalaInsurancePlans">General
                                Insurance Plans</span></li>
                    </ul>
                </div>
            </li> -->
            <!-- <li class="Header_navMainLi__p2dEJ dropdownBox"> <a><span
                        class="Header_dropdownToggle__kW4tE font14 text2828" routerLink="/creditCard">Credit Card<em><i
                                class="bi bi-chevron-down"></i></em></span></a>
                <div class="dropdownMenu infiniteScroll">
                    <ul class="undefined null">
                        <li class="Header_dropdownLi__z4G6O"><span class="Header_navLink__LVTk_"
                                routerLink="/IDFCBankCreditCard">IDFC Bank
                                Credit Card</span></li>
                        <li class="Header_dropdownLi__z4G6O"><span class="Header_navLink__LVTk_"
                                routerLink="/YESBankCreditCard">YES Bank Credit
                                Card</span></li>
                        <li class="Header_dropdownLi__z4G6O"><span class="Header_navLink__LVTk_"
                                routerLink="/standardCharteredCreditCard">Standard
                                Chartered Credit Card</span></li>
                        <li class="Header_dropdownLi__z4G6O"><span class="Header_navLink__LVTk_"
                                routerLink="/AxisBankCreditCard">Axis Bank
                                Credit Card</span></li>
                    </ul>
                </div>
            </li> -->
            <!-- <li class="Header_navMainLi__p2dEJ dropdownBox"> <a><span
                        class="Header_dropdownToggle__kW4tE font14 text2828" routerLink="/investment">Investment<em><i
                                class="bi bi-chevron-down"></i></em></span></a>
                <div class="dropdownMenu infiniteScroll">
                    <ul class="undefined null">
                        <li class="Header_dropdownLi__z4G6O"><span class="Header_navLink__LVTk_"
                                routerLink="/fixedDeposit">Fixed
                                Deposit</span></li>
                        <li class="Header_dropdownLi__z4G6O"><span class="Header_navLink__LVTk_"
                                routerLink="/mutualFunds">Mutual
                                Funds</span></li>
                        <li class="Header_dropdownLi__z4G6O"><span class="Header_navLink__LVTk_"
                                routerLink="/systematicInvestmentPlan">Systematic
                                Investment Plan</span></li>
                        <li class="Header_dropdownLi__z4G6O"><span class="Header_navLink__LVTk_"
                                routerLink="/recurringDeposit">Recurring
                                Deposit</span></li>
                        <li class="Header_dropdownLi__z4G6O"><span class="Header_navLink__LVTk_"
                                routerLink="/employeesProvidentFund">Employees
                                Provident Fund</span></li>
                        <li class="Header_dropdownLi__z4G6O"><span class="Header_navLink__LVTk_"
                                routerLink="/publicProvidentFund">Public
                                Provident Fund</span></li>
                        <li class="Header_dropdownLi__z4G6O"><span class="Header_navLink__LVTk_"
                                routerLink="/voluntaryProvidentFund">Voluntary
                                Provident Fund</span></li>
                        <li class="Header_dropdownLi__z4G6O"><span class="Header_navLink__LVTk_"
                                routerLink="/ELSS">ELSS</span>
                        </li>
                        <li class="Header_dropdownLi__z4G6O"><span class="Header_navLink__LVTk_"
                                routerLink="/nationalPensionScheme">National
                                Pension Scheme</span></li>
                        <li class="Header_dropdownLi__z4G6O"><span class="Header_navLink__LVTk_"
                                routerLink="/nationalSavingsCertificate">National
                                Savings Certificate</span></li>
                        <li class="Header_dropdownLi__z4G6O"><span class="Header_navLink__LVTk_"
                                routerLink="/seniorCitizenSavingScheme">Senior Citizen
                                Saving Scheme</span></li>
                    </ul>
                </div>
            </li> -->
            <li class="Header_navMainLi__p2dEJ dropdownBox"> <a><span
                        class="Header_dropdownToggle__kW4tE font14 text2828" routerLink="/calculators">Calculators<em><i
                                class="bi bi-chevron-down"></i></em></span></a>
                <div class="dropdownMenu dropdownExpend ">
                    <ul class="undefined Header_allcalc__L7VD_">
                        <div class="Header_calc__1BjKM Header_home__Fp1N2">
                            <p>Home Loan Calculator</p>
                            <ul class="undefined Header_home__Fp1N2">
                                <li class="mb10" routerLink="/emiCalculator">EMI Calculator</li>
                                <li class="mb10" routerLink="/emiCalculator" [queryParams]="{type : 'prePayment'}">Pre-payment Calculator</li>
                                <!-- <li class="mb10" routerLink="/balanceTransferCalculator">Balance Transfer Calculator
                                </li> -->
                            </ul>
                        </div>
                        <!-- <div class="Header_calc__1BjKM Header_personal__isIGT">
                            <p>Personal Loan Calculator</p>
                            <ul class="undefined Header_personal__isIGT">
                                <li class="mb10" routerLink="/personalEmiCalculator">EMI Calculator</li>
                                <li class="mb10" routerLink="/personalPre-paymentCalculator">Pre-payment Calculator</li>
                                <li class="mb10" routerLink="/personalBalanceTransferCalculator">Balance Transfer
                                    Calculator</li>
                            </ul>
                        </div> -->
                        <!-- <div class="Header_calc__1BjKM Header_business__TLknr">
                            <p>Business Loan Calculator</p>
                            <ul class="undefined Header_business__TLknr">
                                <li class="mb10" routerLink="/businessEmiCalculator">EMI Calculator</li>
                                <li class="mb10" routerLink="/businessPre-paymentCalculator">Pre-payment Calculator</li>
                                <li class="mb10" routerLink="/businessBalanceTransferCalculator">Balance Transfer
                                    Calculator</li>
                            </ul>
                        </div> -->
                        <!-- <div class="Header_calc__1BjKM Header_home__Fp1N2">
                            <p>Financial Calculator</p>
                            <ul class="undefined Header_home__Fp1N2">
                                <li class="mb10" routerLink="/incomeTaxCalculator">Income Tax Calculator</li>
                                <li class="mb10" routerLink="/SIPCalculator">SIP Calculator</li>
                                <li class="mb10" routerLink="/FDCalculator">FD Calculator</li>
                                <li class="mb10" routerLink="/HRACalculator">HRA Calculator</li>
                                <li class="mb10" routerLink="/lumpsumCalculator">Lumpsum Calculator</li>
                                <li class="mb10" routerLink="/PPFCalculator">PPF Calculator</li>
                                <li class="mb10" routerLink="/RDCalculator">RD Calculator</li>
                                <li class="mb10" routerLink="/GSTCalculator">GST Calculator</li>
                                <li class="mb10" routerLink="/sukanyaSamriddhiYojanaCalculator">Sukanya Samridhi Yojana
                                    Calculator</li>
                                <li class="mb10" routerLink="/mutualFundCalculator">Mutual Fund Calculator</li>
                                <li class="mb10" routerLink="/TDSCalculator">TDS Calculator</li>
                                <li class="mb10" routerLink="/salaryCalculator">Salary Calculator</li>
                            </ul>
                        </div> -->
                    </ul>
                </div>
            </li>
            <!-- <li class="Header_navMainLi__p2dEJ"> <a><span class="font14 text2828"
                        routerLink="/eligibilityCalculator">Eligibilty Calculator</span> </a><br><i
                    class="Header_label__P2ycl">AI
                    Based</i></li> -->
        </ul>
    </nav>
    <div class="Header_loginNav__LgY_x">
        <ul class="Header_navMainUl__TW0AM">
            <li class="Header_navMainLi__p2dEJ"><button
                    class="Header_btnLogin__fviiG  user_login_hd font14 btnstyle" (click)="navigateToLogin()">Login</button></li>
            <li>
                <div id="nav-toggle" class="Header_navToggle__lV8Dy Header_rightToggle__5z6_1 null"
                    (click)="openRightSideNav = true">
                    <span></span>
                </div>
            </li>
        </ul>
    </div>
    <div [ngClass]="{'displayNone': !openRightSideNav}">
        <div class="RightNavbar_rightBox__g_QEe">
            <div id="nav-toggle" class="RightNavbar_navToggle__DfTba RightNavbar_active__D4zVQ active"
                (click)="openRightSideNav = false">
                <span></span>
            </div>
            <div class="RightNavbar_sideMenu__l84BS">
                <div class="RightNavbar_menuItem__tyLML">
                    <div class="RightNavbar_iconName__xScya RightNavbar_active__D4zVQ ">
                        <div class="RightNavbar_imgWrap__6t3lA cursorPointer ">
                            <!-- <figure><img alt="Loan" loading="lazy" width="20" height="20" decoding="async" data-nimg="1"
                                    src="https://cdn.urbanmoney.com/images/loans.svg" style="color: transparent;">
                            </figure> -->
                            <p>Loan</p>
                            <!-- <em class="icon-icon-angle-right arrowSm"></em> -->
                        </div>
                        <div class="RightNavbar_expMenu__TEZCm">
                            <div class="RightNavbar_loan__3IvpK undefined"><span><a class="hl_sb"
                                routerLink="/homeLoan" (click)="openRightSideNav = false">Home Loan</a></span>
                            </div>
                            <div class="RightNavbar_loan__3IvpK undefined"><span><a class="pl_sb"
                                routerLink="/personalLoan" (click)="openRightSideNav = false">Personal
                                        Loan</a></span></div>
                            <div class="RightNavbar_loan__3IvpK undefined"><span><a class="lap_sb"
                                routerLink="/loanAgainstProperty" (click)="openRightSideNav = false">Loan
                                        Against Property</a></span></div>
                            <div class="RightNavbar_loan__3IvpK undefined"><span><a class="bl_sb"
                                routerLink="/businessLoan" (click)="openRightSideNav = false">Business
                                        Loan</a></span></div>
                        </div>
                    </div>
                </div>
                <!-- <div class="RightNavbar_menuItem__tyLML">
                    <div class="RightNavbar_iconName__xScya ">
                        <div class="RightNavbar_imgWrap__6t3lA cursorPointer ">
                            <figure><img alt="Credit Card" loading="lazy" width="20" height="20" decoding="async"
                                    data-nimg="1" src="https://cdn.urbanmoney.com/images/credit-card.svg"
                                    style="color: transparent;"></figure>
                            <p>Credit Card</p><em class="icon-icon-angle-right arrowSm"></em>
                        </div>
                        <div class="RightNavbar_expMenu__TEZCm">
                            <div class="RightNavbar_loan__3IvpK undefined"><span><a
                                        href="https://www.urbanmoney.com/credit-card/idfc-first-bank">IDFC Bank
                                        Credit Card</a></span></div>
                            <div class="RightNavbar_loan__3IvpK undefined"><span><a
                                        href="https://www.urbanmoney.com/credit-card/yes-bank">YES Bank Credit
                                        Card</a></span></div>
                            <div class="RightNavbar_loan__3IvpK undefined"><span><a
                                        href="https://www.urbanmoney.com/credit-card/standard-chartered">Standard
                                        Chartered Credit Card</a></span></div>
                            <div class="RightNavbar_loan__3IvpK undefined"><span><a
                                        href="https://www.urbanmoney.com/credit-card/axis-bank">Axis Bank Credit
                                        Card</a></span></div>
                        </div>
                    </div>
                </div>
                <div class="RightNavbar_menuItem__tyLML">
                    <div class="RightNavbar_iconName__xScya ">
                        <div class="RightNavbar_imgWrap__6t3lA cursorPointer ">
                            <figure><img alt="Insurance" loading="lazy" width="20" height="20" decoding="async"
                                    data-nimg="1" src="https://cdn.urbanmoney.com/images/insurance.svg"
                                    style="color: transparent;"></figure>
                            <p>Insurance</p><em class="icon-icon-angle-right arrowSm"></em>
                        </div>
                        <div class="RightNavbar_expMenu__TEZCm">
                            <div class="RightNavbar_loan__3IvpK undefined"><span><a class="li_sb"
                                        href="https://www.urbanmoney.com/insurance-policy/life-insurance-plans">Life
                                        Insurance</a></span></div>
                            <div class="RightNavbar_loan__3IvpK undefined"><span><a class="gi_sb"
                                        href="https://www.urbanmoney.com/insurance-policy/general-insurance-plans">General
                                        Insurance Plans</a></span></div>
                        </div>
                    </div>
                </div> -->
                <div class="RightNavbar_menuItem__tyLML">
                    <div class="RightNavbar_iconName__xScya RightNavbar_active__D4zVQ ">
                        <div class="RightNavbar_imgWrap__6t3lA cursorPointer ">
                            <!-- <figure><img alt="Calculators" loading="lazy" width="20" height="20" decoding="async"
                                    data-nimg="1" src="https://cdn.urbanmoney.com/images/calculators.svg"
                                    style="color: transparent;"></figure> -->
                            <p>Calculators</p>
                            <!-- <em class="icon-icon-angle-right arrowSm"></em> -->
                        </div>
                        <div class="RightNavbar_expMenu__TEZCm">
                            <div class="RightNavbar_loan__3IvpK RightNavbar_home__wZm_J">
                                <!-- <p>Home Loan Calculator</p> -->
                                <div><a class="hl_emi_cal_sb"
                                    routerLink="/emiCalculator" (click)="openRightSideNav = false">EMI
                                        Calculator</a></div>
                                <div><a class="hl_prepay_cal_sb"
                                    routerLink="/emiCalculator" [queryParams]="{type : 'prePayment'}" (click)="openRightSideNav = false">Pre-payment
                                        Calculator</a></div>
                                <!-- <div><a class="hl_bt_cal_sb"
                                        href="https://www.urbanmoney.com/loans/home-loan/balance-transfer-calculator">Balance
                                        Transfer Calculator</a></div> -->
                            </div>
                            <!-- <div class="RightNavbar_loan__3IvpK RightNavbar_personal__3V7_e">
                                <p>Personal Loan Calculator</p>
                                <div><a class="pl_emi_cal_sb"
                                        href="https://www.urbanmoney.com/loans/personal-loan/emi-calculator">EMI
                                        Calculator</a></div>
                                <div><a class="pl_prepay_cal_sb"
                                        href="https://www.urbanmoney.com/loans/personal-loan/pre-payment-calculator">Pre-payment
                                        Calculator</a></div>
                                <div><a class="pl_bt_cal_sb"
                                        href="https://www.urbanmoney.com/loans/personal-loan/balance-transfer-calculator">Balance
                                        Transfer Calculator</a></div>
                            </div>
                            <div class="RightNavbar_loan__3IvpK RightNavbar_business__0clJU">
                                <p>Business Loan Calculator</p>
                                <div><a class="bl_emi_cal_sb"
                                        href="https://www.urbanmoney.com/loans/business-loan/emi-calculator">EMI
                                        Calculator</a></div>
                                <div><a class="bl_prepay_cal_sb"
                                        href="https://www.urbanmoney.com/loans/business-loan/pre-payment-calculator">Pre-payment
                                        Calculator</a></div>
                                <div><a class="bl_bt_cal_sb"
                                        href="https://www.urbanmoney.com/loans/business-loan/balance-transfer-calculator">Balance
                                        Transfer Calculator</a></div>
                            </div>
                            <div class="RightNavbar_loan__3IvpK RightNavbar_home__wZm_J">
                                <p>Financial Calculator</p>
                                <div><a href="https://www.urbanmoney.com/calculator/income-tax-calculator">Income
                                        Tax Calculator</a></div>
                                <div><a href="https://www.urbanmoney.com/calculator/sip-calculator">SIP
                                        Calculator</a></div>
                                <div><a href="https://www.urbanmoney.com/calculator/fd-calculator">FD
                                        Calculator</a></div>
                                <div><a href="https://www.urbanmoney.com/calculator/hra-calculator">HRA
                                        Calculator</a></div>
                                <div><a href="https://www.urbanmoney.com/calculator/lumpsum-calculator">Lumpsum
                                        Calculator</a></div>
                                <div><a href="https://www.urbanmoney.com/calculator/ppf-calculator">PPF
                                        Calculator</a></div>
                                <div><a href="https://www.urbanmoney.com/calculator/rd-calculator">RD
                                        Calculator</a></div>
                                <div><a href="https://www.urbanmoney.com/calculator/gst-calculator">GST
                                        Calculator</a></div>
                                <div><a
                                        href="https://www.urbanmoney.com/calculator/sukanya-samriddhi-yojana-calculator">Sukanya
                                        Samridhi Yojana Calculator</a></div>
                                <div><a href="https://www.urbanmoney.com/calculator/mutual-fund-calculator">Mutual
                                        Fund Calculator</a></div>
                                <div><a href="https://www.urbanmoney.com/calculator/tds-calculator">TDS
                                        Calculator</a></div>
                                <div><a href="https://www.urbanmoney.com/calculator/salary-calculator">Salary
                                        Calculator</a></div>
                            </div> -->
                        </div>
                    </div>
                </div>
                <!-- <div class="RightNavbar_menuItem__tyLML">
                    <div class="RightNavbar_iconName__xScya ">
                        <div class="RightNavbar_imgWrap__6t3lA cursorPointer ">
                            <figure><img alt="Eligibility calculator" loading="lazy" width="20" height="20"
                                    decoding="async" data-nimg="1"
                                    src="https://cdn.urbanmoney.com/images/eligibilty.svg" style="color: transparent;">
                            </figure>
                            <p>Eligibility calculator</p><em class="icon-icon-angle-right arrowSm"></em>
                        </div>
                        <div class="RightNavbar_expMenu__TEZCm">
                            <div class="RightNavbar_loan__3IvpK undefined"><span><a
                                        href="https://www.urbanmoney.com/loans/personal-loan/eligibility-calculator">Personal
                                        Loan</a></span></div>
                            <div class="RightNavbar_loan__3IvpK undefined"><span><a
                                        href="https://www.urbanmoney.com/loans/home-loan/eligibility-calculator">Home
                                        Loan</a></span></div>
                        </div>
                    </div>
                </div>
                <div class="RightNavbar_menuItem__tyLML">
                    <div class="RightNavbar_iconName__xScya "><a href="https://www.urbanmoney.com/credit-score">
                            <div class="RightNavbar_imgWrap__6t3lA cursorPointer ">
                                <figure><img alt="Credit Score" loading="lazy" width="20" height="20" decoding="async"
                                        data-nimg="1" src="https://cdn.urbanmoney.com/images/dashboard-1.svg"
                                        style="color: transparent;"></figure>
                                <p>Credit Score</p>
                            </div>
                        </a></div>
                </div>
                <div class="RightNavbar_menuItem__tyLML">
                    <div class="RightNavbar_iconName__xScya "><a href="https://www.urbanmoney.com/currency-converter">
                            <div class="RightNavbar_imgWrap__6t3lA cursorPointer ">
                                <figure><img alt="Currency Converter" loading="lazy" width="20" height="20"
                                        decoding="async" data-nimg="1"
                                        src="https://cdn.urbanmoney.com/images/currency.svg"
                                        style="color: transparent;"></figure>
                                <p class="become_a_partner_sb">Currency Converter</p>
                            </div>
                        </a></div>
                </div>
                <div class="RightNavbar_menuItem__tyLML">
                    <div class="RightNavbar_iconName__xScya "><a href="https://www.urbanmoney.com/banks-in-india">
                            <div class="RightNavbar_imgWrap__6t3lA cursorPointer ">
                                <figure><img alt="Banks in India" loading="lazy" width="20" height="20" decoding="async"
                                        data-nimg="1" src="https://cdn.urbanmoney.com/images/bank-building.svg"
                                        style="color: transparent;"></figure>
                                <p class="banks_in_India_sb">Banks in India</p>
                            </div>
                        </a></div>
                </div>
                <div class="RightNavbar_menuItem__tyLML">
                    <div class="RightNavbar_iconName__xScya "><a href="https://www.urbanmoney.com/ifsc-code">
                            <div class="RightNavbar_imgWrap__6t3lA cursorPointer ">
                                <figure><img alt="IFSC Codes" loading="lazy" width="20" height="20" decoding="async"
                                        data-nimg="1" src="https://cdn.urbanmoney.com/images/ifsc.svg"
                                        style="color: transparent;"></figure>
                                <p class="ifsc_codes_sb">IFSC Codes</p>
                            </div>
                        </a></div>
                </div>
                <div class="RightNavbar_menuItem__tyLML">
                    <div class="RightNavbar_iconName__xScya ">
                        <div class="RightNavbar_imgWrap__6t3lA cursorPointer ">
                            <figure><img alt="Gold Rates" loading="lazy" width="20" height="20" decoding="async"
                                    data-nimg="1" src="https://cdn.urbanmoney.com/images/gold.svg"
                                    style="color: transparent;"></figure>
                            <p>Gold Rates</p><em class="icon-icon-angle-right arrowSm"></em>
                        </div>
                        <div class="RightNavbar_expMenu__TEZCm">
                            <div class="RightNavbar_loan__3IvpK undefined"><span><a
                                        href="https://www.urbanmoney.com/gold-rate/vijayawada">Today Gold Rate
                                        in Vijayawada</a></span></div>
                            <div class="RightNavbar_loan__3IvpK undefined"><span><a
                                        href="https://www.urbanmoney.com/gold-rate/jaipur">Today Gold Rate in
                                        Jaipur</a></span></div>
                            <div class="RightNavbar_loan__3IvpK undefined"><span><a
                                        href="https://www.urbanmoney.com/gold-rate/chandigarh">Today Gold Rate
                                        in Chandigarh</a></span></div>
                            <div class="RightNavbar_loan__3IvpK undefined"><span><a
                                        href="https://www.urbanmoney.com/gold-rate/visakhapatnam">Today Gold
                                        Rate in Visakhapatnam</a></span></div>
                            <div class="RightNavbar_loan__3IvpK undefined"><span><a
                                        href="https://www.urbanmoney.com/gold-rate/lucknow">Today Gold Rate in
                                        Lucknow</a></span></div>
                            <div class="RightNavbar_loan__3IvpK undefined"><span><a
                                        href="https://www.urbanmoney.com/gold-rate/latur">Today Gold Rate in
                                        Latur</a></span></div>
                            <div class="RightNavbar_loan__3IvpK undefined"><span><a
                                        href="https://www.urbanmoney.com/gold-rate/pune">Today Gold Rate in
                                        Pune</a></span></div>
                            <div class="RightNavbar_loan__3IvpK undefined"><span><a
                                        href="https://www.urbanmoney.com/gold-rate/bangalore">Today Gold Rate in
                                        Bangalore</a></span></div>
                            <div class="RightNavbar_loan__3IvpK undefined"><span><a
                                        href="https://www.urbanmoney.com/gold-rate/hyderabad">Today Gold Rate in
                                        Hyderabad</a></span></div>
                            <div class="RightNavbar_loan__3IvpK undefined"><span><a
                                        href="https://www.urbanmoney.com/gold-rate/mumbai">Today Gold Rate in
                                        Mumbai</a></span></div>
                            <div class="RightNavbar_loan__3IvpK undefined"><span><a
                                        href="https://www.urbanmoney.com/gold-rate/nagpur">Today Gold Rate in
                                        Nagpur</a></span></div>
                            <div class="RightNavbar_loan__3IvpK undefined"><span><a
                                        href="https://www.urbanmoney.com/gold-rate/cuttack">Gold Rate in
                                        Cuttack</a></span></div>
                            <div class="RightNavbar_loan__3IvpK undefined"><span><a
                                        href="https://www.urbanmoney.com/gold-rate/tirupur">Today Gold Rate in
                                        Tirupur</a></span></div>
                            <div class="RightNavbar_loan__3IvpK undefined"><span><a
                                        href="https://www.urbanmoney.com/gold-rate/ahmedabad">Today Gold Rate in
                                        Ahmedabad</a></span></div>
                            <div class="RightNavbar_loan__3IvpK undefined"><span><a
                                        href="https://www.urbanmoney.com/gold-rate/delhi">Today Gold Rate in
                                        Delhi</a></span></div>
                            <div class="RightNavbar_loan__3IvpK undefined"><span><a
                                        href="https://www.urbanmoney.com/gold-rate/chennai">Today Gold Rate in
                                        Chennai</a></span></div>
                            <div class="RightNavbar_loan__3IvpK undefined"><span><a
                                        href="https://www.urbanmoney.com/gold-rate/kolkata">Today Gold Rate in
                                        Kolkata</a></span></div>
                            <div class="RightNavbar_loan__3IvpK undefined"><span><a
                                        href="https://www.urbanmoney.com/gold-rate/kolhapur">Today Gold Rate in
                                        Kolhapur</a></span></div>
                            <div class="RightNavbar_loan__3IvpK undefined"><span><a
                                        href="https://www.urbanmoney.com/gold-rate/bhubaneswar">Today Gold Rate
                                        in Bhubaneswar</a></span></div>
                            <div class="RightNavbar_loan__3IvpK undefined"><span><a
                                        href="https://www.urbanmoney.com/gold-rate/kerala">Today Gold Rate in
                                        Kerala</a></span></div>
                            <div class="RightNavbar_loan__3IvpK undefined"><span><a
                                        href="https://www.urbanmoney.com/gold-rate/nashik">Today Gold Rate in
                                        Nashik</a></span></div>
                            <div class="RightNavbar_loan__3IvpK undefined"><span><a
                                        href="https://www.urbanmoney.com/gold-rate/mangalore">Today Gold Rate in
                                        Mangalore</a></span></div>
                            <div class="RightNavbar_loan__3IvpK undefined"><span><a
                                        href="https://www.urbanmoney.com/gold-rate/surat">Today Gold Rate in
                                        Surat</a></span></div>
                            <div class="RightNavbar_loan__3IvpK undefined"><span><a
                                        href="https://www.urbanmoney.com/gold-rate/anantapur">Gold Rate in
                                        Anantapur</a></span></div>
                            <div class="RightNavbar_loan__3IvpK undefined"><span><a
                                        href="https://www.urbanmoney.com/gold-rate/gurgaon">Today Gold Rate in
                                        Gurgaon</a></span></div>
                            <div class="RightNavbar_loan__3IvpK undefined"><span><a
                                        href="https://www.urbanmoney.com/gold-rate/mysore">Today Gold Rate in
                                        Mysore</a></span></div>
                            <div class="RightNavbar_loan__3IvpK undefined"><span><a
                                        href="https://www.urbanmoney.com/gold-rate/aurangabad">Today Gold Rate
                                        in Aurangabad</a></span></div>
                            <div class="RightNavbar_loan__3IvpK undefined"><span><a
                                        href="https://www.urbanmoney.com/gold-rate/nellore">Today Gold Rate in
                                        Nellore</a></span></div>
                            <div class="RightNavbar_loan__3IvpK undefined"><span><a
                                        href="https://www.urbanmoney.com/gold-rate/madurai">Today Gold Rate in
                                        Madurai</a></span></div>
                            <div class="RightNavbar_loan__3IvpK undefined"><span><a
                                        href="https://www.urbanmoney.com/gold-rate/berhampur">Today Gold Rate in
                                        Berhampur</a></span></div>
                            <div class="RightNavbar_loan__3IvpK undefined"><span><a
                                        href="https://www.urbanmoney.com/gold-rate/coimbatore">Today Gold Rate
                                        in Coimbatore</a></span></div>
                            <div class="RightNavbar_loan__3IvpK undefined"><span><a
                                        href="https://www.urbanmoney.com/gold-rate/trichy">Today Gold Rate in
                                        Trichy</a></span></div>
                        </div>
                    </div>
                </div>
                <div class="RightNavbar_menuItem__tyLML">
                    <div class="RightNavbar_iconName__xScya ">
                        <div class="RightNavbar_imgWrap__6t3lA cursorPointer ">
                            <figure><img alt="Silver Rates" loading="lazy" width="20" height="20" decoding="async"
                                    data-nimg="1" src="https://cdn.urbanmoney.com/images/silver.svg"
                                    style="color: transparent;"></figure>
                            <p>Silver Rates</p><em class="icon-icon-angle-right arrowSm"></em>
                        </div>
                        <div class="RightNavbar_expMenu__TEZCm">
                            <div class="RightNavbar_loan__3IvpK undefined"><span><a
                                        href="https://www.urbanmoney.com/silver-rate/mysore">Today Silver Rate
                                        in Mysore</a></span></div>
                            <div class="RightNavbar_loan__3IvpK undefined"><span><a
                                        href="https://www.urbanmoney.com/silver-rate/guntur">Today Silver Rate
                                        in Guntur</a></span></div>
                            <div class="RightNavbar_loan__3IvpK undefined"><span><a
                                        href="https://www.urbanmoney.com/silver-rate/salem">Today Silver Rate in
                                        Salem</a></span></div>
                            <div class="RightNavbar_loan__3IvpK undefined"><span><a
                                        href="https://www.urbanmoney.com/silver-rate/visakhapatnam">Today Silver
                                        Rate in Visakhapatnam</a></span></div>
                            <div class="RightNavbar_loan__3IvpK undefined"><span><a
                                        href="https://www.urbanmoney.com/silver-rate/mangalore">Today Silver
                                        Rate in Mangalore</a></span></div>
                            <div class="RightNavbar_loan__3IvpK undefined"><span><a
                                        href="https://www.urbanmoney.com/silver-rate/patna">Today Silver Rate in
                                        Patna</a></span></div>
                            <div class="RightNavbar_loan__3IvpK undefined"><span><a
                                        href="https://www.urbanmoney.com/silver-rate/madurai">Today Silver Rate
                                        in Madurai</a></span></div>
                            <div class="RightNavbar_loan__3IvpK undefined"><span><a
                                        href="https://www.urbanmoney.com/silver-rate/erode">Today Silver Rate in
                                        Erode</a></span></div>
                            <div class="RightNavbar_loan__3IvpK undefined"><span><a
                                        href="https://www.urbanmoney.com/silver-rate/kolhapur">Today Silver Rate
                                        in Kolhapur</a></span></div>
                            <div class="RightNavbar_loan__3IvpK undefined"><span><a
                                        href="https://www.urbanmoney.com/silver-rate/pune">Today Silver Rate in
                                        Pune</a></span></div>
                            <div class="RightNavbar_loan__3IvpK undefined"><span><a
                                        href="https://www.urbanmoney.com/silver-rate/vadodara">Today Silver Rate
                                        in Vadodara</a></span></div>
                            <div class="RightNavbar_loan__3IvpK undefined"><span><a
                                        href="https://www.urbanmoney.com/silver-rate/gurgaon">Today Silver Rate
                                        in Gurgaon</a></span></div>
                            <div class="RightNavbar_loan__3IvpK undefined"><span><a
                                        href="https://www.urbanmoney.com/silver-rate/chandigarh">Today Silver
                                        Rate in Chandigarh</a></span></div>
                            <div class="RightNavbar_loan__3IvpK undefined"><span><a
                                        href="https://www.urbanmoney.com/silver-rate/delhi">Today Silver Rate in
                                        Delhi</a></span></div>
                            <div class="RightNavbar_loan__3IvpK undefined"><span><a
                                        href="https://www.urbanmoney.com/silver-rate/nagpur">Today Silver Rate
                                        in Nagpur</a></span></div>
                            <div class="RightNavbar_loan__3IvpK undefined"><span><a
                                        href="https://www.urbanmoney.com/silver-rate/kolkata">Today Silver Rate
                                        in Kolkata</a></span></div>
                            <div class="RightNavbar_loan__3IvpK undefined"><span><a
                                        href="https://www.urbanmoney.com/silver-rate/surat">Today Silver Rate in
                                        Surat</a></span></div>
                            <div class="RightNavbar_loan__3IvpK undefined"><span><a
                                        href="https://www.urbanmoney.com/silver-rate/nashik">Today Silver Rate
                                        in Nashik</a></span></div>
                            <div class="RightNavbar_loan__3IvpK undefined"><span><a
                                        href="https://www.urbanmoney.com/silver-rate/hyderabad">Today Silver
                                        Rate in Hyderabad</a></span></div>
                            <div class="RightNavbar_loan__3IvpK undefined"><span><a
                                        href="https://www.urbanmoney.com/silver-rate/mumbai">Today Silver Rate
                                        in Mumbai</a></span></div>
                            <div class="RightNavbar_loan__3IvpK undefined"><span><a
                                        href="https://www.urbanmoney.com/silver-rate/ghaziabad">Today Silver
                                        Rate in Ghaziabad</a></span></div>
                            <div class="RightNavbar_loan__3IvpK undefined"><span><a
                                        href="https://www.urbanmoney.com/silver-rate/bhubaneswar">Today Silver
                                        Rate in Bhubaneswar</a></span></div>
                            <div class="RightNavbar_loan__3IvpK undefined"><span><a
                                        href="https://www.urbanmoney.com/silver-rate/bangalore">Today Silver
                                        Rate in Bangalore</a></span></div>
                            <div class="RightNavbar_loan__3IvpK undefined"><span><a
                                        href="https://www.urbanmoney.com/silver-rate/chennai">Today Silver Rate
                                        in Chennai</a></span></div>
                            <div class="RightNavbar_loan__3IvpK undefined"><span><a
                                        href="https://www.urbanmoney.com/silver-rate/jaipur">Today Silver Rate
                                        in Jaipur</a></span></div>
                            <div class="RightNavbar_loan__3IvpK undefined"><span><a
                                        href="https://www.urbanmoney.com/silver-rate/rajkot">Today Silver Rate
                                        in Rajkot</a></span></div>
                            <div class="RightNavbar_loan__3IvpK undefined"><span><a
                                        href="https://www.urbanmoney.com/silver-rate/kerala">Today Silver Rate
                                        in Kerala</a></span></div>
                            <div class="RightNavbar_loan__3IvpK undefined"><span><a
                                        href="https://www.urbanmoney.com/silver-rate/nizamabad">Today Silver
                                        Rate in Nizamabad</a></span></div>
                            <div class="RightNavbar_loan__3IvpK undefined"><span><a
                                        href="https://www.urbanmoney.com/silver-rate/coimbatore">Today Silver
                                        Rate in Coimbatore</a></span></div>
                            <div class="RightNavbar_loan__3IvpK undefined"><span><a
                                        href="https://www.urbanmoney.com/silver-rate/aurangabad">Today Silver
                                        Rate in Aurangabad</a></span></div>
                            <div class="RightNavbar_loan__3IvpK undefined"><span><a
                                        href="https://www.urbanmoney.com/silver-rate/warangal">Silver Rate in
                                        Warangal</a></span></div>
                            <div class="RightNavbar_loan__3IvpK undefined"><span><a
                                        href="https://www.urbanmoney.com/silver-rate/ahmedabad">Today Silver
                                        Rate in Ahmedabad</a></span></div>
                            <div class="RightNavbar_loan__3IvpK undefined"><span><a
                                        href="https://www.urbanmoney.com/silver-rate/lucknow">Today Silver Rate
                                        in Lucknow</a></span></div>
                            <div class="RightNavbar_loan__3IvpK undefined"><span><a
                                        href="https://www.urbanmoney.com/silver-rate/nellore">Today Silver Rate
                                        in Nellore</a></span></div>
                            <div class="RightNavbar_loan__3IvpK undefined"><span><a
                                        href="https://www.urbanmoney.com/silver-rate/tirupati">Today Silver Rate
                                        in Tirupati</a></span></div>
                            <div class="RightNavbar_loan__3IvpK undefined"><span><a
                                        href="https://www.urbanmoney.com/silver-rate/vijayawada">Today Silver
                                        Rate in Vijayawada</a></span></div>
                            <div class="RightNavbar_loan__3IvpK undefined"><span><a
                                        href="https://www.urbanmoney.com/silver-rate/amravati">Today Silver Rate
                                        in Amravati</a></span></div>
                            <div class="RightNavbar_loan__3IvpK undefined"><span><a
                                        href="https://www.urbanmoney.com/silver-rate/kakinada">Today Silver Rate
                                        in Kakinada</a></span></div>
                            <div class="RightNavbar_loan__3IvpK undefined"><span><a
                                        href="https://www.urbanmoney.com/silver-rate/anantapur">Silver Rate in
                                        Anantapur</a></span></div>
                        </div>
                    </div>
                </div>
                <div class="RightNavbar_menuItem__tyLML">
                    <div class="RightNavbar_iconName__xScya "><a href="https://www.urbanmoney.com/bank-calculator">
                            <div class="RightNavbar_imgWrap__6t3lA cursorPointer ">
                                <figure><img alt="Bank Calculators" loading="lazy" width="20" height="20"
                                        decoding="async" data-nimg="1"
                                        src="https://cdn.urbanmoney.com/images/bank_calculator.svg"
                                        style="color: transparent;"></figure>
                                <p>Bank Calculators</p>
                            </div>
                        </a></div>
                </div>
                <div class="RightNavbar_menuItem__tyLML">
                    <div class="RightNavbar_iconName__xScya ">
                        <div class="RightNavbar_imgWrap__6t3lA cursorPointer ">
                            <figure><img alt="Investment" loading="lazy" width="20" height="20" decoding="async"
                                    data-nimg="1" src="https://cdn.urbanmoney.com/images/investment.svg"
                                    style="color: transparent;"></figure>
                            <p>Investment</p><em class="icon-icon-angle-right arrowSm"></em>
                        </div>
                        <div class="RightNavbar_expMenu__TEZCm">
                            <div class="RightNavbar_loan__3IvpK undefined"><span><a
                                        href="https://www.urbanmoney.com/investment-plans/epf">Employee
                                        Provident Fund</a></span></div>
                            <div class="RightNavbar_loan__3IvpK undefined"><span><a
                                        href="https://www.urbanmoney.com/investment-plans/sip">Systematic
                                        Investment Plan</a></span></div>
                            <div class="RightNavbar_loan__3IvpK undefined">
                                <div class="RightNavbar_dropdownMain__eK4RF"><span><a
                                            href="https://www.urbanmoney.com/fixed-deposit-rate">Fixed
                                            Deposit</a></span></div>
                            </div>
                            <div class="RightNavbar_loan__3IvpK undefined">
                                <div class="RightNavbar_dropdownMain__eK4RF"><span><a
                                            href="https://www.urbanmoney.com/mutual-funds">Mutual
                                            Funds</a></span></div>
                            </div>
                            <div class="RightNavbar_loan__3IvpK undefined">
                                <div class="RightNavbar_dropdownMain__eK4RF"><span><a
                                            href="https://www.urbanmoney.com/investment-plans/recurring-deposit">Recurring
                                            Deposit</a></span></div>
                            </div>
                            <div class="RightNavbar_loan__3IvpK undefined">
                                <div class="RightNavbar_dropdownMain__eK4RF"><span><a
                                            href="https://www.urbanmoney.com/investment-plans/sip">Systematic
                                            Investment Plan (SIP)</a></span></div>
                            </div>
                            <div class="RightNavbar_loan__3IvpK undefined">
                                <div class="RightNavbar_dropdownMain__eK4RF"><span><a
                                            href="https://www.urbanmoney.com/investment-plans/epf">Employees
                                            Provident Fund (EPF)</a></span></div>
                            </div>
                            <div class="RightNavbar_loan__3IvpK undefined">
                                <div class="RightNavbar_dropdownMain__eK4RF"><span><a
                                            href="https://www.urbanmoney.com/investment-plans/ppf">Public
                                            Provident Fund (PPF)</a></span></div>
                            </div>
                            <div class="RightNavbar_loan__3IvpK undefined">
                                <div class="RightNavbar_dropdownMain__eK4RF"><span><a
                                            href="https://www.urbanmoney.com/investment-plans/vpf">Voluntary
                                            Provident Fund (VPF)</a></span></div>
                            </div>
                            <div class="RightNavbar_loan__3IvpK undefined">
                                <div class="RightNavbar_dropdownMain__eK4RF"><span><a
                                            href="https://www.urbanmoney.com/investment-plans/elss">ELSS</a></span>
                                </div>
                            </div>
                            <div class="RightNavbar_loan__3IvpK undefined">
                                <div class="RightNavbar_dropdownMain__eK4RF"><span><a
                                            href="https://www.urbanmoney.com/investment-plans/nps">National
                                            Pension Scheme (NPS)</a></span></div>
                            </div>
                            <div class="RightNavbar_loan__3IvpK undefined">
                                <div class="RightNavbar_dropdownMain__eK4RF"><span><a
                                            href="https://www.urbanmoney.com/investment-plans/nsc">National
                                            Savings Certificate (NSC)</a></span></div>
                            </div>
                            <div class="RightNavbar_loan__3IvpK undefined">
                                <div class="RightNavbar_dropdownMain__eK4RF"><span><a
                                            href="https://www.urbanmoney.com/investment-plans/senior-citizens-saving-scheme">Senior
                                            Citizen Saving Scheme</a></span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="RightNavbar_menuItem__tyLML">
                    <div class="RightNavbar_iconName__xScya ">
                        <div class="RightNavbar_imgWrap__6t3lA cursorPointer ">
                            <figure><img alt="Resources" loading="lazy" width="20" height="20" decoding="async"
                                    data-nimg="1" src="https://cdn.urbanmoney.com/images/resources.svg"
                                    style="color: transparent;"></figure>
                            <p>Resources</p><em class="icon-icon-angle-right arrowSm"></em>
                        </div>
                        <div class="RightNavbar_expMenu__TEZCm">
                            <div class="RightNavbar_loan__3IvpK undefined">
                                <div class="RightNavbar_dropdownMain__eK4RF"><span><a
                                            href="https://www.urbanmoney.com/adhaar-card">Adhaar Card</a></span>
                                </div>
                            </div>
                            <div class="RightNavbar_loan__3IvpK undefined">
                                <div class="RightNavbar_dropdownMain__eK4RF"><span><a
                                            href="https://www.urbanmoney.com/pan-card">PAN Card</a></span></div>
                            </div>
                            <div class="RightNavbar_loan__3IvpK undefined">
                                <div class="RightNavbar_dropdownMain__eK4RF"><span><a
                                            href="https://www.urbanmoney.com/income-tax">Income Tax</a></span>
                                </div>
                            </div>
                            <div class="RightNavbar_loan__3IvpK undefined"></div>
                            <div class="RightNavbar_loan__3IvpK undefined">
                                <div class="RightNavbar_dropdownMain__eK4RF"><span><a
                                            href="https://www.urbanmoney.com/banking">Banking</a></span></div>
                            </div>
                            <div class="RightNavbar_loan__3IvpK undefined">
                                <div class="RightNavbar_dropdownMain__eK4RF"><span><a
                                            href="https://www.urbanmoney.com/indian-holidays">Indian
                                            Holidays</a></span></div>
                            </div>
                            <div class="RightNavbar_loan__3IvpK undefined"><span><a
                                        href="https://www.urbanmoney.com/voter-id">Voter Id</a></span></div>
                        </div>
                    </div>
                </div>-->
            </div> 
        </div>
    </div>
    <div class="Header_overLay__drP4Y" [ngClass]="{'Header_active__L6h_D': openRightSideNav}"></div>
</header>