

<footer class="Footer_footer___dn_R">
        <div class="Footer_bgBx__ekyAA"><img alt="Urban Money" loading="lazy" width="1600" height="651" decoding="async"
                        data-nimg="1" class="Footer_footerImg__3xA0j" src="./../../assets/images/footerBackground.webp"
                        style="color: transparent;"></div>
        <div class="container">
                <div class="Footer_footerGrid__5Qm16">
                        <div class="Footer_descSection__bVRCd">
                                <figure><img alt="Urban Money" loading="lazy" width="100" height="32" decoding="async"
                                                data-nimg="1" src="./../../assets/images/Borrow Rright new style logo.jpg"
                                                style="color: transparent;"></figure>
                                <p class="textWhite opt70 mb30 font12">Borrow Right is India’s one of the unbiased loan
                                        advisor
                                        for best deals in loans and unmatched advisory services. We are one stop shop
                                        for all types
                                        of lending solutions. We manage the entire borrowing process for clients,
                                        starting by
                                        assisting our clients to choose the right product from the appropriate lending
                                        organization,till the time, the entire loan is disbursed.</p>
                        </div>
                        <div class="Footer_loanSec__YdmBP Footer_rowOne__lJhlN">
                                <h3 class="mb20 fontMedium textWhite font14">Services</h3>
                                <ul>
                                        <li><a class="textWhite opt70 font12"
                                                [routerLink]="'/personalLoan'">Personal
                                                        Loan</a></li>
                                        <li><a class="textWhite opt70 font12"
                                                [routerLink]="'/homeLoan'">Home
                                                        Loan</a></li>
                                        <li><a class="textWhite opt70 font12"
                                                [routerLink]="'/businessLoan'">Business
                                                        Loan</a></li>
                                        <!-- <li><a class="textWhite opt70 font12"
                                                [routerLink]="'/loanAgainstProperty'">Loan
                                                        Against
                                                        Property</a></li> -->
                                                        <li><a class="textWhite opt70 font12 nowrap" [routerLink]="'/loanAgainstProperty'">Loan Against Property</a></li>

                                        <!-- <li><a class="textWhite opt70 font12"
                                                        href="https://www.urbanmoney.com/loans/home-loan/interest-rate">Home
                                                        Loan Interest
                                                        Rate</a></li>
                                        <li><a class="textWhite opt70 font12"
                                                        href="https://www.urbanmoney.com/loans/personal-loan/interest-rate">Personal
                                                        Loan
                                                        Interest Rate</a></li> -->
                                </ul>
                        </div>
                        <!-- <div class="Footer_loanSec__YdmBP Footer_rowTow__rRA1u">
                                <h3 class="mb20 fontMedium textWhite font14">Top Banks</h3>
                                <ul>
                                        <li><a class="textWhite opt70 font12"
                                                        href="https://www.urbanmoney.com/banks-in-india/axis-bank">Axis
                                                        Bank</a></li>
                                        <li><a class="textWhite opt70 font12"
                                                        href="https://www.urbanmoney.com/banks-in-india/kotak-bank">Kotak
                                                        Bank</a></li>
                                        <li><a class="textWhite opt70 font12"
                                                        href="https://www.urbanmoney.com/banks-in-india/hdfc-bank">HDFC
                                                        Bank</a></li>
                                        <li><a class="textWhite opt70 font12"
                                                        href="https://www.urbanmoney.com/banks-in-india/icici-bank">ICICI
                                                        Bank</a></li>
                                        <li><a class="textWhite opt70 font12"
                                                        href="https://www.urbanmoney.com/banks-in-india/idfc-first-bank">IDFC
                                                        First</a></li>
                                        <li><a class="textWhite opt70 font12"
                                                        href="https://www.urbanmoney.com/banks-in-india/yes-bank">Yes
                                                        Bank</a></li>
                                </ul>
                        </div> -->
                        <div class="Footer_loanSec__YdmBP Footer_rowThree__dniI5">
                                <h3 class="mb20 fontMedium textWhite font14">Tools</h3>
                                <ul>
                                        <!-- <li><a class="textWhite opt70 font12"
                                                        href="https://www.urbanmoney.com/credit-score">FREE
                                                        Credit Score</a></li> -->
                                        <!-- <li><a class="textWhite opt70 font12"
                                                        href="https://www.urbanmoney.com/loans/home-loan/eligibility-calculator">Eligibility
                                                        Calculator</a></li> -->
                                        <li><a class="textWhite opt70 font12"
                                                [routerLink]="'/emiCalculator'">EMI
                                                        Calculator</a>
                                        </li>
                                        <!-- <li><a class="textWhite opt70 font12"
                                                        href="https://www.urbanmoney.com/loans/home-loan/balance-transfer-calculator">Balance
                                                        Transfer Calculator</a></li> -->
                                        <li><a class="textWhite opt70 font12"
                                                [routerLink]="'/emiCalculator'" [queryParams]="{type:'prePayment'}">Pre-payment
                                                        Calculator</a></li>
                                        <!-- <li><a class="textWhite opt70 font12"
                                                        href="https://www.urbanmoney.com/banks-in-india">Banks
                                                        in India</a></li> -->
                                        <!-- <li><a class="textWhite opt70 font12"
                                                        href="https://www.urbanmoney.com/ifsc-code">IFSC
                                                        Codes</a></li> -->
                                </ul>
                        </div>
                        <!-- <div class="Footer_loanSec__YdmBP Footer_rowFour__jU24K">
                                <h3 class="mb20 fontMedium textWhite font14">Group Company</h3>
                                <ul>
                                        <li><a href="https://www.squareyards.com" class="textWhite opt70 font12">Square
                                                        Yards</a>
                                        </li>
                                        <li><a href="https://www.squareyards.ca" class="textWhite opt70 font12">Square
                                                        Yards
                                                        Canada</a></li>
                                        <li><a href="https://www.squareyards.com.au"
                                                        class="textWhite opt70 font12">Square Yards
                                                        Australia</a></li>
                                        <li><a href="https://www.squareyards.ae" class="textWhite opt70 font12">Square
                                                        Yards UAE</a>
                                        </li>
                                        <li><a href="https://www.interiorcompany.com/"
                                                        class="textWhite opt70 font12">Interior
                                                        Company</a></li>
                                        <li><a href="https://www.umoceania.com.au" class="textWhite opt70 font12">Urban
                                                        Money
                                                        Australia</a></li>
                                </ul>
                        </div> -->
                        <div class="Footer_descSection__bVRCd">
                                <h3 class="font14 fontMedium textWhite mb20">Contact Us</h3>
                                <p class="textc7c7c7 font14 pd14">Opp HDFC BANK ATM, 1st Floor, No.1/1,</p>
                                <p class="textc7c7c7 font14 pd14">T C Palya Main Road, Sannatammanahalli, 
                                        <span class="single-line">KR Puram,</span> Bengaluru, Bengaluru Urban,</p>
                                        
                                <p class="textc7c7c7 font14 pd14">Karnataka, 560036</p>
                                <p class="textWhite opt70 font14 pd14">Contact Number : <a class="textWhite"
                                                >+91 8792976734</a></p>
                                <p class="textWhite opt70 font14 mb30">Write to us at : <a class="textWhite"
                                                href="mailto:connect@urbanmoney.com">ask@borrowright.in</a></p></div>
                </div>
                <!-- <div class="Footer_footerGridTwo__rd5Nq"> -->
                        <!-- <div class="Footer_descSection__bVRCd">
                                <h3 class="font14 fontMedium textWhite mb20">Contact Us</h3>
                                <p class="textc7c7c7 font14 pd14">Opp HDFC BANK ATM, 1st Floor, No.1/1,</p>
                                <p class="textc7c7c7 font14 pd14">T C Palya Main
                                        Road, Sannatammanahalli, KR Puram, Bengaluru, Bengaluru
                                        Urban,</p>
                                <p class="textc7c7c7 font14 pd14">Karnataka, 560036</p>
                                <p class="textWhite opt70 font14 pd14">Toll free number : <a class="textWhite"
                                                href="tel:1800 208 3344">+918792976734</a></p>
                                <p class="textWhite opt70 font14 mb30">Write to us at : <a class="textWhite"
                                                href="mailto:connect@urbanmoney.com">ask@borrowright.in</a></p> -->
                                <!-- <h3 class="font14 fontMedium textWhite mb20">Keep in Touch</h3> -->
                                <!-- <div class="KeepInTouch_socialIcon__zVkVx"><a class="textc7c7c7 0"
                                                rel="nofollow external noopener noreferrer"
                                                href="https://www.linkedin.com/company/urban-money-official/"><em
                                                        class="icon-linkdin KeepInTouch_gap__DI99C font24"></em></a><a
                                                class="textc7c7c7 1" rel="nofollow external noopener noreferrer"
                                                href="https://www.facebook.com/Urban-Money-114905975521333"><em
                                                        class="icon-facebook KeepInTouch_gap__DI99C font24"></em></a><a
                                                class="textc7c7c7 2" rel="nofollow external noopener noreferrer"
                                                href="https://www.instagram.com/urbanmoney_india/"><em
                                                        class="icon-instagram KeepInTouch_gap__DI99C font24"></em></a>
                                </div> -->
                        <!-- </div> -->
                        <!-- <div class="Footer_loanSec__YdmBP undefined">
                                <h3 class="mb20 fontMedium textWhite font14">Company</h3>
                                <ul>
                                        <li><a class="textWhite opt70 font12"
                                                        href="https://www.urbanmoney.com/">Home</a></li>
                                        <li><a class="textWhite opt70 font12"
                                                        href="https://www.urbanmoney.com/about-us">About
                                                        Us</a></li>
                                        <li><a class="textWhite opt70 font12"
                                                        href="https://www.urbanmoney.com/contact-us">Contact
                                                        Us</a></li>
                                        <li><a href="/blog/" class="textWhite opt70 font12">Blog</a></li>
                                        <li><a class="textWhite opt70 font12"
                                                        href="https://www.urbanmoney.com/careers">Careers</a>
                                        </li>
                                        <li><a class="textWhite opt70 font12"
                                                        href="https://www.urbanmoney.com/become-a-partner">Become a
                                                        Partner</a></li>
                                </ul>
                        </div> -->
                        <!-- <div class="Footer_loanSec__YdmBP undefined">
                                <h3 class="mb20 fontMedium textWhite font14">Resources</h3>
                                <ul>
                                        <li><a class="textWhite opt70 font12"
                                                        href="https://www.urbanmoney.com/adhaar-card">Adhaar
                                                        Card</a></li>
                                        <li><a class="textWhite opt70 font12"
                                                        href="https://www.urbanmoney.com/income-tax">Income
                                                        Tax</a></li>
                                        <li><a class="textWhite opt70 font12"
                                                        href="https://www.urbanmoney.com/pan-card">PAN
                                                        Card</a></li>
                                        <li><a class="textWhite opt70 font12"
                                                        href="https://www.urbanmoney.com/banking">Banking</a>
                                        </li>
                                        <li><a class="textWhite opt70 font12"
                                                        href="https://www.urbanmoney.com/indian-holidays">Indian
                                                        Holidays</a></li>
                                        <li><a class="textWhite opt70 font12"
                                                        href="https://www.urbanmoney.com/credit-card">Credit
                                                        Card</a></li>
                                </ul>
                        </div> -->
                <!-- </div> -->
        </div>
</footer>