<!-- <main>
    <div class="FloatIcon_FloatIcon__JBW0S">
        <div class="FloatIcon_Icon__OAYI3"><img alt="Urban Money Float Icon" loading="lazy" width="28" height="25"
                decoding="async" data-nimg="1" src="/assets/images/FloatIcon.svg" style="color: transparent;"></div>
        <div class="FloatIcon_title__0ZXTP">
            <div class="FloatIcon_closeIcon__Gi9ll"></div>
            <p class="fontBold font12 mb10">Need Loan Assistance?</p><button
                class="btn FloatIcon_connectNow__pDqOd">Connect Now <em class="icon-arrow-right font12"></em> </button>
        </div>
    </div>
    <section class="creditCardBanner_creditCardbanner__gGPqf">
        <div class="container">
            <div class="creditCardBanner_bannerWrap__OJ8FX">
                <div class="creditCardBanner_bannerText__AZ9wC">
                    <h1
                        class="font36 mb40 text181b30 fontThin lineHeight62  mobfont32 creditCardBanner_centerheading__TD9Y_  creditCardBanner_mainTextHead__Z8jbj">
                        INDIA'S BEST <span class="fontsemiBold mobfont42 font48">CREDIT CARD </span> <span
                            class="creditCardBanner_fontgradient__oo2BO mobfont42">Payment Easier</span></h1>
                    <p class="mb20 text2828 font16 lineHeight28 mobfont16 moblineheight24">Get faster approval for
                        limitless and all-purpose Credit Cards that boasts alluring reward points, attractive interest
                        rates, and lifetime access.</p><button class="btn btn-primary webcta  font14">Apply Now <em
                            class="icon-arrow-right font14"></em></button>
                </div>
                <div class="creditCardBanner_bannerImg__N4Pcj">
                    <div><img alt="" loading="lazy" width="555" height="484" decoding="async" data-nimg="1"
                            class="imgResponsive"
                            srcset="/_next/image?url=%2Fassets%2Fimages%2FCreditcardbannerimg.png&amp;w=640&amp;q=75 1x, /_next/image?url=%2Fassets%2Fimages%2FCreditcardbannerimg.png&amp;w=1200&amp;q=75 2x"
                            src="/_next/image?url=%2Fassets%2Fimages%2FCreditcardbannerimg.png&amp;w=1200&amp;q=75"
                            style="color: transparent;"><span
                            class="creditCardBanner_opentext__7Y5Fd creditCardBanner_tranfermoney__gpwek font14 fontsemiBold text181b30"><img
                                alt="" loading="lazy" width="51" height="51" decoding="async" data-nimg="1"
                                src="/assets/images/transfermoney.svg" style="color: transparent;">Dining <br> Discounts
                        </span><span
                            class="creditCardBanner_opentext__7Y5Fd creditCardBanner_safetransfer__B0Jrj font14 fontsemiBold text181b30"><img
                                alt="" loading="lazy" width="51" height="51" decoding="async" data-nimg="1"
                                src="/assets/images/saletranfer.svg" style="color: transparent;">Lounge <br> Access
                        </span><span
                            class="creditCardBanner_opentext__7Y5Fd  creditCardBanner_realpart__l0Vcq font14 fontsemiBold text181b30">Accelerated
                            <br> Rewards <img alt="" loading="lazy" width="51" height="51" decoding="async"
                                data-nimg="1" src="/assets/images/Realparternship.svg"
                                style="color: transparent;"></span></div>
                </div>
            </div>
        </div>
        <figure class="creditCardBanner_bannerback__55rXA"><img alt="" loading="lazy" width="1358" height="663"
                decoding="async" data-nimg="1"
                srcset="/_next/image?url=%2Fassets%2Fimages%2FcreditCardbannerbackground.png&amp;w=1920&amp;q=75 1x, /_next/image?url=%2Fassets%2Fimages%2FcreditCardbannerbackground.png&amp;w=3840&amp;q=75 2x"
                src="/_next/image?url=%2Fassets%2Fimages%2FcreditCardbannerbackground.png&amp;w=3840&amp;q=75"
                style="color: transparent;"></figure>
    </section>
    <section class="topBanks_creditcardbyTopBank__u0yHF">
        <figure class="topBanks_wavesBack__O_44b"><img alt="" loading="lazy" width="1358" height="508" decoding="async"
                data-nimg="1" class="imgResponsive"
                srcset="/_next/image?url=%2Fassets%2Fimages%2Fwave-lines.png&amp;w=1920&amp;q=75 1x, /_next/image?url=%2Fassets%2Fimages%2Fwave-lines.png&amp;w=3840&amp;q=75 2x"
                src="/_next/image?url=%2Fassets%2Fimages%2Fwave-lines.png&amp;w=3840&amp;q=75"
                style="color: transparent;"></figure>
        <figure class="topBanks_topbankBack__WaWdo"><img alt="" loading="lazy" width="1358" height="668"
                decoding="async" data-nimg="1" class=" imgResponsive"
                srcset="/_next/image?url=%2Fassets%2Fimages%2Ftop-bankbackground.png&amp;w=1920&amp;q=75 1x, /_next/image?url=%2Fassets%2Fimages%2Ftop-bankbackground.png&amp;w=3840&amp;q=75 2x"
                src="/_next/image?url=%2Fassets%2Fimages%2Ftop-bankbackground.png&amp;w=3840&amp;q=75"
                style="color: transparent;"></figure>
        <div class="container">
            <div>
                <p class="font28  textBlack fontsemiBold mb15 textCenter mobfont24 respmarg5">Credit Card by Top Banks
                </p>
                <p class="font14  text2828 lineHeight26 opt80 topBanks_centerheading__f430q textCenter">Spend smartly
                    with credit cards offered by top banks. </p>
            </div>
            <div class="topBanks_allbankListing__sQjWB">
                <ul class="topBanks_alignCenter__Ff9Wk">
                    <li>
                        <figure class="topBanks_bankLogo__YZJq_"><img alt="IDFC Bank Credit Cards" loading="lazy"
                                width="142" height="50" decoding="async" data-nimg="1" class="imgResponsive"
                                srcset="/_next/image?url=%2Fassets%2Fimages%2FIDFC_First_Bank_logo%201%403x.png&amp;w=256&amp;q=75 1x, /_next/image?url=%2Fassets%2Fimages%2FIDFC_First_Bank_logo%201%403x.png&amp;w=384&amp;q=75 2x"
                                src="/_next/image?url=%2Fassets%2Fimages%2FIDFC_First_Bank_logo%201%403x.png&amp;w=384&amp;q=75"
                                style="color: transparent;"></figure>
                        <p class="font14 fontsemiBold mb10 text777 bankHeadingname">IDFC Bank Credit Cards</p><a
                            class="textLink justifycenter dlfex alingcenter  fontsemiBold font14"
                            href="/credit-card/idfc-first-bank">Know more <em
                                class="marg5L icon-arrow-right font14"></em></a>
                    </li>
                    <li>
                        <figure class="topBanks_bankLogo__YZJq_"><img alt="Yes Bank Credit Cards" loading="lazy"
                                width="142" height="50" decoding="async" data-nimg="1" class="imgResponsive"
                                srcset="/_next/image?url=%2Fassets%2Fimages%2FyesBank.jpg&amp;w=256&amp;q=75 1x, /_next/image?url=%2Fassets%2Fimages%2FyesBank.jpg&amp;w=384&amp;q=75 2x"
                                src="/_next/image?url=%2Fassets%2Fimages%2FyesBank.jpg&amp;w=384&amp;q=75"
                                style="color: transparent;"></figure>
                        <p class="font14 fontsemiBold mb10 text777 bankHeadingname">Yes Bank Credit Cards</p><a
                            class="textLink justifycenter dlfex alingcenter  fontsemiBold font14"
                            href="/credit-card/yes-bank">Know more <em class="marg5L icon-arrow-right font14"></em></a>
                    </li>
                    <li>
                        <figure class="topBanks_bankLogo__YZJq_"><img alt="Standard Chartered Bank Credit Cards"
                                loading="lazy" width="142" height="50" decoding="async" data-nimg="1"
                                class="imgResponsive"
                                srcset="/_next/image?url=%2Fassets%2Fimages%2FStandardChartered.png&amp;w=256&amp;q=75 1x, /_next/image?url=%2Fassets%2Fimages%2FStandardChartered.png&amp;w=384&amp;q=75 2x"
                                src="/_next/image?url=%2Fassets%2Fimages%2FStandardChartered.png&amp;w=384&amp;q=75"
                                style="color: transparent;"></figure>
                        <p class="font14 fontsemiBold mb10 text777 bankHeadingname">Standard Chartered Bank Credit Cards
                        </p><a class="textLink justifycenter dlfex alingcenter  fontsemiBold font14"
                            href="/credit-card/standard-chartered">Know more <em
                                class="marg5L icon-arrow-right font14"></em></a>
                    </li>
                    <li>
                        <figure class="topBanks_bankLogo__YZJq_"><img alt="Axis Bank" loading="lazy" width="142"
                                height="50" decoding="async" data-nimg="1" class="imgResponsive"
                                srcset="/_next/image?url=%2Fassets%2Fimages%2Faxis-logo.png&amp;w=256&amp;q=75 1x, /_next/image?url=%2Fassets%2Fimages%2Faxis-logo.png&amp;w=384&amp;q=75 2x"
                                src="/_next/image?url=%2Fassets%2Fimages%2Faxis-logo.png&amp;w=384&amp;q=75"
                                style="color: transparent;"></figure>
                        <p class="font14 fontsemiBold mb10 text777 bankHeadingname">Axis Bank</p><a
                            class="textLink justifycenter dlfex alingcenter  fontsemiBold font14"
                            href="/credit-card/axis-bank">Know more <em class="marg5L icon-arrow-right font14"></em></a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="creditCardFeatures_cardFeatures__FMth3">
        <div class="container">
            <p class="font28  textBlack fontsemiBold mb15 textCenter mobfont24 respmarg5">Credit Card Features and
                Benefits</p>
            <p class="font14  text2828 lineHeight26 opt80 creditCardFeatures_centerheading__tlgh6 textCenter">Lucrative
                features and benefits you can't say no to. </p>
            <div class="creditCardFeatures_offertiles__kp5V_">
                <figure class="creditCardFeatures_featurebg__DqrWZ"><img alt="" loading="lazy" width="35" height="46"
                        decoding="async" data-nimg="1" class="imgResponsive"
                        srcset="/_next/image?url=%2Fassets%2Fimages%2Ffeatures-bg.png&amp;w=48&amp;q=75 1x, /_next/image?url=%2Fassets%2Fimages%2Ffeatures-bg.png&amp;w=96&amp;q=75 2x"
                        src="/_next/image?url=%2Fassets%2Fimages%2Ffeatures-bg.png&amp;w=96&amp;q=75" style=""></figure>
                <div class="creditCardFeatures_offers__vBwQX">
                    <figure class="creditCardFeatures_roundTriangle__mfJh5"><img alt="Rewards" loading="lazy" width="46"
                            height="46" decoding="async" data-nimg="1"
                            srcset="/_next/image?url=%2Fassets%2Fimages%2FRewards.png&amp;w=48&amp;q=75 1x, /_next/image?url=%2Fassets%2Fimages%2FRewards.png&amp;w=96&amp;q=75 2x"
                            src="/_next/image?url=%2Fassets%2Fimages%2FRewards.png&amp;w=96&amp;q=75"
                            style="color: transparent;"></figure>
                    <p class="font16  text181b30 fontsemiBold mobfont16 mb5">Rewards</p>
                    <p class="font14 text777 lineHeight21 textdesc fontSm12">Enjoy special birthday rewards and
                        cross-payment thresholds on specific categories.</p>
                </div>
                <div class="creditCardFeatures_offers__vBwQX">
                    <figure class="creditCardFeatures_roundTriangle__mfJh5"><img alt="Cashback" loading="lazy"
                            width="46" height="46" decoding="async" data-nimg="1"
                            srcset="/_next/image?url=%2Fassets%2Fimages%2FCASHBACK.png&amp;w=48&amp;q=75 1x, /_next/image?url=%2Fassets%2Fimages%2FCASHBACK.png&amp;w=96&amp;q=75 2x"
                            src="/_next/image?url=%2Fassets%2Fimages%2FCASHBACK.png&amp;w=96&amp;q=75"
                            style="color: transparent;"></figure>
                    <p class="font16  text181b30 fontsemiBold mobfont16 mb5">Cashback</p>
                    <p class="font14 text777 lineHeight21 textdesc fontSm12">Lucrative cashback offers with an instant
                        amount credit feature.</p>
                </div>
                <div class="creditCardFeatures_offers__vBwQX">
                    <figure class="creditCardFeatures_roundTriangle__mfJh5"><img alt="Balance Transfer" loading="lazy"
                            width="46" height="46" decoding="async" data-nimg="1"
                            srcset="/_next/image?url=%2Fassets%2Fimages%2FBALANCE%20TRANSFER.png&amp;w=48&amp;q=75 1x, /_next/image?url=%2Fassets%2Fimages%2FBALANCE%20TRANSFER.png&amp;w=96&amp;q=75 2x"
                            src="/_next/image?url=%2Fassets%2Fimages%2FBALANCE%20TRANSFER.png&amp;w=96&amp;q=75"
                            style="color: transparent;"></figure>
                    <p class="font16  text181b30 fontsemiBold mobfont16 mb5">Balance Transfer</p>
                    <p class="font14 text777 lineHeight21 textdesc fontSm12">Get top-up and balance transfer facilities
                        on a credit card with attractive rates. </p>
                </div>
                <div class="creditCardFeatures_offers__vBwQX">
                    <figure class="creditCardFeatures_roundTriangle__mfJh5"><img alt="Travel" loading="lazy" width="46"
                            height="46" decoding="async" data-nimg="1"
                            srcset="/_next/image?url=%2Fassets%2Fimages%2FTRAVEL.png&amp;w=48&amp;q=75 1x, /_next/image?url=%2Fassets%2Fimages%2FTRAVEL.png&amp;w=96&amp;q=75 2x"
                            src="/_next/image?url=%2Fassets%2Fimages%2FTRAVEL.png&amp;w=96&amp;q=75"
                            style="color: transparent;"></figure>
                    <p class="font16  text181b30 fontsemiBold mobfont16 mb5">Travel</p>
                    <p class="font14 text777 lineHeight21 textdesc fontSm12">Make your travel hassle-free with credit
                        cards that offer extensive rewards.</p>
                </div>
                <div class="creditCardFeatures_offers__vBwQX">
                    <figure class="creditCardFeatures_roundTriangle__mfJh5"><img alt="Zero Percent" loading="lazy"
                            width="46" height="46" decoding="async" data-nimg="1"
                            srcset="/_next/image?url=%2Fassets%2Fimages%2FZEROPERCENT.png&amp;w=48&amp;q=75 1x, /_next/image?url=%2Fassets%2Fimages%2FZEROPERCENT.png&amp;w=96&amp;q=75 2x"
                            src="/_next/image?url=%2Fassets%2Fimages%2FZEROPERCENT.png&amp;w=96&amp;q=75"
                            style="color: transparent;"></figure>
                    <p class="font16  text181b30 fontsemiBold mobfont16 mb5">Zero Percent</p>
                    <p class="font14 text777 lineHeight21 textdesc fontSm12">Explore your options for an accelerated
                        reward credit card with zero per cent interest.</p>
                </div>
                <div class="creditCardFeatures_offers__vBwQX">
                    <figure class="creditCardFeatures_roundTriangle__mfJh5"><img alt="Low Interest" loading="lazy"
                            width="46" height="46" decoding="async" data-nimg="1"
                            srcset="/_next/image?url=%2Fassets%2Fimages%2FLOWINTEREST.png&amp;w=48&amp;q=75 1x, /_next/image?url=%2Fassets%2Fimages%2FLOWINTEREST.png&amp;w=96&amp;q=75 2x"
                            src="/_next/image?url=%2Fassets%2Fimages%2FLOWINTEREST.png&amp;w=96&amp;q=75"
                            style="color: transparent;"></figure>
                    <p class="font16  text181b30 fontsemiBold mobfont16 mb5">Low Interest</p>
                    <p class="font14 text777 lineHeight21 textdesc fontSm12">Enjoy low-interest rates, discounts, and
                        cashback on your credit card payments.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="creditCardsOffers_popularCreditCards__9Drnz">
        <figure class="creditCardsOffers_popularcreditblue__8tH7y"><img alt="" loading="lazy" width="139" height="380"
                decoding="async" data-nimg="1"
                srcset="/_next/image?url=%2Fassets%2Fimages%2Fpopularcreditblue.png&amp;w=256&amp;q=75 1x, /_next/image?url=%2Fassets%2Fimages%2Fpopularcreditblue.png&amp;w=384&amp;q=75 2x"
                src="/_next/image?url=%2Fassets%2Fimages%2Fpopularcreditblue.png&amp;w=384&amp;q=75"
                style="color: transparent;"></figure>
        <figure class="creditCardsOffers_yellowbackcardfeature__W1zhS"><img alt="" loading="lazy" width="616"
                height="616" decoding="async" data-nimg="1" class=" imgResponsive"
                srcset="/_next/image?url=%2Fassets%2Fimages%2Flatestcreditleft.png&amp;w=640&amp;q=75 1x, /_next/image?url=%2Fassets%2Fimages%2Flatestcreditleft.png&amp;w=1920&amp;q=75 2x"
                src="/_next/image?url=%2Fassets%2Fimages%2Flatestcreditleft.png&amp;w=1920&amp;q=75"
                style="color: transparent;"></figure>
        <figure class="creditCardsOffers_bluebackcardfeature__HVI8R"><img alt="" loading="lazy" width="690" height="690"
                decoding="async" data-nimg="1" class="imgResponsive"
                srcset="/_next/image?url=%2Fassets%2Fimages%2Fpopularceditright.png&amp;w=750&amp;q=75 1x, /_next/image?url=%2Fassets%2Fimages%2Fpopularceditright.png&amp;w=1920&amp;q=75 2x"
                src="/_next/image?url=%2Fassets%2Fimages%2Fpopularceditright.png&amp;w=1920&amp;q=75"
                style="color: transparent;"></figure>
        <div class="container">
            <p class="font28 textBlack fontsemiBold mb15 textCenter mobfont24 respmarg5">Popular Credit Cards Offers</p>
            <p class="font14 text2828 lineHeight26 opt80 creditCardsOffers_centerheading__3frZb textCenter">Scout
                through some of the best hand-picked credit card offers.</p>
            <div class="creditCardsOffers_allCreditCards__xCZFY"><span
                    class="creditCardsOffers_tabs__SQhT0 creditCardsOffers_lefttab__jB65W cursorPointer"><img
                        src="./assets/images/arrow.svg" alt="Left Arrow"></span><span
                    class="creditCardsOffers_tabs__SQhT0 creditCardsOffers_righttab__sFWbj cursorPointer"><img
                        src="./assets/images/arrow.svg" alt="Right Arrow"></span>
                <div class="creditCardsOffers_cardMain__Ct9TD" id="crousoel">
                    <div class="creditCardsOffers_bankCard__Z2mCu creditCardsOffers_active__qQT2J">
                        <div class="creditCardsOffers_ribbon__j7ewx creditCardsOffers_red__BU83C"><span
                                class="creditCardsOffers_ribbonArrow___K6h_"><svg viewBox="0 0 22 32" width="14"
                                    height="21" version="1.1" xmlns="http://www.w3.org/2000/svg">
                                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g id="09_Urban-Money-Copy-4" transform="translate(-476.000000, -1296.000000)"
                                            fill="currentColor" fill-rule="nonzero">
                                            <g id="paths" transform="translate(476.000000, 1296.000000)">
                                                <path
                                                    d="M1.11201212,16.8087361 L22,32 L22,32 L22,0 L1.11201212,15.1912639 C0.66535951,15.5161022 0.56660947,16.1415191 0.891447729,16.5881717 C0.952979393,16.6727777 1.02740608,16.7472044 1.11201212,16.8087361 Z"
                                                    id="Path"></path>
                                            </g>
                                        </g>
                                    </g>
                                </svg></span>100% paperless Approval</div>
                        <figure><img alt="IDFC First Millenia<br/>  Credit Card" loading="lazy" width="160" height="101"
                                decoding="async" data-nimg="1" class="imgResponsive"
                                srcset="/_next/image?url=%2Fassets%2Fimages%2FIDFCCreditCard.webp&amp;w=256&amp;q=75 1x, /_next/image?url=%2Fassets%2Fimages%2FIDFCCreditCard.webp&amp;w=384&amp;q=75 2x"
                                src="/_next/image?url=%2Fassets%2Fimages%2FIDFCCreditCard.webp&amp;w=384&amp;q=75"
                                style="color: transparent;"></figure>
                        <h2 class="mt15 font16 fontsemiBold lineHeight24 text1b1d1f">IDFC First Millenia<br> Credit Card
                        </h2>
                        <p class="mt15 font14 lineHeight20 text666 mb15">First Millenia is an innovative Credit Card for
                            young professionals. Not only does it come with an attractive and chic design, but it also
                            offers users an array of lucrative benefits. </p><span
                            class="mt18 font14 lineHeight26  text181b30 fontsemiBold">Annual Fee: No Annual or Joining
                            Fee</span>
                        <div class="creditCardsOffers_cardDesc__glhpD">
                            <ul>
                                <li class="font13 lineHeight18 text666"><img alt="icon" loading="lazy" width="24"
                                        height="25" decoding="async" data-nimg="1" src="/assets/images/cashwithd.svg"
                                        style="color: transparent;"> Grab welcome gift vouchers worth more than INR 500
                                    for purchases above INR 15,000 within the first three months of IDFC First Millenia
                                    Card use.</li>
                                <li class="font13 lineHeight18 text666"><img alt="icon" loading="lazy" width="25"
                                        height="25" decoding="async" data-nimg="1" src="/assets/images/justWelcome.svg"
                                        style="color: transparent;"> Includes an array of benefits such as a 25%
                                    discount on movie tickets, railway lounge visits, roadside assistance, fuel
                                    surcharge waiver, and much more.</li>
                                <li class="font13 lineHeight18 text666"><img alt="icon" loading="lazy" width="25"
                                        height="25" decoding="async" data-nimg="1"
                                        src="/assets/images/cashabckonemi.svg" style="color: transparent;"> Enjoy the
                                    provision of lifetime free usage and low-interest rates.</li>
                            </ul>
                        </div>
                        <div class="creditCardsOffers_cardBtnBox__3uIpH"><a
                                class="btn font14 btn-default textCenterSm creditCardsOffers_noWrap__I2tv6"
                                href="/credit-card/idfc-first-bank">Know more <em
                                    class="icon-arrow-right font14"></em></a><a
                                class="btn btn-primary font14  textCenterSm creditCardsOffers_noWrap__I2tv6"
                                href="https://www.idfcfirstbank.com/credit-card/ntb-diy/apply?utm_source=Partner&amp;utm_medium=NTB_Urban_Money&amp;utm_campaign=NTB_Urban_Money">Apply
                                Now <em class="icon-arrow-right font14"></em></a></div>
                    </div>
                    <div class="creditCardsOffers_bankCard__Z2mCu creditCardsOffers_active__qQT2J">
                        <div class="creditCardsOffers_ribbon__j7ewx creditCardsOffers_red__BU83C"><span
                                class="creditCardsOffers_ribbonArrow___K6h_"><svg viewBox="0 0 22 32" width="14"
                                    height="21" version="1.1" xmlns="http://www.w3.org/2000/svg">
                                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g id="09_Urban-Money-Copy-4" transform="translate(-476.000000, -1296.000000)"
                                            fill="currentColor" fill-rule="nonzero">
                                            <g id="paths" transform="translate(476.000000, 1296.000000)">
                                                <path
                                                    d="M1.11201212,16.8087361 L22,32 L22,32 L22,0 L1.11201212,15.1912639 C0.66535951,15.5161022 0.56660947,16.1415191 0.891447729,16.5881717 C0.952979393,16.6727777 1.02740608,16.7472044 1.11201212,16.8087361 Z"
                                                    id="Path"></path>
                                            </g>
                                        </g>
                                    </g>
                                </svg></span>100% paperless Approval</div>
                        <figure><img alt="Standard Chartered Platinum Rewards<br/>Credit Card" loading="lazy"
                                width="160" height="101" decoding="async" data-nimg="1" class="imgResponsive"
                                srcset="/_next/image?url=%2Fassets%2Fimages%2Fstandarchartedtcard.webp&amp;w=256&amp;q=75 1x, /_next/image?url=%2Fassets%2Fimages%2Fstandarchartedtcard.webp&amp;w=384&amp;q=75 2x"
                                src="/_next/image?url=%2Fassets%2Fimages%2Fstandarchartedtcard.webp&amp;w=384&amp;q=75"
                                style="color: transparent;"></figure>
                        <h2 class="mt15 font16 fontsemiBold lineHeight24 text1b1d1f">Standard Chartered Platinum
                            Rewards<br>Credit Card</h2>
                        <p class="mt15 font14 lineHeight20 text666 mb15">Earn attractive rewards on every payment of INR
                            150 across various avenues, including dining, travel, shopping, and more, with the lucrative
                            Platinum Rewards Credit Card.</p><span
                            class="mt18 font14 lineHeight26  text181b30 fontsemiBold">Annual Fee: Minimum of INR 250
                            annual fees.</span>
                        <div class="creditCardsOffers_cardDesc__glhpD">
                            <ul>
                                <li class="font13 lineHeight18 text666"><img alt="icon" loading="lazy" width="24"
                                        height="25" decoding="async" data-nimg="1" src="/assets/images/cashwithd.svg"
                                        style="color: transparent;"> The variant comes with the provision of additional
                                    lifetime credit cards. So gift your family members the perks of supplementary credit
                                    cards with lifetime free access today!</li>
                                <li class="font13 lineHeight18 text666"><img alt="icon" loading="lazy" width="25"
                                        height="25" decoding="async" data-nimg="1" src="/assets/images/justWelcome.svg"
                                        style="color: transparent;"> Enjoy the satisfaction of secure payments with the
                                    Platinum Rewards Credit Cards, wherein transactions are contactless and guarded.
                                </li>
                                <li class="font13 lineHeight18 text666"><img alt="icon" loading="lazy" width="25"
                                        height="25" decoding="async" data-nimg="1"
                                        src="/assets/images/cashabckonemi.svg" style="color: transparent;"> No
                                    processing fee on outstanding payment conversion into EMIs. </li>
                            </ul>
                        </div>
                        <div class="creditCardsOffers_cardBtnBox__3uIpH"><a
                                class="btn font14 btn-default textCenterSm creditCardsOffers_noWrap__I2tv6"
                                href="/credit-card/standard-chartered">Know more <em
                                    class="icon-arrow-right font14"></em></a><a
                                class="btn btn-primary font14  textCenterSm creditCardsOffers_noWrap__I2tv6"
                                href="/credit-card/standard-chartered/online-application-form">Apply Now <em
                                    class="icon-arrow-right font14"></em></a></div>
                    </div>
                    <div class="creditCardsOffers_bankCard__Z2mCu creditCardsOffers_active__qQT2J">
                        <div class="creditCardsOffers_ribbon__j7ewx creditCardsOffers_red__BU83C"><span
                                class="creditCardsOffers_ribbonArrow___K6h_"><svg viewBox="0 0 22 32" width="14"
                                    height="21" version="1.1" xmlns="http://www.w3.org/2000/svg">
                                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g id="09_Urban-Money-Copy-4" transform="translate(-476.000000, -1296.000000)"
                                            fill="currentColor" fill-rule="nonzero">
                                            <g id="paths" transform="translate(476.000000, 1296.000000)">
                                                <path
                                                    d="M1.11201212,16.8087361 L22,32 L22,32 L22,0 L1.11201212,15.1912639 C0.66535951,15.5161022 0.56660947,16.1415191 0.891447729,16.5881717 C0.952979393,16.6727777 1.02740608,16.7472044 1.11201212,16.8087361 Z"
                                                    id="Path"></path>
                                            </g>
                                        </g>
                                    </g>
                                </svg></span>100% paperless Approval</div>
                        <figure><img alt="YES Prosperity Reward Plus<br/>Credit Card" loading="lazy" width="160"
                                height="101" decoding="async" data-nimg="1" class="imgResponsive"
                                srcset="/_next/image?url=%2Fassets%2Fimages%2FyesBank.png&amp;w=256&amp;q=75 1x, /_next/image?url=%2Fassets%2Fimages%2FyesBank.png&amp;w=384&amp;q=75 2x"
                                src="/_next/image?url=%2Fassets%2Fimages%2FyesBank.png&amp;w=384&amp;q=75"
                                style="color: transparent;"></figure>
                        <h2 class="mt15 font16 fontsemiBold lineHeight24 text1b1d1f">YES Prosperity Reward
                            Plus<br>Credit Card</h2>
                        <p class="mt15 font14 lineHeight20 text666 mb15">Stunning and accelerated reward options on
                            multiple avenues through YES Cart and extra reward points for payments in dining and travel.
                            Also, enjoy fuel waivers. </p><span
                            class="mt18 font14 lineHeight26  text181b30 fontsemiBold">Annual Fee: INR 399 on first-year
                            membership. </span>
                        <div class="creditCardsOffers_cardDesc__glhpD">
                            <ul>
                                <li class="font13 lineHeight18 text666"><img alt="icon" loading="lazy" width="24"
                                        height="25" decoding="async" data-nimg="1" src="/assets/images/cashwithd.svg"
                                        style="color: transparent;"> Grab exciting reward points on every transaction of
                                    INR 200 across various categories of expenses, including entertainment and leisure.
                                </li>
                                <li class="font13 lineHeight18 text666"><img alt="icon" loading="lazy" width="25"
                                        height="25" decoding="async" data-nimg="1" src="/assets/images/justWelcome.svg"
                                        style="color: transparent;"> Spend efficiently with the YES Prosperity Reward
                                    Plus Credit Card, which has an exclusive reward point system and hassle-free
                                    redeemable options.</li>
                                <li class="font13 lineHeight18 text666"><img alt="icon" loading="lazy" width="25"
                                        height="25" decoding="async" data-nimg="1"
                                        src="/assets/images/cashabckonemi.svg" style="color: transparent;"> Enjoy
                                    alluring rewards with exciting discount options and easy EMI payment facilities.
                                </li>
                            </ul>
                        </div>
                        <div class="creditCardsOffers_cardBtnBox__3uIpH"><a
                                class="btn font14 btn-default textCenterSm creditCardsOffers_noWrap__I2tv6"
                                href="/credit-card/yes-bank">Know more <em class="icon-arrow-right font14"></em></a><a
                                class="btn btn-primary font14  textCenterSm creditCardsOffers_noWrap__I2tv6"
                                href="https://applycc.yesbank.in/YESBankCreditCard?uid=ab047">Apply Now <em
                                    class="icon-arrow-right font14"></em></a></div>
                    </div>
                    <div class="creditCardsOffers_bankCard__Z2mCu creditCardsOffers_active__qQT2J">
                        <div class="creditCardsOffers_ribbon__j7ewx creditCardsOffers_red__BU83C"><span
                                class="creditCardsOffers_ribbonArrow___K6h_"><svg viewBox="0 0 22 32" width="14"
                                    height="21" version="1.1" xmlns="http://www.w3.org/2000/svg">
                                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g id="09_Urban-Money-Copy-4" transform="translate(-476.000000, -1296.000000)"
                                            fill="currentColor" fill-rule="nonzero">
                                            <g id="paths" transform="translate(476.000000, 1296.000000)">
                                                <path
                                                    d="M1.11201212,16.8087361 L22,32 L22,32 L22,0 L1.11201212,15.1912639 C0.66535951,15.5161022 0.56660947,16.1415191 0.891447729,16.5881717 C0.952979393,16.6727777 1.02740608,16.7472044 1.11201212,16.8087361 Z"
                                                    id="Path"></path>
                                            </g>
                                        </g>
                                    </g>
                                </svg></span>100% paperless Approval</div>
                        <figure><img alt="Flipkart Axis Bank<br/>Credit Card" loading="lazy" width="160" height="101"
                                decoding="async" data-nimg="1" class="imgResponsive"
                                srcset="/_next/image?url=%2Fassets%2Fimages%2Faxis-bk-card.png&amp;w=256&amp;q=75 1x, /_next/image?url=%2Fassets%2Fimages%2Faxis-bk-card.png&amp;w=384&amp;q=75 2x"
                                src="/_next/image?url=%2Fassets%2Fimages%2Faxis-bk-card.png&amp;w=384&amp;q=75"
                                style="color: transparent;"></figure>
                        <h2 class="mt15 font16 fontsemiBold lineHeight24 text1b1d1f">Flipkart Axis Bank<br>Credit Card
                        </h2>
                        <p class="mt15 font14 lineHeight20 text666 mb15">Deep dive into the world of fun spending and
                            convert your transactions into accelerated rewards, unlimited cashback, and much more. Grab
                            exciting welcome gifts as well! </p><span
                            class="mt18 font14 lineHeight26  text181b30 fontsemiBold">Annual Fees: INR 500 from 2nd year
                            onwards.</span>
                        <div class="creditCardsOffers_cardDesc__glhpD">
                            <ul>
                                <li class="font13 lineHeight18 text666"><img alt="icon" loading="lazy" width="24"
                                        height="25" decoding="async" data-nimg="1" src="/assets/images/cashwithd.svg"
                                        style="color: transparent;"> Shopping made rewarding with a long list of
                                    cashback offers on purchases from Flipkart and an array of preferred merchants.</li>
                                <li class="font13 lineHeight18 text666"><img alt="icon" loading="lazy" width="25"
                                        height="25" decoding="async" data-nimg="1" src="/assets/images/justWelcome.svg"
                                        style="color: transparent;"> Enjoy the generous welcome package of INR 1100, INR
                                    500 worth of Flipkart vouchers, and 15% cash back on the first transaction.</li>
                                <li class="font13 lineHeight18 text666"><img alt="icon" loading="lazy" width="25"
                                        height="25" decoding="async" data-nimg="1"
                                        src="/assets/images/cashabckonemi.svg" style="color: transparent;"> Make your
                                    travel and dining fun and lavish. Enjoy 4 complimentary lounge access per year and
                                    avail of attractive discounts on various restaurants.</li>
                            </ul>
                        </div>
                        <div class="creditCardsOffers_cardBtnBox__3uIpH"><a
                                class="btn font14 btn-default textCenterSm creditCardsOffers_noWrap__I2tv6"
                                href="/credit-card/axis-bank">Know more <em class="icon-arrow-right font14"></em></a><a
                                class="btn btn-primary font14  textCenterSm creditCardsOffers_noWrap__I2tv6"
                                href="https://clctab.axisbank.co.in/DigitalChannel/WebForm/?ipa183">Apply Now <em
                                    class="icon-arrow-right font14"></em></a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="CreditScore_addSection__oQn5B">
        <div class="container">
            <div class="CreditScore_latestCreditBlue__gbIXd">
                <div class="CreditScore_creditHead__y5A5p"><em class="CreditScore_miloMeter__Z5Bfy"></em>
                    <p class="font22 textWhite fontMedium lineHeight24 ">Get your latest Credit Score, <span
                            class="textf7b500">FREE</span></p>
                </div><button class="btn btn-blue fontBold CreditScore_apply__GSpaV">Check Now <em
                        class="icon-arrow-right font14"></em></button>
            </div>
        </div>
    </section>
    <section class="faq">
        <div class="container">
            <h2 class="faqHeading textCenter font24">Frequently Asked Questions</h2>
            <p class="font14 lineHeight24 textCenter text444 mb45 faqP">From refinancing to reducing your interest, we
                have the answers right here.</p>
            <div class="faqBx">
                <div class="FAQ_question__LkjKP ">
                    <div class="FAQ_faqQuestn__v3L3G">
                        <h3 class="txt font14 fontMedium">What do you mean by credit card balance?</h3><span
                            class="FAQ_pluseIcon__sWIas "></span>
                    </div>
                    <div class="FAQ_content__7VPH9">
                        <p>A credit card balance refers to the money a person owes on their credit card account. It is
                            the total amount of purchases, cash advances, and other charges that have been made on the
                            card minus any payments or credits that have been applied to the account.</p>
                    </div>
                </div>
                <div class="FAQ_question__LkjKP ">
                    <div class="FAQ_faqQuestn__v3L3G">
                        <h3 class="txt font14 fontMedium">What is a credit card statement?</h3><span
                            class="FAQ_pluseIcon__sWIas "></span>
                    </div>
                    <div class="FAQ_content__7VPH9">
                        <p>A credit card statement is a document provided by a credit card issuer that lists all
                            transactions made on the credit card for a specific billing period.</p>
                    </div>
                </div>
                <div class="FAQ_question__LkjKP ">
                    <div class="FAQ_faqQuestn__v3L3G">
                        <h3 class="txt font14 fontMedium">How does a credit card works?</h3><span
                            class="FAQ_pluseIcon__sWIas "></span>
                    </div>
                    <div class="FAQ_content__7VPH9">
                        <p>A credit card allows the cardholder to borrow money from the issuing bank or financial
                            institution up to a specific credit limit. When the cardholder purchases or withdraws cash,
                            they borrow money from the bank and will be required to pay it back, along with any interest
                            or fees, at a later date.</p>
                    </div>
                </div>
                <div class="FAQ_question__LkjKP ">
                    <div class="FAQ_faqQuestn__v3L3G">
                        <h3 class="txt font14 fontMedium">Does my credit card number change when I renew it?</h3><span
                            class="FAQ_pluseIcon__sWIas "></span>
                    </div>
                    <div class="FAQ_content__7VPH9">
                        <p>It depends on the issuing bank and the type of renewal. In some cases, the credit card number
                            may remain the same, while it may be changed in others. It is best to check with your
                            issuing bank to confirm if your credit card number will change upon renewal.</p>
                    </div>
                </div>
                <div class="FAQ_question__LkjKP ">
                    <div class="FAQ_faqQuestn__v3L3G">
                        <h3 class="txt font14 fontMedium">What do you mean by credit card limit?</h3><span
                            class="FAQ_pluseIcon__sWIas "></span>
                    </div>
                    <div class="FAQ_content__7VPH9">
                        <p>A credit card limit is the maximum amount of credit that a financial institution or lender is
                            willing to extend to a borrower. The lender determines this limit based on factors such as
                            the borrower's credit score, income, and credit history. </p>
                    </div>
                </div>
                <div class="FAQ_question__LkjKP ">
                    <div class="FAQ_faqQuestn__v3L3G">
                        <h3 class="txt font14 fontMedium">Can I get a credit card without a job?</h3><span
                            class="FAQ_pluseIcon__sWIas "></span>
                    </div>
                    <div class="FAQ_content__7VPH9">
                        <p>Getting a credit card without a job may be possible, but it will likely be more difficult.
                            Lenders typically require proof of income to approve a credit card application, so if you
                            don't have a job, you may need to provide alternative forms of income, such as government
                            benefits, rental income, or income from investments.</p>
                    </div>
                </div>
                <div class="FAQ_question__LkjKP ">
                    <div class="FAQ_faqQuestn__v3L3G">
                        <h3 class="txt font14 fontMedium">How many credit cards should I have?</h3><span
                            class="FAQ_pluseIcon__sWIas "></span>
                    </div>
                    <div class="FAQ_content__7VPH9">
                        <p>It depends on your financial situation and goals. Some people may only need one credit card
                            for everyday expenses and emergencies, while others may benefit from having multiple cards
                            for different purposes. </p>
                    </div>
                </div>
                <div class="FAQ_question__LkjKP ">
                    <div class="FAQ_faqQuestn__v3L3G">
                        <h3 class="txt font14 fontMedium">How long are Credit Cards usually valid?</h3><span
                            class="FAQ_pluseIcon__sWIas "></span>
                    </div>
                    <div class="FAQ_content__7VPH9">
                        <p>Credit cards are usually valid for 3-5 years. The expiration date is typically printed on the
                            front of the card, and the cardholder must request a new card before the expiration date.
                            Some issuers may automatically send a new card before the expiration date.</p>
                    </div>
                </div>
                <div class="FAQ_question__LkjKP ">
                    <div class="FAQ_faqQuestn__v3L3G">
                        <h3 class="txt font14 fontMedium">Can I get a credit card without having a credit score?</h3>
                        <span class="FAQ_pluseIcon__sWIas "></span>
                    </div>
                    <div class="FAQ_content__7VPH9">
                        <p>It may be easier to get a credit card with a credit score in India. Most financial
                            institutions require a credit score to approve a credit card application. However, some
                            options are available for individuals without a credit score, such as secured credit cards,
                            credit cards for first-time applicants, etc.</p>
                    </div>
                </div>
                <div class="FAQ_question__LkjKP ">
                    <div class="FAQ_faqQuestn__v3L3G">
                        <h3 class="txt font14 fontMedium">Can I set a transaction limit on my credit card?</h3><span
                            class="FAQ_pluseIcon__sWIas "></span>
                    </div>
                    <div class="FAQ_content__7VPH9">
                        <p>You can set a transaction limit on your credit card. This is often referred to as a spending
                            limit or credit limit. You can contact your credit card issuer and request to have a
                            spending limit set on your account. </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="InternalBlog_blogs__XWFqb">
        <div class="container">
            <h2 class="font24 textBlack fontsemiBold mb10">Credit Card Guide</h2>
            <p class="font14 lineHeight22 mb30 text2828">Get in-depth knowledge about all things related to loans and
                your finances</p>
            <div class="InternalBlog_tiles__DsGB4">
                <div class="InternalBlog_indTile__myHvD">
                    <figure><img alt="PNB Credit Card Customer Care Number" loading="lazy" width="152" height="150"
                            decoding="async" data-nimg="1" class="imgResponsive"
                            srcset="/_next/image?url=https%3A%2F%2Fwww.urbanmoney.com%2Fblog%2Fwp-content%2Fuploads%2F2023%2F09%2FCredit-Card-Helpline-Numbers-compressed.jpg&amp;w=256&amp;q=75 1x, /_next/image?url=https%3A%2F%2Fwww.urbanmoney.com%2Fblog%2Fwp-content%2Fuploads%2F2023%2F09%2FCredit-Card-Helpline-Numbers-compressed.jpg&amp;w=384&amp;q=75 2x"
                            src="/_next/image?url=https%3A%2F%2Fwww.urbanmoney.com%2Fblog%2Fwp-content%2Fuploads%2F2023%2F09%2FCredit-Card-Helpline-Numbers-compressed.jpg&amp;w=384&amp;q=75"
                            style="color: transparent;"></figure>
                    <div class="InternalBlog_blogItem__iU0p_">
                        <div class="InternalBlog_blogInfo__JvPtv"><span class="InternalBlog_name__LehqT">Mansi
                                Saini</span><span class="InternalBlog_date__CiVJk">Sep 18, 2023</span></div><a
                            target="_blank"
                            href="https://www.urbanmoney.com/blog/pnb-credit-card-customer-care-number-csart">
                            <h3 class="InternalBlog_mainTitle__m6PVU">PNB Credit Card Customer Care Number</h3>
                        </a>
                        <p class="font14 text777 clearBoth">The PNB customer care number allows 24x7 access to Punjab
                            National Bank’s credit card support services. The Punjab national customer care numbers
                            allow cardholders to make their enquiries at no call c</p><label
                            class="font12 textLink">Read More <em class="icon-angle-right arrowSm"></em></label>
                    </div>
                </div>
                <div class="InternalBlog_indTile__myHvD">
                    <figure><img alt="What is a Credit Card Grace Period?" loading="lazy" width="152" height="150"
                            decoding="async" data-nimg="1" class="imgResponsive"
                            srcset="/_next/image?url=https%3A%2F%2Fwww.urbanmoney.com%2Fblog%2Fwp-content%2Fuploads%2F2023%2F09%2FCredit-Card-Grace-Period-compressed.jpg&amp;w=256&amp;q=75 1x, /_next/image?url=https%3A%2F%2Fwww.urbanmoney.com%2Fblog%2Fwp-content%2Fuploads%2F2023%2F09%2FCredit-Card-Grace-Period-compressed.jpg&amp;w=384&amp;q=75 2x"
                            src="/_next/image?url=https%3A%2F%2Fwww.urbanmoney.com%2Fblog%2Fwp-content%2Fuploads%2F2023%2F09%2FCredit-Card-Grace-Period-compressed.jpg&amp;w=384&amp;q=75"
                            style="color: transparent;"></figure>
                    <div class="InternalBlog_blogItem__iU0p_">
                        <div class="InternalBlog_blogInfo__JvPtv"><span class="InternalBlog_name__LehqT">Rishabh
                                Baisoy</span><span class="InternalBlog_date__CiVJk">Sep 13, 2023</span></div><a
                            target="_blank"
                            href="https://www.urbanmoney.com/blog/what-is-a-credit-card-grace-period-csart">
                            <h3 class="InternalBlog_mainTitle__m6PVU">What is a Credit Card Grace Period?</h3>
                        </a>
                        <p class="font14 text777 clearBoth">A grace period is a period that falls between the billing
                            date and the due payment date. You’ll be charged a minimum amount on purchases during this
                            period, or there will be no charges at all. It’s no</p><label class="font12 textLink">Read
                            More <em class="icon-angle-right arrowSm"></em></label>
                    </div>
                </div>
                <div class="InternalBlog_indTile__myHvD">
                    <figure><img alt="What is a Credit Card Cash Advance?" loading="lazy" width="152" height="150"
                            decoding="async" data-nimg="1" class="imgResponsive"
                            srcset="/_next/image?url=https%3A%2F%2Fwww.urbanmoney.com%2Fblog%2Fwp-content%2Fuploads%2F2023%2F09%2FHow-Good-is-Credit-Card-Cash-Advance-compressed.jpg&amp;w=256&amp;q=75 1x, /_next/image?url=https%3A%2F%2Fwww.urbanmoney.com%2Fblog%2Fwp-content%2Fuploads%2F2023%2F09%2FHow-Good-is-Credit-Card-Cash-Advance-compressed.jpg&amp;w=384&amp;q=75 2x"
                            src="/_next/image?url=https%3A%2F%2Fwww.urbanmoney.com%2Fblog%2Fwp-content%2Fuploads%2F2023%2F09%2FHow-Good-is-Credit-Card-Cash-Advance-compressed.jpg&amp;w=384&amp;q=75"
                            style="color: transparent;"></figure>
                    <div class="InternalBlog_blogItem__iU0p_">
                        <div class="InternalBlog_blogInfo__JvPtv"><span class="InternalBlog_name__LehqT">Rishabh
                                Baisoy</span><span class="InternalBlog_date__CiVJk">Sep 07, 2023</span></div><a
                            target="_blank" href="https://www.urbanmoney.com/blog/credit-card-cash-advances-csart">
                            <h3 class="InternalBlog_mainTitle__m6PVU">What is a Credit Card Cash Advance?</h3>
                        </a>
                        <p class="font14 text777 clearBoth">A credit card cash advance is the withdrawal of the cash
                            from your credit card account. In simple words, when a credit card user utilises the credit
                            card in an ATM to withdraw cash, that is called a C</p><label class="font12 textLink">Read
                            More <em class="icon-angle-right arrowSm"></em></label>
                    </div>
                </div>
            </div>
            <div class="InternalBlog_cntr__oMpqS"><button class="btn btn-primary font14 textCenterSm btn25">View all
                    Blogs<em class="icon-arrow-right arw font14 mrg"></em></button></div>
        </div>
    </section>
</main> -->