<!-- <main>
    <div class="FloatIcon_FloatIcon__JBW0S">
        <div class="FloatIcon_Icon__OAYI3"><img alt="Urban Money Float Icon" loading="lazy" width="28" height="25"
                decoding="async" data-nimg="1" src="./../../assets/images/FloatIcon.svg" style="color: transparent;">
        </div>
        <div class="FloatIcon_title__0ZXTP">
            <div class="FloatIcon_closeIcon__Gi9ll"></div>
            <p class="fontBold font12 mb10">Need Loan Assistance?</p><button
                class="btn FloatIcon_connectNow__pDqOd">Connect Now <i class="bi bi-arrow-right"></i> </button>
        </div>
    </div>
    <div class="FloatIcon_FloatIcon__JBW0S">
        <div class="FloatIcon_Icon__OAYI3"><img alt="Urban Money Float Icon" loading="lazy" width="28" height="25"
                decoding="async" data-nimg="1" src="/assets/images/FloatIcon.svg" style="color: transparent;"></div>
    </div>
    <section class="IDFCFirstBank_banner__8Xcn_">
        <div class="container">
            <div class="IDFCFirstBank_tpSection__Hj5st">
                <div class="IDFCFirstBank_txtSection__RFv1n"><a
                        href="https://www.idfcfirstbank.com/credit-card/ntb-diy/apply?utm_source=Partner&amp;utm_medium=NTB_Urban_Money&amp;utm_campaign=NTB_Urban_Money"
                        class="idfc_credit_card"><img class="imgResponsive IDFCFirstBank_bankLogo__NuD96 mb10"
                            src="./../../../assets/images/accer.svg" alt="IDFC First Bank"></a>
                    <div class="text181b30 fontThin font28 lineHeight40 IDFCFirstBank_head__caXTg">Top reasons why our
                        <h1 class="font52 fontsemiBold lineHeight57">Customers love this<br><span>Credit Card</span>
                        </h1>
                    </div>
                    <div class="IDFCFirstBank_offerTile__H3597">
                        <div class="IDFCFirstBank_indOffer__LBG57">
                            <figure><img class="imgResponsive" src="/assets/images/tax-free.svg" alt="IDFC First Bank">
                            </figure>
                            <div>
                                <p class="font16  lineHeight26 text181b30 fontsemiBold">Super Saver Interest Rates</p>
                                <p class="font14  lineHeight22 text818181 ">from 0.75% - 3.5% p.m.</p>
                            </div>
                        </div>
                        <div class="IDFCFirstBank_indOffer__LBG57">
                            <figure><img class="imgResponsive" src="/assets/images/premium-quality-2.svg"
                                    alt="IDFC First Bank"></figure>
                            <div>
                                <p class="font16  lineHeight26 text181b30 fontsemiBold">10x Rewards*</p>
                                <p class="font14  lineHeight22 text818181 ">On exceeding monthly spends threshold </p>
                            </div>
                        </div>
                    </div><a class="btn btn-primary font14 textCenterSm IDFCFirstBank_webbtn__Z2kec idfc_credit_card"
                        href="https://www.idfcfirstbank.com/credit-card/ntb-diy/apply?utm_source=Partner&amp;utm_medium=NTB_Urban_Money&amp;utm_campaign=NTB_Urban_Money">Apply
                        Now <i class="bi bi-arrow-right font14"></i></a>
                </div>
                <div class="IDFCFirstBank_imgSection__EggNz"><img class="imgResponsive"
                        src="/assets/images/bannercard.png" alt="IDFC First Bank"><a
                        class="btn btn-primary font14 btn25 textCenterSm idfc_credit_card IDFCFirstBank_mobilebtn__DkURu"
                        href="https://www.idfcfirstbank.com/credit-card/ntb-diy/apply?utm_source=Partner&amp;utm_medium=NTB_Urban_Money&amp;utm_campaign=NTB_Urban_Money">Apply
                        Now<i class="bi bi-arrow-right font14"></i></a></div>
            </div>
        </div>
    </section>
    <div class="container">
        <div class="BreadCrumb_breadCrumb__pNdJT">
            <ul>
                <li><a class="text777 font12" href="/">Home</a></li>
                <li class="text777 font12 "><a class="" href="https://www.urbanmoney.com/credit-card">Credit Card</a>
                </li>
                <li class="text777 font12 ">IDFC FIRST Bank</li>
            </ul>
        </div>
    </div>
    <section class="IDFCFirstBank_benefits__F32bF">
        <div class="container">
            <p class="font14 mb12 lineHeight20 text2828">BENEFITS &amp; PRIVILEGES</p>
            <h2 class="IDFCFirstBank_heading__EJvpU textBlack fontsemiBold mb60">More reasons to love our Credit Card
            </h2>
            <div class="IDFCFirstBank_offertiles__dbJ6_">
                <div class="IDFCFirstBank_Indtile__kK6UM">
                    <figure class="mb10"><img class="imgResponsive" src="/assets/images/cashwithd.svg"
                            alt="IDFC First Bank"></figure>
                    <p class="font16 lineHeight26 mb5 text181b30">Interest free cash withdrawal</p>
                    <p class="font14 text777">from ATM upto 48 days</p>
                </div>
                <div class="IDFCFirstBank_Indtile__kK6UM">
                    <figure class="mb10"><img class="imgResponsive" src="/assets/images/accer.svg"
                            alt="IDFC First Bank"></figure>
                    <p class="font16 lineHeight26 mb5 text181b30">3X rewards</p>
                    <p class="font14 text777">for offline purchases and rental spends</p>
                </div>
                <div class="IDFCFirstBank_Indtile__kK6UM">
                    <figure class="mb10"><img class="imgResponsive" src="/assets/images/accer.svg"
                            alt="IDFC First Bank"></figure>
                    <p class="font16 lineHeight26 mb5 text181b30">Accelerated rewards</p>
                    <p class="font14 text777">6x for online purchases</p>
                </div>
                <div class="IDFCFirstBank_Indtile__kK6UM">
                    <figure class="mb10"><img class="imgResponsive" src="/assets/images/norush.svg"
                            alt="IDFC First Bank"></figure>
                    <p class="font16 lineHeight26 mb5 text181b30">No rush to redeem</p>
                    <p class="font14 text777">Reward points that never expire</p>
                </div>
                <div class="IDFCFirstBank_Indtile__kK6UM">
                    <figure class="mb10"><img class="imgResponsive" src="/assets/images/movieoffer.svg"
                            alt="IDFC First Bank"></figure>
                    <p class="font16 lineHeight26 mb5 text181b30">Movie offer</p>
                    <p class="font14 text777">Discount offers between 25-50% on movie tickets every month</p>
                </div>
                <div class="IDFCFirstBank_Indtile__kK6UM">
                    <figure class="mb10"><img class="imgResponsive" src="/assets/images/dinigoffer.svg"
                            alt="IDFC First Bank"></figure>
                    <p class="font16 lineHeight26 mb5 text181b30">Dining offer</p>
                    <p class="font14 text777">Upto 20% across 1500 restaurants</p>
                </div>
                <div class="IDFCFirstBank_Indtile__kK6UM">
                    <figure class="mb10"><img class="imgResponsive" src="/assets/images/cardwelocme.svg"
                            alt="IDFC First Bank"></figure>
                    <p class="font16 lineHeight26 mb5 text181b30">Welcome Offer</p>
                    <p class="font14 text777">Gift Voucher worth ₹500 on spending ₹15,000 in first 3 months</p>
                </div>
                <div class="IDFCFirstBank_Indtile__kK6UM">
                    <figure class="mb10"><img class="imgResponsive" src="/assets/images/cashabckonemi.svg"
                            alt="IDFC First Bank"></figure>
                    <p class="font16 lineHeight26 mb5 text181b30">Cashback on EMI</p>
                    <p class="font14 text777">5% cashback (up to ₹1000) on the transaction value of first EMI done
                        within 90 days of card generation</p>
                </div>
                <div class="IDFCFirstBank_Indtile__kK6UM">
                    <figure class="mb10"><img class="imgResponsive" src="/assets/images/cardwelocme.svg"
                            alt="IDFC First Bank"></figure>
                    <p class="font16 lineHeight26 mb5 text181b30">Get yourself insured</p>
                    <p class="font14 text777">Personal Accident cover upto ₹10,00,000 (min. 1 transaction last month)
                    </p>
                </div>
                <div class="IDFCFirstBank_Indtile__kK6UM">
                    <figure class="mb10"><img class="imgResponsive" src="/assets/images/moreoffer.svg"
                            alt="IDFC First Bank"></figure>
                    <p class="font16 lineHeight26 mb5 text181b30">More offers</p>
                    <p class="font14 lineHeight21  text777">50+ in-app discounts; complimentary lounge and golf access
                        on premium card variants</p>
                </div>
            </div><a
                href="https://www.idfcfirstbank.com/credit-card/ntb-diy/apply?utm_source=Partner&amp;utm_medium=NTB_Urban_Money&amp;utm_campaign=NTB_Urban_Money"
                class="idfc_credit_card btn btn-primary font14 btn25 textCenterSm">Apply Now<i class="bi bi-arrow-right font14"></i></a>
            <div class="IDFCFirstBank_imgBox__hyCDU"><img class="imgResponsive" src="/assets/images/milneumsmall.png"
                    alt="IDFC First Bank"></div>
        </div>
    </section>
    <section class="CreditScore_addSection__oQn5B">
        <div class="container">
            <div class="CreditScore_latestCreditBlue__gbIXd">
                <div class="CreditScore_creditHead__y5A5p"><em class="CreditScore_miloMeter__Z5Bfy"></em>
                    <p class="font22 textWhite fontMedium lineHeight24 ">Get your latest Credit Score, <span
                            class="textf7b500">FREE</span></p>
                </div><button class="btn btn-blue fontBold CreditScore_apply__GSpaV">Check Now <i class="bi bi-arrow-right font14"></i></button>
            </div>
        </div>
    </section>
    <section class="IDFCFirstBank_faq__dOnhb">
        <div class="IDFCFirstBank_faqContainer__OcmZ4">
            <div class="IDFCFirstBank_heading__EJvpU font24 textCenter">Frequently Asked Questions</div>
            <p class="font14 lineHeight24 text444 mb45 textCenter">From refinancing to reducing your interest, we have
                the answers right here.</p>
            <div class="IDFCFirstBank_faqBx__DclFy">
                <div class="IDFCFirstBank_question__CGoqX null">
                    <div class="IDFCFirstBank_faqQuestn__lcNW6">
                        <div>Is there a Joining/Membership fee for IDFC FIRST Bank Credit Cards?</div><span
                            class="IDFCFirstBank_pluseIcon__jBmk6 "></span>
                    </div>
                    <div class="IDFCFirstBank_content__PuGe5">
                        <p class=" textWhite">There is NO Joining or Membership fee applicable on any of IDFC FIRST Bank
                            Credit Cards.</p>
                    </div>
                </div>
                <div class="IDFCFirstBank_question__CGoqX null">
                    <div class="IDFCFirstBank_faqQuestn__lcNW6">
                        <div>What are the current offers available on IDFC FIRST Bank credit cards?</div><span
                            class="IDFCFirstBank_pluseIcon__jBmk6 "></span>
                    </div>
                    <div class="IDFCFirstBank_content__PuGe5">
                        <p class=" textWhite mb35">IDFC FIRST Bank Bank Credit Cards are loaded with a host of benefits,
                            offers &amp; features.</p>
                        <p class=" textWhite mb35">Some of them are listed below and will be applicable as per card
                            variant available with you:</p>
                        <p class=" textWhite mb35">Lifestyle benefits - Discounts on shopping, dining &amp; movies,
                            complimentary round of golf every month, etc.</p>
                        <p class=" textWhite mb35">Travel benefits - Complimentary airport lounge access.</p>
                        <p class=" textWhite">Other benefits - various in-app online discounts, discounts on health and
                            wellness outlets, etc.</p>
                    </div>
                </div>
                <div class="IDFCFirstBank_question__CGoqX null">
                    <div class="IDFCFirstBank_faqQuestn__lcNW6">
                        <div>Is there an expiry date on the reward points accrued on my card?</div><span
                            class="IDFCFirstBank_pluseIcon__jBmk6 "></span>
                    </div>
                    <div class="IDFCFirstBank_content__PuGe5">
                        <p class="textWhite">There is NO expiry date to the reward points accrued on your IDFC FIRST
                            Bank Credit Card</p>
                    </div>
                </div>
                <div class="IDFCFirstBank_question__CGoqX null">
                    <div class="IDFCFirstBank_faqQuestn__lcNW6">
                        <div>How do I generate my credit card PIN?</div><span
                            class="IDFCFirstBank_pluseIcon__jBmk6 "></span>
                    </div>
                    <div class="IDFCFirstBank_content__PuGe5">
                        <p class="font14 text666 mb15 fontBold">Net Banking</p>
                        <p class="font14 text666  fontsemiBold">Pre-login</p>
                        <p class="text666 lineHeight20 mb15">Click on the “Generate Credit Card PIN” on the pre-login
                            page [https://my.idfcfirstbank.com/login] Enter “Customer ID” &amp; “Credit Card number” and
                            click on Get OTP Verify using the OTP sent on your registered mobile number Enter and
                            Re-enter PIN of your choice and click on confirm Your Credit Card PIN is set</p>
                        <p class="font14 text666 mb15 fontBold fontsemiBold">Login</p>
                        <p class="text666 lineHeight20 mb15">Login to your Net Banking account Select Credit Card
                            section Select Set new PIN Enter and Re-enter PIN of your choice and click on Get OTP Please
                            verify through the OTP sent to your registered mobile number Your Credit Card PIN is set
                            Mobile Banking App</p>
                        <p class="font14 text666 mb15 fontBold fontsemiBold">Pre-login</p>
                        <p class="text666 lineHeight20 mb15">Select browse icon from the right side top menu on login
                            page Enter “Customer ID” &amp; “Credit Card number” and click on Get OTP Please verify
                            through the OTP sent to your registered mobile number Enter and Re-enter PIN of your choice
                            and click on confirm Your Credit Card PIN is set</p>
                        <p class="font14 text666 mb15 fontBold fontsemiBold">Login:</p>
                        <p class="  text666 lineHeight20 mb15">Login to Mobile Banking App Access Credit Card section
                            Select Set new PIN Enter and Re-enter PIN of your choice and click on Get OTP Your Credit
                            Card PIN is set</p>
                        <p class="font14 text666 mb15 fontBold fontsemiBold">Customer Care:</p>
                        <p class="">Dial our Customer Care and follow the instructions to generate the PIN</p>
                        <p class="">There is NO expiry date to the reward points accrued on your IDFC FIRST Bank Credit
                            Card</p>
                    </div>
                </div>
                <div class="IDFCFirstBank_question__CGoqX null">
                    <div class="IDFCFirstBank_faqQuestn__lcNW6">
                        <div>Will I be asked for my Credit Card PIN at every POS terminal, be it domestic or
                            international?</div><span class="IDFCFirstBank_pluseIcon__jBmk6 "></span>
                    </div>
                    <div class="IDFCFirstBank_content__PuGe5">
                        <p class="">For all transactions in India, yes, you will be asked for a PIN for completing the
                            transactions. However, outside India, you will be asked for the PIN only if the POS terminal
                            is enabled for PIN authentication.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="InternalBlog_blogs__XWFqb">
        <div class="container">
            <h2 class="font24 textBlack fontsemiBold mb10">Credit Card Guide</h2>
            <p class="font14 lineHeight22 mb30 text2828">Get in-depth knowledge about all things related to loans and
                your finances</p>
            <div class="InternalBlog_tiles__DsGB4">
                <div class="InternalBlog_indTile__myHvD">
                    <figure><img alt="PNB Credit Card Customer Care Number" loading="lazy" width="152" height="150"
                            decoding="async" data-nimg="1" class="imgResponsive"
                            src="./../../../assets/images/Credit-Card-Helpline-Numbers-compressed.webp"
                            style="color: transparent;"></figure>
                    <div class="InternalBlog_blogItem__iU0p_">
                        <div class="InternalBlog_blogInfo__JvPtv"><span class="InternalBlog_name__LehqT">Mansi
                                Saini</span><span class="InternalBlog_date__CiVJk">Sep 18, 2023</span></div><a
                            target="_blank"
                            href="https://www.urbanmoney.com/blog/pnb-credit-card-customer-care-number-csart">
                            <h3 class="InternalBlog_mainTitle__m6PVU">PNB Credit Card Customer Care Number</h3>
                        </a>
                        <p class="font14 text777 clearBoth">The PNB customer care number allows 24x7 access to Punjab
                            National Bank’s credit card support services. The Punjab national customer care numbers
                            allow cardholders to make their enquiries at no call c</p><label
                            class="font12 textLink">Read More  <i  class="bi bi-chevron-right arrowSm"></i></label>
                    </div>
                </div>
                <div class="InternalBlog_indTile__myHvD">
                    <figure><img alt="What is a Credit Card Grace Period?" loading="lazy" width="152" height="150"
                            decoding="async" data-nimg="1" class="imgResponsive"
                            src="./../../../assets/images/Credit-Card-Grace-Period-compressed.webp"
                            style="color: transparent;"></figure>
                    <div class="InternalBlog_blogItem__iU0p_">
                        <div class="InternalBlog_blogInfo__JvPtv"><span class="InternalBlog_name__LehqT">Rishabh
                                Baisoy</span><span class="InternalBlog_date__CiVJk">Sep 13, 2023</span></div><a
                            target="_blank"
                            href="https://www.urbanmoney.com/blog/what-is-a-credit-card-grace-period-csart">
                            <h3 class="InternalBlog_mainTitle__m6PVU">What is a Credit Card Grace Period?</h3>
                        </a>
                        <p class="font14 text777 clearBoth">A grace period is a period that falls between the billing
                            date and the due payment date. You’ll be charged a minimum amount on purchases during this
                            period, or there will be no charges at all. It’s no</p><label class="font12 textLink">Read
                            More  <i  class="bi bi-chevron-right arrowSm"></i></label>
                    </div>
                </div>
                <div class="InternalBlog_indTile__myHvD">
                    <figure><img alt="What is a Credit Card Cash Advance?" loading="lazy" width="152" height="150"
                            decoding="async" data-nimg="1" class="imgResponsive"
                            src="./../../../assets/images/How-Good-is-Credit-Card-Cash-Advance-compressed.webp"
                            style="color: transparent;"></figure>
                    <div class="InternalBlog_blogItem__iU0p_">
                        <div class="InternalBlog_blogInfo__JvPtv"><span class="InternalBlog_name__LehqT">Rishabh
                                Baisoy</span><span class="InternalBlog_date__CiVJk">Sep 07, 2023</span></div><a
                            target="_blank" href="https://www.urbanmoney.com/blog/credit-card-cash-advances-csart">
                            <h3 class="InternalBlog_mainTitle__m6PVU">What is a Credit Card Cash Advance?</h3>
                        </a>
                        <p class="font14 text777 clearBoth">A credit card cash advance is the withdrawal of the cash
                            from your credit card account. In simple words, when a credit card user utilises the credit
                            card in an ATM to withdraw cash, that is called a C</p><label class="font12 textLink">Read
                            More  <i  class="bi bi-chevron-right arrowSm"></i></label>
                    </div>
                </div>
            </div>
            <div class="InternalBlog_cntr__oMpqS"><button class="btn btn-primary font14 textCenterSm btn25">View all
                    Blogs<i class="bi bi-arrow-right arw font14 mrg"></i></button></div>
        </div>
    </section>
</main> -->