<!-- <main>
    <div class="FloatIcon_FloatIcon__JBW0S">
        <div class="FloatIcon_Icon__OAYI3"><img alt="Urban Money Float Icon" loading="lazy" width="28" height="25"
                decoding="async" data-nimg="1" src="./../../assets/images/FloatIcon.svg" style="color: transparent;">
        </div>
        <div class="FloatIcon_title__0ZXTP">
            <div class="FloatIcon_closeIcon__Gi9ll"></div>
            <p class="fontBold font12 mb10">Need Loan Assistance?</p><button
                class="btn FloatIcon_connectNow__pDqOd">Connect Now <i class="bi bi-arrow-right"></i> </button>
        </div>
    </div>
    <div class="container">
        <div class="BreadCrumb_breadCrumb__pNdJT">
            <ul>
                <li><a class="text777 font12" href="/">Home</a></li>
                <li class="text777 font12 "><a class="" href="https://www.urbanmoney.com/investment-plans">Investment
                        Plans</a></li>
                <li class="text777 font12 ">Epf</li>
            </ul>
        </div>
    </div>
    <div class="containerMaxiwith containerFlex">
        <section class="CmsContent_eligible__8MIhE">
            <div class="container">
                <h1 class="font24 mb30 text2828 bottomborderf5a623 Innerheading fontsemiBold lineHeight36">Employee
                    Provident Fund - EPF</h1>
                <div class="CmsContent_genericBanner___VBOA"></div>
                <div class="mt35">
                    <p><span>The Employee Provident Fund, also known as the EPF, is a retirement savings scheme
                            available for all salaried employees in the country. This scheme is backed by the government
                            on a fixed rate of interest. The fund is managed and regulated by the Employees Provident
                            Fund Organisation (EPFO), a statutory body functioning under the governance of the Ministry
                            of Labour and Employment. Further, the EPFO also regulates the contribution to the EPF for
                            both the employer and employee.</span></p>

                    <h2><span>Benefits of Employee Provident Fund Scheme</span></h2>
                    <p><span>Given below are some of the benefits of investing in the employee provident fund
                            scheme:</span></p>

                    <ul>
                        <li><b>Capital Appreciation:</b><span> The online PF scheme offers a predetermined interest rate
                                on deposits held within the scheme. Further, EPF offers extended rewards at maturity
                                that ensure the funds' growth for greater capital appreciation.</span></li>
                        <li><b>Retirement Corpus:</b><span> Nearly 8.5% of the employee's salary is directed towards
                                investing in the EPF scheme. The regular deposits of funds in the EPF portfolio ensure a
                                healthy corpus for retirement. Such a retirement corpus would inculcate a sense of
                                financial security and independence post-retirement.</span></li>
                        <li><b>Contingency for Emergencies:</b><span> The only constant in life is uncertainty.
                                Therefore the best an individual can do is prepare themselves financially for such
                                situations. An EPF scheme can act as a contingency for any emergency.</span></li>
                        <li><b>Tax Benefit:</b><span> According to Section 80C of the Income Tax Act, the contributions
                                that you make towards your EPF account are eligible for tax deductions. Further, even
                                the revenue generated from EPF schemes is exempt from income tax. Such tax exemptions
                                can be claimed up to a limit of Rs. 1.5 lakhs.</span></li>
                        <li><b>Premature Withdrawal:</b><span> Subscribers to the EPF scheme are eligible to avail of
                                benefits of premature withdrawal. The subscriber can withdraw their funds from the EPF
                                scheme to meet specific financial requirements like higher education, constructing a
                                house, wedding expenses or medical emergency.</span></li>
                    </ul>
                    <h2><span>EPF Eligibility Criteria</span></h2>
                    <p><span>Given below are the eligibility criteria for an employee to subscribe to the employee
                            provident fund scheme:</span></p>

                    <ul>
                        <li><span>If you are drawing a salary less than Rs. 15,000 in a month, it is mandatory for you
                                to be enrolled in the EPF scheme.</span></li>
                        <li><span>You can enrol with the scheme even if your salary is higher than Rs. 15,000, but you
                                will require approval from your employer and Assistant PF Commissioner.</span></li>
                        <li><span>Organisations with more than 20 employees are obligated by law to enrol on the EPFO
                                and become EPF contributors.</span></li>
                        <li><span>Even organisations with fewer than 20 employees can voluntarily enrol in the scheme to
                                become contributors.</span></li>
                    </ul>
                    <h2><span>EPF Interest Rates</span></h2>
                    <p><span>Given below are the EPF interest rates for an investment for the last 65 years:</span></p>

                    <table>
                        <tbody>
                            <tr>
                                <td><b>Time Period</b></td>
                                <td><b>EPF Interest Rates</b></td>
                            </tr>
                            <tr>
                                <td><span>2021 – 2022</span></td>
                                <td><span>8.10%</span></td>
                            </tr>
                            <tr>
                                <td><span>2020 – 2021</span></td>
                                <td><span>8.50%</span></td>
                            </tr>
                            <tr>
                                <td><span>2019 – 2020</span></td>
                                <td><span>8.50%</span></td>
                            </tr>
                            <tr>
                                <td><span>2018 – 2019</span></td>
                                <td><span>8.65%</span></td>
                            </tr>
                            <tr>
                                <td><span>2017 – 2018</span></td>
                                <td><span>8.55%</span></td>
                            </tr>
                            <tr>
                                <td><span>2016 – 2017</span></td>
                                <td><span>8.65%</span></td>
                            </tr>
                            <tr>
                                <td><span>2015 – 2016</span></td>
                                <td><span>8.80%</span></td>
                            </tr>
                            <tr>
                                <td><span>2013 – 2015</span></td>
                                <td><span>8.75%</span></td>
                            </tr>
                            <tr>
                                <td><span>2012 – 2013</span></td>
                                <td><span>8.50%</span></td>
                            </tr>
                            <tr>
                                <td><span>2011 – 2012</span></td>
                                <td><span>8.25%</span></td>
                            </tr>
                            <tr>
                                <td><span>2010 – 2011</span></td>
                                <td><span>9.50%</span></td>
                            </tr>
                            <tr>
                                <td><span>2005 – 2010</span></td>
                                <td><span>8.50%</span></td>
                            </tr>
                            <tr>
                                <td><span>2004 – 2005</span></td>
                                <td><span>9.50% (9% Interest + 0.5% Golden Jubilee bonus interest)</span></td>
                            </tr>
                            <tr>
                                <td><span>2001 – 2004</span></td>
                                <td><span>9.50%</span></td>
                            </tr>
                            <tr>
                                <td><span>2000 – 2001</span></td>
                                <td><span>12% (April-June, 2001) and 11% (July 2001 onwards) on the monthly running
                                        balance</span></td>
                            </tr>
                            <tr>
                                <td><span>1989 – 2000</span></td>
                                <td><span>12.00%</span></td>
                            </tr>
                            <tr>
                                <td><span>1988 – 1989</span></td>
                                <td><span>11.80%</span></td>
                            </tr>
                            <tr>
                                <td><span>1987 – 1988</span></td>
                                <td><span>11.50%</span></td>
                            </tr>
                            <tr>
                                <td><span>1986 – 1987</span></td>
                                <td><span>11.00%</span></td>
                            </tr>
                            <tr>
                                <td><span>1985 – 1986</span></td>
                                <td><span>10.15%</span></td>
                            </tr>
                            <tr>
                                <td><span>1984 – 1985</span></td>
                                <td><span>9.90%</span></td>
                            </tr>
                            <tr>
                                <td><span>1983 – 1984</span></td>
                                <td><span>9.15%</span></td>
                            </tr>
                            <tr>
                                <td><span>1982 – 1983</span></td>
                                <td><span>8.75%</span></td>
                            </tr>
                            <tr>
                                <td><span>1981 – 1982</span></td>
                                <td><span>8.50%</span></td>
                            </tr>
                            <tr>
                                <td><span>1979 – 1981</span></td>
                                <td><span>8.25%</span></td>
                            </tr>
                            <tr>
                                <td><span>1978 – 1979</span></td>
                                <td><span>8.25% + 0.5% bonus (for members who did not withdraw any amount from their PF
                                        during 1976-1977 &amp; 1977-1978)</span></td>
                            </tr>
                            <tr>
                                <td><span>1977 – 1978</span></td>
                                <td><span>8.00%</span></td>
                            </tr>
                            <tr>
                                <td><span>1976 – 1977</span></td>
                                <td><span>7.50%</span></td>
                            </tr>
                            <tr>
                                <td><span>1975 – 1976</span></td>
                                <td><span>7.00%</span></td>
                            </tr>
                            <tr>
                                <td><span>1974 – 1975</span></td>
                                <td><span>6.50%</span></td>
                            </tr>
                            <tr>
                                <td><span>1972 – 1974</span></td>
                                <td><span>6.00%</span></td>
                            </tr>
                            <tr>
                                <td><span>1971 – 1972</span></td>
                                <td><span>5.80%</span></td>
                            </tr>
                            <tr>
                                <td><span>1970 – 1971</span></td>
                                <td><span>5.70%</span></td>
                            </tr>
                            <tr>
                                <td><span>1969 – 1970</span></td>
                                <td><span>5.50%</span></td>
                            </tr>
                            <tr>
                                <td><span>1968 – 1969</span></td>
                                <td><span>5.25%</span></td>
                            </tr>
                            <tr>
                                <td><span>1967 – 1968</span></td>
                                <td><span>5.00%</span></td>
                            </tr>
                            <tr>
                                <td><span>1966 – 1967</span></td>
                                <td><span>4.75%</span></td>
                            </tr>
                            <tr>
                                <td><span>1965 – 1966</span></td>
                                <td><span>4.50%</span></td>
                            </tr>
                            <tr>
                                <td><span>1963 – 1964</span></td>
                                <td><span>4.25%</span></td>
                            </tr>
                            <tr>
                                <td><span>1957 – 1963</span></td>
                                <td><span>4.00%</span></td>
                            </tr>
                            <tr>
                                <td><span>1955 – 1957</span></td>
                                <td><span>3.50%</span></td>
                            </tr>
                            <tr>
                                <td><span>1952 – 1955</span></td>
                                <td><span>3.00%</span></td>
                            </tr>
                        </tbody>
                    </table>
                    <h2><span>Types of EPF Forms Available</span></h2>
                    <p><span>Given below are the different types of EPF form available for use:&nbsp;</span></p>

                    <table>
                        <tbody>
                            <tr>
                                <td><strong>Name of the EPF Form</strong></td>
                                <td><strong>Application</strong></td>
                            </tr>
                            <tr>
                                <td><span>Form 31</span></td>
                                <td><span>EPF Withdrawal</span></td>
                            </tr>
                            <tr>
                                <td><span>Form 14</span></td>
                                <td><span>Buying LIC Policy</span></td>
                            </tr>
                            <tr>
                                <td><span>Form 10D</span></td>
                                <td><span>To claim monthly pension</span></td>
                            </tr>
                            <tr>
                                <td><span>Form 10C</span></td>
                                <td><span>To claim withdrawal benefits/scheme certificate of EPS</span></td>
                            </tr>
                            <tr>
                                <td><span>Form 13</span></td>
                                <td><span>Used for EPF Account Transfer</span></td>
                            </tr>
                            <tr>
                                <td><span>Form 19</span></td>
                                <td><span>To get Final PF Settlement of employees</span></td>
                            </tr>
                            <tr>
                                <td><span>Form 20</span></td>
                                <td><span>Final EPF settlements in case of an employee’s demise</span></td>
                            </tr>
                            <tr>
                                <td><span>Form 2</span></td>
                                <td><span>It is a EPF and EPS declaration and nomination form&nbsp;</span></td>
                            </tr>
                            <tr>
                                <td><span>Form 5(IF)</span></td>
                                <td><span>To claim in accordance with the EDLI scheme</span></td>
                            </tr>
                            <tr>
                                <td><span>Form 15G</span></td>
                                <td><span>For saving TDS on an EPF’s interest income&nbsp;</span></td>
                            </tr>
                            <tr>
                                <td><span>Form 5</span></td>
                                <td><span>Exclusively for new employee registration in EPF and EPS</span></td>
                            </tr>
                            <tr>
                                <td><span>Form 11</span></td>
                                <td><span>To enable auto transfer of EPF funds</span></td>
                            </tr>
                        </tbody>
                    </table>
                    <h2><span>Overview of EPF Contribution</span></h2>
                    <p><span>The EPF contribution aspect from the employer's salary initially proved to be quite the
                            issue for people falling into lower salary slabs, as their take-home salary is not enough to
                            meet their monthly salary.</span></p>
                    <p><span>The Annual Budget Speech of 2015 provided some relief to the citizens, bringing down the
                            monthly contribution to 12%, while the employer also has to make the same contribution on a
                            monthly basis.</span><span>&nbsp;</span></p>
                    <p><span>Apart from the EPF, the employer is also required to make a contribution of 8.33% for the
                            pension contribution of every employee.</span></p>

                    <h3><span>Employee's Contribution</span></h3>
                    <p><span>Given below are the various aspects related to the employee's contribution to the EPF
                            account:</span></p>

                    <ul>
                        <li><span>Contributions to the EPF account are mandatory if the maximum salary ceiling is Rs.
                                15,000 per month.</span></li>
                        <li><span>If the employee is contributing a higher amount to EPF, the employer is not obligated
                                to do the same.</span></li>
                        <li><span>If the employee wishes to contribute a higher amount, they will require joint
                                permission from the employer. Administrative charges are applicable for any higher
                                contribution made from the employer's end.</span></li>
                        <li><span>The maximum salary cap of Rs. 15,000 is not applicable for Non-Resident
                                employees.</span></li>
                    </ul>
                    <h3><span>Employer's Contribution</span></h3>
                    <p><span>Given below are the organisations that have to contribute 10% of the salary towards the EPF
                            account:</span></p>

                    <ul>
                        <li><span>An organisation that has been covered prior to 22 September 1997, where there are less
                                than 20 employees.</span></li>
                        <li><span>A company in accordance with the definition Clause (0) of Sub-Section (1) of Section 3
                                of the Sick Industrial Companies Act of 1985. They are required to be declared the same
                                by the Board for Industrial and Financial Reconstruction.</span></li>
                        <li><span>An organisation whose losses at the end of the financial year are equal to or
                                exceeding the total net worth of the company.</span></li>
                        <li><span>Any organisation which is involved in the production of bricks, jute, beedi, coir,
                                etc.</span></li>
                    </ul>
                    <h2><span>Employee Provident Fund Calculation with Example</span></h2>
                    <p><span>The EPF amount is calculated on the basis of the employee and employer's contribution
                            amount. The contribution made by the employee is equivalent to 12% of their basic pay along
                            with dearness allowance, where the basic pay is less than or equal to Rs. 15,000. The
                            employer pays 3.67% of the Basic Pay as an EPF
                            contribution.</span><i><span>&nbsp;</span></i></p>
                    <p><i><span><strong>Note:</strong> The employer's contribution of 12% is also divided into two
                                parts. 8.33% goes towards the employees' pension fund, and the remaining 3.67% goes to
                                the EPF account.</span></i></p>

                    <table>
                        <tbody>
                            <tr>
                                <td><strong>Serial Number</strong></td>
                                <td><strong>Employee’s Contribution</strong></td>
                                <td><strong>Employer’s Contribution</strong></td>
                            </tr>
                            <tr>
                                <td><span>1</span></td>
                                <td><span>12% of Basic Pay + Dearness Allowance</span>

                                    <span>&nbsp;</span>
                                </td>
                                <td><span>12% of Basic pay - 8.33% of Rs. 15000</span>

                                    <span>&nbsp;</span>

                                    <span>&nbsp;</span>
                                </td>
                            </tr>
                            <tr>
                                <td><span>2</span></td>
                                <td><span>12% of Basic Pay&nbsp; + Dearness Allowance</span>

                                    <span>&nbsp;</span>
                                </td>
                                <td><span>3.67% of Rs. 15000</span>

                                    <span>&nbsp;</span>

                                    <span>&nbsp;</span>
                                </td>
                            </tr>
                            <tr>
                                <td><span>3</span></td>
                                <td><span>12% of Rs. 15000</span>

                                    <span>&nbsp;</span>
                                </td>
                                <td><span>3.67% of Rs. 15000</span></td>
                            </tr>
                        </tbody>
                    </table>
                    <p><span>&nbsp;</span><span>Usually, the employer's 12% contribution is divided as described
                            below:</span></p>

                    <ul>
                        <li><span>3.67% goes to the EPF.</span></li>
                        <li><span>8.33% is deposited in the employees' pension scheme.</span></li>
                        <li><span>0.5% is deposited with the Employees Deposit Linked Insurance Scheme (EDLIS).</span>
                        </li>
                        <li><span>0.01% is spent on the administrative charges for EDLIS.</span></li>
                    </ul>
                    <p><span>If the employee's income is equal to or more than Rs. 15,000, the employee's contribution
                            will be 12% of Rs. 15,000 i.e Rs. 1,800.</span></p>

                    <h2><span>What is UAN?</span></h2>
                    <p><span>The Universal Account Number (UAN) is a unique 12-digit number assigned to every
                            contributor to the Employee Provident Fund. This number is generated and assigned to the EPF
                            subscriber by the Employee Provident Fund Organisation. The number remains the same
                            throughout the employee's professional career, regardless of the number of times the
                            employee has switched organisations.</span><span>&nbsp;</span></p>
                    <p><span>Given below are some of the reasons the UAN is important:</span></p>

                    <ul>
                        <li><span>The UAN is mandatory to check the credit and debit in the EPF account.</span></li>
                        <li><span>The UAN can be used to withdraw or transfer funds without depending on the
                                employer.</span></li>
                        <li><span>The employee can use the UAN number to access their EPF account effortlessly
                                online.</span></li>
                        <li><span>If the employee is registered on the EPFO portal, they can use the UAN to track their
                                monthly deposits.</span></li>
                    </ul>
                    <h2><span>What is EPF E-Nomination?</span></h2>
                    <p><span>EPF E-nomination can basically be described as the process of electing your nominee details
                            on the UAN portal without having to visit the EPFO office. Using this process, the employee
                            can add their family member as a nominee in the UAN EPFO portal. In case of the unfortunate
                            event of the subscriber's demise, the money in the EPF account can be claimed by the nominee
                            mentioned in the portal.</span></p>

                    <h2><span>Tax Benefits of EPF Investment</span></h2>
                    <p><span>Given below are some of the tax rules and benefits of the employee's EPF investment:</span>
                    </p>

                    <h3><span>Interest</span></h3>
                    <p><span>As long as the subscriber is employed, the interest earned on the EPF account is exempt
                            from income tax. However, once the subscriber reaches retirement age, the interest earned is
                            completely taxable and has to be mentioned under 'income from other sources while filing
                            income tax returns for a particular financial year.</span></p>

                    <h3><span>Withdrawal</span></h3>
                    <p><span>Unless you withdraw your balance before a minimum service duration of 5 years, the entire
                            EPF balance is exempt from income tax. A partial withdrawal facility is available after five
                            years of active service for purposes stated by the EPFO. Due to the Covid-19 pandemic, the
                            Indian Government has allowed tax-free partial withdrawal of the EPF account up to a limit
                            of 3 months of basic pay + DA, or 75% of the account balance, whichever is lower.</span></p>

                    <h2><span>How to Lodge EPF Grievances?</span></h2>
                    <p><span>In case you have any doubts or complaints regarding your EPF account and related
                            transactions, you can lodge a complaint on the EPFiGMS portal by following the below-given
                            steps:</span><span>&nbsp;</span></p>
                    <p><b>Step 1:</b><span> Visit the official EPFiGMS page. On the top left corner of the homepage,
                            click on the 'Register Grievance' option.</span><span>&nbsp;</span></p>
                    <p><b>Step 2:</b><span> This will redirect you to another page where you will be asked to enter your
                            status. You have to choose between PF member, employer, EPS pensioner, or other. Any member
                            who does not have a UAN or establishment number has to select the 'others'
                            option.</span><span>&nbsp;</span></p>
                    <p><b>Step 3: </b><span>Select the appropriate option on the 'Do you have a claim-ID'. Click on
                            'no'. Then, enter your UAN and verify the captcha before clicking on the 'Get Details'
                            option.</span><span>&nbsp;</span></p>
                    <p><b>Step 4:</b><span> Some of your details like your name, mobile number and email ID will be
                            displayed on the screen. Click on the 'Get OTP' button to advance. This will trigger an OTP
                            being sent to your registered phone number. Enter and verify the
                            OTP.</span><span>&nbsp;</span></p>
                    <p><b>Step 5: </b><span>On the resulting page, you will need to enter more information like address,
                            gender, alternate contact number, etc.</span><span>&nbsp;</span></p>
                    <p><b>Step 6:</b><span> Select the applicable PF number under the 'Grievance Details'
                            section.</span><span>&nbsp;</span></p>
                    <p><b>Step 7: </b><span>On the resulting page, you will have to enter some details about the
                            grievance, grievance category and description. You can also upload documentary evidence to
                            support your grievance.</span><span>&nbsp;</span></p>
                    <p><b>Step 8: </b><span>The EPF grievance will then be registered. The complaint number will be sent
                            to your registered phone number and email address.</span></p>

                    <h2><span>EPF Helpline Number</span></h2>
                    <p><span>In case you have any queries regarding your EPF account, you can get in touch with the
                            authorities in the below-mentioned ways:</span></p>

                    <ul>
                        <li><b>Email:</b><span> rc.csd@epfindia.gov.in (If the grievance has been registered and you
                                haven't received a response for more than 15 days, or if you are not satisfied with the
                                resolution).</span></li>
                        <li><b>Toll-Free Number:</b> 1800 1188 005</li>
                    </ul>
                </div>
            </div>
        </section>
        <div class="RightSideBar_creditDescTile__EwfAF  " id="enquireNow">
            <h3 class="font16 font600 text181d mb15 mt30">Need Loan Assistance?</h3>
            <div class="LeadPopup_contentBox__k4AzT LeadPopup_sideBarForm__yaxs1">
                <p class="font12 text666 fontsemiBold">Connect with Loan Advisor Now!</p>
                <div class="LeadPopup_form__ZbOgW">
                    <div class="form-item"><input type="text" name="fullName" class="formInput" autocomplete="off"
                            required="" maxlength="90" value=""><label for="fullName"
                            class="font12 fontMedium formLabel">Full Name</label><span class="errorText"></span></div>
                    <div class="form-item contBox"><span class="text303542 font12 contCode fontMedium">+91</span><input
                            type="text" name="mobile" class="formInput" autocomplete="off" required="" maxlength="10"
                            value=""><label for="mobileNo" class="font12 fontMedium formLabel">Mobile No.</label><span
                            class="errorText"></span><span class="errorText"></span></div>
                    <div class="form-item">
                        <div class=" css-b62m3t-container"><span id="react-select-5-live-region"
                                class="css-7pg0cj-a11yText"></span><span aria-live="polite" aria-atomic="false"
                                aria-relevant="additions text" class="css-7pg0cj-a11yText"></span>
                            <div class=" css-13cymwt-control">
                                <div class=" css-hlgwow">
                                    <div class=" css-1jqq78o-placeholder" id="react-select-5-placeholder">Choose City
                                    </div>
                                    <div class=" css-19bb58m" data-value=""><input class="" autocapitalize="none"
                                            autocomplete="off" autocorrect="off" id="react-select-5-input"
                                            spellcheck="false" tabindex="0" type="text" aria-autocomplete="list"
                                            aria-expanded="false" aria-haspopup="true" role="combobox"
                                            aria-describedby="react-select-5-placeholder" value=""
                                            style="color: inherit; background: 0px center; opacity: 1; width: 100%; grid-area: 1 / 2; font: inherit; min-width: 2px; border: 0px; margin: 0px; outline: 0px; padding: 0px;">
                                    </div>
                                </div>
                                <div class=" css-1wy0on6"><span class=" css-1u9des2-indicatorSeparator"></span>
                                    <div class=" css-1xc3v61-indicatorContainer" aria-hidden="true"><svg height="20"
                                            width="20" viewBox="0 0 20 20" aria-hidden="true" focusable="false"
                                            class="css-8mmkcg">
                                            <path
                                                d="M4.516 7.548c0.436-0.446 1.043-0.481 1.576 0l3.908 3.747 3.908-3.747c0.533-0.481 1.141-0.446 1.574 0 0.436 0.445 0.408 1.197 0 1.615-0.406 0.418-4.695 4.502-4.695 4.502-0.217 0.223-0.502 0.335-0.787 0.335s-0.57-0.112-0.789-0.335c0 0-4.287-4.084-4.695-4.502s-0.436-1.17 0-1.615z">
                                            </path>
                                        </svg></div>
                                </div>
                            </div>
                        </div><span class="errorText"></span>
                    </div>
                    <div class="form-item">
                        <div class="Select_rangecalc__KDYd8">
                            <div class="selectBox"><select name="productType" class="formInput undefined" required="">
                                    <option value="">Choose Loan Type</option>
                                    <option value="2">Personal Loan</option>
                                    <option value="1">Home Loan</option>
                                    <option value="3">Loan Against Property</option>
                                    <option value="4">Business Loan</option>
                                    <option value="8">Credit Card</option>
                                </select></div>
                        </div><span class="errorText"></span>
                    </div>
                    <div class="LeadPopup_rangecalc__wwLC4 mb0 "><button
                            class="btn btn-primary textCenterSm font16 ">Submit </button><span class="errorText"></span>
                    </div>
                </div>
            </div>
            <h3 class="font16 font600 text181d mb15 mt30">Loans</h3>
            <div class="RightSideBar_creditTile__tbrLG mb16">
                <ul class="RightSideBar_btmoverflow__wat2N">
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/loans/home-loan">Home Loan</a>
                    </li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/loans/personal-loan">Personal
                            Loan</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/loans/loan-against-property">Loan Against Property</a></li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/loans/business-loan">Business
                            Loan</a></li>
                </ul>
            </div>
            <div
                class="RightSideBar_creditTile__tbrLG RightSideBar_creditImg__B2mz1 mb16 RightSideBar_removePadding__YDnG5">
                <a href="https://www.urbanmoney.com/credit-score"><img alt="Credit Score" loading="lazy" width="250"
                        height="250" decoding="async" data-nimg="1" class="imgResponsive" sizes="100vw"
                        srcset="/_next/image?url=https%3A%2F%2Fcdn.urbanmoney.com%2Fimages%2Fcreditscore.png&amp;w=640&amp;q=75 640w, /_next/image?url=https%3A%2F%2Fcdn.urbanmoney.com%2Fimages%2Fcreditscore.png&amp;w=750&amp;q=75 750w, /_next/image?url=https%3A%2F%2Fcdn.urbanmoney.com%2Fimages%2Fcreditscore.png&amp;w=828&amp;q=75 828w, /_next/image?url=https%3A%2F%2Fcdn.urbanmoney.com%2Fimages%2Fcreditscore.png&amp;w=1080&amp;q=75 1080w, /_next/image?url=https%3A%2F%2Fcdn.urbanmoney.com%2Fimages%2Fcreditscore.png&amp;w=1200&amp;q=75 1200w, /_next/image?url=https%3A%2F%2Fcdn.urbanmoney.com%2Fimages%2Fcreditscore.png&amp;w=1920&amp;q=75 1920w, /_next/image?url=https%3A%2F%2Fcdn.urbanmoney.com%2Fimages%2Fcreditscore.png&amp;w=2048&amp;q=75 2048w, /_next/image?url=https%3A%2F%2Fcdn.urbanmoney.com%2Fimages%2Fcreditscore.png&amp;w=3840&amp;q=75 3840w"
                        src="/_next/image?url=https%3A%2F%2Fcdn.urbanmoney.com%2Fimages%2Fcreditscore.png&amp;w=3840&amp;q=75"
                        style="color: transparent; width: 100%; height: auto;"></a></div>
            <h3 class="font16 font600 text181d mb15 mt30">Investment</h3>
            <div class="RightSideBar_creditTile__tbrLG mb16">
                <ul class="RightSideBar_btmoverflow__wat2N">
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/investment-plans/epf">Employee
                            Provident Fund</a></li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/investment-plans/sip">Systematic
                            Investment Plan</a></li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/fixed-deposit-rate">Fixed
                            Deposit</a></li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/mutual-funds">Mutual Funds</a>
                    </li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/investment-plans/recurring-deposit">Recurring Deposit</a>
                    </li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/investment-plans/sip">Systematic
                            Investment Plan (SIP)</a></li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/investment-plans/epf">Employees
                            Provident Fund (EPF)</a></li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/investment-plans/ppf">Public
                            Provident Fund (PPF)</a></li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/investment-plans/vpf">Voluntary
                            Provident Fund (VPF)</a></li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/investment-plans/elss">ELSS</a>
                    </li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/investment-plans/nps">National
                            Pension Scheme (NPS)</a></li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/investment-plans/nsc">National
                            Savings Certificate (NSC)</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/investment-plans/senior-citizens-saving-scheme">Senior
                            Citizen Saving Scheme</a></li>
                </ul>
            </div>
            <h3 class="font16 font600 text181d mb15 mt30">Financial Calculators</h3>
            <div class="RightSideBar_creditTile__tbrLG mb16">
                <ul class="RightSideBar_btmoverflow__wat2N">
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/calculator/income-tax-calculator">Income Tax Calculator</a>
                    </li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/calculator/sip-calculator">SIP
                            Calculator</a></li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/calculator/fd-calculator">FD
                            Calculator</a></li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/calculator/hra-calculator">HRA
                            Calculator</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/calculator/lumpsum-calculator">Lumpsum Calculator</a></li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/calculator/ppf-calculator">PPF
                            Calculator</a></li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/calculator/rd-calculator">RD
                            Calculator</a></li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/calculator/gst-calculator">GST
                            Calculator</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/calculator/sukanya-samriddhi-yojana-calculator">Sukanya
                            Samridhi Yojana Calculator</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/calculator/mutual-fund-calculator">Mutual Fund
                            Calculator</a></li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/calculator/tds-calculator">TDS
                            Calculator</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/calculator/salary-calculator">Salary Calculator</a></li>
                </ul>
            </div>
            <h3 class="font16 font600 text181d mb15 mt30">Check Eligibility</h3>
            <div class="RightSideBar_creditTile__tbrLG mb16">
                <ul class="RightSideBar_btmoverflow__wat2N">
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/loans/home-loan/eligibility-calculator">Home Loan
                            Eligibility Calculator</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/loans/personal-loan/eligibility-calculator">Personal Loan
                            Eligibility Calculator</a></li>
                </ul>
            </div>
            <h3 class="font16 font600 text181d mb15 mt30">Top 10 AMC</h3>
            <div class="RightSideBar_creditTile__tbrLG mb16">
                <ul class="RightSideBar_btmoverflow__wat2N">
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/mutual-funds/sbi-mutual-fund">SBI Mutual Fund</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/mutual-funds/axis-mutual-fund">Axis Mutual Fund</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/mutual-funds/hdfc-mutual-fund">HDFC Mutual Fund</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/mutual-funds/uti-mutual-fund">UTI Mutual Fund</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/mutual-funds/icici-prudential-mutual-fund">ICICI Prudential
                            Mutual Fund</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/mutual-funds/tata-mutual-fund">Tata Mutual Fund</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/mutual-funds/kotak-mahindra-mutual-fund">Kotak Mahindra
                            Mutual Fund</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/mutual-funds/canara-robeco-mutual-fund">Canara Rodeco
                            Mutual Fund</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/mutual-funds/mirae-asset-mutual-fund">Mirae Asset Mutual
                            Fund</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/mutual-funds/bandhan-mutual-fund">Bandhan Mutual Fund</a>
                    </li>
                </ul>
            </div>
            <h3 class="font16 font600 text181d mb15 mt30">Top 10 Banks</h3>
            <div class="RightSideBar_creditTile__tbrLG mb16">
                <ul class="RightSideBar_btmoverflow__wat2N">
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/banks-in-india/citi-bank">CITI
                            Bank</a></li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/banks-in-india/rbl-bank">RBL
                            Bank</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/banks-in-india/bank-of-baroda">Bank of Baroda</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/banks-in-india/canara-bank">Canara Bank</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/banks-in-india/bajaj-finserv">Bajaj Finserv</a></li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/banks-in-india/yes-bank">Yes
                            Bank</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/banks-in-india/deutsche-bank">Deutsche Bank</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/banks-in-india/idfc-first-bank">IDFC FIRST Bank</a></li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/banks-in-india/dcb-bank">DCB
                            Bank</a></li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/banks-in-india/kotak-bank">Kotak
                            Bank</a></li>
                </ul>
            </div>
        </div>
    </div>
    <section class="faq">
        <div class="container">
            <h2 class="faqHeading font24">FAQs</h2>
            <div class="faqBx">
                <div class="FAQ_question__LkjKP ">
                    <div class="FAQ_faqQuestn__v3L3G">
                        <h3 class="txt font14 fontMedium">Is EPF better than PPF?</h3><span
                            class="FAQ_pluseIcon__sWIas "></span>
                    </div>
                    <div class="FAQ_content__7VPH9">
                        <p style="text-align: justify"><span style="font-weight: 400">Based on the above-mentioned
                                details, we can safely deduce that the EPF scheme is slightly more beneficial than the
                                PF scheme, as it is composed of investment of both the employee and employer. Further,
                                you can withdraw your investment whenever you want to meet any specific financial
                                requirements. But the same is not true for a PPF account.</span></p>
                    </div>
                </div>
                <div class="FAQ_question__LkjKP ">
                    <div class="FAQ_faqQuestn__v3L3G">
                        <h3 class="txt font14 fontMedium">What is the EPF interest rate?</h3><span
                            class="FAQ_pluseIcon__sWIas "></span>
                    </div>
                    <div class="FAQ_content__7VPH9">
                        <p style="text-align: justify"><span style="font-weight: 400">The EPF interest rate for a
                                particular financial year is announced in that year’s Annual Budget Speech. The EPF
                                interest rate currently stands at 8.10% per annum.</span></p>
                    </div>
                </div>
                <div class="FAQ_question__LkjKP ">
                    <div class="FAQ_faqQuestn__v3L3G">
                        <h3 class="txt font14 fontMedium">Can an employee make higher EPF contributions?</h3><span
                            class="FAQ_pluseIcon__sWIas "></span>
                    </div>
                    <div class="FAQ_content__7VPH9">
                        <p style="text-align: justify"><span style="font-weight: 400">Yes, you can increase the EPF
                                contribution amount via the YPF method. However, you will have to submit a request with
                                your employer for the same.</span></p>
                    </div>
                </div>
                <div class="FAQ_question__LkjKP ">
                    <div class="FAQ_faqQuestn__v3L3G">
                        <h3 class="txt font14 fontMedium">Can I open both EPF and PPF?</h3><span
                            class="FAQ_pluseIcon__sWIas "></span>
                    </div>
                    <div class="FAQ_content__7VPH9">
                        <p style="text-align: justify"><span style="font-weight: 400">Yes, you can open both EPF and PPF
                                accounts.</span></p>
                    </div>
                </div>
                <div class="FAQ_question__LkjKP ">
                    <div class="FAQ_faqQuestn__v3L3G">
                        <h3 class="txt font14 fontMedium">On what basis is the EPF contribution paid?</h3><span
                            class="FAQ_pluseIcon__sWIas "></span>
                    </div>
                    <div class="FAQ_content__7VPH9">
                        <p style="text-align: justify"><span style="font-weight: 400">The EPF contribution is paid at a
                                rate of 12% of the basic salary + dearness allowance, provided that the employee is
                                earning a minimum salary of Rs. 15,000 per month. </span></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main> -->