<!-- <main>
    <div class="FloatIcon_FloatIcon__JBW0S">
        <div class="FloatIcon_Icon__OAYI3"><img alt="Urban Money Float Icon" loading="lazy" width="28" height="25"
                decoding="async" data-nimg="1" src="./../../assets/images/FloatIcon.svg" style="color: transparent;">
        </div>
        <div class="FloatIcon_title__0ZXTP">
            <div class="FloatIcon_closeIcon__Gi9ll"></div>
            <p class="fontBold font12 mb10">Need Loan Assistance?</p><button
                class="btn FloatIcon_connectNow__pDqOd">Connect Now <i class="bi bi-arrow-right"></i> </button>
        </div>
    </div>
    <div class="container">
        <div class="BreadCrumb_breadCrumb__pNdJT">
            <ul>
                <li><a class="text777 font12" href="/">Home</a></li>
                <li class="text777 font12 "><a class="" href="https://www.urbanmoney.com/investment-plans">Investment
                        Plans</a></li>
                <li class="text777 font12 ">Senior Citizens Saving Scheme</li>
            </ul>
        </div>
    </div>
    <div class="containerMaxiwith containerFlex">
        <section class="CmsContent_eligible__8MIhE">
            <div class="container">
                <h1 class="font24 mb30 text2828 bottomborderf5a623 Innerheading fontsemiBold lineHeight36">Senior
                    Citizens Saving Scheme - SCSS</h1>
                <div class="CmsContent_genericBanner___VBOA"></div>
                <div class="mt35">
                    <h2><span>What is the SCSS Scheme?</span></h2>
                    <p><span>SCSS stands for Senior Citizen Saving Scheme. It is a government-backed post-retirement
                            scheme for the senior citizens of India. This programme can help a lot of senior citizens
                            save for their life after superannuation apart from their regular income. SCSS also offers
                            tax benefits. Investing in it helps make one's future secure.</span></p>

                    <h2><span>How Does SCSS Work?</span></h2>
                    <p><span>You can read the below-written steps and understand how SCSS works in favour of senior
                            residents in India.</span></p>

                    <ul>
                        <li><span>Any Indian resident above the age of 60 can open an SCSS account.</span></li>
                        <li><span>They can deposit a minimum of Rs. 1,000 to open an account or a maximum of Rs. 15 lakh
                                in a single investment.</span></li>
                        <li><span>The deposited amount is restricted to retirement benefits received and must be done
                                within a month from the date they start receiving retirement benefits from the
                                employer.</span></li>
                        <li><span>Retirement benefits mean any payment due during retirement or otherwise. It includes
                                the following:</span>
                            <ul>
                                <li><span>Provident fund dues</span></li>
                                <li><span>Retirement or superannuation gratuity</span></li>
                                <li><span>Commuted value of pension</span></li>
                                <li><span>Leave encashment</span></li>
                                <li><span>Savings element of Group Savings Linked with Insurance Scheme</span></li>
                                <li><span>Retirement-cum-withdrawal benefit, and</span></li>
                                <li><span>Ex-gratia payments under a voluntary retirement scheme.</span></li>
                            </ul>
                        </li>
                        <li><span>In case the deposit amount is in excess, it shall be refunded to the account holder
                                instantly.</span></li>
                        <li><span>The interests will be paid only once every quarter.</span></li>
                        <li><span>The account holder can receive the interest through an auto credit card into the
                                savings account at the same post office or via ECS.</span></li>
                        <li><span>The account can be closed anytime after the opening date.</span></li>
                        <li><span>The account can be extended for up to three years only.</span></li>
                    </ul>
                    <h2><span>How to Open an SCSS Account?</span></h2>
                    <p><span>You can open a Senior Citizen Saving Scheme either at a post office or in an authorized
                            bank.</span></p>

                    <h3><span>SCSS Account Opening at Post Office</span></h3>
                    <p><span>To open an SCSS account at an Indian post office, you have to fill out a=n account opening
                            form. You have to submit the form and other KYC documents (address proof, identity proof,
                            age proof, and two passport photos).&nbsp;</span></p>

                    <h3><span>SCSS Account Opening at an Authorised Bank Branch</span></h3>
                    <p><span>You can select any private or public bank and open an SCSS scheme. The interest will be
                            credited directly into the account holder's savings account held within the same bank
                            branch.</span></p>
                    <p><span>Account statements will be shared with the account holder via post or email. Customer
                            services will be available 24X7.</span></p>

                    <h2><span>Eligibility Criteria for Senior Citizens Saving Scheme</span></h2>
                    <p><span>The eligibility criteria for the Senior Citizens Saving Scheme are as follows:</span></p>

                    <ul>
                        <li><span>The citizens of India are eligible if they are above 60 years of age.</span></li>
                        <li><span>People within the age bracket of 55 - 60 and who have applied for Voluntary Retirement
                                Scheme or superannuation by 60.</span></li>
                        <li><span>Any retired defence person who is below the age of 50.</span></li>
                        <li><span>Non-resident Indians above the age of 60 are not eligible for the Senior Citizen
                                Saving Scheme.</span></li>
                    </ul>
                    <h2><span>Senior Citizen Saving Scheme Interest Rate In Different Financial Years</span></h2>
                    <p><span>The Senior Citizen Scheme interest rate for the first quarter of the fiscal year 2022-2023
                            is 7.4% p.a. It is one of the highest rates offered by a small saving scheme. Here are
                            several rates over the quarters of different financial years.</span></p>

                    <table>
                        <tbody>
                            <tr>
                                <td><strong>Quarterly Months</strong></td>
                                <td><strong>Quarterly Time Period</strong></td>
                                <td><strong>Interest Rate (p.a.)</strong></td>
                            </tr>
                            <tr>
                                <td><span>Jan to Mar</span></td>
                                <td><span>Quarter 4 Financial Year 2021-22</span></td>
                                <td><span>7.40%</span></td>
                            </tr>
                            <tr>
                                <td><span>Oct to Dec</span></td>
                                <td><span>Quarter 3 Financial Year 2021-22</span></td>
                                <td><span>7.40%</span></td>
                            </tr>
                            <tr>
                                <td><span>Jul to Sep</span></td>
                                <td><span>Quarter 2 Financial Year 2021-22</span></td>
                                <td><span>7.40%</span></td>
                            </tr>
                            <tr>
                                <td><span>April to June</span></td>
                                <td><span>Quarter 1 Financial Year 2021-22</span></td>
                                <td><span>7.40%</span></td>
                            </tr>
                            <tr>
                                <td><span>Jan to Mar</span></td>
                                <td><span>Quarter 4 Financial Year 2020-21</span></td>
                                <td><span>7.40%</span></td>
                            </tr>
                            <tr>
                                <td><span>Oct to Dec</span></td>
                                <td><span>Quarter 3 Financial Year 2020-21</span></td>
                                <td><span>7.40%</span></td>
                            </tr>
                            <tr>
                                <td><span>Jul to Sep</span></td>
                                <td><span>Quarter 2 Financial Year 2020-21</span></td>
                                <td><span>7.40%</span></td>
                            </tr>
                            <tr>
                                <td><span>April to June</span></td>
                                <td><span>Quarter 1 Financial Year 2020-21</span></td>
                                <td><span>7.40%</span></td>
                            </tr>
                            <tr>
                                <td><span>Jan to Mar</span></td>
                                <td><span>Quarter 4 Financial Year 2019-20</span></td>
                                <td><span>8.60%</span></td>
                            </tr>
                            <tr>
                                <td><span>Oct to Dec</span></td>
                                <td><span>Quarter 3 Financial Year 2019-20</span></td>
                                <td><span>8.60%</span></td>
                            </tr>
                            <tr>
                                <td><span>Jul to Sep</span></td>
                                <td><span>Quarter 2 Financial Year 2019-20</span></td>
                                <td><span>8.60%</span></td>
                            </tr>
                            <tr>
                                <td><span>April to June</span></td>
                                <td><span>Quarter 1 Financial Year 2019-20</span></td>
                                <td><span>8.70%</span></td>
                            </tr>
                            <tr>
                                <td><span>Jan to Mar</span></td>
                                <td><span>Quarter 4 Financial Year 2018-19</span></td>
                                <td><span>8.70%</span></td>
                            </tr>
                            <tr>
                                <td><span>Oct to Dec</span></td>
                                <td><span>Quarter 3 Financial Year 2018-19</span></td>
                                <td><span>8.70%</span></td>
                            </tr>
                            <tr>
                                <td><span>Jul to Sep</span></td>
                                <td><span>Quarter 2 Financial Year 2018-19</span></td>
                                <td><span>8.30%</span></td>
                            </tr>
                            <tr>
                                <td><span>April to June</span></td>
                                <td><span>Quarter 1 Financial Year 2018-19</span></td>
                                <td><span>8.30%</span></td>
                            </tr>
                            <tr>
                                <td><span>Jan to Mar</span></td>
                                <td><span>Quarter 4 Financial Year 2017-18</span></td>
                                <td><span>8.30%</span></td>
                            </tr>
                            <tr>
                                <td><span>Oct to Dec</span></td>
                                <td><span>Quarter 3 Financial Year 2017-18</span></td>
                                <td><span>8.30%</span></td>
                            </tr>
                            <tr>
                                <td><span>Jul to Sep</span></td>
                                <td><span>Quarter 2 Financial Year 2017-18</span></td>
                                <td><span>8.30%</span></td>
                            </tr>
                            <tr>
                                <td><span>April to June</span></td>
                                <td><span>Quarter 1 Financial Year 2017-18</span></td>
                                <td><span>8.40%</span></td>
                            </tr>
                        </tbody>
                    </table>
                    <h2><span>Documents Required to Open SCSS Account</span></h2>
                    <p><span>Here are the documents one has to submit to open a new Senior Citizen Saving Scheme:</span>
                    </p>

                    <ul>
                        <li><span>Two recent passport-sized photographs</span></li>
                        <li><span>The form must be entirely filled with every minor detail</span></li>
                        <li><span>The bank or post office will need identity proofs, such as a passport and PAN
                                card</span></li>
                        <li><span>Applicants have to submit address proofs, like an Aadhaar card or a telephone
                                bill</span></li>
                        <li><span>The applicant has to submit a document confirming the account holder's age.</span>
                        </li>
                        <li><span>The documents for proving age can be a PAN Card, Voter ID, Birth Certificate, Senior
                                Citizen Card or Passport.</span></li>
                        <li><span>All the documents must be self-attested.</span></li>
                    </ul>
                    <h2><span>Features And Benefits of Senior Citizen Saving Scheme</span></h2>
                    <p><span>Here are some prominent features of the senior citizen's savings
                            scheme.</span><span>&nbsp;</span></p>

                    <ul>
                        <li><b>Scheme Maturity:</b><span> The scheme gets mature in 5 years. However, individuals can
                                extend their maturity for up to 3 years. They have to submit an application as per the
                                requirement within one year of the account. Further, the account can be closed without
                                any charges once it expires.</span></li>
                        <li><b>Nominations: </b><span>The applicant can nominate anyone as per the policy. They can
                                nominate anyone either at the time of account opening or after the account is
                                opened.</span></li>
                        <li><b>Several Accounts:</b><span> As an individual, you can have one or more than one account
                                individual or open an account with your spouse. The joint accounts can be opened only
                                with the spouse.</span></li>
                        <li><b>Minimum and Maximum Amount:</b><span> There is only one single deposit allowed in the
                                account. The amount can be in the form of multiples of Rs. 1000 or the maximum amount of
                                Rs. 15 lakh. Also, any amount more than Rs. 1 lakh has to be paid using a cheque.
                                However, the date the cheque is released will be the opening date of the account.</span>
                        </li>
                        <li><b>Account Transfer:</b><span> Senior citizen saving accounts are easily transferable from
                                one bank to a post office and vice-versa. The procedure is quite easy and
                                hassle-free.</span></li>
                        <li><b>Premature Withdrawal:</b><span> You can make a premature withdrawal only after one year
                                of opening the account. For further premature withdrawals after one or two years, a 1.5%
                                charge and 1% charge of the total deposited are chargeable.</span></li>
                    </ul>
                    <h2><span>Rules on SCSS Premature Closure</span></h2>
                    <p><span>An account holder of SCSS can prematurely close the account at any time once the account is
                            open. However, if the account is closed before the completion of one year, then there will
                            be no payable interest. But if the interest has been paid, then that will be recovered from
                            the principal amount.</span><span>&nbsp;</span></p>

                    <ul>
                        <li><span>If the premature closure happens between 1-2 years, an amount equal to 1.5% will be
                                deducted from the main amount.</span></li>
                        <li><span>For a premature closure between 2-5 years, an amount equal to 1% of the principal
                                amount will be deducted.</span></li>
                        <li><span>However, you can close your extended account anytime after one year from the date of
                                extension. There will be no deduction in this case.</span></li>
                    </ul>
                    <h2><span>Tax Benefits Under the SCSS</span></h2>
                    <p><span>The tax saving schemes for senior citizens make them eligible for tax deductions under
                            Section 80C of the Income Tax Act 1961. For the deduction, the amount must be Rs. 1.5 lakh.
                            Further, if the interest is more than Rs. 10,000 p.a. The tax is deductible at the source.
                            However, if the account holder submits Form 15G/15H, then no TDS will be deducted.</span>
                    </p>

                    <h2><span>List of Banks That Offer SCSS</span></h2>
                    <p><span>Here is the list of banks that offer the best rate of interest for Senior Citizen Saving
                            Schemes:</span></p>

                    <table width="423">
                        <tbody>
                            <tr>
                                <td width="228">ICICI Bank</td>
                                <td width="195">Dena Bank</td>
                            </tr>
                            <tr>
                                <td>Vijaya Bank</td>
                                <td>Central Bank of India</td>
                            </tr>
                            <tr>
                                <td>Union Bank of India</td>
                                <td>Canara Bank</td>
                            </tr>
                            <tr>
                                <td>UCO Bank</td>
                                <td>Corporation Bank</td>
                            </tr>
                            <tr>
                                <td>Syndicate Bank</td>
                                <td>Bank of India</td>
                            </tr>
                            <tr>
                                <td>Indian Bank</td>
                                <td>Bank of Baroda</td>
                            </tr>
                            <tr>
                                <td>Punjab National Bank</td>
                                <td>Bank of Maharashtra</td>
                            </tr>
                            <tr>
                                <td>IDBI Bank</td>
                                <td>Andhra Bank</td>
                            </tr>
                            <tr>
                                <td>Indian Overseas Bank</td>
                                <td>Allahabad Bank</td>
                            </tr>
                            <tr>
                                <td>State Bank of India</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                    <h2><span>Who Can Invest in Senior Citizens Saving Scheme?</span></h2>
                    <p><span>Anyone above the age of 60 is eligible to apply for a Senior Citizen Saving Scheme. This is
                            how they can save some amount of money for their post-retirement. Those who are planning to
                            save some money can benefit from the SCSS scheme. The senior citizens can open a savings
                            account either as joint ownership or a sole account. </span></p>
                </div>
            </div>
        </section>
        <div class="RightSideBar_creditDescTile__EwfAF  " id="enquireNow">
            <h3 class="font16 font600 text181d mb15 mt30">Need Loan Assistance?</h3>
            <div class="LeadPopup_contentBox__k4AzT LeadPopup_sideBarForm__yaxs1">
                <p class="font12 text666 fontsemiBold">Connect with Loan Advisor Now!</p>
                <div class="LeadPopup_form__ZbOgW">
                    <div class="form-item"><input type="text" name="fullName" class="formInput" autocomplete="off"
                            required="" maxlength="90" value=""><label for="fullName"
                            class="font12 fontMedium formLabel">Full Name</label><span class="errorText"></span></div>
                    <div class="form-item contBox"><span class="text303542 font12 contCode fontMedium">+91</span><input
                            type="text" name="mobile" class="formInput" autocomplete="off" required="" maxlength="10"
                            value=""><label for="mobileNo" class="font12 fontMedium formLabel">Mobile No.</label><span
                            class="errorText"></span><span class="errorText"></span></div>
                    <div class="form-item">
                        <div class=" css-b62m3t-container"><span id="react-select-11-live-region"
                                class="css-7pg0cj-a11yText"></span><span aria-live="polite" aria-atomic="false"
                                aria-relevant="additions text" class="css-7pg0cj-a11yText"></span>
                            <div class=" css-13cymwt-control">
                                <div class=" css-hlgwow">
                                    <div class=" css-1jqq78o-placeholder" id="react-select-11-placeholder">Choose City
                                    </div>
                                    <div class=" css-19bb58m" data-value=""><input class="" autocapitalize="none"
                                            autocomplete="off" autocorrect="off" id="react-select-11-input"
                                            spellcheck="false" tabindex="0" type="text" aria-autocomplete="list"
                                            aria-expanded="false" aria-haspopup="true" role="combobox"
                                            aria-describedby="react-select-11-placeholder" value=""
                                            style="color: inherit; background: 0px center; opacity: 1; width: 100%; grid-area: 1 / 2; font: inherit; min-width: 2px; border: 0px; margin: 0px; outline: 0px; padding: 0px;">
                                    </div>
                                </div>
                                <div class=" css-1wy0on6"><span class=" css-1u9des2-indicatorSeparator"></span>
                                    <div class=" css-1xc3v61-indicatorContainer" aria-hidden="true"><svg height="20"
                                            width="20" viewBox="0 0 20 20" aria-hidden="true" focusable="false"
                                            class="css-8mmkcg">
                                            <path
                                                d="M4.516 7.548c0.436-0.446 1.043-0.481 1.576 0l3.908 3.747 3.908-3.747c0.533-0.481 1.141-0.446 1.574 0 0.436 0.445 0.408 1.197 0 1.615-0.406 0.418-4.695 4.502-4.695 4.502-0.217 0.223-0.502 0.335-0.787 0.335s-0.57-0.112-0.789-0.335c0 0-4.287-4.084-4.695-4.502s-0.436-1.17 0-1.615z">
                                            </path>
                                        </svg></div>
                                </div>
                            </div>
                        </div><span class="errorText"></span>
                    </div>
                    <div class="form-item">
                        <div class="Select_rangecalc__KDYd8">
                            <div class="selectBox"><select name="productType" class="formInput undefined" required="">
                                    <option value="">Choose Loan Type</option>
                                    <option value="2">Personal Loan</option>
                                    <option value="1">Home Loan</option>
                                    <option value="3">Loan Against Property</option>
                                    <option value="4">Business Loan</option>
                                    <option value="8">Credit Card</option>
                                </select></div>
                        </div><span class="errorText"></span>
                    </div>
                    <div class="LeadPopup_rangecalc__wwLC4 mb0 "><button
                            class="btn btn-primary textCenterSm font16 ">Submit </button><span class="errorText"></span>
                    </div>
                </div>
            </div>
            <h3 class="font16 font600 text181d mb15 mt30">Loans</h3>
            <div class="RightSideBar_creditTile__tbrLG mb16">
                <ul class="RightSideBar_btmoverflow__wat2N">
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/loans/home-loan">Home Loan</a>
                    </li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/loans/personal-loan">Personal
                            Loan</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/loans/loan-against-property">Loan Against Property</a></li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/loans/business-loan">Business
                            Loan</a></li>
                </ul>
            </div>
            <div
                class="RightSideBar_creditTile__tbrLG RightSideBar_creditImg__B2mz1 mb16 RightSideBar_removePadding__YDnG5">
                <a href="https://www.urbanmoney.com/credit-score"><img alt="Credit Score" loading="lazy" width="250"
                        height="250" decoding="async" data-nimg="1" class="imgResponsive" sizes="100vw"
                        srcset="/_next/image?url=https%3A%2F%2Fcdn.urbanmoney.com%2Fimages%2Fcreditscore.png&amp;w=640&amp;q=75 640w, /_next/image?url=https%3A%2F%2Fcdn.urbanmoney.com%2Fimages%2Fcreditscore.png&amp;w=750&amp;q=75 750w, /_next/image?url=https%3A%2F%2Fcdn.urbanmoney.com%2Fimages%2Fcreditscore.png&amp;w=828&amp;q=75 828w, /_next/image?url=https%3A%2F%2Fcdn.urbanmoney.com%2Fimages%2Fcreditscore.png&amp;w=1080&amp;q=75 1080w, /_next/image?url=https%3A%2F%2Fcdn.urbanmoney.com%2Fimages%2Fcreditscore.png&amp;w=1200&amp;q=75 1200w, /_next/image?url=https%3A%2F%2Fcdn.urbanmoney.com%2Fimages%2Fcreditscore.png&amp;w=1920&amp;q=75 1920w, /_next/image?url=https%3A%2F%2Fcdn.urbanmoney.com%2Fimages%2Fcreditscore.png&amp;w=2048&amp;q=75 2048w, /_next/image?url=https%3A%2F%2Fcdn.urbanmoney.com%2Fimages%2Fcreditscore.png&amp;w=3840&amp;q=75 3840w"
                        src="/_next/image?url=https%3A%2F%2Fcdn.urbanmoney.com%2Fimages%2Fcreditscore.png&amp;w=3840&amp;q=75"
                        style="color: transparent; width: 100%; height: auto;"></a></div>
            <h3 class="font16 font600 text181d mb15 mt30">Investment</h3>
            <div class="RightSideBar_creditTile__tbrLG mb16">
                <ul class="RightSideBar_btmoverflow__wat2N">
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/investment-plans/epf">Employee
                            Provident Fund</a></li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/investment-plans/sip">Systematic
                            Investment Plan</a></li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/fixed-deposit-rate">Fixed
                            Deposit</a></li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/mutual-funds">Mutual Funds</a>
                    </li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/investment-plans/recurring-deposit">Recurring Deposit</a>
                    </li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/investment-plans/sip">Systematic
                            Investment Plan (SIP)</a></li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/investment-plans/epf">Employees
                            Provident Fund (EPF)</a></li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/investment-plans/ppf">Public
                            Provident Fund (PPF)</a></li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/investment-plans/vpf">Voluntary
                            Provident Fund (VPF)</a></li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/investment-plans/elss">ELSS</a>
                    </li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/investment-plans/nps">National
                            Pension Scheme (NPS)</a></li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/investment-plans/nsc">National
                            Savings Certificate (NSC)</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/investment-plans/senior-citizens-saving-scheme">Senior
                            Citizen Saving Scheme</a></li>
                </ul>
            </div>
            <h3 class="font16 font600 text181d mb15 mt30">Financial Calculators</h3>
            <div class="RightSideBar_creditTile__tbrLG mb16">
                <ul class="RightSideBar_btmoverflow__wat2N">
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/calculator/income-tax-calculator">Income Tax Calculator</a>
                    </li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/calculator/sip-calculator">SIP
                            Calculator</a></li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/calculator/fd-calculator">FD
                            Calculator</a></li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/calculator/hra-calculator">HRA
                            Calculator</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/calculator/lumpsum-calculator">Lumpsum Calculator</a></li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/calculator/ppf-calculator">PPF
                            Calculator</a></li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/calculator/rd-calculator">RD
                            Calculator</a></li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/calculator/gst-calculator">GST
                            Calculator</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/calculator/sukanya-samriddhi-yojana-calculator">Sukanya
                            Samridhi Yojana Calculator</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/calculator/mutual-fund-calculator">Mutual Fund
                            Calculator</a></li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/calculator/tds-calculator">TDS
                            Calculator</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/calculator/salary-calculator">Salary Calculator</a></li>
                </ul>
            </div>
            <h3 class="font16 font600 text181d mb15 mt30">Check Eligibility</h3>
            <div class="RightSideBar_creditTile__tbrLG mb16">
                <ul class="RightSideBar_btmoverflow__wat2N">
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/loans/home-loan/eligibility-calculator">Home Loan
                            Eligibility Calculator</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/loans/personal-loan/eligibility-calculator">Personal Loan
                            Eligibility Calculator</a></li>
                </ul>
            </div>
            <h3 class="font16 font600 text181d mb15 mt30">Top 10 AMC</h3>
            <div class="RightSideBar_creditTile__tbrLG mb16">
                <ul class="RightSideBar_btmoverflow__wat2N">
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/mutual-funds/sbi-mutual-fund">SBI Mutual Fund</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/mutual-funds/axis-mutual-fund">Axis Mutual Fund</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/mutual-funds/hdfc-mutual-fund">HDFC Mutual Fund</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/mutual-funds/uti-mutual-fund">UTI Mutual Fund</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/mutual-funds/icici-prudential-mutual-fund">ICICI Prudential
                            Mutual Fund</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/mutual-funds/tata-mutual-fund">Tata Mutual Fund</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/mutual-funds/kotak-mahindra-mutual-fund">Kotak Mahindra
                            Mutual Fund</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/mutual-funds/canara-robeco-mutual-fund">Canara Rodeco
                            Mutual Fund</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/mutual-funds/mirae-asset-mutual-fund">Mirae Asset Mutual
                            Fund</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/mutual-funds/bandhan-mutual-fund">Bandhan Mutual Fund</a>
                    </li>
                </ul>
            </div>
            <h3 class="font16 font600 text181d mb15 mt30">Top 10 Banks</h3>
            <div class="RightSideBar_creditTile__tbrLG mb16">
                <ul class="RightSideBar_btmoverflow__wat2N">
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/banks-in-india/citi-bank">CITI
                            Bank</a></li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/banks-in-india/rbl-bank">RBL
                            Bank</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/banks-in-india/bank-of-baroda">Bank of Baroda</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/banks-in-india/canara-bank">Canara Bank</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/banks-in-india/bajaj-finserv">Bajaj Finserv</a></li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/banks-in-india/yes-bank">Yes
                            Bank</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/banks-in-india/deutsche-bank">Deutsche Bank</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/banks-in-india/idfc-first-bank">IDFC FIRST Bank</a></li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/banks-in-india/dcb-bank">DCB
                            Bank</a></li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/banks-in-india/kotak-bank">Kotak
                            Bank</a></li>
                </ul>
            </div>
        </div>
    </div>
    <section class="faq">
        <div class="container">
            <h2 class="faqHeading font24">Frequently Asked Questions (FAQs)</h2>
            <div class="faqBx">
                <div class="FAQ_question__LkjKP ">
                    <div class="FAQ_faqQuestn__v3L3G">
                        <h3 class="txt font14 fontMedium">What is the Senior Citizen Saving Scheme?</h3><span
                            class="FAQ_pluseIcon__sWIas "></span>
                    </div>
                    <div class="FAQ_content__7VPH9">
                        <p style="text-align: justify"><span style="font-weight: 400">The government of India offers the
                                Senior Citizen Saving Scheme to assist senior citizens in saving for their retirement
                                and receiving quarterly payments. The latest SCSS interest rate offered is 7.4% for the
                                quarter ending on 31st March 2022.</span></p>
                    </div>
                </div>
                <div class="FAQ_question__LkjKP ">
                    <div class="FAQ_faqQuestn__v3L3G">
                        <h3 class="txt font14 fontMedium">How do we open a Senior Citizen Savings Scheme account?</h3>
                        <span class="FAQ_pluseIcon__sWIas "></span>
                    </div>
                    <div class="FAQ_content__7VPH9">
                        <p style="text-align: justify"><span style="font-weight: 400">You can open a Senior Citizen
                                Savings Scheme account at an Indian post office. You just have to fill out all the forms
                                for opening an account and submit them along with copies of KYC documents such as
                                identity proof, address proof and age proof with recent passport size photos.</span></p>
                    </div>
                </div>
                <div class="FAQ_question__LkjKP ">
                    <div class="FAQ_faqQuestn__v3L3G">
                        <h3 class="txt font14 fontMedium">Is SCSS tax-free?</h3><span
                            class="FAQ_pluseIcon__sWIas "></span>
                    </div>
                    <div class="FAQ_content__7VPH9">
                        <p style="text-align: justify"><span style="font-weight: 400">The interest on SCSS is taxable
                                and as per the tax slab applicable to the person. If the interest earned is more than
                                Rs. 50,000 in a financial year, the TDS is applicable to the earned interest.</span></p>
                    </div>
                </div>
                <div class="FAQ_question__LkjKP ">
                    <div class="FAQ_faqQuestn__v3L3G">
                        <h3 class="txt font14 fontMedium">What is the current SCSS rate?</h3><span
                            class="FAQ_pluseIcon__sWIas "></span>
                    </div>
                    <div class="FAQ_content__7VPH9">
                        <p style="text-align: justify"><span style="font-weight: 400">The current SCSS rate of interest
                                is 7.4% p.a.</span></p>
                    </div>
                </div>
                <div class="FAQ_question__LkjKP ">
                    <div class="FAQ_faqQuestn__v3L3G">
                        <h3 class="txt font14 fontMedium">Which bank gives the highest interest rate for senior
                            citizens?</h3><span class="FAQ_pluseIcon__sWIas "></span>
                    </div>
                    <div class="FAQ_content__7VPH9">
                        <p style="text-align: justify"><span style="font-weight: 400">The highest interest rate for the
                                Senior Citizens Saving Scheme is offered by the State Bank of India. The interest rate
                                is 6.30%.</span></p>
                    </div>
                </div>
                <div class="FAQ_question__LkjKP ">
                    <div class="FAQ_faqQuestn__v3L3G">
                        <h3 class="txt font14 fontMedium">Is a joint account facility available under this scheme?</h3>
                        <span class="FAQ_pluseIcon__sWIas "></span>
                    </div>
                    <div class="FAQ_content__7VPH9">
                        <p style="text-align: justify"><span style="font-weight: 400">Yes, the joint account facility is
                                available under the Senior Citizens Saving Scheme. Both the spouses can open either
                                joint or individual accounts with a maximum deposit of Rs. 15 lakh. Also, both are
                                individually eligible for investing under the relevant rules of the scheme.</span></p>
                    </div>
                </div>
                <div class="FAQ_question__LkjKP ">
                    <div class="FAQ_faqQuestn__v3L3G">
                        <h3 class="txt font14 fontMedium">Can both the spouses open separate accounts?</h3><span
                            class="FAQ_pluseIcon__sWIas "></span>
                    </div>
                    <div class="FAQ_content__7VPH9">
                        <p style="text-align: justify"><span style="font-weight: 400">Yes, both spouses can have
                                separate accounts.</span></p>
                    </div>
                </div>
                <div class="FAQ_question__LkjKP ">
                    <div class="FAQ_faqQuestn__v3L3G">
                        <h3 class="txt font14 fontMedium">Is TDS applicable to the scheme?</h3><span
                            class="FAQ_pluseIcon__sWIas "></span>
                    </div>
                    <div class="FAQ_content__7VPH9">
                        <p style="text-align: justify"><span style="font-weight: 400">Yes, Tax Deducted at Source (TDS)
                                is applicable to the interest earned under this SCSS scheme.</span></p>
                    </div>
                </div>
                <div class="FAQ_question__LkjKP ">
                    <div class="FAQ_faqQuestn__v3L3G">
                        <h3 class="txt font14 fontMedium">In the case of a senior citizen joint account, if the first
                            holder/depositor expires before maturity, can the account be continued?</h3><span
                            class="FAQ_pluseIcon__sWIas "></span>
                    </div>
                    <div class="FAQ_content__7VPH9">
                        <p style="text-align: justify"><span style="font-weight: 400">Yes, the account can be continued.
                                The respective spouse can continue the account with the same terms and conditions as
                                specified previously under the SCSS scheme.</span></p>
                    </div>
                </div>
                <div class="FAQ_question__LkjKP ">
                    <div class="FAQ_faqQuestn__v3L3G">
                        <h3 class="txt font14 fontMedium">Is there any fee prescribed for nomination and/or
                            change/cancellation of nomination in the senior citizen scheme?</h3><span
                            class="FAQ_pluseIcon__sWIas "></span>
                    </div>
                    <div class="FAQ_content__7VPH9">
                        <p style="text-align: justify"><span style="font-weight: 400">No fee is charged for nomination
                                and/or change/cancellation of nomination in the Senior Citizen Scheme.</span></p>
                    </div>
                </div>
                <div class="FAQ_question__LkjKP ">
                    <div class="FAQ_faqQuestn__v3L3G">
                        <h3 class="txt font14 fontMedium">What is the mode of deposit if the amount is Rs. 15 Lakh?</h3>
                        <span class="FAQ_pluseIcon__sWIas "></span>
                    </div>
                    <div class="FAQ_content__7VPH9">
                        <p style="text-align: justify"><span style="font-weight: 400">The deposit mode for an amount of
                                Rs. 15 lakh is a cheque.</span></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main> -->