<div>
    <section class="LoginScreen_login__88Pb_ ">
        <div class="container">
            <div class="LoginScreen_loginBox__tMvVi">
                <div class="LoginScreen_loginContent__gsBIX">
                    <div class="LoginScreen_logoBox__OL2l1"><a href="/"><img src="./../../assets/images/Borrow Rright new style logo.jpg"
                                width="100" height="32" class="imgResponsive" alt="Urban Money"></a></div>
                    <p class="font20 mb10 fontMedium">Take control of the service</p>
                    <h3 class="font24 mb30 text2828 bottomborderf5a623 Innerheading fontMedium lineHeight36 ">Experience
                        during your home loan journey</h3>
                    <ul class="LoginScreen_bulletList__qvu1G">
                        <li>Provide more information about your loan requirements</li>
                        <li>Rate your Experience with us and give feedback</li>
                        <li>View assigned angent's profile &amp; request for change if required</li>
                    </ul>
                    <figure class="LoginScreen_loginTextimg___mWYj"><img src="./../../assets/images/login-left-side-banner.svg"
                            alt="Urban Money Login" width="516" height="252" class="imgResponsive"></figure>
                </div>
                <div class="LoginScreen_loginForm__XQwbd">
                    <figure class="LoginScreen_loginIcon__4y30J"><img src="/assets/images/ill_mobile-ac.svg"
                            alt="Urban Money Login" width="147" height="150" class="imgResponsive"></figure>
                    <h1>Log in</h1>
                    <p class="LoginScreen_loginSub__xEcwe mb50">to access your Account</p>
                    <div class="form-item contBox "><span class="text303542 font12 contCode fontMedium">+91</span><input
                            type="text" name="mobileNo" class="formInput" autocomplete="off" required="" maxlength="10"
                            value=""><label class="font14 fontMedium textWhite formLabel">Mobile No.</label></div>
                    <p class="mb10 textWhite font12"></p>
                    <div class="LoginScreen_loginBtn__lAfv1"><button class="btn loginBtn font14 btn100">Proceed to Login
                            <em class="icon-arrow-right"></em></button></div>
                </div>
            </div>
        </div>
    </section>
</div>