<main>
    <!-- <div class="FloatIcon_FloatIcon__JBW0S">
        <div class="FloatIcon_Icon__OAYI3"><img alt="Urban Money Float Icon" loading="lazy" width="28" height="25"
                decoding="async" data-nimg="1" src="/assets/images/FloatIcon.svg" style="color: transparent;"></div>
        <div class="FloatIcon_title__0ZXTP">
            <div class="FloatIcon_closeIcon__Gi9ll"></div>
            <p class="fontBold font12 mb10">Need Loan Assistance?</p><button
                class="btn FloatIcon_connectNow__pDqOd">Connect Now <em class="icon-arrow-right font12"></em> </button>
        </div>
    </div> -->
    <div class="container">
        <div class="BreadCrumb_breadCrumb__pNdJT">
            <ul>
                <li><a class="text777 font12" href="/">Home</a></li>
                <li class="text777 font12 undefined">Calculators</li>
            </ul>
        </div>
        <h1 class="font24 mb30 text2828 bottomborderf5a623 Innerheading fontsemiBold lineHeight36">Calculators</h1>
        <div class="font14  text444 mb20 lineHeight22 short_description">Calculate your monthly payments using finance
            calculators that come pre-programmed with the necessary formula. Pin your hopes on split-second computations
            to make better financial judgments. At Borrow Right, we value your time and thus introduce you to a good deal
            of financial calculators in one place. Our cutting-edge calculators are specifically designed to fine-tune
            the monthly budget. With access to AI-based boosted calculating, you can increase the credibility of what
            the bank or credit provider is offering.</div>
    </div>
    <section>
        <div class="container">
            <div class=" MainCalculator_allcalculator__Gw_jO ">
                <div class="MainCalculator_loan__tqIke null ">
                    <div class="MainCalculator_tileHead__kzk3b">
                        <h2 class="MainCalculator_mainHeading__s6W7M">Home Loan</h2>
                    </div>
                    <div class="MainCalculator_calccontainer__ZncOL">
                        <!-- <div class=" MainCalculator_calc__Fvy2j">
                            <figure><img alt="Balance Transfer Calculator" loading="lazy" width="33" height="33"
                                    decoding="async" data-nimg="1" class="imgResponsive"
                                    src="https://cdn.urbanmoney.com/images/calculator/homebalacnce.svg"
                                    style="color: transparent;"></figure><a
                                href="https://www.urbanmoney.com/loans/home-loan/balance-transfer-calculator">
                                <h3 class="MainCalculator_heading__vpaRe">Home Loan Balance Transfer Calculator</h3>
                            </a>
                            <p class="MainCalculator_text__s20Ue">Put forward your decision on the balance transfer
                                <span>Know more...</span></p>
                            <div class="MainCalculator_arrowBtn__hCFuq">Check Now <svg
                                    xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 14 14"
                                    fill="none">
                                    <path d="m7 1 6 6-6 6M1 7h11.143H1z" stroke="#474dbb" stroke-linecap="round"
                                        stroke-linejoin="round"></path>
                                </svg></div>
                        </div> -->
                        <div class=" MainCalculator_calc__Fvy2j">
                            <figure><img alt="Pre-payment Calculator" loading="lazy" width="33" height="33"
                                    decoding="async" data-nimg="1" class="imgResponsive"
                                    src="https://cdn.urbanmoney.com/images/calculator/homepre.svg"
                                    style="color: transparent;"></figure><a
                                href="https://www.urbanmoney.com/loans/home-loan/pre-payment-calculator">
                                <h3 class="MainCalculator_heading__vpaRe">Home Loan Pre-payment Calculator</h3>
                            </a>
                            <p class="MainCalculator_text__s20Ue">A Home Loan Prepayment calculator is an online
                                <span [routerLink]="'/emiCalculator'">Know more...</span></p>
                            <div class="MainCalculator_arrowBtn__hCFuq" [routerLink]="'/emiCalculator'">Check Now <svg
                                    xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 14 14"
                                    fill="none">
                                    <path d="m7 1 6 6-6 6M1 7h11.143H1z" stroke="#474dbb" stroke-linecap="round"
                                        stroke-linejoin="round"></path>
                                </svg></div>
                        </div>
                        <div class=" MainCalculator_calc__Fvy2j">
                            <figure><img alt="EMI Calculator" loading="lazy" width="33" height="33" decoding="async"
                                    data-nimg="1" class="imgResponsive"
                                    src="https://cdn.urbanmoney.com/images/calculator/homeemi.svg"
                                    style="color: transparent;"></figure><a
                                href="https://www.urbanmoney.com/loans/home-loan/emi-calculator">
                                <h3 class="MainCalculator_heading__vpaRe">Home Loan EMI Calculator</h3>
                            </a>
                            <p class="MainCalculator_text__s20Ue">A Home Loan EMI Calculator permits you to compute
                                <span [routerLink]="'/emiCalculator'">Know more...</span></p>
                            <div class="MainCalculator_arrowBtn__hCFuq" [routerLink]="'/emiCalculator'">Calculate EMI <svg
                                    xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 14 14"
                                    fill="none">
                                    <path d="m7 1 6 6-6 6M1 7h11.143H1z" stroke="#474dbb" stroke-linecap="round"
                                        stroke-linejoin="round"></path>
                                </svg></div>
                        </div>
                    </div>
                </div>
                <!-- <div class="MainCalculator_loan__tqIke null ">
                    <div class="MainCalculator_tileHead__kzk3b">
                        <h2 class="MainCalculator_mainHeading__s6W7M">Personal Loan</h2>
                    </div>
                    <div class="MainCalculator_calccontainer__ZncOL">
                        <div class=" MainCalculator_calc__Fvy2j">
                            <figure><img alt="Balance Transfer Calculator" loading="lazy" width="33" height="33"
                                    decoding="async" data-nimg="1" class="imgResponsive"
                                    src="https://cdn.urbanmoney.com/images/calculator/personalbalance.svg"
                                    style="color: transparent;"></figure><a
                                href="https://www.urbanmoney.com/loans/personal-loan/balance-transfer-calculator">
                                <h3 class="MainCalculator_heading__vpaRe">Personal Loan Balance Transfer Calculator</h3>
                            </a>
                            <p class="MainCalculator_text__s20Ue">Our cutting-edge Personal Loan Balance Transfer
                                <span>Know more...</span></p>
                            <div class="MainCalculator_arrowBtn__hCFuq">Check Now <svg
                                    xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 14 14"
                                    fill="none">
                                    <path d="m7 1 6 6-6 6M1 7h11.143H1z" stroke="#474dbb" stroke-linecap="round"
                                        stroke-linejoin="round"></path>
                                </svg></div>
                        </div>
                        <div class=" MainCalculator_calc__Fvy2j">
                            <figure><img alt="Pre-payment Calculator" loading="lazy" width="33" height="33"
                                    decoding="async" data-nimg="1" class="imgResponsive"
                                    src="https://cdn.urbanmoney.com/images/calculator/personalemi.svg"
                                    style="color: transparent;"></figure><a
                                href="https://www.urbanmoney.com/loans/personal-loan/pre-payment-calculator">
                                <h3 class="MainCalculator_heading__vpaRe">Personal Loan Pre-payment Calculator</h3>
                            </a>
                            <p class="MainCalculator_text__s20Ue">Urban Moneys Personal Loan Prepayment <span>Know
                                    more...</span></p>
                            <div class="MainCalculator_arrowBtn__hCFuq">Check Now <svg
                                    xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 14 14"
                                    fill="none">
                                    <path d="m7 1 6 6-6 6M1 7h11.143H1z" stroke="#474dbb" stroke-linecap="round"
                                        stroke-linejoin="round"></path>
                                </svg></div>
                        </div>
                        <div class=" MainCalculator_calc__Fvy2j">
                            <figure><img alt="EMI Calculator" loading="lazy" width="33" height="33" decoding="async"
                                    data-nimg="1" class="imgResponsive"
                                    src="https://cdn.urbanmoney.com/images/calculator/perosnalemi.svg"
                                    style="color: transparent;"></figure><a
                                href="https://www.urbanmoney.com/loans/personal-loan/emi-calculator">
                                <h3 class="MainCalculator_heading__vpaRe">Personal Loan EMI Calculator</h3>
                            </a>
                            <p class="MainCalculator_text__s20Ue">A Personal Loan EMI Calculator is an automatic
                                <span>Know more...</span></p>
                            <div class="MainCalculator_arrowBtn__hCFuq">Check Now <svg
                                    xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 14 14"
                                    fill="none">
                                    <path d="m7 1 6 6-6 6M1 7h11.143H1z" stroke="#474dbb" stroke-linecap="round"
                                        stroke-linejoin="round"></path>
                                </svg></div>
                        </div>
                    </div>
                </div>
                <div class="MainCalculator_loan__tqIke null ">
                    <div class="MainCalculator_tileHead__kzk3b">
                        <h2 class="MainCalculator_mainHeading__s6W7M">Business Loan</h2>
                    </div>
                    <div class="MainCalculator_calccontainer__ZncOL">
                        <div class=" MainCalculator_calc__Fvy2j">
                            <figure><img alt="EMI Calculator" loading="lazy" width="33" height="33" decoding="async"
                                    data-nimg="1" class="imgResponsive"
                                    src="https://cdn.urbanmoney.com/images/calculator/businessemi.svg"
                                    style="color: transparent;"></figure><a
                                href="https://www.urbanmoney.com/loans/business-loan/emi-calculator">
                                <h3 class="MainCalculator_heading__vpaRe">Business Loan EMI Calculator</h3>
                            </a>
                            <p class="MainCalculator_text__s20Ue">This AI-backed Business Loan EMI Calculator assists
                                <span>Know more...</span></p>
                            <div class="MainCalculator_arrowBtn__hCFuq">Calculate EMI <svg
                                    xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 14 14"
                                    fill="none">
                                    <path d="m7 1 6 6-6 6M1 7h11.143H1z" stroke="#474dbb" stroke-linecap="round"
                                        stroke-linejoin="round"></path>
                                </svg></div>
                        </div>
                        <div class=" MainCalculator_calc__Fvy2j">
                            <figure><img alt="Balance Transfer Calculator" loading="lazy" width="33" height="33"
                                    decoding="async" data-nimg="1" class="imgResponsive"
                                    src="https://cdn.urbanmoney.com/images/calculator/busiensebalance.svg"
                                    style="color: transparent;"></figure><a
                                href="https://www.urbanmoney.com/loans/business-loan/balance-transfer-calculator">
                                <h3 class="MainCalculator_heading__vpaRe">Business Loan Balance Transfer Calculator</h3>
                            </a>
                            <p class="MainCalculator_text__s20Ue">Urban Money's AI-based Business Loan Balance Transfer
                                <span>Know more...</span></p>
                            <div class="MainCalculator_arrowBtn__hCFuq">Check Now <svg
                                    xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 14 14"
                                    fill="none">
                                    <path d="m7 1 6 6-6 6M1 7h11.143H1z" stroke="#474dbb" stroke-linecap="round"
                                        stroke-linejoin="round"></path>
                                </svg></div>
                        </div>
                        <div class=" MainCalculator_calc__Fvy2j">
                            <figure><img alt="Pre-payment Calculator" loading="lazy" width="33" height="33"
                                    decoding="async" data-nimg="1" class="imgResponsive"
                                    src="https://cdn.urbanmoney.com/images/calculator/businespre.svg"
                                    style="color: transparent;"></figure><a
                                href="https://www.urbanmoney.com/loans/business-loan/pre-payment-calculator">
                                <h3 class="MainCalculator_heading__vpaRe">Business Loan Pre-payment Calculator</h3>
                            </a>
                            <p class="MainCalculator_text__s20Ue">With the Business Loan Prepayment Calculator
                                <span>Know more...</span></p>
                            <div class="MainCalculator_arrowBtn__hCFuq">Check Now <svg
                                    xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 14 14"
                                    fill="none">
                                    <path d="m7 1 6 6-6 6M1 7h11.143H1z" stroke="#474dbb" stroke-linecap="round"
                                        stroke-linejoin="round"></path>
                                </svg></div>
                        </div>
                    </div>
                </div>
                <div class="MainCalculator_loan__tqIke null ">
                    <div class="MainCalculator_tileHead__kzk3b">
                        <h2 class="MainCalculator_mainHeading__s6W7M">Eligibility Calculator</h2><i
                            class="MainCalculator_topB__5JTbC">AI Based</i>
                    </div>
                    <div class="MainCalculator_calccontainer__ZncOL">
                        <div class=" MainCalculator_calc__Fvy2j">
                            <figure><img alt="Personal Loan" loading="lazy" width="33" height="33" decoding="async"
                                    data-nimg="1" class="imgResponsive"
                                    src="https://cdn.urbanmoney.com/images/calculator/personal.svg"
                                    style="color: transparent;"></figure><a
                                href="https://www.urbanmoney.com/loans/personal-loan/eligibility-calculator">
                                <h3 class="MainCalculator_heading__vpaRe">Personal Loan Eligibility Calculator</h3>
                            </a>
                            <p class="MainCalculator_text__s20Ue">The Personal Loan Eligibility Calculator is designed
                                to calculate <span>Know more...</span></p>
                            <div class="MainCalculator_arrowBtn__hCFuq">Check Now <svg
                                    xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 14 14"
                                    fill="none">
                                    <path d="m7 1 6 6-6 6M1 7h11.143H1z" stroke="#474dbb" stroke-linecap="round"
                                        stroke-linejoin="round"></path>
                                </svg></div>
                        </div>
                        <div class=" MainCalculator_calc__Fvy2j">
                            <figure><img alt="Home Loan" loading="lazy" width="33" height="33" decoding="async"
                                    data-nimg="1" class="imgResponsive"
                                    src="https://cdn.urbanmoney.com/images/calculator/home.svg"
                                    style="color: transparent;"></figure><a
                                href="https://www.urbanmoney.com/loans/home-loan/eligibility-calculator">
                                <h3 class="MainCalculator_heading__vpaRe">Home Loan Eligibility Calculator</h3>
                            </a>
                            <p class="MainCalculator_text__s20Ue">Determine your housing loan eligibility through Home
                                Loan Eligibility <span>Know more...</span></p>
                            <div class="MainCalculator_arrowBtn__hCFuq">Check Now <svg
                                    xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 14 14"
                                    fill="none">
                                    <path d="m7 1 6 6-6 6M1 7h11.143H1z" stroke="#474dbb" stroke-linecap="round"
                                        stroke-linejoin="round"></path>
                                </svg></div>
                        </div>
                    </div>
                </div>
                <div class="MainCalculator_loan__tqIke MainCalculator_span2__eWOtY ">
                    <div class="MainCalculator_tileHead__kzk3b">
                        <h2 class="MainCalculator_mainHeading__s6W7M">Investment Calculators</h2>
                    </div>
                    <div class="MainCalculator_calccontainerFull__ONNMO">
                        <div class=" MainCalculator_calc__Fvy2j">
                            <figure><img alt="Sukanya Samridhi Yojana Calculator" loading="lazy" width="33" height="33"
                                    decoding="async" data-nimg="1" class="imgResponsive"
                                    src="https://cdn.urbanmoney.com/images/calculator/sipcalc.svg"
                                    style="color: transparent;"></figure><a
                                href="https://www.urbanmoney.com/calculator/sukanya-samriddhi-yojana-calculator">
                                <h3 class="MainCalculator_heading__vpaRe">Sukanya Samridhi Yojana Calculator</h3>
                            </a>
                            <p class="MainCalculator_text__s20Ue">Sukanya Samriddhi Yojana (SSY) is a scheme initiated
                                by <span>Know more...</span></p>
                            <div class="MainCalculator_arrowBtn__hCFuq">Check Now <svg
                                    xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 14 14"
                                    fill="none">
                                    <path d="m7 1 6 6-6 6M1 7h11.143H1z" stroke="#474dbb" stroke-linecap="round"
                                        stroke-linejoin="round"></path>
                                </svg></div>
                        </div>
                        <div class=" MainCalculator_calc__Fvy2j">
                            <figure><img alt="HRA Calculator" loading="lazy" width="33" height="33" decoding="async"
                                    data-nimg="1" class="imgResponsive"
                                    src="https://cdn.urbanmoney.com/images/calculator/investmenthra.svg"
                                    style="color: transparent;"></figure><a
                                href="https://www.urbanmoney.com/calculator/hra-calculator">
                                <h3 class="MainCalculator_heading__vpaRe">HRA Calculator</h3>
                            </a>
                            <p class="MainCalculator_text__s20Ue">House rent allowance (HRA) is one of the most
                                important <span>Know more...</span></p>
                            <div class="MainCalculator_arrowBtn__hCFuq">Calculate Now <svg
                                    xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 14 14"
                                    fill="none">
                                    <path d="m7 1 6 6-6 6M1 7h11.143H1z" stroke="#474dbb" stroke-linecap="round"
                                        stroke-linejoin="round"></path>
                                </svg></div>
                        </div>
                        <div class=" MainCalculator_calc__Fvy2j">
                            <figure><img alt="SIP Calculator" loading="lazy" width="33" height="33" decoding="async"
                                    data-nimg="1" class="imgResponsive"
                                    src="https://cdn.urbanmoney.com/images/calculator/sipcalc.svg"
                                    style="color: transparent;"></figure><a
                                href="https://www.urbanmoney.com/calculator/sip-calculator">
                                <h3 class="MainCalculator_heading__vpaRe">SIP Calculator</h3>
                            </a>
                            <p class="MainCalculator_text__s20Ue">SIP calculator is a tool that enables you to compute
                                <span>Know more...</span></p>
                            <div class="MainCalculator_arrowBtn__hCFuq">Check Now <svg
                                    xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 14 14"
                                    fill="none">
                                    <path d="m7 1 6 6-6 6M1 7h11.143H1z" stroke="#474dbb" stroke-linecap="round"
                                        stroke-linejoin="round"></path>
                                </svg></div>
                        </div>
                        <div class=" MainCalculator_calc__Fvy2j">
                            <figure><img alt="FD Calculator" loading="lazy" width="33" height="33" decoding="async"
                                    data-nimg="1" class="imgResponsive"
                                    src="https://cdn.urbanmoney.com/images/calculator/fdcacl.svg"
                                    style="color: transparent;"></figure><a
                                href="https://www.urbanmoney.com/calculator/fd-calculator">
                                <h3 class="MainCalculator_heading__vpaRe">FD Calculator</h3>
                            </a>
                            <p class="MainCalculator_text__s20Ue">A fixed deposit calculator is a great tool that
                                enables <span>Know more...</span></p>
                            <div class="MainCalculator_arrowBtn__hCFuq">Calculate Now <svg
                                    xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 14 14"
                                    fill="none">
                                    <path d="m7 1 6 6-6 6M1 7h11.143H1z" stroke="#474dbb" stroke-linecap="round"
                                        stroke-linejoin="round"></path>
                                </svg></div>
                        </div>
                        <div class=" MainCalculator_calc__Fvy2j">
                            <figure><img alt="Lumpsum Calculator" loading="lazy" width="33" height="33" decoding="async"
                                    data-nimg="1" class="imgResponsive"
                                    src="https://cdn.urbanmoney.com/images/calculator/lumpsumcalc.svg"
                                    style="color: transparent;"></figure><a
                                href="https://www.urbanmoney.com/calculator/lumpsum-calculator">
                                <h3 class="MainCalculator_heading__vpaRe">Lumpsum Calculator</h3>
                            </a>
                            <p class="MainCalculator_text__s20Ue">A lumpsum calculator is a cutting-edge tool that
                                allows <span>Know more...</span></p>
                            <div class="MainCalculator_arrowBtn__hCFuq">Check Now <svg
                                    xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 14 14"
                                    fill="none">
                                    <path d="m7 1 6 6-6 6M1 7h11.143H1z" stroke="#474dbb" stroke-linecap="round"
                                        stroke-linejoin="round"></path>
                                </svg></div>
                        </div>
                        <div class=" MainCalculator_calc__Fvy2j">
                            <figure><img alt="Salary Calculator" loading="lazy" width="33" height="33" decoding="async"
                                    data-nimg="1" class="imgResponsive"
                                    src="https://cdn.urbanmoney.com/images/calculator/general-calculator.svg"
                                    style="color: transparent;"></figure><a
                                href="https://www.urbanmoney.com/calculator/salary-calculator">
                                <h3 class="MainCalculator_heading__vpaRe">Salary Calculator</h3>
                            </a>
                            <p class="MainCalculator_text__s20Ue">A salary is a form of payment to an employee,
                                typically <span>Know more...</span></p>
                            <div class="MainCalculator_arrowBtn__hCFuq">Check Now <svg
                                    xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 14 14"
                                    fill="none">
                                    <path d="m7 1 6 6-6 6M1 7h11.143H1z" stroke="#474dbb" stroke-linecap="round"
                                        stroke-linejoin="round"></path>
                                </svg></div>
                        </div>
                        <div class=" MainCalculator_calc__Fvy2j">
                            <figure><img alt="TDS Calculator" loading="lazy" width="33" height="33" decoding="async"
                                    data-nimg="1" class="imgResponsive"
                                    src="https://cdn.urbanmoney.com/images/calculator/general-calculator.svg"
                                    style="color: transparent;"></figure><a
                                href="https://www.urbanmoney.com/calculator/tds-calculator">
                                <h3 class="MainCalculator_heading__vpaRe">TDS Calculator</h3>
                            </a>
                            <p class="MainCalculator_text__s20Ue">A TDS (Tax Deduction at Source) Calculator is an
                                online <span>Know more...</span></p>
                            <div class="MainCalculator_arrowBtn__hCFuq">Calculate Now <svg
                                    xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 14 14"
                                    fill="none">
                                    <path d="m7 1 6 6-6 6M1 7h11.143H1z" stroke="#474dbb" stroke-linecap="round"
                                        stroke-linejoin="round"></path>
                                </svg></div>
                        </div>
                        <div class=" MainCalculator_calc__Fvy2j">
                            <figure><img alt="PPF Calculator" loading="lazy" width="33" height="33" decoding="async"
                                    data-nimg="1" class="imgResponsive"
                                    src="https://cdn.urbanmoney.com/images/calculator/sipcalc.svg"
                                    style="color: transparent;"></figure><a
                                href="https://www.urbanmoney.com/calculator/ppf-calculator">
                                <h3 class="MainCalculator_heading__vpaRe">PPF Calculator</h3>
                            </a>
                            <p class="MainCalculator_text__s20Ue">PPF Calculator is an online tool to calculate the PPF
                                <span>Know more...</span></p>
                            <div class="MainCalculator_arrowBtn__hCFuq">Check Now <svg
                                    xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 14 14"
                                    fill="none">
                                    <path d="m7 1 6 6-6 6M1 7h11.143H1z" stroke="#474dbb" stroke-linecap="round"
                                        stroke-linejoin="round"></path>
                                </svg></div>
                        </div>
                        <div class=" MainCalculator_calc__Fvy2j">
                            <figure><img alt="Income Tax Calculator" loading="lazy" width="33" height="33"
                                    decoding="async" data-nimg="1" class="imgResponsive"
                                    src="https://cdn.urbanmoney.com/images/calculator/general-calculator.svg"
                                    style="color: transparent;"></figure><a
                                href="https://www.urbanmoney.com/calculator/income-tax-calculator">
                                <h3 class="MainCalculator_heading__vpaRe">Income Tax Calculator</h3>
                            </a>
                            <p class="MainCalculator_text__s20Ue">An income tax calculator is an online AI-based tool
                                that assists <span>Know more...</span></p>
                            <div class="MainCalculator_arrowBtn__hCFuq">Check Now <svg
                                    xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 14 14"
                                    fill="none">
                                    <path d="m7 1 6 6-6 6M1 7h11.143H1z" stroke="#474dbb" stroke-linecap="round"
                                        stroke-linejoin="round"></path>
                                </svg></div>
                        </div>
                        <div class=" MainCalculator_calc__Fvy2j">
                            <figure><img alt="RD Calculator" loading="lazy" width="33" height="33" decoding="async"
                                    data-nimg="1" class="imgResponsive"
                                    src="https://cdn.urbanmoney.com/images/calculator/fdcacl.svg"
                                    style="color: transparent;"></figure><a
                                href="https://www.urbanmoney.com/calculator/rd-calculator">
                                <h3 class="MainCalculator_heading__vpaRe">RD Calculator</h3>
                            </a>
                            <p class="MainCalculator_text__s20Ue">A recurring deposit can be defined as a savings
                                investment <span>Know more...</span></p>
                            <div class="MainCalculator_arrowBtn__hCFuq">Calculate Now <svg
                                    xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 14 14"
                                    fill="none">
                                    <path d="m7 1 6 6-6 6M1 7h11.143H1z" stroke="#474dbb" stroke-linecap="round"
                                        stroke-linejoin="round"></path>
                                </svg></div>
                        </div>
                        <div class=" MainCalculator_calc__Fvy2j">
                            <figure><img alt="Mutual Fund Calculator" loading="lazy" width="33" height="33"
                                    decoding="async" data-nimg="1" class="imgResponsive"
                                    src="https://cdn.urbanmoney.com/images/calculator/fdcacl.svg"
                                    style="color: transparent;"></figure><a
                                href="https://www.urbanmoney.com/calculator/mutual-fund-calculator">
                                <h3 class="MainCalculator_heading__vpaRe">Mutual Fund Calculator</h3>
                            </a>
                            <p class="MainCalculator_text__s20Ue">A mutual fund calculator takes in relevant information
                                <span>Know more...</span></p>
                            <div class="MainCalculator_arrowBtn__hCFuq">Calculate Now <svg
                                    xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 14 14"
                                    fill="none">
                                    <path d="m7 1 6 6-6 6M1 7h11.143H1z" stroke="#474dbb" stroke-linecap="round"
                                        stroke-linejoin="round"></path>
                                </svg></div>
                        </div>
                        <div class=" MainCalculator_calc__Fvy2j">
                            <figure><img alt="GST Calculator" loading="lazy" width="33" height="33" decoding="async"
                                    data-nimg="1" class="imgResponsive"
                                    src="https://cdn.urbanmoney.com/images/calculator/investmenthra.svg"
                                    style="color: transparent;"></figure><a
                                href="https://www.urbanmoney.com/calculator/gst-calculator">
                                <h3 class="MainCalculator_heading__vpaRe">GST Calculator</h3>
                            </a>
                            <p class="MainCalculator_text__s20Ue">GST in India can be defined as the tax that is levied
                                <span>Know more...</span></p>
                            <div class="MainCalculator_arrowBtn__hCFuq">Calculate Now <svg
                                    xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 14 14"
                                    fill="none">
                                    <path d="m7 1 6 6-6 6M1 7h11.143H1z" stroke="#474dbb" stroke-linecap="round"
                                        stroke-linejoin="round"></path>
                                </svg></div>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </section>
    <section class="CmsContent_eligible__8MIhE mt30">
        <div class="container">
            <div class="mt35">
                <p>Calculate your monthly payments using finance calculators that come pre-programmed with the necessary
                    formula. Pin your hopes on split-second computations to make better financial judgments. At Borrow
                    Right, we value your time and thus introduce you to a good deal of financial calculators in one
                    place. Our cutting-edge calculators are specifically designed to fine-tune the monthly budget. With
                    access to AI-based boosted calculating, you can increase the credibility of what the bank or credit
                    provider is offering.</p>
                <p>Determine your monthly payments with finance calculators pre-loaded with the required formula.
                    Lighting fast computations you can bank on for better financial decisions.</p>
                <p>Borrow Right understands the significance of your time and has come up with an array of financial
                    calculators. Our versatile range of cutting-edge calculators is precisely designed to finesse the
                    monthly budget. With access to AI-based stimulated calculation, unlock legitimacy to what the bank
                    or finance provider is offering.</p>
                <p>Nevertheless, what you are planning for i.e. home loan, personal loan, or a business loan, we assist
                    you with every financial calculator in India.</p>
                <p>We factor in specific variables including interest, principal amount, fees and tenure to help you to
                    conclude whether investing in the financial product will be fruitful for you or not. Plan everything
                    from taking out new debt to prepayment to foreclosure within a second.</p>

                <h2>Home Loan</h2>
                <p>House loans are applicable for the purchase of brand-new houses, flats and plots. Furthermore, one
                    can acquire a home loan for renovation purposes in addition to the extension and repair of the
                    existing house.</p>

                <h2>Home Loan EMI Calculator</h2>
                <p>A Home Loan EMI Calculator permits you to compute payable monthly instalments with a steadfast
                    approach. It enhances loan management, validates lender information and manages mortgage repayment
                    with utmost ease.</p>

                <h2>Home Loan Balance Transfer Calculator</h2>
                <p>Put forward your decision on the balance transfer through brief evaluations computed by the Home Loan
                    Balance Transfer Calculator. This high-tech tool will aid in easy balance transfer calculation.
                    Easily compute the associated cost and accordingly plan your cash flows.</p>

                <h2>Home Loan Prepayment Calculator</h2>
                <p>A Home Loan Prepayment calculator is an online tool designed to service housing loans. Figure out the
                    interest you are going to save with prepayment by just providing the principal amount, tenure,
                    interest rate and the number of paid instalments as inputs.</p>

                <h2>Home Loan Eligibility Calculator</h2>
                <p>Determine your housing loan eligibility through Home Loan Eligibility Calculator. This advanced
                    technology-based online calculator allows you to gauge the eligible loan amount. Make an informed
                    choice by easily setting the values through sliders including monthly income, other payable EMIs,
                    loan tenure and interest rate.</p>

                <!-- <h2>Personal Loan</h2>
                <p>A personal loan comes in handy when you're planning a vacation, upgrading your home or investing in
                    weddings. The end use of the borrowed funds is not restricted, you are free to use the amount to
                    fulfil your financial obligations.</p>

                <h2>Personal Loan EMI Calculator</h2>
                <p>A Personal Loan EMI Calculator is an automatic tool through which you can perceive equated monthly
                    instalments in short EMI payable towards the debt amount. It allows borrowers to compute appropriate
                    values easily by providing the loan amount, applicable interest rate and repayment tenure.</p>

                <h2>Personal Loan Balance Transfer Calculator</h2>
                <p>Our cutting-edge Personal Loan Balance Transfer Calculator allows you to figure out the total savings
                    you will unlock with the balance transfer. This handy simulation permits you to gauge the
                    productiveness of the personal loan balance transfer and savings in interest terms.</p>

                <h2>Personal Loan Prepayment Calculator</h2>
                <p>Urban Money’s Personal Loan Prepayment Calculator helps the borrowers to ascertain the amount and
                    plan cash flows to service personal loans. This AI-backed calculator makes partial payback planning
                    a breeze by using a simple set of numbers, thereby saving time and increasing efficiency.</p>

                <h2>Personal Loan Eligibility Calculator</h2>
                <p>The Personal Loan Eligibility Calculator is designed to make the eligibility process easier. It helps
                    to determine the loan amount that you can avail based upon monthly income and repayment capability.
                    Fill out the basic information fields and you will get a detailed summary of your eligibility within
                    seconds. Additionally, you get the opportunity to compare various lenders on a single platform.</p>

                <h2>Business Loan</h2>
                <p>Every business needs enough capital to back its core operations to stay in the industry. Undeniably
                    the most common way to fund your venture, startup or company is through a business loan. Business
                    loans provided by banks and NBFCs usually differ in numerous factors. In such scenarios, business
                    loan calculators can be the foremost choice.</p>

                <h2>Business Loan EMI Calculator</h2>
                <p>This AI-backed Business Loan EMI Calculator assists in breaking down an array of factors to provide
                    the gold standard solution to cope with the diverse needs of the applicant within no time.</p>

                <h2>Business Loan Balance Transfer Calculator</h2>
                <p>Urban Money's AI-based Business Loan Balance Transfer Calculator, helps in figuring out how much
                    you'll have to pay monthly on your transferred loan.</p>

                <h2>Business Loan Prepayment Calculator</h2>
                <p>With the Business Loan Prepayment Calculator, you get to know essential aspects, including the
                    revised monthly instalment, the total percentage saved on monthly EMIs, the repayment tenure
                    reduction, the due amount and total savings.</p>

                <h2>Business Loan Eligibility Calculator</h2>
                <p>With Urban Money’s Business Loan Eligibility Calculator, you can instantly estimate the possibilities
                    of your loan approval and the amount that you can lend. You can also examine multiple scenarios for
                    various down payments, amortisation durations alongside variable and fixed interest rates.</p>

                <h2>Eligibility Criteria</h2>
                <p>To ensure that the borrower can repay the loan amount without any delays or defaults, applicants need
                    to meet the eligibility criteria. It is necessary for the borrower to complete the approval
                    procedure faster. In general the eligibility criteria orients around age, income, credit score,
                    financial history and creditworthiness of the applicant.</p>

                <h2>Investment Calculators</h2>
                <p>Before making an investment it is important to gauge how much you are going to get in return. Use
                    Urban Money’s investment calculators to understand your ROIs instantly.</p>

                <h2>SIP Calculator</h2>
                <p>SIP calculator is a tool that enables you to compute your yields based on your systematic investment
                    routine in an instant.</p>

                <h2>FD Calculator</h2>
                <p>A fixed deposit calculator is a great tool that enables you to compute your interest returns based on
                    your monthly investment capacity.</p>

                <h2>HRA Calculator</h2>
                <p>The HRA Calculator allows you to determine your house rent allowance at lightning-fast speed! Enter
                    the required numbers and the calculator will give you the amount you will receive. HRA Calculator
                    acts as a blessing to evaluate the tax payable at the end of the financial year. With access to
                    important numbers, you get the option of better cash management.</p>

                <h2>Gratuity Calculator</h2>
                <p>A gratuity calculator is an advanced tool that estimates the amount you would earn if you left your
                    job after five years of continuous service. Its a useful financial tool for calculating the gratuity
                    when you leave the long-served venture. In a matter of seconds, the gratuity calculator would
                    display the gratuity amount. Its easy to use and can be used multiple times.</p>

                <h2>PPF Calculator</h2>
                <p>PPF Calculator is an online tool to calculate the PPF maturity amount and the returns earned on it.
                    The calculator will give an idea of how much returns you can earn on investing a specific amount in
                    the PPF.</p>

                <h2>NPS Calculator</h2>
                <p>NPS Calculator assists a potential investor in getting an in-depth analysis of the profits gained,
                    monthly pension, maturity and pension amount.</p>

                <h2>RD Calculator</h2>
                <p>A recurring deposit can be defined as a savings investment scheme in which the investor is required
                    to make regular deposits. Under this scheme, people can earn decent returns on their monthly
                    deposits.</p>

                <h2>GST Calculator</h2>
                <p>GST in India can be defined as the tax that is levied on the supply of goods and services in the
                    country. GST effectively made the tax network of the country more streamlined by replacing various
                    taxes like VAT, service tax, excise duty, etc.</p>

                <h2>SWP Calculator</h2>
                <p>SWP is an acronym for Systematic Withdrawal Plan. A mutual fund investment plan allows investors to
                    cash out a predetermined amount from their investments at periodic intervals.</p>

                <h2>Sukanya Samridhi Yojana Calculator</h2>
                <p>Sukanya Samriddhi Yojana (SSY) is a scheme initiated by the government of India to help finance every
                    daughter’s education and nurture. This savings account can be opened in any financial institute and
                    government post office.</p>

                <h2>EPF Calculator</h2>
                <p>EPF, or Employees Provident Fund, is financial security for employees in their post-work years that
                    is monitored by the Employees Provident Fund Organization (EPFO).</p>

                <h2>Mutual Fund Calculator</h2>
                <p>A mutual fund calculator takes in relevant information such as investment amount, rate of return, and
                    maturity period and computes the outcome in real-time then and there itself.</p>

                <h2>Post Office RD Calculator</h2>
                <p>With Urban Moneys online post office RD calculator, you can quickly get the maturity amount by
                    providing a couple of entries.</p>

                <h2>ELSS Calculator</h2>
                <p>Urban Money ELSS Calculator is a cutting-edge tool that helps investors understand the potential
                    profits from an ELSS fund. The calculator calculates the prospective profits based on the type of
                    investment, such as SIP investment or lumpsum investment.</p>

                <h2>Income Tax Calculator</h2>
                <p>An income tax calculator is an online AI-based tool that assists an assessee to compute the taxable
                    income in accordance with the Income Tax Act, 1961. The calculator computes an estimated tax
                    liability on your income by taking the five heads of income (income from salary, income from house
                    property, income from profits and gains of business, income from capital gains, and income from
                    other sources), deductions and exemptions into consideration.</p> -->
            </div>
        </div>
    </section>
    <section class="faq">
        <div class="container">
            <h2 class="faqHeading font24">Frequently Asked Questions (FAQs)</h2>
            <div class="faqBx">
                <div class="FAQ_question__LkjKP" [ngClass]="faqNumber === 1 ? 'FAQ_active__YNdS9' : ''  "  >
                    <div class="FAQ_faqQuestn__v3L3G">
                        <h3 class="txt font14 fontMedium">What is the difference between a financial calculator and a
                            normal calculator?</h3><span class="FAQ_pluseIcon__sWIas " (click)="changeFaqNumber(1)"></span>
                    </div>
                    <div class="FAQ_content__7VPH9">
                        <p style="text-align: justify">Unlike a normal/scientific calculator, a finance calculator is
                            customised to resolve financial problems. The AI-backed financial calculator instantly
                            breaks down complex computations into simpler ones at a quick speed.</p>
                    </div>
                </div>
                <div class="FAQ_question__LkjKP " [ngClass]="faqNumber === 2 ? 'FAQ_active__YNdS9' : ''  "  > 
                    <div class="FAQ_faqQuestn__v3L3G">
                        <h3 class="txt font14 fontMedium">What is a financial calculator used for?</h3><span
                            class="FAQ_pluseIcon__sWIas " (click)="changeFaqNumber(2)"></span>
                    </div>
                    <div class="FAQ_content__7VPH9">
                        <p style="text-align: justify">The valuations of investments, cash flow quantities and
                            loan-related charges are among the tasks that financial calculators compute in split
                            seconds. They are generally used by accountants, financiers and business owners.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>