<!-- <main>
        <div class="FloatIcon_FloatIcon__JBW0S">
                <div class="FloatIcon_Icon__OAYI3"><img alt="Urban Money Float Icon" loading="lazy" width="28" height="25"
                        decoding="async" data-nimg="1" src="./../../assets/images/FloatIcon.svg" style="color: transparent;">
                </div>
                <div class="FloatIcon_title__0ZXTP">
                    <div class="FloatIcon_closeIcon__Gi9ll"></div>
                    <p class="fontBold font12 mb10">Need Loan Assistance?</p><button
                        class="btn FloatIcon_connectNow__pDqOd">Connect Now <i class="bi bi-arrow-right"></i> </button>
                </div>
            </div>
    <div class="container">
        <div class="BreadCrumb_breadCrumb__pNdJT">
            <ul>
                <li><a class="text777 font12" href="/">Home</a></li>
                <li class="text777 font12 "><a class="" href="https://www.urbanmoney.com/investment-plans">Investment
                        Plans</a></li>
                <li class="text777 font12 ">Nsc</li>
            </ul>
        </div>
    </div>
    <div class="containerMaxiwith containerFlex">
        <section class="CmsContent_eligible__8MIhE">
            <div class="container">
                <h1 class="font24 mb30 text2828 bottomborderf5a623 Innerheading fontsemiBold lineHeight36">NSC -
                    National Savings Certificate</h1>
                <div class="CmsContent_genericBanner___VBOA"></div>
                <div class="mt35">
                    <p><span>National Savings Certificate (NSC) is a fixed income scheme that can be accessed or opened
                            at any post office in India. It's an Indian Government savings bond mainly used for income
                            tax savings and small savings investments in India.</span></p>
                    <p><span>NSC aims to encourage subscribers to make small or medium savings and avail of the tax
                            benefits rendered on the same. Since the Indian Government promotes this scheme, investment
                            risk is pretty low.</span></p>
                    <p><span>National Savings Certificate can be accessed at all NSC post offices in India. Due to the
                            considerable number of post offices in India, it is easy to access NSC everywhere.</span>
                    </p>
                    <p><span>Given below are some key particulars of this scheme:</span></p>

                    <table>
                        <tbody>
                            <tr>
                                <td colspan="2">
                                    <h2>NSC – Key Information</h2>
                                </td>
                            </tr>
                            <tr>
                                <td><span>Interest Rate</span></td>
                                <td><span>6.8% per annum</span></td>
                            </tr>
                            <tr>
                                <td><span>Lock-in Period</span></td>
                                <td><span>5 years</span></td>
                            </tr>
                            <tr>
                                <td><span>Minimum Investment</span></td>
                                <td><span>Rs. 1,000</span></td>
                            </tr>
                            <tr>
                                <td><span>Tax Benefit</span></td>
                                <td><span>Up to Rs. 1.5 lakh under Section 80C</span></td>
                            </tr>
                            <tr>
                                <td><span>Risk Profile</span></td>
                                <td><span>Low-risk</span></td>
                            </tr>
                        </tbody>
                    </table>
                    <p><span>Primarily, NSC was launched for individuals. Hence, HUFs (Hindu Undivided Families) and
                            Non-Resident Indians (NRIs) can't apply for this scheme. Also, only Indian citizens can
                            invest in NSC.</span></p>

                    <h2><span>Interest Rate on National Savings Certificate</span></h2>
                    <p><span>The National Savings Certificate interest rate stands at 6.8 percent per annum.</span></p>

                    <h2><span>Modes of Holding of National Savings Certificate</span></h2>
                    <p><span>Typically, there are three modes of holding NSC certificates. They are as follows:</span>
                    </p>

                    <h3><span>Single Holder Type Certificate</span></h3>
                    <p><span>As the name suggests, only one person can hold a single holder type certificate. Such a
                            certificate is issued only to an individual. However, the holder can also appoint nominees
                            for the NSC.</span></p>

                    <h3><span>Joint 'A' Type Certificate</span></h3>
                    <p><span>As it's a joint certificate, it is issued to two adult holders. When the certificate
                            approaches maturity, the amount will be payable to both the holders. Either the NSC holders
                            or both the holders can operate Joint A Type Certificate.</span></p>

                    <h3><span>Joint 'B' Type Certificate</span></h3>
                    <p><span>Similar to the Joint A Type certificate, Joint B Type Certificate is also issued to two
                            adult holders. The only differentiation here is the payment of maturity value, which is
                            payable to only one of the two holders.</span></p>

                    <h2><span>NSC Eligibility Criteria</span></h2>
                    <p><span>If you have pledged to invest in the National Savings Certificate scheme, you must meet the
                            following eligibility criteria:</span></p>

                    <ul>
                        <li><span>You must be an Indian resident.</span></li>
                        <li><span>There are no age criteria to purchase the certificate.</span></li>
                        <li><span>If you are an NRI, you cannot invest in an NSC.</span></li>
                        <li><span>Under NSC VIII Issue, Trusts and HUFs are not allowed to invest in the scheme.</span>
                        </li>
                        <li><span>Investment can be made with other adults, or individuals can also opt to buy an NSC on
                                behalf of a minor.</span></li>
                    </ul>
                    <h2><span>Documents Required for Investing in NSC</span></h2>
                    <p><span>Your application for opening an account with NSC will be rejected if you don't furnish the
                            required documents with valid identity proof. The list of documents is as follows:</span>
                    </p>

                    <ul>
                        <li><span>Duly filled NSC application form</span></li>
                        <li><span>Original identity proofs, such as the Voters ID or Driving Licence</span></li>
                        <li><span>Photographs</span></li>
                        <li><span>Address proof</span></li>
                        <li><span>Signature of the witness at the time of purchasing the NSC certificate</span></li>
                        <li><span>Demand Draft, Cash or Cheque in favour of the postmaster from the place where NSC is
                                to be purchased.</span></li>
                    </ul>
                    <h2><span>NSC Features</span></h2>
                    <p><span>As aforementioned, NSC is a scheme operated by the Indian Government. Hence, it is a
                            low-risk product. Besides this, the scheme has different features as follows:</span></p>

                    <ul>
                        <li><b>Minimum Amount:</b><span> The certificate can be purchased for a minimum amount of Rs.
                                100. Different denominations that individuals can use to purchase are Rs. 100, Rs. 500,
                                Rs. 1,000, Rs. 5,000, and Rs. 10,000. The scheme allows you to start with small
                                investments and increase the amount later when feasible.</span></li>
                        <li><b>Maturity Period:</b><span> NSC offers a lock-in period of 5 years and ten years.</span>
                        </li>
                        <li><b>Interest Rate: </b><span>Currently, the interest rate on NSC is 6.8%, which has been
                                reduced from 7.9%. The rate of interest is compounded annually. Nevertheless, the
                                interest will be paid only upon maturity.</span></li>
                        <li><b>Nomination Facility:</b><span> Investors can use the nomination facility to nominate
                                nominees, including family members. Individuals can also select minors as their
                                nominees. If the investor passes away in the middle of the NSC tenure, the nominee may
                                inherit the scheme.</span></li>
                        <li><b>Loans Against NSC: </b><span>The scheme allows investors to avail of loans against NSC,
                                where NSC can be used as collateral or security.</span></li>
                        <li><b>Transfer of Certificate:</b><span> You can transfer the NSC certificate from one post
                                office to another. The scheme also offers a provision for the transfer of certificates
                                from one person to another. Nevertheless, the certificate stays the same. The new
                                owner's name must be mentioned on the certificate, and the name of the old owner will be
                                rounded.</span></li>
                        <li><b>Purchase of NSC:</b><span> After submitting the documents, you can purchase the scheme at
                                any post office.</span></li>
                    </ul>
                    <h2><span>National Savings Certificate Investments Benefits&nbsp;</span></h2>
                    <p><span>The following are some of the major benefits of investing in the NSC scheme:</span></p>

                    <ul>
                        <li><span>Since the Government of India backs the NSC scheme, investment in National Savings
                                Certificates is almost risk-free.</span></li>
                        <li><span>Since NSCs are available at all post offices in India, purchasing them is easy.</span>
                        </li>
                        <li><span>NSC investment offers you the flexibility of investing a minimum amount of Rs. 1,000
                                and has no maximum limit.</span></li>
                        <li><span>Among the fixed income instruments, these investments render one of the highest rates
                                of return.</span></li>
                        <li><span>NSC offers tax deduction benefits on investments of up to Rs. 1.5 lakh
                                annually.</span></li>
                        <li><span>Investors can purchase these certificates in the name of minors as well.</span></li>
                        <li><span>NSC certificates offer you the facility of transferring the certificates to another
                                family member (nominated by the investors) if the investor dies.</span></li>
                    </ul>
                    <h2><span>How to Invest in National Savings Certificates?</span></h2>
                    <p><span>You can buy a National Savings Certificate from any post office in India by simply
                            submitting the KYC documents. Currently, NSCs cannot be purchased online. Follow the steps
                            below to invest in the NSC scheme:</span></p>
                    <p><b>Step 1:</b><span> Visit your nearest office branch and fill out the NSC application
                            form.</span></p>
                    <p><b>Step 2:</b><span> Self-attest all documents, including KYC, and submit them. You must also
                            carry the original documents and present them for further verification.</span></p>
                    <p><b>Step 3: </b><span>Pay the initial investment amount in cash or through a cheque.</span></p>
                    <p><b>Step 4:</b><span> Once your application process is processed, NSCs of the application amounts
                            will be printed. You can collect it from the post office.</span></p>

                    <h2><span>Tax Benefits Provided by NSC</span></h2>
                    <p><span>If you are a subscriber and invest in NSC, an investment of up to Rs. 1.5 lakh in the NSC
                            can earn you a tax rebate under Section 80 of the Income Tax. Moreover, the interest you
                            earn on the certificate will also be added back to the initial investment and eligible for a
                            tax break.</span></p>
                    <p><span>For example, if you buy certificates worth Rs. 1,000, you will qualify for a tax rebate on
                            that initial investment amount in the first year. However, a tax deduction on the NSC
                            investment and the interest earned in the first year can also be claimed in the second year.
                            The interest is summed up with the original investment and compounded annually.</span></p>

                    <h2><span>Transfer of National Savings Certificate</span></h2>
                    <p><span>The NSC certificate can be transferred from one person to another and from one post office
                            to another. The most significant characteristic of this transfer is that it won't even
                            impact the interest accrual or maturity of the original certificate. NSC allows the
                            following transfer options to an investor:</span></p>

                    <ul>
                        <li><span>The applicant can transfer the certificate from one post office to another by
                                submitting the 'Application for Transfer of Savings Certificates' form at the same post
                                office which earlier issued the original certificate.</span></li>
                        <li><span>If you want to transfer a certificate from one holder to another, you must fill out
                                the 'Application for Transfer of Savings Certificate' form from Person to Person under
                                certain special conditions form at the NSC issuing post office. The 'Transfer of
                                National Savings Certificates' from one person to another is possible only once during
                                the scheme maturity.</span></li>
                    </ul>
                    <h2><span>Loan Against National Savings Certificates</span></h2>
                    <p><span>As NSC is backed by the government, it is one of the safest and most secure investment
                            choices you can make. While applying for the loan, you can use an NSC certificate as your
                            collateral.</span></p>
                    <p><span>NSC not only helps secure your future but also aids in meeting pressing needs. NSC
                            certificate holders can obtain loans against NSCs for various purposes, ranging from
                            personal to business. Most banks or financial institutions don't even need reasons to avail
                            of loans unless they meet speculative interests.</span></p>
                    <p><span>One can get loans against NSCs for household requirements, business improvement, education,
                            emergency medical expenses, etc.</span></p>
                    <p><span>So, if you seek a loan against NSC, you must consider the following:</span></p>

                    <ul>
                        <li><span>You must be an Indian resident</span></li>
                        <li><span>The interest rate rendered on NSC investment varies depending on the bank offering the
                                loan and the individual loan applicant.&nbsp;</span></li>
                        <li><span>The margin applicable to a loan against NSC relies on the time remaining until
                                maturity.</span></li>
                        <li><span>The loan maturity equals the residual maturity (time remained until maturity) of the
                                NSC certificate used as collateral.</span></li>
                        <li><span>You can approach a few public-sector banks and private companies that offer this
                                facility.</span></li>
                    </ul>
                    <h2><span>Issue of Duplicate National Savings Certificates</span></h2>
                    <p><span>In case you have lost or misplaced your original NSC certificate, or it has been mutilated,
                            defaced or destroyed, you can request a duplicate certificate. You must fill out the
                            Duplicate Savings Certificates form and submit it at the same post office that issued the
                            original one. The key particulars in the form include:</span></p>

                    <ul>
                        <li><span>The date on which the applicant purchases the certificate</span></li>
                        <li><span>Details of the certificate include the serial number, NSC issue, denominations,
                                etc.</span></li>
                        <li><span>The reason to apply for a duplicate certificate must also be mentioned along with
                                other details as required.</span></li>
                    </ul>
                    <h2><span>Premature Withdrawal</span></h2>
                    <p><span>NSC VIII allows a lock-in period of 5 years with a facility of premature withdrawal
                            permitted only in specific cases, including:</span></p>

                    <ul>
                        <li><span>On the demise of the NSC holder</span></li>
                        <li><span>On the court's order for premature withdrawal of NSC</span></li>
                        <li><span>On denial by a pledgee who is a Gazetted Government Officer</span></li>
                    </ul>
                    <h2><span>Comparing NSC with other Tax-Saving Investments</span></h2>
                    <p><span>NSC is a tax-saving investment choice available under Section 80C of the Income Tax Act,
                            1961. The other popular options include PPF (Public Provident Fund), NPS (National Pension
                            System), ELSS (Equity Linked Savings Schemes) and Tax Savings FD (Fixed Deposits). However,
                            they differ in terms of interest rates, lock-in period, and more.</span></p>
                    <p><span>The table given below compares NSC with other tax-saving investment schemes:</span></p>

                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <h3>Investment</h3>
                                </td>
                                <td>
                                    <h3>Interest</h3>
                                </td>
                                <td>
                                    <h3>Lock-in Period</h3>
                                </td>
                                <td>
                                    <h3>Risk Profile</h3>
                                </td>
                            </tr>
                            <tr>
                                <td><span>NSC</span></td>
                                <td><span>6.8% p.a.</span></td>
                                <td><span>5 years</span></td>
                                <td><span>Low-risk</span></td>
                            </tr>
                            <tr>
                                <td><span>PPF</span></td>
                                <td><span>7.1% p.a.</span></td>
                                <td><span>15 years</span></td>
                                <td><span>Low-risk</span></td>
                            </tr>
                            <tr>
                                <td><span>ELSS funds</span></td>
                                <td><span>Market-linked, historical returns represent 12% to 15% p.a.</span></td>
                                <td><span>3 years</span></td>
                                <td><span>Market-related risks</span></td>
                            </tr>
                            <tr>
                                <td><span>FD</span></td>
                                <td><span>4% to 6% p.a.</span></td>
                                <td><span>5 years</span></td>
                                <td><span>Low-risk</span></td>
                            </tr>
                            <tr>
                                <td><span>NPS</span></td>
                                <td><span>Market-linked, historical returns represent 8% to 10% p.a.</span></td>
                                <td><span>Till retirement</span></td>
                                <td><span>Market-related risks</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
        <div class="RightSideBar_creditDescTile__EwfAF  " id="enquireNow">
            <h3 class="font16 font600 text181d mb15 mt30">Need Loan Assistance?</h3>
            <div class="LeadPopup_contentBox__k4AzT LeadPopup_sideBarForm__yaxs1">
                <p class="font12 text666 fontsemiBold">Connect with Loan Advisor Now!</p>
                <div class="LeadPopup_form__ZbOgW">
                    <div class="form-item"><input type="text" name="fullName" class="formInput" autocomplete="off"
                            required="" maxlength="90" value=""><label for="fullName"
                            class="font12 fontMedium formLabel">Full Name</label><span class="errorText"></span></div>
                    <div class="form-item contBox"><span class="text303542 font12 contCode fontMedium">+91</span><input
                            type="text" name="mobile" class="formInput" autocomplete="off" required="" maxlength="10"
                            value=""><label for="mobileNo" class="font12 fontMedium formLabel">Mobile No.</label><span
                            class="errorText"></span><span class="errorText"></span></div>
                    <div class="form-item">
                        <div class=" css-b62m3t-container"><span id="react-select-10-live-region"
                                class="css-7pg0cj-a11yText"></span><span aria-live="polite" aria-atomic="false"
                                aria-relevant="additions text" class="css-7pg0cj-a11yText"></span>
                            <div class=" css-13cymwt-control">
                                <div class=" css-hlgwow">
                                    <div class=" css-1jqq78o-placeholder" id="react-select-10-placeholder">Choose City
                                    </div>
                                    <div class=" css-19bb58m" data-value=""><input class="" autocapitalize="none"
                                            autocomplete="off" autocorrect="off" id="react-select-10-input"
                                            spellcheck="false" tabindex="0" type="text" aria-autocomplete="list"
                                            aria-expanded="false" aria-haspopup="true" role="combobox"
                                            aria-describedby="react-select-10-placeholder" value=""
                                            style="color: inherit; background: 0px center; opacity: 1; width: 100%; grid-area: 1 / 2; font: inherit; min-width: 2px; border: 0px; margin: 0px; outline: 0px; padding: 0px;">
                                    </div>
                                </div>
                                <div class=" css-1wy0on6"><span class=" css-1u9des2-indicatorSeparator"></span>
                                    <div class=" css-1xc3v61-indicatorContainer" aria-hidden="true"><svg height="20"
                                            width="20" viewBox="0 0 20 20" aria-hidden="true" focusable="false"
                                            class="css-8mmkcg">
                                            <path
                                                d="M4.516 7.548c0.436-0.446 1.043-0.481 1.576 0l3.908 3.747 3.908-3.747c0.533-0.481 1.141-0.446 1.574 0 0.436 0.445 0.408 1.197 0 1.615-0.406 0.418-4.695 4.502-4.695 4.502-0.217 0.223-0.502 0.335-0.787 0.335s-0.57-0.112-0.789-0.335c0 0-4.287-4.084-4.695-4.502s-0.436-1.17 0-1.615z">
                                            </path>
                                        </svg></div>
                                </div>
                            </div>
                        </div><span class="errorText"></span>
                    </div>
                    <div class="form-item">
                        <div class="Select_rangecalc__KDYd8">
                            <div class="selectBox"><select name="productType" class="formInput undefined" required="">
                                    <option value="">Choose Loan Type</option>
                                    <option value="2">Personal Loan</option>
                                    <option value="1">Home Loan</option>
                                    <option value="3">Loan Against Property</option>
                                    <option value="4">Business Loan</option>
                                    <option value="8">Credit Card</option>
                                </select></div>
                        </div><span class="errorText"></span>
                    </div>
                    <div class="LeadPopup_rangecalc__wwLC4 mb0 "><button
                            class="btn btn-primary textCenterSm font16 ">Submit </button><span class="errorText"></span>
                    </div>
                </div>
            </div>
            <h3 class="font16 font600 text181d mb15 mt30">Loans</h3>
            <div class="RightSideBar_creditTile__tbrLG mb16">
                <ul class="RightSideBar_btmoverflow__wat2N">
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/loans/home-loan">Home Loan</a>
                    </li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/loans/personal-loan">Personal
                            Loan</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/loans/loan-against-property">Loan Against Property</a></li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/loans/business-loan">Business
                            Loan</a></li>
                </ul>
            </div>
            <div
                class="RightSideBar_creditTile__tbrLG RightSideBar_creditImg__B2mz1 mb16 RightSideBar_removePadding__YDnG5">
                <a href="https://www.urbanmoney.com/credit-score"><img alt="Credit Score" loading="lazy" width="250"
                        height="250" decoding="async" data-nimg="1" class="imgResponsive" sizes="100vw"
                        srcset="/_next/image?url=https%3A%2F%2Fcdn.urbanmoney.com%2Fimages%2Fcreditscore.png&amp;w=640&amp;q=75 640w, /_next/image?url=https%3A%2F%2Fcdn.urbanmoney.com%2Fimages%2Fcreditscore.png&amp;w=750&amp;q=75 750w, /_next/image?url=https%3A%2F%2Fcdn.urbanmoney.com%2Fimages%2Fcreditscore.png&amp;w=828&amp;q=75 828w, /_next/image?url=https%3A%2F%2Fcdn.urbanmoney.com%2Fimages%2Fcreditscore.png&amp;w=1080&amp;q=75 1080w, /_next/image?url=https%3A%2F%2Fcdn.urbanmoney.com%2Fimages%2Fcreditscore.png&amp;w=1200&amp;q=75 1200w, /_next/image?url=https%3A%2F%2Fcdn.urbanmoney.com%2Fimages%2Fcreditscore.png&amp;w=1920&amp;q=75 1920w, /_next/image?url=https%3A%2F%2Fcdn.urbanmoney.com%2Fimages%2Fcreditscore.png&amp;w=2048&amp;q=75 2048w, /_next/image?url=https%3A%2F%2Fcdn.urbanmoney.com%2Fimages%2Fcreditscore.png&amp;w=3840&amp;q=75 3840w"
                        src="/_next/image?url=https%3A%2F%2Fcdn.urbanmoney.com%2Fimages%2Fcreditscore.png&amp;w=3840&amp;q=75"
                        style="color: transparent; width: 100%; height: auto;"></a>
            </div>
            <h3 class="font16 font600 text181d mb15 mt30">Investment</h3>
            <div class="RightSideBar_creditTile__tbrLG mb16">
                <ul class="RightSideBar_btmoverflow__wat2N">
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/investment-plans/epf">Employee
                            Provident Fund</a></li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/investment-plans/sip">Systematic
                            Investment Plan</a></li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/fixed-deposit-rate">Fixed
                            Deposit</a></li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/mutual-funds">Mutual Funds</a>
                    </li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/investment-plans/recurring-deposit">Recurring Deposit</a>
                    </li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/investment-plans/sip">Systematic
                            Investment Plan (SIP)</a></li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/investment-plans/epf">Employees
                            Provident Fund (EPF)</a></li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/investment-plans/ppf">Public
                            Provident Fund (PPF)</a></li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/investment-plans/vpf">Voluntary
                            Provident Fund (VPF)</a></li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/investment-plans/elss">ELSS</a>
                    </li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/investment-plans/nps">National
                            Pension Scheme (NPS)</a></li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/investment-plans/nsc">National
                            Savings Certificate (NSC)</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/investment-plans/senior-citizens-saving-scheme">Senior
                            Citizen Saving Scheme</a></li>
                </ul>
            </div>
            <h3 class="font16 font600 text181d mb15 mt30">Financial Calculators</h3>
            <div class="RightSideBar_creditTile__tbrLG mb16">
                <ul class="RightSideBar_btmoverflow__wat2N">
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/calculator/income-tax-calculator">Income Tax Calculator</a>
                    </li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/calculator/sip-calculator">SIP
                            Calculator</a></li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/calculator/fd-calculator">FD
                            Calculator</a></li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/calculator/hra-calculator">HRA
                            Calculator</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/calculator/lumpsum-calculator">Lumpsum Calculator</a></li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/calculator/ppf-calculator">PPF
                            Calculator</a></li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/calculator/rd-calculator">RD
                            Calculator</a></li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/calculator/gst-calculator">GST
                            Calculator</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/calculator/sukanya-samriddhi-yojana-calculator">Sukanya
                            Samridhi Yojana Calculator</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/calculator/mutual-fund-calculator">Mutual Fund
                            Calculator</a></li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/calculator/tds-calculator">TDS
                            Calculator</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/calculator/salary-calculator">Salary Calculator</a></li>
                </ul>
            </div>
            <h3 class="font16 font600 text181d mb15 mt30">Check Eligibility</h3>
            <div class="RightSideBar_creditTile__tbrLG mb16">
                <ul class="RightSideBar_btmoverflow__wat2N">
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/loans/home-loan/eligibility-calculator">Home Loan
                            Eligibility Calculator</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/loans/personal-loan/eligibility-calculator">Personal Loan
                            Eligibility Calculator</a></li>
                </ul>
            </div>
            <h3 class="font16 font600 text181d mb15 mt30">Top 10 AMC</h3>
            <div class="RightSideBar_creditTile__tbrLG mb16">
                <ul class="RightSideBar_btmoverflow__wat2N">
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/mutual-funds/sbi-mutual-fund">SBI Mutual Fund</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/mutual-funds/axis-mutual-fund">Axis Mutual Fund</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/mutual-funds/hdfc-mutual-fund">HDFC Mutual Fund</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/mutual-funds/uti-mutual-fund">UTI Mutual Fund</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/mutual-funds/icici-prudential-mutual-fund">ICICI Prudential
                            Mutual Fund</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/mutual-funds/tata-mutual-fund">Tata Mutual Fund</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/mutual-funds/kotak-mahindra-mutual-fund">Kotak Mahindra
                            Mutual Fund</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/mutual-funds/canara-robeco-mutual-fund">Canara Rodeco
                            Mutual Fund</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/mutual-funds/mirae-asset-mutual-fund">Mirae Asset Mutual
                            Fund</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/mutual-funds/bandhan-mutual-fund">Bandhan Mutual Fund</a>
                    </li>
                </ul>
            </div>
            <h3 class="font16 font600 text181d mb15 mt30">Top 10 Banks</h3>
            <div class="RightSideBar_creditTile__tbrLG mb16">
                <ul class="RightSideBar_btmoverflow__wat2N">
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/banks-in-india/citi-bank">CITI
                            Bank</a></li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/banks-in-india/rbl-bank">RBL
                            Bank</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/banks-in-india/bank-of-baroda">Bank of Baroda</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/banks-in-india/canara-bank">Canara Bank</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/banks-in-india/bajaj-finserv">Bajaj Finserv</a></li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/banks-in-india/yes-bank">Yes
                            Bank</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/banks-in-india/deutsche-bank">Deutsche Bank</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/banks-in-india/idfc-first-bank">IDFC FIRST Bank</a></li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/banks-in-india/dcb-bank">DCB
                            Bank</a></li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/banks-in-india/kotak-bank">Kotak
                            Bank</a></li>
                </ul>
            </div>
        </div>
    </div>
    <section class="faq">
        <div class="container">
            <h2 class="faqHeading font24">Frequently Asked Questions (FAQs)</h2>
            <div class="faqBx">
                <div class="FAQ_question__LkjKP ">
                    <div class="FAQ_faqQuestn__v3L3G">
                        <h3 class="txt font14 fontMedium">How to buy NSC?</h3><span
                            class="FAQ_pluseIcon__sWIas "></span>
                    </div>
                    <div class="FAQ_content__7VPH9">
                        <p style="text-align: justify"><span style="font-weight: 400">To buy an NSC, you must visit your
                                nearest post office branch. Submit the duly filled NSC application form and attach
                                self-attested copies of the documents and proofs demanded by the Post Office.</span></p>
                        <p style="text-align: justify"><span style="font-weight: 400">At the time of verification, carry
                                the original documents. Pay your investment in cheque or cash or demand draft. Once your
                                application is processed, you will receive an acknowledgement of the same with the
                                initiation of your NSC account.</span></p>
                    </div>
                </div>
                <div class="FAQ_question__LkjKP ">
                    <div class="FAQ_faqQuestn__v3L3G">
                        <h3 class="txt font14 fontMedium">How can I get a National Savings Certificate online?</h3><span
                            class="FAQ_pluseIcon__sWIas "></span>
                    </div>
                    <div class="FAQ_content__7VPH9">
                        <p style="text-align: justify"><span style="font-weight: 400">Currently, you cannot obtain an
                                NSC certificate online.</span></p>
                    </div>
                </div>
                <div class="FAQ_question__LkjKP ">
                    <div class="FAQ_faqQuestn__v3L3G">
                        <h3 class="txt font14 fontMedium">What are the NSC certificate denominations?</h3><span
                            class="FAQ_pluseIcon__sWIas "></span>
                    </div>
                    <div class="FAQ_content__7VPH9">
                        <p style="text-align: justify"><span style="font-weight: 400">Rs. 100, Rs. 500, Rs. 1000, Rs.
                                5000, and Rs. 10,000 are the denominations for the NSC certificate.</span></p>
                    </div>
                </div>
                <div class="FAQ_question__LkjKP ">
                    <div class="FAQ_faqQuestn__v3L3G">
                        <h3 class="txt font14 fontMedium">What is the NSC interest rate?</h3><span
                            class="FAQ_pluseIcon__sWIas "></span>
                    </div>
                    <div class="FAQ_content__7VPH9">
                        <p style="text-align: justify"><span style="font-weight: 400">The interest rate for the NSC
                                certificate is 6.8%.</span></p>
                    </div>
                </div>
                <div class="FAQ_question__LkjKP ">
                    <div class="FAQ_faqQuestn__v3L3G">
                        <h3 class="txt font14 fontMedium">Is there a lock-in period with investment in NSC?</h3><span
                            class="FAQ_pluseIcon__sWIas "></span>
                    </div>
                    <div class="FAQ_content__7VPH9">
                        <p style="text-align: justify"><span style="font-weight: 400">Yes, the lock-in period for NSC
                                investment is five years.</span></p>
                    </div>
                </div>
                <div class="FAQ_question__LkjKP ">
                    <div class="FAQ_faqQuestn__v3L3G">
                        <h3 class="txt font14 fontMedium">NSC comes under which Section?</h3><span
                            class="FAQ_pluseIcon__sWIas "></span>
                    </div>
                    <div class="FAQ_content__7VPH9">
                        <p style="text-align: justify"><span style="font-weight: 400">NSC qualifies for tax deductions
                                under Section 80C.</span></p>
                    </div>
                </div>
                <div class="FAQ_question__LkjKP ">
                    <div class="FAQ_faqQuestn__v3L3G">
                        <h3 class="txt font14 fontMedium">Which is better? NSC or KVP?</h3><span
                            class="FAQ_pluseIcon__sWIas "></span>
                    </div>
                    <div class="FAQ_content__7VPH9">
                        <p style="text-align: justify"><span style="font-weight: 400">NSC and KVP are two entirely
                                different schemes with different objectives. While NSC is a fixed-income scheme aimed at
                                helping people make small and medium savings, KVP is Kisan Vikas Patra which encourages
                                long-term financial discipline in people.</span></p>
                    </div>
                </div>
                <div class="FAQ_question__LkjKP ">
                    <div class="FAQ_faqQuestn__v3L3G">
                        <h3 class="txt font14 fontMedium">How to open an NSC account in the post office?</h3><span
                            class="FAQ_pluseIcon__sWIas "></span>
                    </div>
                    <div class="FAQ_content__7VPH9">
                        <p style="text-align: justify"><span style="font-weight: 400">Simply visit your nearest post
                                office branch, fill out the NSC application form, and submit the self-attested copy of
                                the documents and your KYC. Present your original documents at the time of verification.
                                Once it is validated, you will be notified of the same.</span></p>
                    </div>
                </div>
                <div class="FAQ_question__LkjKP ">
                    <div class="FAQ_faqQuestn__v3L3G">
                        <h3 class="txt font14 fontMedium">How to calculate NSC interest?</h3><span
                            class="FAQ_pluseIcon__sWIas "></span>
                    </div>
                    <div class="FAQ_content__7VPH9">
                        <p style="text-align: justify"><span style="font-weight: 400">Either you can use the NSC
                                interest calculator, or you can use the formula given below:</span></p>
                        <p style="text-align: justify"><b>R = A x 100/P x T</b></p>
                        <p style="text-align: justify"><span style="font-weight: 400">Here P is the principal amount you
                                have invested, A is the maturity amount, T is the lock-in period, and R is the interest
                                rate.</span></p>
                    </div>
                </div>
                <div class="FAQ_question__LkjKP ">
                    <div class="FAQ_faqQuestn__v3L3G">
                        <h3 class="txt font14 fontMedium">Which is better? NSC or PPF?</h3><span
                            class="FAQ_pluseIcon__sWIas "></span>
                    </div>
                    <div class="FAQ_content__7VPH9">
                        <p><span style="font-weight: 400">Both NSC and PPF are schemes run and promoted by the Indian
                                Government. So, both are low-risk investments. Both of them have their own pros and
                                cons. While NSC has an interest rate of 6.8%, PPF offers an interest rate of 7.1%. The
                                lock-in period for NSC is five years, while that of PPF is 15 years. The interest in NSC
                                is taxable, while in PPF, it is free.</span></p>
                    </div>
                </div>
                <div class="FAQ_question__LkjKP ">
                    <div class="FAQ_faqQuestn__v3L3G">
                        <h3 class="txt font14 fontMedium">What is the minimum amount for NSC?</h3><span
                            class="FAQ_pluseIcon__sWIas "></span>
                    </div>
                    <div class="FAQ_content__7VPH9">
                        <p style="text-align: justify"><span style="font-weight: 400">The minimum amount for NSC is Rs.
                                1,000.</span></p>
                    </div>
                </div>
                <div class="FAQ_question__LkjKP ">
                    <div class="FAQ_faqQuestn__v3L3G">
                        <h3 class="txt font14 fontMedium">For how many years can you invest in NSC?</h3><span
                            class="FAQ_pluseIcon__sWIas "></span>
                    </div>
                    <div class="FAQ_content__7VPH9">
                        <p style="text-align: justify"><span style="font-weight: 400">It is for five years.</span></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main> -->