<!-- <main>
    <div class="FloatIcon_FloatIcon__JBW0S">
        <div class="FloatIcon_Icon__OAYI3"><img alt="Urban Money Float Icon" loading="lazy" width="28" height="25"
                decoding="async" data-nimg="1" src="./../../assets/images/FloatIcon.svg" style="color: transparent;">
        </div>
        <div class="FloatIcon_title__0ZXTP">
            <div class="FloatIcon_closeIcon__Gi9ll"></div>
            <p class="fontBold font12 mb10">Need Loan Assistance?</p><button
                class="btn FloatIcon_connectNow__pDqOd">Connect Now <i class="bi bi-arrow-right"></i> </button>
        </div>
    </div>
    <section class="AxisBank_banner__UzoaR">
        <div class="container">
            <div class="AxisBank_tpSection__pLqVQ">
                <div class="AxisBank_txtSection__XiDFM"><a
                        href="https://clctab.axisbank.co.in/DigitalChannel/WebForm/?ipa183"
                        class="idfc_credit_card"><img class="imgResponsive AxisBank_bankLogo__YQi4m mb10"
                            src="/assets/images/axis-logo1.png" alt="Axis Bank"></a>
                    <div class="text181b30 font22 fontThin lineHeight40 AxisBank_head__pboY_">Shop Smart and Enjoy
                        Rewarding Transactions<h1 class="font45 fontsemiBold lineHeight57">Welcome rewards<br><span>Axis
                                Bank Credit Card</span></h1>
                    </div>
                    <div class="AxisBank_offerTile__pHe0Y">
                        <div class="AxisBank_indOffer__KzZ4H">
                            <figure><img class="imgResponsive" src="/assets/images/tax-free.svg" alt="Axis Bank">
                            </figure>
                            <div>
                                <p class="font16  lineHeight26 text181b30 fontsemiBold">Super Saver Interest Rates</p>
                                <p class="font14  lineHeight22 text818181 ">Ranging from 1.5% to 3.6% per month.</p>
                            </div>
                        </div>
                        <div class="AxisBank_indOffer__KzZ4H">
                            <figure><img class="imgResponsive" src="/assets/images/premium-quality-2.svg"
                                    alt="Axis Bank"></figure>
                            <div>
                                <p class="font16  lineHeight26 text181b30 fontsemiBold">2x Edge Reward Points </p>
                                <p class="font14  lineHeight22 text818181 ">Exciting reward programs. Shop for
                                    redeemable credit points. </p>
                            </div>
                        </div>
                    </div><a class="btn btn-primary font14  textCenterSm AxisBank_webbtn__Z41CF idfc_credit_card"
                        href="https://clctab.axisbank.co.in/DigitalChannel/WebForm/?ipa183">Apply Now<em
                            class="icon-arrow-right font14"></em></a>
                </div>
                <div class="AxisBank_imgSection__1XrOY"><img class="imgResponsive"
                        src="/assets/images/axis-imag-top.png" alt="Axis Bank"><a
                        class="btn btn-primary font14 btn25 textCenterSm idfc_credit_card AxisBank_mobilebtn__0nV65"
                        href="https://clctab.axisbank.co.in/DigitalChannel/WebForm/?ipa183">Apply Now<em
                            class="icon-arrow-right font14"></em></a></div>
            </div>
        </div>
    </section>
    <div class="container">
        <div class="BreadCrumb_breadCrumb__pNdJT">
            <ul>
                <li><a class="text777 font12" href="/">Home</a></li>
                <li class="text777 font12 "><a class="" href="https://www.urbanmoney.com/credit-card">Credit Card</a>
                </li>
                <li class="text777 font12 ">Axis Bank</li>
            </ul>
        </div>
    </div>
    <section class="AxisBank_benefits__QoYeZ">
        <div class="container">
            <p class="font14 mb12 lineHeight20 text2828">BENEFITS &amp; PRIVILEGES</p>
            <h2 class="AxisBank_heading__OmyrB textBlack fontsemiBold mb60">More reasons to love our Axis Bank Credit
                Card</h2>
            <div class="AxisBank_offertiles__Qf6mO">
                <div class="AxisBank_Indtile__pRJZf">
                    <figure class="mb10"><img class="imgResponsive" src="/assets/images/cashwithd.svg" alt="Axis Bank">
                    </figure>
                    <p class="font16 lineHeight26 mb5 text181b30">Interest-Free Period*</p>
                    <p class="font14 text777">A lucrative opportunity to enjoy a grace period of up to 50 days comes
                        with Axis Bank Credit Cards. Shop around without paying any interest during this period. </p>
                </div>
                <div class="AxisBank_Indtile__pRJZf">
                    <figure class="mb10"><img class="imgResponsive" src="/assets/images/cashwithd.svg" alt="Axis Bank">
                    </figure>
                    <p class="font16 lineHeight26 mb5 text181b30">Cash Advance Facility</p>
                    <p class="font14 text777">Withdraw up to 30% of your credit limit from almost any ATM across the
                        world with this incredible cash advance facility. </p>
                </div>
                <div class="AxisBank_Indtile__pRJZf">
                    <figure class="mb10"><img class="imgResponsive" src="/assets/images/accer.svg" alt="Axis Bank">
                    </figure>
                    <p class="font16 lineHeight26 mb5 text181b30">Reward Points</p>
                    <p class="font14 text777">Collect accelerated rewards points offered on transactions and enjoy
                        unlimited redeemable options on an array of items.</p>
                </div>
                <div class="AxisBank_Indtile__pRJZf">
                    <figure class="mb10"><img class="imgResponsive" src="/assets/images/norush.svg" alt="Axis Bank">
                    </figure>
                    <p class="font16 lineHeight26 mb5 text181b30">Milestone Benefits</p>
                    <p class="font14 text777">Be a privileged member by unlocking milestones and enjoy attractive
                        vouchers, cashback, and other rewarding provisions. </p>
                </div>
                <div class="AxisBank_Indtile__pRJZf">
                    <figure class="mb10"><img class="imgResponsive" src="/assets/images/movieoffer.svg" alt="Axis Bank">
                    </figure>
                    <p class="font16 lineHeight26 mb5 text181b30">Discounts on Dining &amp; Movie Offer</p>
                    <p class="font14 text777">Make your dining and movie experience a lot more enjoyable by winning
                        lucrative discount deals and cashback offers. </p>
                </div>
                <div class="AxisBank_Indtile__pRJZf">
                    <figure class="mb10"><img class="imgResponsive" src="/assets/images/cardwelocme.svg"
                            alt="Axis Bank"></figure>
                    <p class="font16 lineHeight26 mb5 text181b30">Welcome Offer</p>
                    <p class="font14 text777">Don’t miss out on the opportunity to grab limited welcome offer gifts,
                        vouchers, grace periods, and other exciting deals on your Axis Bank Credit Card purchases.</p>
                </div>
                <div class="AxisBank_Indtile__pRJZf">
                    <figure class="mb10"><img class="imgResponsive" src="/assets/images/cashabckonemi.svg"
                            alt="Axis Bank"></figure>
                    <p class="font16 lineHeight26 mb5 text181b30">EMI Offer</p>
                    <p class="font14 text777">Shop hassle-free with the incredible “Hello-EMI’ facility available on
                        transactions above INR 2500. Choose the tenure of your choice for repayments.</p>
                </div>
                <div class="AxisBank_Indtile__pRJZf">
                    <figure class="mb10"><img class="imgResponsive" src="/assets/images/cardwelocme.svg"
                            alt="Axis Bank"></figure>
                    <p class="font16 lineHeight26 mb5 text181b30">Cashback on Fuel Spends</p>
                    <p class="font14 text777">Now fuel spending can be converted into reward points and cashback with
                        the Axis Credit card. Grab the opportunity today!</p>
                </div>
                <div class="AxisBank_Indtile__pRJZf">
                    <figure class="mb10"><img class="imgResponsive" src="/assets/images/moreoffer.svg" alt="Axis Bank">
                    </figure>
                    <p class="font16 lineHeight26 mb5 text181b30">Choose Your Most Convenient Payment Option</p>
                    <p class="font14 lineHeight21  text777">Be in charge of your decisions pertaining to your Axis Bank
                        credit card payment options. Choose any of the several options available.</p>
                </div>
                <div class="AxisBank_Indtile__pRJZf">
                    <figure class="mb10"><img class="imgResponsive" src="/assets/images/moreoffer.svg" alt="Axis Bank">
                    </figure>
                    <p class="font16 lineHeight26 mb5 text181b30">Lifestyle Benefits</p>
                    <p class="font14 lineHeight21  text777">Enjoy lifestyle benefits available on Axis Credit Card
                        transactions, including Satya Paul vouchers, cashback on movie tickets, discounts on dining,
                        etc.</p>
                </div>
            </div><a href="https://clctab.axisbank.co.in/DigitalChannel/WebForm/?ipa183"
                class="idfc_credit_card btn btn-primary font14 btn25 textCenterSm">Apply Now<em
                    class="icon-arrow-right font14"></em></a>
            <div class="AxisBank_imgBox__KX_PV"><img class="imgResponsive" src="./../../../assets/images/axis-img.png"
                    alt="Axis Bank"></div>
        </div>
    </section>
    <section class="CreditScore_addSection__oQn5B">
        <div class="container">
            <div class="CreditScore_latestCreditBlue__gbIXd">
                <div class="CreditScore_creditHead__y5A5p"><em class="CreditScore_miloMeter__Z5Bfy"></em>
                    <p class="font22 textWhite fontMedium lineHeight24 ">Get your latest Credit Score, <span
                            class="textf7b500">FREE</span></p>
                </div><button class="btn btn-blue fontBold CreditScore_apply__GSpaV">Check Now <em
                        class="icon-arrow-right font14"></em></button>
            </div>
        </div>
    </section>
    <section class="faq">
        <div class="container">
            <h2 class="faqHeading textCenter font24">Frequently Asked Questions</h2>
            <p class="font14 lineHeight24 textCenter text444 mb45 faqP">From refinancing to reducing your interest, we
                have the answers right here.</p>
            <div class="faqBx">
                <div class="FAQ_question__LkjKP ">
                    <div class="FAQ_faqQuestn__v3L3G">
                        <h3 class="txt font14 fontMedium">Can I get an Axis bank Credit Card for my family?</h3><span
                            class="FAQ_pluseIcon__sWIas "></span>
                    </div>
                    <div class="FAQ_content__7VPH9">
                        <p>Yes, add-on credit cards for family members are available from Axis Bank to its credit card
                            customers. The additional cardholder can enjoy similar privileges as the primary cardholder.
                        </p>
                    </div>
                </div>
                <div class="FAQ_question__LkjKP ">
                    <div class="FAQ_faqQuestn__v3L3G">
                        <h3 class="txt font14 fontMedium">What if I lost my Axis bank Credit Card?</h3><span
                            class="FAQ_pluseIcon__sWIas "></span>
                    </div>
                    <div class="FAQ_content__7VPH9">
                        <p>- In a scenario where you have lost your Axis Bank credit card, report the same immediately
                            to the bank via their customer service channels. Additionally, request a card block as well.
                            You can also request a new card.</p>
                    </div>
                </div>
                <div class="FAQ_question__LkjKP ">
                    <div class="FAQ_faqQuestn__v3L3G">
                        <h3 class="txt font14 fontMedium">How can we earn reward points on Axis bank Credit Cards?</h3>
                        <span class="FAQ_pluseIcon__sWIas "></span>
                    </div>
                    <div class="FAQ_content__7VPH9">
                        <p>There are several opportunities to earn reward points on Axis bank's credit card. All you
                            need to do is make payments across categories. You can earn up to ten times and also grab
                            exciting discounts on selected products. </p>
                    </div>
                </div>
                <div class="FAQ_question__LkjKP ">
                    <div class="FAQ_faqQuestn__v3L3G">
                        <h3 class="txt font14 fontMedium">What to do if we notice an unauthorized transaction on my Axis
                            bank Credit Card?</h3><span class="FAQ_pluseIcon__sWIas "></span>
                    </div>
                    <div class="FAQ_content__7VPH9">
                        <p>The first and foremost thing to remember when you notice an unauthorized transaction is to
                            report it to the bank. Further, the bank staff will assist you with the necessary steps to
                            be taken. </p>
                    </div>
                </div>
                <div class="FAQ_question__LkjKP ">
                    <div class="FAQ_faqQuestn__v3L3G">
                        <h3 class="txt font14 fontMedium">How much is the minimum credit score required for an Axis bank
                            Credit Card?</h3><span class="FAQ_pluseIcon__sWIas "></span>
                    </div>
                    <div class="FAQ_content__7VPH9">
                        <p>You must have a credit score of 750 to avail of the benefits of any Axis bank credit card.
                            However, lower credit scores can still be eligible but with lesser benefits or provisions.
                        </p>
                    </div>
                </div>
                <div class="FAQ_question__LkjKP ">
                    <div class="FAQ_faqQuestn__v3L3G">
                        <h3 class="txt font14 fontMedium">Can we use my Axis bank Credit Card internationally?</h3><span
                            class="FAQ_pluseIcon__sWIas "></span>
                    </div>
                    <div class="FAQ_content__7VPH9">
                        <p>Yes, you can use your Axis Bank credit card internationally. If you have an international
                            credit card, you can activate/deactivate international usage on digital channels or call
                            Axis Bank on their Phone Banking numbers.</p>
                    </div>
                </div>
                <div class="FAQ_question__LkjKP ">
                    <div class="FAQ_faqQuestn__v3L3G">
                        <h3 class="txt font14 fontMedium">How can we view monthly statements about Axis bank Credit
                            Cards?</h3><span class="FAQ_pluseIcon__sWIas "></span>
                    </div>
                    <div class="FAQ_content__7VPH9">
                        <p>There are several ways to view Axis Bank Credit Card monthly statements. These include Axis
                            Support, Axis Mobile App, and Internet banking.</p>
                    </div>
                </div>
                <div class="FAQ_question__LkjKP ">
                    <div class="FAQ_faqQuestn__v3L3G">
                        <h3 class="txt font14 fontMedium">How can I increase my Axis bank Credit Card limit?</h3><span
                            class="FAQ_pluseIcon__sWIas "></span>
                    </div>
                    <div class="FAQ_content__7VPH9">
                        <p>You can request an Axis bank credit card limit through various channels, including Axis
                            Mobile Application and Axis Internet Banking. </p>
                    </div>
                </div>
                <div class="FAQ_question__LkjKP ">
                    <div class="FAQ_faqQuestn__v3L3G">
                        <h3 class="txt font14 fontMedium">How can I check Axis bank's Credit Card outstanding?</h3><span
                            class="FAQ_pluseIcon__sWIas "></span>
                    </div>
                    <div class="FAQ_content__7VPH9">
                        <p>If you are using Axis Internet Banking, follow the steps as given. Login &gt; Home &gt;
                            Accounts &gt; My Credit Cards &gt; Select the Card &gt; Outstanding will be displayed. Total
                            Payment Due is the amount due as per the last statement &amp; Current Outstanding is the
                            amount due to date.</p>
                    </div>
                </div>
                <div class="FAQ_question__LkjKP ">
                    <div class="FAQ_faqQuestn__v3L3G">
                        <h3 class="txt font14 fontMedium">What is the grace period for Axis bank Credit Cards?</h3><span
                            class="FAQ_pluseIcon__sWIas "></span>
                    </div>
                    <div class="FAQ_content__7VPH9">
                        <p>The grace period for an Axis Bank credit card is the time between the transaction and the
                            payment due date. During this period, no interest is charged on the credit card transaction.
                            There will be no additional charges if you pay your credit card bill within this time. The
                            interest-free period can be between 20 to 50 days.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="InternalBlog_blogs__XWFqb">
        <div class="container">
            <h2 class="font24 textBlack fontsemiBold mb10">Credit Card Guide</h2>
            <p class="font14 lineHeight22 mb30 text2828">Get in-depth knowledge about all things related to loans and
                your finances</p>
            <div class="InternalBlog_tiles__DsGB4">
                <div class="InternalBlog_indTile__myHvD">
                    <figure><img alt="PNB Credit Card Customer Care Number" loading="lazy" width="152" height="150"
                            decoding="async" data-nimg="1" class="imgResponsive"
                            src="./../../../assets/images/Credit-Card-Helpline-Numbers-compressed.webp"
                            style="color: transparent;"></figure>
                    <div class="InternalBlog_blogItem__iU0p_">
                        <div class="InternalBlog_blogInfo__JvPtv"><span class="InternalBlog_name__LehqT">Mansi
                                Saini</span><span class="InternalBlog_date__CiVJk">Sep 18, 2023</span></div><a
                            target="_blank"
                            href="https://www.urbanmoney.com/blog/pnb-credit-card-customer-care-number-csart">
                            <h3 class="InternalBlog_mainTitle__m6PVU">PNB Credit Card Customer Care Number</h3>
                        </a>
                        <p class="font14 text777 clearBoth">The PNB customer care number allows 24x7 access to Punjab
                            National Bank’s credit card support services. The Punjab national customer care numbers
                            allow cardholders to make their enquiries at no call c</p><label
                            class="font12 textLink">Read More <em class="icon-angle-right arrowSm"></em></label>
                    </div>
                </div>
                <div class="InternalBlog_indTile__myHvD">
                    <figure><img alt="What is a Credit Card Grace Period?" loading="lazy" width="152" height="150"
                            decoding="async" data-nimg="1" class="imgResponsive"
                            src="./../../../assets/images/Credit-Card-Grace-Period-compressed.webp"
                            style="color: transparent;"></figure>
                    <div class="InternalBlog_blogItem__iU0p_">
                        <div class="InternalBlog_blogInfo__JvPtv"><span class="InternalBlog_name__LehqT">Rishabh
                                Baisoy</span><span class="InternalBlog_date__CiVJk">Sep 13, 2023</span></div><a
                            target="_blank"
                            href="https://www.urbanmoney.com/blog/what-is-a-credit-card-grace-period-csart">
                            <h3 class="InternalBlog_mainTitle__m6PVU">What is a Credit Card Grace Period?</h3>
                        </a>
                        <p class="font14 text777 clearBoth">A grace period is a period that falls between the billing
                            date and the due payment date. You’ll be charged a minimum amount on purchases during this
                            period, or there will be no charges at all. It’s no</p><label class="font12 textLink">Read
                            More <em class="icon-angle-right arrowSm"></em></label>
                    </div>
                </div>
                <div class="InternalBlog_indTile__myHvD">
                    <figure><img alt="What is a Credit Card Cash Advance?" loading="lazy" width="152" height="150"
                            decoding="async" data-nimg="1" class="imgResponsive"
                            src="./../../../assets/images/How-Good-is-Credit-Card-Cash-Advance-compressed.webp"
                            style="color: transparent;"></figure>
                    <div class="InternalBlog_blogItem__iU0p_">
                        <div class="InternalBlog_blogInfo__JvPtv"><span class="InternalBlog_name__LehqT">Rishabh
                                Baisoy</span><span class="InternalBlog_date__CiVJk">Sep 07, 2023</span></div><a
                            target="_blank" href="https://www.urbanmoney.com/blog/credit-card-cash-advances-csart">
                            <h3 class="InternalBlog_mainTitle__m6PVU">What is a Credit Card Cash Advance?</h3>
                        </a>
                        <p class="font14 text777 clearBoth">A credit card cash advance is the withdrawal of the cash
                            from your credit card account. In simple words, when a credit card user utilises the credit
                            card in an ATM to withdraw cash, that is called a C</p><label class="font12 textLink">Read
                            More <em class="icon-angle-right arrowSm"></em></label>
                    </div>
                </div>
            </div>
            <div class="InternalBlog_cntr__oMpqS"><button class="btn btn-primary font14 textCenterSm btn25">View all
                    Blogs<em class="icon-arrow-right arw font14 mrg"></em></button></div>
        </div>
    </section>
</main> -->