<!-- <main>
        <div class="FloatIcon_FloatIcon__JBW0S">
                <div class="FloatIcon_Icon__OAYI3"><img alt="Urban Money Float Icon" loading="lazy" width="28" height="25"
                        decoding="async" data-nimg="1" src="./../../assets/images/FloatIcon.svg" style="color: transparent;">
                </div>
                <div class="FloatIcon_title__0ZXTP">
                    <div class="FloatIcon_closeIcon__Gi9ll"></div>
                    <p class="fontBold font12 mb10">Need Loan Assistance?</p><button
                        class="btn FloatIcon_connectNow__pDqOd">Connect Now <i class="bi bi-arrow-right"></i> </button>
                </div>
            </div>
    <div class="container">
        <div class="BreadCrumb_breadCrumb__pNdJT">
            <ul>
                <li><a class="text777 font12" href="/">Home</a></li>
                <li class="text777 font12 "><a class="" href="https://www.urbanmoney.com/investment-plans">Investment
                        Plans</a></li>
                <li class="text777 font12 ">Recurring Deposit</li>
            </ul>
        </div>
    </div>
    <div class="container containerFlex">
        <section class="CmsContent_eligible__8MIhE">
            <div class="container">
                <h1 class="font24 mb30 text2828 bottomborderf5a623 Innerheading fontsemiBold lineHeight36">Recurring
                    Deposit</h1>
                <div>
                    <p>If you want to save some money overtime in small instalments, you can easily use a recurring
                        deposit account. A recurring deposit account comes with flexible term options and helps you grow
                        your savings with interest equivalent to any FD account. With minimal documentation, you can
                        open an RD account for as less as six months tenure. This deposit account, therefore, comes
                        handy to achieve both short-term and long-term goals.</p>

                    <h2><span>Recurring Deposit - An Overview</span></h2>
                    <p><span>Recurring Deposit or RD is a financial investment tool offered by Indian banks and NBFCs to
                            individuals who wish to invest a small amount of money every month for an agreed term. It is
                            a unique term deposit that offers flexibility and decent compounded returns over time. The
                            maturity of recurring deposits can range from anywhere between 6 months to 10 years.</span>
                    </p>

                    <h2><span>What is a Recurring Deposit Account?</span></h2>
                    <p><span>A Recurring Deposit account can be maintained in any bank offering the respective services.
                            Generally, the customers have the flexibility to invest any amount depending on the minimum
                            deposit requirements which differ from bank to bank. The interest returns on RDs are based
                            on the policies of the financial institutions. This is a great savings opportunity for
                            individuals with regular incomes.</span></p>
                    <p><em><span>It is indeed always in the best interest of everyone themselves and for their loved
                                ones to develop an interest in financial management. Opening a Recurring Deposit Account
                                is a great way to building secure financial aid for exigencies in
                                life.</span></em><span>
                        </span></p>

                    <h2><span>Important Facets of a Recurring Deposit Account</span></h2>
                    <p><span>There are many strategic benefits of opening a Recurring Deposit Account. Firstly, an RD
                            account lets individuals invest a recurring amount they are comfortable with. Moreover, the
                            investment assures interest payments which are compounded quarterly as well. Additionally,
                            the rate of interest generally is similar to that of a Fixed Deposit plan which means that
                            individuals can enjoy higher returns than their savings capital.</span></p>
                    <p><span>Although subjective to financial institutions, it is possible to break the Recurring
                            Deposit Account and withdraw money.&nbsp;</span></p>
                    <p><span>Other than that, one can seek loans with Recurring Deposits as collateral. Applicants can
                            get as much as 80% of the decided RD revenue as the loan amount. Finally, for ease,
                            individuals can instruct banks to make recurring investments automatically from their
                            accounts through the standing instruction tool.</span></p>

                    <h3><span>Takeaways&nbsp;</span></h3>
                    <p><span>A Recurring Deposit Plan contains:</span></p>

                    <ul>
                        <li><span>The flexibility of deciding the investment amount and monthly payment</span></li>
                        <li><span>Interest returns similar to FDs&nbsp;</span></li>
                        <li><span>6 months to 10 years of maturity period</span></li>
                        <li><span>Collateral benefits for loan sanctions</span></li>
                        <li><span>Premature withdrawals</span></li>
                    </ul>
                    <h2><span>Who is Eligible for Opening a Recurring Deposit Account?</span></h2>
                    <p><span>Before delving into the idea of an RD Account, one should keep in mind its general nature.
                            An RD interest rate usually varies across banks within the range of 3%-6%. Other than that,
                            deciding the maturity period holds great importance with regards to returns. For example, it
                            is considered that the mid-term duration of maturity periods gives maximum returns as
                            compared to short or long-term duration maturity periods.</span></p>
                    <p><span>Any individual, startup, company, proprietor or organization can invest in a recurring
                            deposit account. In the case of minors, there needs to be proof of name for children above
                            10 and parental or guardian supervision for children below 10.</span></p>

                    <h2><span>Key Documentations to Open an RD Account</span></h2>
                    <ul>
                        <li><span>Interest forms are provided by every bank offering the RD service. Applicant needs to
                                fill them out with any mistakes</span></li>
                        <li><span>Passport size photos</span></li>
                        <li><span>Any proof of identity</span></li>
                        <li><span>Any proof of residence</span></li>
                        <li><span>KYC documents</span></li>
                    </ul>
                    <h2><span>Recurring Deposit Calculator</span></h2>
                    <p><span>Recurring Deposits are a great tool to put away some fixed money to accrue interest every
                            month for an agreed term.</span></p>

                    <ul>
                        <li><span>With the latest Urban Money Recurring Deposit Calculator, one can easily bypass the
                                tedious task of calculation and analysis.</span></li>
                        <li><span>Moreover, the calculator provides the total accrued investment post maturity.</span>
                        </li>
                        <li><span>The Urban Money RD Calculator is user friendly and efficient. By adding few inputs, a
                                user can avail steadfast results.</span></li>
                    </ul>
                    <h3><span>Recurring Deposit Formula</span></h3>
                    <p><span>Used by most banks, the formula for RD calculation is generic. It consists of three
                            variables that act as inputs for the Urban Money RD Calculator. The components of the
                            calculator include:</span></p>

                    <ul>
                        <li><span>Investment Amount, which can be denoted with ‘P’</span></li>
                        <li><span>Rate of Interest, which can be denoted with ‘R’&nbsp;</span></li>
                        <li><span>Maturity Period, which can be denoted with ‘T’</span></li>
                        <li><span>Due to the compounding nature of interest rate, we can add ‘N’ for the number of times
                                rates of interest compounds.</span></li>
                    </ul>
                    <p><strong>The formula is as follows: A = P (1 + R/N) ^ NT</strong></p>
                    <p><strong>Where ‘A’ would be the denotation for the final amount receivable.</strong></p>
                </div>
            </div>
        </section>
        <div class="RightSideBar_creditDescTile__EwfAF  " id="enquireNow">
            <h3 class="font16 font600 text181d mb15 mt30">Need Loan Assistance?</h3>
            <div class="LeadPopup_contentBox__k4AzT LeadPopup_sideBarForm__yaxs1">
                <p class="font12 text666 fontsemiBold">Connect with Loan Advisor Now!</p>
                <div class="LeadPopup_form__ZbOgW">
                    <div class="form-item"><input type="text" name="fullName" class="formInput" autocomplete="off"
                            required="" maxlength="90" value=""><label for="fullName"
                            class="font12 fontMedium formLabel">Full Name</label><span class="errorText"></span></div>
                    <div class="form-item contBox"><span class="text303542 font12 contCode fontMedium">+91</span><input
                            type="text" name="mobile" class="formInput" autocomplete="off" required="" maxlength="10"
                            value=""><label for="mobileNo" class="font12 fontMedium formLabel">Mobile No.</label><span
                            class="errorText"></span><span class="errorText"></span></div>
                    <div class="form-item">
                        <div class=" css-b62m3t-container"><span id="react-select-4-live-region"
                                class="css-7pg0cj-a11yText"></span><span aria-live="polite" aria-atomic="false"
                                aria-relevant="additions text" class="css-7pg0cj-a11yText"></span>
                            <div class=" css-13cymwt-control">
                                <div class=" css-hlgwow">
                                    <div class=" css-1jqq78o-placeholder" id="react-select-4-placeholder">Choose City
                                    </div>
                                    <div class=" css-19bb58m" data-value=""><input class="" autocapitalize="none"
                                            autocomplete="off" autocorrect="off" id="react-select-4-input"
                                            spellcheck="false" tabindex="0" type="text" aria-autocomplete="list"
                                            aria-expanded="false" aria-haspopup="true" role="combobox"
                                            aria-describedby="react-select-4-placeholder" value=""
                                            style="color: inherit; background: 0px center; opacity: 1; width: 100%; grid-area: 1 / 2; font: inherit; min-width: 2px; border: 0px; margin: 0px; outline: 0px; padding: 0px;">
                                    </div>
                                </div>
                                <div class=" css-1wy0on6"><span class=" css-1u9des2-indicatorSeparator"></span>
                                    <div class=" css-1xc3v61-indicatorContainer" aria-hidden="true"><svg height="20"
                                            width="20" viewBox="0 0 20 20" aria-hidden="true" focusable="false"
                                            class="css-8mmkcg">
                                            <path
                                                d="M4.516 7.548c0.436-0.446 1.043-0.481 1.576 0l3.908 3.747 3.908-3.747c0.533-0.481 1.141-0.446 1.574 0 0.436 0.445 0.408 1.197 0 1.615-0.406 0.418-4.695 4.502-4.695 4.502-0.217 0.223-0.502 0.335-0.787 0.335s-0.57-0.112-0.789-0.335c0 0-4.287-4.084-4.695-4.502s-0.436-1.17 0-1.615z">
                                            </path>
                                        </svg></div>
                                </div>
                            </div>
                        </div><span class="errorText"></span>
                    </div>
                    <div class="form-item">
                        <div class="Select_rangecalc__KDYd8">
                            <div class="selectBox"><select name="productType" class="formInput undefined" required="">
                                    <option value="">Choose Loan Type</option>
                                    <option value="2">Personal Loan</option>
                                    <option value="1">Home Loan</option>
                                    <option value="3">Loan Against Property</option>
                                    <option value="4">Business Loan</option>
                                    <option value="8">Credit Card</option>
                                </select></div>
                        </div><span class="errorText"></span>
                    </div>
                    <div class="LeadPopup_rangecalc__wwLC4 mb0 "><button
                            class="btn btn-primary textCenterSm font16 ">Submit </button><span class="errorText"></span>
                    </div>
                </div>
            </div>
            <h3 class="font16 font600 text181d mb15 mt30">Investment</h3>
            <div class="RightSideBar_creditTile__tbrLG mb16">
                <ul class="RightSideBar_btmoverflow__wat2N">
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/investment-plans/epf">Employee
                            Provident Fund</a></li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/investment-plans/sip">Systematic
                            Investment Plan</a></li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/fixed-deposit-rate">Fixed
                            Deposit</a></li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/mutual-funds">Mutual Funds</a>
                    </li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/investment-plans/sip">Systematic
                            Investment Plan (SIP)</a></li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/investment-plans/epf">Employees
                            Provident Fund (EPF)</a></li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/investment-plans/ppf">Public
                            Provident Fund (PPF)</a></li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/investment-plans/vpf">Voluntary
                            Provident Fund (VPF)</a></li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/investment-plans/elss">ELSS</a>
                    </li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/investment-plans/nps">National
                            Pension Scheme (NPS)</a></li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/investment-plans/nsc">National
                            Savings Certificate (NSC)</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/investment-plans/senior-citizens-saving-scheme">Senior
                            Citizen Saving Scheme</a></li>
                </ul>
            </div>
            <div
                class="RightSideBar_creditTile__tbrLG RightSideBar_creditImg__B2mz1 mb16 RightSideBar_removePadding__YDnG5">
                <a href="https://www.urbanmoney.com/credit-score"><img alt="Credit Score" loading="lazy" width="250"
                        height="250" decoding="async" data-nimg="1" class="imgResponsive" sizes="100vw"
                        srcset="/_next/image?url=https%3A%2F%2Fcdn.urbanmoney.com%2Fimages%2Fcreditscore.png&amp;w=640&amp;q=75 640w, /_next/image?url=https%3A%2F%2Fcdn.urbanmoney.com%2Fimages%2Fcreditscore.png&amp;w=750&amp;q=75 750w, /_next/image?url=https%3A%2F%2Fcdn.urbanmoney.com%2Fimages%2Fcreditscore.png&amp;w=828&amp;q=75 828w, /_next/image?url=https%3A%2F%2Fcdn.urbanmoney.com%2Fimages%2Fcreditscore.png&amp;w=1080&amp;q=75 1080w, /_next/image?url=https%3A%2F%2Fcdn.urbanmoney.com%2Fimages%2Fcreditscore.png&amp;w=1200&amp;q=75 1200w, /_next/image?url=https%3A%2F%2Fcdn.urbanmoney.com%2Fimages%2Fcreditscore.png&amp;w=1920&amp;q=75 1920w, /_next/image?url=https%3A%2F%2Fcdn.urbanmoney.com%2Fimages%2Fcreditscore.png&amp;w=2048&amp;q=75 2048w, /_next/image?url=https%3A%2F%2Fcdn.urbanmoney.com%2Fimages%2Fcreditscore.png&amp;w=3840&amp;q=75 3840w"
                        src="/_next/image?url=https%3A%2F%2Fcdn.urbanmoney.com%2Fimages%2Fcreditscore.png&amp;w=3840&amp;q=75"
                        style="color: transparent; width: 100%; height: auto;"></a></div>
            <h3 class="font16 font600 text181d mb15 mt30">Check Eligibility</h3>
            <div class="RightSideBar_creditTile__tbrLG mb16">
                <ul class="RightSideBar_btmoverflow__wat2N">
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/loans/home-loan/eligibility-calculator">Home Loan
                            Eligibility Calculator</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/loans/personal-loan/eligibility-calculator">Personal Loan
                            Eligibility Calculator</a></li>
                </ul>
            </div>
            <h3 class="font16 font600 text181d mb15 mt30">Financial Calculators</h3>
            <div class="RightSideBar_creditTile__tbrLG mb16">
                <ul class="RightSideBar_btmoverflow__wat2N">
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/calculator/sip-calculator">SIP
                            Calculator</a></li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/calculator/fd-calculator">FD
                            Calculator</a></li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/calculator/hra-calculator">HRA
                            Calculator</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/calculator/gratuity-calculator">Gratuity Calculator</a>
                    </li>
                </ul>
            </div>
            <h3 class="font16 font600 text181d mb15 mt30">Top 10 AMC</h3>
            <div class="RightSideBar_creditTile__tbrLG mb16">
                <ul class="RightSideBar_btmoverflow__wat2N">
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/mutual-funds/sbi-mutual-fund">SBI Mutual Fund</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/mutual-funds/axis-mutual-fund">Axis Mutual Fund</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/mutual-funds/hdfc-mutual-fund">HDFC Mutual Fund</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/mutual-funds/uti-mutual-fund">UTI Mutual Fund</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/mutual-funds/icici-prudential-mutual-fund">ICICI Prudential
                            Mutual Fund</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/mutual-funds/tata-mutual-fund">Tata Mutual Fund</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/mutual-funds/kotak-mahindra-mutual-fund">Kotak Mahindra
                            Mutual Fund</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/mutual-funds/canara-robeco-mutual-fund">Canara Rodeco
                            Mutual Fund</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/mutual-funds/mirae-asset-mutual-fund">Mirae Asset Mutual
                            Fund</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/mutual-funds/bandhan-mutual-fund">Bandhan Mutual Fund</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <section class="faq">
        <div class="container">
            <h2 class="faqHeading font24">FAQs</h2>
            <div class="faqBx">
                <div class="FAQ_question__LkjKP ">
                    <div class="FAQ_faqQuestn__v3L3G">
                        <h3 class="txt font14 fontMedium">Can I Break My RD Account Before Completion Of Tenure?</h3>
                        <span class="FAQ_pluseIcon__sWIas "></span>
                    </div>
                    <div class="FAQ_content__7VPH9">
                        <p style="text-align: justify">Yes, the RD account can be closed before the completion of the
                            maturity period. The only thing to be noted is that, depending on the lender, there could be
                            variations in policies regarding the closure.</p>
                    </div>
                </div>
                <div class="FAQ_question__LkjKP ">
                    <div class="FAQ_faqQuestn__v3L3G">
                        <h3 class="txt font14 fontMedium">Where To Open Recurring Deposit Account?</h3><span
                            class="FAQ_pluseIcon__sWIas "></span>
                    </div>
                    <div class="FAQ_content__7VPH9">
                        <p style="text-align: justify">RD Account can be opened either online or offline. For Online
                            registration, one has to visit the website of the respective banks. For offline
                            registration, the applicant has to visit their respective bank branch. RD Account can also
                            be opened via Post office, for which, individuals have to visit the nearest post office
                            branch.</p>
                    </div>
                </div>
                <div class="FAQ_question__LkjKP ">
                    <div class="FAQ_faqQuestn__v3L3G">
                        <h3 class="txt font14 fontMedium">What Is The Minimum &amp;amp; Maximum Deposit Amount To Open
                            An Rd Account?</h3><span class="FAQ_pluseIcon__sWIas "></span>
                    </div>
                    <div class="FAQ_content__7VPH9">
                        <p style="text-align: justify">Even though there is no upper limit to the deposit amount, one
                            has to make sure that they invest at least INR 100 for public sector banks and 500 INR for
                            private banks or NBFCs.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main> -->