<!-- <main>
    <div class="FloatIcon_FloatIcon__JBW0S">
        <div class="FloatIcon_Icon__OAYI3"><img alt="Urban Money Float Icon" loading="lazy" width="28" height="25"
                decoding="async" data-nimg="1" src="./../../assets/images/FloatIcon.svg" style="color: transparent;">
        </div>
        <div class="FloatIcon_title__0ZXTP">
            <div class="FloatIcon_closeIcon__Gi9ll"></div>
            <p class="fontBold font12 mb10">Need Loan Assistance?</p><button
                class="btn FloatIcon_connectNow__pDqOd">Connect Now <i class="bi bi-arrow-right"></i> </button>
        </div>
    </div>
    <section class="YesBank_banner__HuiNp">
        <div class="container">
            <div class="YesBank_tpSection__aLMF_">
                <div class="YesBank_txtSection__wEiZz"><a href="https://applycc.yesbank.in/YESBankCreditCard?uid=ab047"
                        class="idfc_credit_card"><img class="imgResponsive YesBank_bankLogo__Tu_h3 mb10"
                            src="./../../../assets/images/yesBank.jpg" alt="Yes Bank"></a>
                    <div class="text181b30 font22 fontThin lineHeight40 YesBank_head__u7XVe">Get a rewarding experience
                        with lifestyle benefits<h1 class="font52 fontsemiBold lineHeight57">Welcome rewards<br><span>Yes
                                Bank Credit Card</span></h1>
                    </div>
                    <div class="YesBank_offerTile__BUhGy">
                        <div class="YesBank_indOffer__CtngK">
                            <figure><img class="imgResponsive" src="/assets/images/tax-free.svg" alt="Yes Bank">
                            </figure>
                            <div>
                                <p class="font16  lineHeight26 text181b30 fontsemiBold">Super Saver Interest Rates</p>
                                <p class="font14  lineHeight22 text818181 ">from 0.75% - 3.5% p.m.</p>
                            </div>
                        </div>
                        <div class="YesBank_indOffer__CtngK">
                            <figure><img class="imgResponsive" src="/assets/images/premium-quality-2.svg"
                                    alt="Yes Bank"></figure>
                            <div>
                                <p class="font16  lineHeight26 text181b30 fontsemiBold">10x Rewards*</p>
                                <p class="font14  lineHeight22 text818181 ">On exceeding monthly spends threshold </p>
                            </div>
                        </div>
                    </div><a class="btn btn-primary font14 dlILfex textCenterSm YesBank_webbtn__BOpho idfc_credit_card"
                        href="https://applycc.yesbank.in/YESBankCreditCard?uid=ab047">Apply Now<i class="bi bi-arrow-right font14"></i></a>
                </div>
                <div class="YesBank_imgSection__BMxjW"><img class="imgResponsive" src="/assets/images/Yesbannercard.png"
                        alt="Yes Bank"><a
                        class="btn btn-primary font14 btn25 textCenterSm idfc_credit_card YesBank_mobilebtn__WLj8N"
                        href="https://applycc.yesbank.in/YESBankCreditCard?uid=ab047">Apply Now<i class="bi bi-arrow-right font14"></i></a></div>
            </div>
        </div>
    </section>
    <div class="container">
        <div class="BreadCrumb_breadCrumb__pNdJT">
            <ul>
                <li><a class="text777 font12" href="/">Home</a></li>
                <li class="text777 font12 "><a class="" href="https://www.urbanmoney.com/credit-card">Credit Card</a>
                </li>
                <li class="text777 font12 ">Yes Bank</li>
            </ul>
        </div>
    </div>
    <section class="YesBank_benefits__eGT60">
        <div class="container">
            <p class="font14 mb12 lineHeight20 text2828">BENEFITS &amp; PRIVILEGES</p>
            <h2 class="YesBank_heading__ZBnPQ textBlack fontsemiBold mb60">More reasons to love our Yes Bank Credit Card
            </h2>
            <div class="YesBank_offertiles__0r_52">
                <div class="YesBank_Indtile__3UvO8">
                    <figure class="mb10"><img class="imgResponsive" src="/assets/images/cashwithd.svg" alt="Yes Bank">
                    </figure>
                    <p class="font16 lineHeight26 mb5 text181b30">Competitive Interest Rates</p>
                    <p class="font14 text777">YES Bank Credit Card comes with attractive and competitive interest rates
                        which starts at 3.60% on a revolving credit balance.</p>
                </div>
                <div class="YesBank_Indtile__3UvO8">
                    <figure class="mb10"><img class="imgResponsive" src="/assets/images/accer.svg" alt="Yes Bank">
                    </figure>
                    <p class="font16 lineHeight26 mb5 text181b30">Reward Points</p>
                    <p class="font14 text777">Grab lifetime reward points redeemable across various categories along
                        with the provision to share them with friends and family. </p>
                </div>
                <div class="YesBank_Indtile__3UvO8">
                    <figure class="mb10"><img class="imgResponsive" src="/assets/images/norush.svg" alt="Yes Bank">
                    </figure>
                    <p class="font16 lineHeight26 mb5 text181b30">No rush to redeem</p>
                    <p class="font14 text777">With more secure and stable fund clearance, there is no rush to redeem
                        your reward points. Enjoy lifetime access to rewards and benefits. </p>
                </div>
                <div class="YesBank_Indtile__3UvO8">
                    <figure class="mb10"><img class="imgResponsive" src="/assets/images/movieoffer.svg" alt="Yes Bank">
                    </figure>
                    <p class="font16 lineHeight26 mb5 text181b30">Movie offer</p>
                    <p class="font14 text777">Procure your ticket to premium access with the YES Bank credit card with
                        provisions including buy-one-get-one-free offers and special discounts. </p>
                </div>
                <div class="YesBank_Indtile__3UvO8">
                    <figure class="mb10"><img class="imgResponsive" src="/assets/images/dinigoffer.svg" alt="Yes Bank">
                    </figure>
                    <p class="font16 lineHeight26 mb5 text181b30">Dining offer</p>
                    <p class="font14 text777">Make your dining experience convenient with specialised discounts on
                        selective restaurant partners with the YES Bank credit card payment. </p>
                </div>
                <div class="YesBank_Indtile__3UvO8">
                    <figure class="mb10"><img class="imgResponsive" src="/assets/images/cardwelocme.svg" alt="Yes Bank">
                    </figure>
                    <p class="font16 lineHeight26 mb5 text181b30">Welcome Offer</p>
                    <p class="font14 text777">On signing up for a YES Bank credit card and get free gift vouchers worth
                        INR 1500 on your first transaction. </p>
                </div>
                <div class="YesBank_Indtile__3UvO8">
                    <figure class="mb10"><img class="imgResponsive" src="/assets/images/cashabckonemi.svg"
                            alt="Yes Bank"></figure>
                    <p class="font16 lineHeight26 mb5 text181b30">Convert Purchases into EMIs</p>
                    <p class="font14 text777">Enjoy the advantage of making your purchases into simplified chunks of
                        EMIs with flexible repayment tenure options. </p>
                </div>
                <div class="YesBank_Indtile__3UvO8">
                    <figure class="mb10"><img class="imgResponsive" src="/assets/images/cardwelocme.svg" alt="Yes Bank">
                    </figure>
                    <p class="font16 lineHeight26 mb5 text181b30">Get yourself insured</p>
                    <p class="font14 text777">Use the YES Bank credit cards to avail yourself of the benefits of an
                        array of insurance policies.</p>
                </div>
                <div class="YesBank_Indtile__3UvO8">
                    <figure class="mb10"><img class="imgResponsive" src="/assets/images/moreoffer.svg" alt="Yes Bank">
                    </figure>
                    <p class="font16 lineHeight26 mb5 text181b30">More offers</p>
                    <p class="font14 lineHeight21  text777">Provision to earn accelerated reward points on transactions
                        at hotels and restaurants. Additionally, make travel fun with rewarding schemes on purchases on
                        the go. </p>
                </div>
                <div class="YesBank_Indtile__3UvO8">
                    <figure class="mb10"><img class="imgResponsive" src="/assets/images/moreoffer.svg" alt="Yes Bank">
                    </figure>
                    <p class="font16 lineHeight26 mb5 text181b30">Lifestyle Benefits</p>
                    <p class="font14 lineHeight21  text777">Fantastic opportunity to get rewarding benefits with
                        complimentary domestic and international lounge access, golf lessons, and fuel purchase
                        discounts.</p>
                </div>
            </div><a href="https://applycc.yesbank.in/YESBankCreditCard?uid=ab047"
                class="idfc_credit_card btn btn-primary font14 btn25 textCenterSm">Apply Now<i class="bi bi-arrow-right font14"></i></a>
            <div class="YesBank_imgBox__MPh7s"><img class="imgResponsive" src="/assets/images/yesbankCard.webp"
                    alt="Yes Bank"></div>
        </div>
    </section>
    <section class="CreditScore_addSection__oQn5B">
        <div class="container">
            <div class="CreditScore_latestCreditBlue__gbIXd">
                <div class="CreditScore_creditHead__y5A5p"><em class="CreditScore_miloMeter__Z5Bfy"></em>
                    <p class="font22 textWhite fontMedium lineHeight24 ">Get your latest Credit Score, <span
                            class="textf7b500">FREE</span></p>
                </div><button class="btn btn-blue fontBold CreditScore_apply__GSpaV">Check Now <i class="bi bi-arrow-right font14"></i></button>
            </div>
        </div>
    </section>
    <section class="faq">
        <div class="container">
            <h2 class="faqHeading textCenter font24">Frequently Asked Questions</h2>
            <p class="font14 lineHeight24 textCenter text444 mb45 faqP">From refinancing to reducing your interest, we
                have the answers right here.</p>
            <div class="faqBx">
                <div class="FAQ_question__LkjKP ">
                    <div class="FAQ_faqQuestn__v3L3G">
                        <h3 class="txt font14 fontMedium">How can we earn reward points on YES Bank credit cards?</h3>
                        <span class="FAQ_pluseIcon__sWIas "></span>
                    </div>
                    <div class="FAQ_content__7VPH9">
                        <p>Spend on your YES Bank credit card, sign up for bonus offers, use your card for specific
                            purchases, make use of additional features, participate in promotional offers, refer a
                            friend, redeem your points, etc.</p>
                    </div>
                </div>
                <div class="FAQ_question__LkjKP ">
                    <div class="FAQ_faqQuestn__v3L3G">
                        <h3 class="txt font14 fontMedium">What to do if I notice an unauthorised transaction on my YES
                            Bank credit card?</h3><span class="FAQ_pluseIcon__sWIas "></span>
                    </div>
                    <div class="FAQ_content__7VPH9">
                        <p>- If you notice an unauthorised transaction on your YES Bank credit card, you should
                            immediately contact YES Bank customer service. Moreover, you should block the card, dispute
                            the transaction, monitor your account, keep records, and file a police complaint if needed.
                        </p>
                    </div>
                </div>
                <div class="FAQ_question__LkjKP ">
                    <div class="FAQ_faqQuestn__v3L3G">
                        <h3 class="txt font14 fontMedium">How much is the minimum credit score required for a YES Bank
                            credit card?</h3><span class="FAQ_pluseIcon__sWIas "></span>
                    </div>
                    <div class="FAQ_content__7VPH9">
                        <p>The minimum credit score required for a YES Bank credit card may vary depending on the type
                            of card and the applicant's credit history. Generally, a score of 700 or above is considered
                            suitable for approval. However, checking with YES Bank directly for their specific credit
                            score requirements is best.</p>
                    </div>
                </div>
                <div class="FAQ_question__LkjKP ">
                    <div class="FAQ_faqQuestn__v3L3G">
                        <h3 class="txt font14 fontMedium">Can we use my YES Bank credit card internationally?</h3><span
                            class="FAQ_pluseIcon__sWIas "></span>
                    </div>
                    <div class="FAQ_content__7VPH9">
                        <p>You can use your YES Bank credit card internationally, but you will need to inform the bank
                            beforehand and ensure that your card has international transaction capabilities. You may
                            also be charged a foreign transaction fee for using your card internationally.</p>
                    </div>
                </div>
                <div class="FAQ_question__LkjKP ">
                    <div class="FAQ_faqQuestn__v3L3G">
                        <h3 class="txt font14 fontMedium">How can we view monthly statements for a YES Bank credit card?
                        </h3><span class="FAQ_pluseIcon__sWIas "></span>
                    </div>
                    <div class="FAQ_content__7VPH9">
                        <p>You can view your monthly statement for your YES Bank credit card by logging into your
                            account on the YES Bank website or mobile app. If you do not have an account, you can create
                            one by providing your card details and personal information. Once you have logged in, you
                            should be able to view your statement and other account information.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="InternalBlog_blogs__XWFqb">
        <div class="container">
            <h2 class="font24 textBlack fontsemiBold mb10">Credit Card Guide</h2>
            <p class="font14 lineHeight22 mb30 text2828">Get in-depth knowledge about all things related to loans and
                your finances</p>
            <div class="InternalBlog_tiles__DsGB4">
                <div class="InternalBlog_indTile__myHvD">
                    <figure><img alt="PNB Credit Card Customer Care Number" loading="lazy" width="152" height="150"
                            decoding="async" data-nimg="1" class="imgResponsive"
                            src="./../../../assets/images/Credit-Card-Helpline-Numbers-compressed.webp"
                            style="color: transparent;"></figure>
                    <div class="InternalBlog_blogItem__iU0p_">
                        <div class="InternalBlog_blogInfo__JvPtv"><span class="InternalBlog_name__LehqT">Mansi
                                Saini</span><span class="InternalBlog_date__CiVJk">Sep 18, 2023</span></div><a
                            target="_blank"
                            href="https://www.urbanmoney.com/blog/pnb-credit-card-customer-care-number-csart">
                            <h3 class="InternalBlog_mainTitle__m6PVU">PNB Credit Card Customer Care Number</h3>
                        </a>
                        <p class="font14 text777 clearBoth">The PNB customer care number allows 24x7 access to Punjab
                            National Bank’s credit card support services. The Punjab national customer care numbers
                            allow cardholders to make their enquiries at no call c</p><label
                            class="font12 textLink">Read More <i  class="bi bi-chevron-right arrowSm"></i></label>
                    </div>
                </div>
                <div class="InternalBlog_indTile__myHvD">
                    <figure><img alt="What is a Credit Card Grace Period?" loading="lazy" width="152" height="150"
                            decoding="async" data-nimg="1" class="imgResponsive"
                            src="./../../../assets/images/Credit-Card-Grace-Period-compressed.webp"
                            style="color: transparent;"></figure>
                    <div class="InternalBlog_blogItem__iU0p_">
                        <div class="InternalBlog_blogInfo__JvPtv"><span class="InternalBlog_name__LehqT">Rishabh
                                Baisoy</span><span class="InternalBlog_date__CiVJk">Sep 13, 2023</span></div><a
                            target="_blank"
                            href="https://www.urbanmoney.com/blog/what-is-a-credit-card-grace-period-csart">
                            <h3 class="InternalBlog_mainTitle__m6PVU">What is a Credit Card Grace Period?</h3>
                        </a>
                        <p class="font14 text777 clearBoth">A grace period is a period that falls between the billing
                            date and the due payment date. You’ll be charged a minimum amount on purchases during this
                            period, or there will be no charges at all. It’s no</p><label class="font12 textLink">Read
                            More <i  class="bi bi-chevron-right arrowSm"></i></label>
                    </div>
                </div>
                <div class="InternalBlog_indTile__myHvD">
                    <figure><img alt="What is a Credit Card Cash Advance?" loading="lazy" width="152" height="150"
                            decoding="async" data-nimg="1" class="imgResponsive"
                            src="./../../../assets/images/How-Good-is-Credit-Card-Cash-Advance-compressed.webp"
                            style="color: transparent;"></figure>
                    <div class="InternalBlog_blogItem__iU0p_">
                        <div class="InternalBlog_blogInfo__JvPtv"><span class="InternalBlog_name__LehqT">Rishabh
                                Baisoy</span><span class="InternalBlog_date__CiVJk">Sep 07, 2023</span></div><a
                            target="_blank" href="https://www.urbanmoney.com/blog/credit-card-cash-advances-csart">
                            <h3 class="InternalBlog_mainTitle__m6PVU">What is a Credit Card Cash Advance?</h3>
                        </a>
                        <p class="font14 text777 clearBoth">A credit card cash advance is the withdrawal of the cash
                            from your credit card account. In simple words, when a credit card user utilises the credit
                            card in an ATM to withdraw cash, that is called a C</p><label class="font12 textLink">Read
                            More<i  class="bi bi-chevron-right arrowSm"></i></label>
                    </div>
                </div>
            </div>
            <div class="InternalBlog_cntr__oMpqS"><button class="btn btn-primary font14 textCenterSm btn25">View all
                    Blogs<i class="bi bi-arrow-right arw font14 mrg"></i></button></div>
        </div>
    </section>
</main> -->