<main>
    <div class="FloatIcon_FloatIcon__JBW0S">
        <div class="FloatIcon_Icon__OAYI3"><img alt="Urban Money Float Icon" loading="lazy" width="28" height="25"
                decoding="async" data-nimg="1" src="./../../assets/images/FloatIcon.svg" style="color: transparent;">
        </div>
        <div class="FloatIcon_title__0ZXTP">
            <div class="FloatIcon_closeIcon__Gi9ll"></div>
            <p class="fontBold font12 mb10">Need Loan Assistance?</p><button
                class="btn FloatIcon_connectNow__pDqOd">Connect Now <i class="bi bi-arrow-right"></i> </button>
        </div>
    </div>
    <div class="container">
        <div class="BreadCrumb_breadCrumb__pNdJT">
            <ul>
                <li><a class="text777 font12" href="/">Home</a></li>
                <li class="text777 font12 "><a class="" href="https://www.urbanmoney.com/calculator">Calculators</a>
                </li>
                <li class="text777 font12 ">Home Loan Eligibility Calculator</li>
            </ul>
        </div>
    </div>
    <section class="calculator">
        <div class="container">
            <h1 class="font24  text2828 bottomborderf5a623 Innerheading fontsemiBold lineHeight36">Home Loan Eligibility
                Calculator</h1>
            <div class="mt35 cmstext font14">
                <p style="text-align: justify;">Are you curious about how much home loan can you get? Look no further!
                    Introducing our AI based Home loan eligibility calculator empower homebuyers to check their
                    eligibility online and plan their financial journey towards homeownership. This tool is particularly
                    helpful for first-time home buyers who are unsure about how much they can afford to borrow. Let's
                    explore the significance of housing loan eligibility calculator and how it will help you.</p>
            </div>
            <div class="calculator_calcBox__R_RRW calculator_coloumn__uRGP2">
                <div class="calculator_calc__nueZG calculator_eligibilFull__GB0yX">
                    <div class="calculator_buttonTab__rjaUN"><a class="calculator_tabs__6JeFT calculator_active__5NJUZ"
                            href="https://www.urbanmoney.com/loans/home-loan/eligibility-calculator">
                            <figure><img alt="emi svg" loading="lazy" width="19" height="18" decoding="async"
                                    data-nimg="1" class="imgResponsive" src="https://cdn.urbanmoney.com/images/emi.svg"
                                    style="color: transparent;"></figure> Home Loan
                        </a><a class="calculator_tabs__6JeFT "
                            href="https://www.urbanmoney.com/loans/personal-loan/eligibility-calculator">
                            <figure><img alt="bt svg" loading="lazy" width="19" height="20" decoding="async"
                                    data-nimg="1" class="imgResponsive" src="https://cdn.urbanmoney.com/images/bt.svg"
                                    style="color: transparent;"></figure>Personal Loan
                        </a></div>
                    <div class="OtpPopUp_popUpBox__RPCFy ">
                        <div class="OtpPopUp_popUpWindow__lXm71 OtpPopUp_popUpThanks__xlUVH">
                            <div class="OtpPopUp_headingBox__AUJo9">
                                <p
                                    class="font20 mb30 textBlack bottomborderf5a623 OtpPopUp_popupHeading__9uRdR fontBold lineHeight36">
                                    OTP Send</p><span class="OtpPopUp_close__eK1QX cursorPointer"></span>
                            </div>
                            <div class="OtpPopUp_thanksMessage__Nyr_s">
                                <p class="font20 textBlack fontBold mb15">Enter 6 Digit OTP</p>
                                <p class="w100 font14 lineHeight22">We have just sent a verificaton code to<br>Mobile
                                    XXXXX</p>
                                <div class="OtpPopUp_otpBox__dhRlH">
                                    <form>
                                        <div class="formGroup mb30"><label
                                                class="font14 mb10 fontMedium textWhite formLabel">Enter OTP</label>
                                            <div class="OtpPopUp_otpBox__dhRlH"><input name="otp1" type="number"
                                                    autocomplete="off" class="formControl" tabindex="1" maxlength="1"
                                                    value=""><input name="otp2" type="number" autocomplete="off"
                                                    class="formControl" tabindex="2" maxlength="1" value=""><input
                                                    name="otp3" type="number" autocomplete="off" class="formControl"
                                                    tabindex="3" maxlength="1" value=""><input name="otp4" type="number"
                                                    autocomplete="off" class="formControl" tabindex="4" maxlength="1"
                                                    value=""><input name="otp5" type="number" autocomplete="off"
                                                    class="formControl" tabindex="5" maxlength="1" value=""><input
                                                    name="otp6" type="number" autocomplete="off" class="formControl"
                                                    tabindex="6" maxlength="1" value=""></div>
                                        </div>
                                    </form>
                                </div>
                                <p class="text32356b fontBold mb10 font12 mra"></p>
                                <p class="mra font12 lineHeight22 textLink cursorPointer">Send the code again</p>
                                <p class="mra font12 lineHeight22 mb15 textLink cursorPointer">Change mobile
                                    number/email address</p><button
                                    class="btn btn-primary textCenterSm font14 bnt100 textCenter justifycenter">Submit
                                    <em class="icon-arrow-right font14"></em></button>
                            </div>
                        </div>
                    </div>
                    <div class="null">
                        <div class="calculator_form__R6LYk">
                            <div class="form-item "><input type="text" name="fullName" class="formInput "
                                    autocomplete="off" required="" maxlength="90" value=""><label for="fullName"
                                    class="font12 fontMedium formLabel">Full Name</label><span class="errorText"></span>
                            </div>
                            <div class="form-item contBox "><span
                                    class="text303542 font12 contCode fontMedium">+91</span><input type="text"
                                    name="mobile" class="formInput " autocomplete="off" required="" maxlength="10"
                                    value=""><label for="mobileNo" class="font12 fontMedium formLabel">Mobile
                                    No.</label><span class="errorText"></span></div>
                            <div class="form-item">
                                <div class=" css-b62m3t-container"><span id="react-select-13-live-region"
                                        class="css-7pg0cj-a11yText"></span><span aria-live="polite" aria-atomic="false"
                                        aria-relevant="additions text" class="css-7pg0cj-a11yText"></span>
                                    <div class=" css-13cymwt-control">
                                        <div class=" css-hlgwow">
                                            <div class=" css-1jqq78o-placeholder" id="react-select-13-placeholder">
                                                Choose City</div>
                                            <div class=" css-19bb58m" data-value=""><input class=""
                                                    autocapitalize="none" autocomplete="off" autocorrect="off"
                                                    id="react-select-13-input" spellcheck="false" tabindex="0"
                                                    type="text" aria-autocomplete="list" aria-expanded="false"
                                                    aria-haspopup="true" role="combobox"
                                                    aria-describedby="react-select-13-placeholder" value=""
                                                    style="color: inherit; background: 0px center; opacity: 1; width: 100%; grid-area: 1 / 2; font: inherit; min-width: 2px; border: 0px; margin: 0px; outline: 0px; padding: 0px;">
                                            </div>
                                        </div>
                                        <div class=" css-1wy0on6"><span class=" css-1u9des2-indicatorSeparator"></span>
                                            <div class=" css-1xc3v61-indicatorContainer" aria-hidden="true"><svg
                                                    height="20" width="20" viewBox="0 0 20 20" aria-hidden="true"
                                                    focusable="false" class="css-8mmkcg">
                                                    <path
                                                        d="M4.516 7.548c0.436-0.446 1.043-0.481 1.576 0l3.908 3.747 3.908-3.747c0.533-0.481 1.141-0.446 1.574 0 0.436 0.445 0.408 1.197 0 1.615-0.406 0.418-4.695 4.502-4.695 4.502-0.217 0.223-0.502 0.335-0.787 0.335s-0.57-0.112-0.789-0.335c0 0-4.287-4.084-4.695-4.502s-0.436-1.17 0-1.615z">
                                                    </path>
                                                </svg></div>
                                        </div>
                                    </div>
                                </div><span class="errorText"></span>
                            </div>
                            <div class="form-item ">
                                <div class="Select_rangecalc__KDYd8">
                                    <div class="selectBox"><select class="formInput undefined" name="occupationType"
                                            required="">
                                            <option value="" disabled="">Occupation Type</option>
                                            <option value="1">Salaried</option>
                                            <option value="2">Self Employed Professional</option>
                                            <option value="3">Partner</option>
                                            <option value="4">Proprietorship</option>
                                            <option value="5">Partnership/LLP</option>
                                            <option value="6">Private Limited</option>
                                        </select></div>
                                </div><span class="errorText"></span>
                            </div>
                            <div class="form-item rupeeBox "><span
                                    class="text303542 font12 contCode fontMedium">₹</span><input type="text"
                                    name="loanAmount" class="formInput " autocomplete="off" required="" maxlength="12"
                                    value=""><label for="loanAmount" class="font12 fontMedium formLabel"> Required Loan
                                    Amount </label><span class="errorText"></span></div>
                            <div class="form-item rupeeBox "><span
                                    class="text303542 font12 contCode fontMedium">₹</span><input type="text"
                                    name="monthlySalary" class="formInput " autocomplete="off" required="" maxlength="9"
                                    value=""><label for="monthlySalary" class="font12 fontMedium formLabel">Monthly Net
                                    Salary</label><span class="errorText"></span></div>
                            <div class="form-item rupeeBox "><span
                                    class="text303542 font12 contCode fontMedium">₹</span><input type="text"
                                    name="currentMonthlyEmi" class="formInput " autocomplete="off" required=""
                                    maxlength="7" value=""><label for="currentMonthlyEmi"
                                    class="font12 fontMedium formLabel">Current Monthly EMIs</label><span
                                    class="errorText"></span></div>
                            <div class="form-item "><input type="text" name="tenure" class="formInput "
                                    autocomplete="off" required="" maxlength="2" value=""><label for="tenure"
                                    class="font12 fontMedium formLabel">Tenure(Years)</label><span
                                    class="errorText"></span></div>
                            <div class="formGroup mb10 zIndex4">
                                <div class="inputIcon">
                                    <dd class="calendar"><img alt="bt svg" loading="lazy" width="19" height="20"
                                            decoding="async" data-nimg="1" class="imgResponsive"
                                            src="https://cdn.urbanmoney.com/images/ic_calendar.svg"
                                            style="color: transparent;"> </dd>
                                    <div class="react-datepicker-wrapper">
                                        <div class="react-datepicker__input-container"><input type="text" name="dob"
                                                placeholder="DOB (DD/MM/YYYY)" autocomplete="off" class="formInput "
                                                value=""></div>
                                    </div><span class="errorText"></span>
                                </div>
                            </div>
                            <div class="calculator_button__3z_5j mt15 grid2Span"><button id="autoclick"
                                    class="btn font12  btn-primary textCenterSm">Check Now <i class="bi bi-arrow-right font12"></i></button><span class="errorText"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="content" id="bankOffers">
        <div class="container"></div>
    </section>
    <section class="CmsContent_eligible__8MIhE">
        <div class="container">
            <div class="mt40">
                <p>With Urban Money Home Loan Eligibility Calculator, you can check the best loan offerings by just
                    entering a few details. The powerful AI backed eligibility calculator factors in various criteria
                    and parameters across all banks and NBFCs to check which loan offers you are eligible for and how
                    much home loan can you get. The process is fairly simple: all you need to do is enter your income,
                    loan amount, and other details and all the best loan offers suited to your preferences will be
                    displayed.</p>
                <h2 class="mb15">Factors Affecting Home Loan Eligibility</h2>
                <p>Loan providers determine your eligibility for a <a href="https://www.urbanmoney.com/loans/home-loan"
                        target="_blank">home loan</a> based on several aspects. Given below are some of the factors that
                    affect your home loan eligibility.</p>
                <h3>Employment and Income</h3>
                <p>One of the crucial aspects that lenders consider for approving a home loan is the applicant’s
                    employment stability. Usually, a salaried home loan applicant must be employed for at least two
                    years to be eligible for a home loan. Whereas for self-employed applicants, the business should be
                    in functioning for at least three years for the applicant to be eligible. Given below is the
                    classification of applicants based on their type of employment:</p>
                <ul class="oList blueList listSpanbold mb20">
                    <li><strong>Salaried Individuals:</strong>&nbsp;Any applicant working in a government department or
                        private organisation can be classified into this group. Most lenders require the applicant to be
                        in continuous employment for at least one year during the time of application.</li>
                    <li><strong>Independent Professionals:</strong>&nbsp;This group includes individuals who have their
                        own private professional practice like doctors, engineers, lawyers, chartered accountants,
                        freelancers, etc. Such applicants will be required to submit their bank statements and ITR
                        returns while making the application.</li>
                    <li><strong>Self-Employed:</strong>&nbsp;Applicants who have their own business or derive their
                        income from other sources like property, investments, shares, etc., fall into this category.
                    </li>
                </ul>
                <h3 class="mb15">Age of the Applicant</h3>
                <p>Usually, most lenders try to restrict the tenure of the loan to the main applicant’s age of
                    superannuation. This means, younger applicants in their 20s and early 30s can easily avail a loan
                    with an extended tenure of upto 25 years.On the other hand, applicants over the age of 40 might find
                    it difficult to secure an extended tenure.</p>
                <h3 class="mb15">CIBIL Score</h3>
                <p>Having a good credit score is a critical factor in determining your eligibility for a home loan.
                    Almost all lenders consider the applicant’s <a href="https://www.urbanmoney.com/credit-score"
                        target="_blank">CIBIL score</a> to scrutinise the credit repayment history and determine
                    eligibility. Most loan providers prefer applicants who have a credit score of over 750. Applicants
                    with a healthy credit history are more likely to get home loans at lower interest rates.</p>
                <h3 class="mb15">Repayment Ability</h3>
                <p>Most banks and NBFCs approve home loans for applicants whose loan EMI obligations, including the
                    current one, are less than 50% of their total income. Any amount exceeding this limit will be viewed
                    as an additional repayment burden, and the applicant will be viewed as a credit risk. Applicants
                    with a lower home loan eligibility can improve it by applying for a longer tenure as it results in
                    lower EMIs.</p>
                <h3 class="mb15">Property</h3>
                <p>While determining the home loan eligibility and amount, the financial institution makes a site visit
                    to the concerned property to examine the building condition, specifications, and market value. In
                    accordance with guidelines laid down by the RBI, a lender cannot offer a loan amount exceeding 90%
                    of the market value of the property. This means that you will be required to make a down-payment to
                    purchase a property before applying for the loan. Depositing more money for the down-payment will
                    help in reducing the loan amount, and increase the chances of home loan approval.</p>
                <p><strong>Don't miss to Check:</strong>&nbsp;<a
                        href="https://www.urbanmoney.com/loans/home-loan/interest-rate" target="_blank"
                        rel="noopener">Home Loan Interest Rate of All Banks</a></p>
                <h2>How Much Home Loan Can I Get - Check Now</h2>
                <p>Below is the step-by-step process to calculate or to check how much home loan can I get online
                    through Urban Money calculator. This calculator is shown above.</p>
                <ul>
                    <li>Fill up the desired details like Full Name, Mobile number, city, occupation type, required loan
                        amount, monthly net salary, tenure etc.</li>
                    <li>Click on "Check Now”. Now, you must enter 6-digit OTP to verify your mobile number.</li>
                    <li>After entering the OTP, you will see the home loan amount you can avail from a lender with other
                        details like monthly EMI. You can also apply online by clicking on "Apply Now" OR you can see
                        other home loan offers by clicking on "View All Offers".</li>
                </ul>
                <h2 class="mb15">How to Improve My Home Loan Eligibility?</h2>
                <p>Given below are some of the ways that you can improve your home loan eligibility and get approved
                    with ease by any lender:</p>
                <h3 class="mb15">Maintain a Healthy Credit Score</h3>
                <p>Most home loan providers prefer applicants with a healthy credit score of over 750. Any score above
                    this mark significantly improves your chances of obtaining a home loan on your terms. You can
                    achieve this credit score by exhibiting positive credit behaviour like timely repayment of EMIs and
                    maintaining a low credit utilisation ratio of 30%.</p>
                <h3 class="mb15">Apply With a Co-Applicant</h3>
                <p>If your application has been rejected due to low income, poor credit score, or higher income-to-debt
                    ratio, consider applying with a co-applicant and opting for a joint home loan. The co-borrower
                    should be a family member with regular income and healthy credit history exhibiting an adequate
                    repayment capacity. This will improve your chances of home loan approval and might also result in a
                    higher approved amount.</p>
                <h3 class="mb15">Ask Your Lender About Step-Up Loans</h3>
                <p>Under Step-Up Loans, the lender approves loans at lower EMI amounts which are gradually increased as
                    you start repaying the loan. Usually meant for young borrowers with lower incomes, the lender
                    increases the EMI amounts as the applicant advances in his professional career and experiences an
                    increase in income. Step-up loans usually have a higher interest outgo than loans with a fixed EMI
                    scheme.</p>
                <h3 class="mb15">Mortgage Guarantor</h3>
                <p>The India Mortgage Guarantee Corporation (IMGC) has partnered with various banks and lenders across
                    the country to help applicants with lower home loan eligibility. Since obtaining a mortgage
                    guarantee significantly lowers the credit risk for the lender, home loan products in partnership
                    with IMGC have a more lenient eligibility criteria. Further, applicants can also get a loan amount
                    upto 30% higher than normal loan products.</p>
                <h2 class="mb15">How to Improve your CIBIL Score for a Home Loan?</h2>
                <p>Lenders gauge your CIBIL score to determine your home loan eligibility. If you have a credit score
                    lower than 750, your eligibility can be affected. Given below are some of the ways that you can
                    improve your credit score to be eligible for a home loan:</p>
                <ul class="oList blueList listSpanbold mb20">
                    <li><strong>Make Timely Payments:</strong>&nbsp;Make sure to not miss any existing EMI or credit
                        card payments. Timely EMI payments can help greatly in improving your credit score for home
                        loans.</li>
                    <li><strong>Maintain a Low Credit Utilisation Ratio:</strong>&nbsp;The easiest way to restrict your
                        credit utilisation ratio is to apply for a credit increase, while also limiting your usage. This
                        helps in exhibiting responsible credit behaviour, and increases the chances of approval.</li>
                    <li><strong>Create a Healthy Credit Mix:</strong>&nbsp;Having a healthy mix of secured and unsecured
                        lines of credit is one of the easiest ways to improve your credit score. Having too many
                        unsecured lines of credit can have a detrimental effect on your CIBIL score.</li>
                    <li><strong>Check Your Credit Report Regularly:</strong>&nbsp;Keep a regular check of your credit
                        report to augment and stabilise your credit score. Regularly going through your credit report
                        will reduce the chances of any faulty or wrong information being included.</li>
                    <li><strong>Keep All Old Accounts Active:</strong>&nbsp;It is not advisable to close or settle any
                        of your previous accounts. If you keep your accounts active, lenders will be able to view your
                        repayment history and how well you have managed your finances in the past.</li>
                </ul>
                <h2 class="mb15">Documents Required for Different Types of Home Loans</h2>
                <p>Given below are the list of documents required for different types of home loan applications.</p>
                <h3 class="mb15">Home Construction Loan</h3>
                <p>To apply for a home construction loan, the applicants are required to submit</p>
                <ul>
                    <li>Income documents</li>
                    <li>KYC documents.</li>
                    <li>Ownership proof</li>
                    <li>Property plan/layout</li>
                    <li>Construction cost estimate</li>
                    <li>Non-encumbrance certificate (for a leasehold land)</li>
                </ul>
                <p>The type of plot can be classified as a freehold land or as a plot allotted by the development
                    authority.</p>
                <h3 class="mb15">Home Loan for Improvement of Existing House</h3>
                <p>Given below are some of the documents that you will have to submit to apply for a home renovation
                    loan:</p>
                <ul class="oList blueList listSpanbold mb20">
                    <li>Appropriately filled application form.</li>
                    <li>Identity proof and residency proof like PAN card, rent agreement, Voter ID or Aadhaar.</li>
                    <li>Proof of income like ITR of previous years, last 2 years P&amp;L accounts and bank statement of
                        last 6 months.</li>
                    <li>Property documents.</li>
                </ul>
                <h3 class="mb15">Home Loan for Resale Flat</h3>
                <p>To apply for a home loan for resale flats, the applicant must submit the below metioned documents:
                </p>
                <ul class="oList blueList listSpanbold mb20">
                    <li>Completed and signed application form.</li>
                    <li>Passport size photos [ in case of joint home loan, photographs of both applicants will be
                        required].</li>
                    <li>Identity proof documents.</li>
                    <li>Address proof documents.</li>
                    <li>Bank statements.</li>
                    <li>Employment proof and salary slips [salaried employees].</li>
                    <li>Business address proof [self-employed].</li>
                    <li>Previous financial year's ITR.</li>
                    <li>Property documents such as sales deed, allotment letter, receipt of paid tax, NOC and
                        non-encumbrance certificates.</li>
                    <li>Copy of approved plan.</li>
                </ul>
                <h3 class="mb15">Plot Loan</h3>
                <p>In addition to basic home loan documents such as income proof documents, address proof documents,
                    employment proves, all you need are:</p>
                <ul class="oList blueList listSpanbold mb20">
                    <li>Letter of Allotment or copy of buyer's agreement.</li>
                    <li>Title deed will be required in the event of resale together with previous documents of the
                        property.</li>
                </ul>
                <h2 class="mb15">Things to Keep in Mind While Applying for a Home Loan</h2>
                <p>Here are three major things you should be mindful of when applying for home loans.</p>
                <ul class="oList blueList listSpanbold mb20">
                    <li><strong>Check your CIBIL Score:</strong>&nbsp;It is always recommended that you check your
                        credit score before making a home loan application. If you have a low credit score, it is likely
                        that your application will be rejected which, in turn, can also have a negative effect on your
                        credit report.</li>
                    <li><strong>Keep an Eye Out for Errors:</strong>&nbsp;In certain situations there may be errors in
                        your credit report, like incorrect name or address. In such cases, you should know that the
                        relevant credit bureau cannot make changes to your credit report. You will be required to raise
                        a dispute with the credit bureau, who in turn will take up the issue with the financial
                        institution to verify the dispute. If the dispute is correct, the bank will instruct the bureau
                        to make the changes. The whole rectification process takes about 30 days to be completed.</li>
                    <li><strong>Avoid Multiple Applications:</strong>&nbsp;It is always advised that you should not make
                        multiple loan applications with different providers at the same time. Not only does this
                        negatively impact your credit score, it also forms a negative impression about you to the loan
                        providers. This might also lead to rejection of your home loan applications.</li>
                </ul>
                <h2>Other Home Loan Eligibility Calculators</h2>
                <table>
                    <tbody>
                        <tr>
                            <td width="301"><a
                                    href="https://www.urbanmoney.com/loans/home-loan/sbi-home-loan-eligibility-calculator-hlelgcalc"
                                    target="_blank">SBI Home Loan Eligibility Calculator</a></td>
                            <td width="301"><a
                                    href="https://www.urbanmoney.com/loans/home-loan/hdfc-home-loan-eligibility-calculator-hlelgcalc"
                                    target="_blank">HDFC Home Loan Eligibility Calculator</a></td>
                        </tr>
                        <tr>
                            <td width="301"><a
                                    href="https://www.urbanmoney.com/loans/home-loan/axis-bank-home-loan-eligibility-calculator-hlelgcalc"
                                    target="_blank">Axis Bank Home Loan Eligibility Calculator</a></td>
                            <td width="301"><a
                                    href="https://www.urbanmoney.com/loans/home-loan/icici-home-loan-eligibility-calculator-hlelgcalc"
                                    target="_blank">ICICI Home Loan Eligibility Calculator</a></td>
                        </tr>
                        <tr>
                            <td width="301"><a
                                    href="https://www.urbanmoney.com/loans/home-loan/lic-home-loan-eligibility-calculator-hlelgcalc"
                                    target="_blank">LIC Home Loan Eligibility Calculator</a></td>
                            <td width="301"><a
                                    href="https://www.urbanmoney.com/loans/home-loan/pnb-home-loan-eligibility-calculator-hlelgcalc"
                                    target="_blank">PNB Home Loan Eligibility Calculator</a></td>
                        </tr>
                        <tr>
                            <td width="301"><a
                                    href="https://www.urbanmoney.com/loans/home-loan/canara-bank-home-loan-eligibility-calculator-hlelgcalc"
                                    target="_blank">Canara Bank Home Loan Eligibility Calculator</a></td>
                            <td width="301"><a
                                    href="https://www.urbanmoney.com/loans/home-loan/bank-of-baroda-home-loan-eligibility-calculator-hlelgcalc"
                                    target="_blank">Bank of Baroda Home Loan Eligibility Calculator</a></td>
                        </tr>
                        <tr>
                            <td width="301"><a
                                    href="https://www.urbanmoney.com/loans/home-loan/bank-of-india-home-loan-eligibility-calculator-hlelgcalc"
                                    target="_blank">Bank of India Home Loan Eligibility Calculator</a></td>
                            <td>&nbsp;</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <section class="CreditScore_addSection__oQn5B">
        <div class="container">
            <div class="CreditScore_latestCreditBlue__gbIXd">
                <div class="CreditScore_creditHead__y5A5p"><em class="CreditScore_miloMeter__Z5Bfy"></em>
                    <p class="font22 textWhite fontMedium lineHeight24 ">Get your latest Credit Score, <span
                            class="textf7b500">FREE</span></p>
                </div><button class="btn btn-blue fontBold CreditScore_apply__GSpaV">Check Now <em
                        class="icon-arrow-right font14"></em></button>
            </div>
        </div>
    </section>
    <section class="faq">
        <div class="container">
            <h2 class="faqHeading font24">Frequently Asked Questions (FAQs)</h2>
            <div class="faqBx">
                <div class="FAQ_question__LkjKP ">
                    <div class="FAQ_faqQuestn__v3L3G">
                        <h3 class="txt font14 fontMedium">Can I get a home loan with a low credit score?</h3><span
                            class="FAQ_pluseIcon__sWIas "></span>
                    </div>
                    <div class="FAQ_content__7VPH9">
                        <p style="text-align: justify;">Yes, it is possible to get a home loan even with a low credit
                            score. However, it is important to know that since most lenders will view you as a credit
                            risk, you may be granted a higher interest rate than usual.</p>
                    </div>
                </div>
                <div class="FAQ_question__LkjKP ">
                    <div class="FAQ_faqQuestn__v3L3G">
                        <h3 class="txt font14 fontMedium">Can I get a home loan for an under construction property?</h3>
                        <span class="FAQ_pluseIcon__sWIas "></span>
                    </div>
                    <div class="FAQ_content__7VPH9">
                        <p style="text-align: justify;">Yes, you can obtain a home loan for an under construction
                            property. However, the loan amount will be disbursed to your account in instalments in
                            accordance with the lender’s assessment.</p>
                    </div>
                </div>
                <div class="FAQ_question__LkjKP ">
                    <div class="FAQ_faqQuestn__v3L3G">
                        <h3 class="txt font14 fontMedium">Who is eligible for a joint home loan?</h3><span
                            class="FAQ_pluseIcon__sWIas "></span>
                    </div>
                    <div class="FAQ_content__7VPH9">
                        <p style="text-align: justify;">A joint home loan eligibility mainly depends on the relationship
                            of the applicants. The co-borrower should be a direct relative in order to be eligible for
                            this scheme.</p>
                    </div>
                </div>
                <div class="FAQ_question__LkjKP ">
                    <div class="FAQ_faqQuestn__v3L3G">
                        <h3 class="txt font14 fontMedium">Are there any tax-benefits for obtaining a home loan?</h3>
                        <span class="FAQ_pluseIcon__sWIas "></span>
                    </div>
                    <div class="FAQ_content__7VPH9">
                        <p style="text-align: justify;">Yes, you can avail tax benefits with respect to home loan EMI
                            payments in accordance with Section 80C and Section 24 of the Income Tax Act.</p>
                    </div>
                </div>
                <div class="FAQ_question__LkjKP ">
                    <div class="FAQ_faqQuestn__v3L3G">
                        <h3 class="txt font14 fontMedium">What is the market value of a property?</h3><span
                            class="FAQ_pluseIcon__sWIas "></span>
                    </div>
                    <div class="FAQ_content__7VPH9">
                        <p style="text-align: justify;">The market value of the property can be defined as the price
                            agreed by both the buyer and seller for transactional purposes.</p>
                    </div>
                </div>
                <div class="FAQ_question__LkjKP ">
                    <div class="FAQ_faqQuestn__v3L3G">
                        <h3 class="txt font14 fontMedium">What is meant by ‘own contribution’?</h3><span
                            class="FAQ_pluseIcon__sWIas "></span>
                    </div>
                    <div class="FAQ_content__7VPH9">
                        <p style="text-align: justify;">According to the regulation laid down by RBI, lenders cannot
                            approve a home loan exceeding 90% of the market value of the property. This is why most loan
                            providers require the applicant to deposit 10% to 20% of the market value as down payment
                            for the property. This initial deposit made by the applicant is known as down-payment.</p>
                    </div>
                </div>
                <div class="FAQ_question__LkjKP ">
                    <div class="FAQ_faqQuestn__v3L3G">
                        <h3 class="txt font14 fontMedium">Is it possible to get a top-up loan over an existing home
                            loan?</h3><span class="FAQ_pluseIcon__sWIas "></span>
                    </div>
                    <div class="FAQ_content__7VPH9">
                        <p style="text-align: justify;">Yes, it is possible to get a top-up loan over your already
                            existing home loan. However you will be required to make regular EMI payments in order to be
                            eligible for this scheme.</p>
                    </div>
                </div>
                <div class="FAQ_question__LkjKP ">
                    <div class="FAQ_faqQuestn__v3L3G">
                        <h3 class="txt font14 fontMedium">What is the loan disbursement process in case of an
                            under-construction property?</h3><span class="FAQ_pluseIcon__sWIas "></span>
                    </div>
                    <div class="FAQ_content__7VPH9">
                        <p style="text-align: justify;">In case of a home loan for an under-construction property, the
                            loan amount is disbursed in instalments according to the assessments of the lender. Usually,
                            the loan amount is disbursed on the basis of the progress of construction of the property.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="InternalBlog_blogs__XWFqb">
        <div class="container">
            <h2 class="font24 textBlack fontsemiBold mb10">Home Loan Guide</h2>
            <p class="font14 lineHeight22 mb30 text2828">Get in-depth knowledge about all things related to loans and
                your finances</p>
            <div class="InternalBlog_tiles__DsGB4">
                <div class="InternalBlog_indTile__myHvD">
                    <figure><img alt="Top 10 Best Bank for Home Loan In India 2023" loading="lazy" width="152"
                            height="150" decoding="async" data-nimg="1" class="imgResponsive"
                           src="./../../../assets/images/Top-Home-Loans-In-India-2023-2.webp"
                            style="color: transparent;"></figure>
                    <div class="InternalBlog_blogItem__iU0p_">
                        <div class="InternalBlog_blogInfo__JvPtv"><span class="InternalBlog_name__LehqT">Chitra
                                Chaudhary</span><span class="InternalBlog_date__CiVJk">Nov 21, 2023</span></div><a
                            target="_blank"
                            href="https://www.urbanmoney.com/blog/home-loan-from-the-best-financial-banks-hlart">
                            <h3 class="InternalBlog_mainTitle__m6PVU">Top 10 Best Bank for Home Loan In India 2023</h3>
                        </a>
                        <p class="font14 text777 clearBoth">We have compiled a list of the best banks for a home loan in
                            India 2023 based on the home loan value it offers to the borrower. These banks offer a
                            variety of home loan programs with numerous advantag</p><label class="font12 textLink">Read
                            More <i  class="bi bi-chevron-right arrowSm"></i></label>
                    </div>
                </div>
                <div class="InternalBlog_indTile__myHvD">
                    <figure><img alt="Shriram Finance Customer Care Number" loading="lazy" width="152" height="150"
                            decoding="async" data-nimg="1" class="imgResponsive"
                            src="./../../../assets/images/Toll-Free-Customer-Helplines-compressed.webp"
                            style="color: transparent;"></figure>
                    <div class="InternalBlog_blogItem__iU0p_">
                        <div class="InternalBlog_blogInfo__JvPtv"><span class="InternalBlog_name__LehqT">Mansi
                                Saini</span><span class="InternalBlog_date__CiVJk">Oct 05, 2023</span></div><a
                            target="_blank"
                            href="https://www.urbanmoney.com/blog/shriram-finance-customer-care-number-hlart">
                            <h3 class="InternalBlog_mainTitle__m6PVU">Shriram Finance Customer Care Number</h3>
                        </a>
                        <p class="font14 text777 clearBoth">We explore all the Shriram Finance Customer Care Numbers
                            provided by the bank. Through these channels of communication, the financier aims to provide
                            technical support, grievance redressal, and other </p><label class="font12 textLink">Read
                            More <i  class="bi bi-chevron-right arrowSm"></i></label>
                    </div>
                </div>
                <div class="InternalBlog_indTile__myHvD">
                    <figure><img alt="RBI Home Loan Guidelines 2023" loading="lazy" width="152" height="150"
                            decoding="async" data-nimg="1" class="imgResponsive"
                            src="./../../../assets/images/RBI-home-loans-Guidelines-2023-compressed.webp"
                            style="color: transparent;"></figure>
                    <div class="InternalBlog_blogItem__iU0p_">
                        <div class="InternalBlog_blogInfo__JvPtv"><span class="InternalBlog_name__LehqT">Chitra
                                Chaudhary</span><span class="InternalBlog_date__CiVJk">Sep 11, 2023</span></div><a
                            target="_blank" href="https://www.urbanmoney.com/blog/rbi-home-loan-guidelines-hlart">
                            <h3 class="InternalBlog_mainTitle__m6PVU">RBI Home Loan Guidelines 2023</h3>
                        </a>
                        <p class="font14 text777 clearBoth">The Reserve Bank of India is the highest banking and
                            financial authority in India. Along with the Government of India, the central bank revamps
                            and updates its policies to publish RBI guidelines for h</p><label
                            class="font12 textLink">Read More <i  class="bi bi-chevron-right arrowSm"></i></label>
                    </div>
                </div>
            </div>
            <div class="InternalBlog_cntr__oMpqS"><button class="btn btn-primary font14 textCenterSm btn25">View all
                    Blogs<i class="bi bi-arrow-right arw font14 mrg"></i></button></div>
        </div>
    </section>
</main>