<!-- <main>
    <div class="FloatIcon_FloatIcon__JBW0S">
        <div class="FloatIcon_Icon__OAYI3"><img alt="Urban Money Float Icon" loading="lazy" width="28" height="25"
                decoding="async" data-nimg="1" src="./../../assets/images/FloatIcon.svg" style="color: transparent;">
        </div>
        <div class="FloatIcon_title__0ZXTP">
            <div class="FloatIcon_closeIcon__Gi9ll"></div>
            <p class="fontBold font12 mb10">Need Loan Assistance?</p><button
                class="btn FloatIcon_connectNow__pDqOd">Connect Now <i class="bi bi-arrow-right"></i> </button>
        </div>
    </div>
    <div class="container">
        <div class="BreadCrumb_breadCrumb__pNdJT">
            <ul>
                <li><a class="text777 font12" href="/">Home</a></li>
                <li class="text777 font12 "><a class="" href="https://www.urbanmoney.com/investment-plans">Investment
                        Plans</a></li>
                <li class="text777 font12 ">Ppf</li>
            </ul>
        </div>
    </div>
    <div class="containerMaxiwith containerFlex">
        <section class="CmsContent_eligible__8MIhE">
            <div class="container">
                <h1 class="font24 mb30 text2828 bottomborderf5a623 Innerheading fontsemiBold lineHeight36">PPF - Public
                    Provident Fund</h1>
                <div class="CmsContent_genericBanner___VBOA"></div>
                <div class="mt35">
                    <h2><span>What is a PPF (Public Provident Fund)?</span></h2>
                    <p><span>Public Provident Fund (PPF) is an investment tool that has enormous investor-friendly
                            features and tax benefits. It is a long term investment plan introduced in 1968. The main
                            feature is that the PPF scheme offers a high but stable return on the invested amount. In
                            other words, people who want to keep their principal savings safe and secure their
                            post-retirement life open their accounts under the PPF scheme.</span></p>

                    <h2><span>What is a PPF Account?</span></h2>
                    <p><span>The Public Provident Fund (PPF) scheme is a long term investment option that provides
                            appealing interests and returns on the invested amount. However, the returns and interest
                            earned are not taxable under the Income Tax Act, 1961. But one has to open a PPF account
                            under this scheme. The amount deposited annually will be claimed under Section 80C.</span>
                    </p>

                    <h2><span>Quick Information of Public Provident Fund</span></h2>
                    <table>
                        <tbody>
                            <tr>
                                <td><strong>Rate of Interest</strong></td>
                                <td><span>7.1% per annum</span></td>
                            </tr>
                            <tr>
                                <td><strong>Minimum Investment Amount</strong></td>
                                <td><span>Rs.500 is the minimum investment amount</span></td>
                            </tr>
                            <tr>
                                <td><strong>Maximum Investment Amount</strong></td>
                                <td><span>Rs 1.5 lakh per annum is the maximum investment amount</span></td>
                            </tr>
                            <tr>
                                <td><strong>Maximum Tenure</strong></td>
                                <td><span>15 years is the maximum tenure</span></td>
                            </tr>
                            <tr>
                                <td><strong>Profile of Risk</strong></td>
                                <td><span>Offers are available and offer risk-free returns</span></td>
                            </tr>
                            <tr>
                                <td><strong>Benefit in Tax</strong></td>
                                <td><span>Up to Rs.1.5 lakh under Section 80C</span></td>
                            </tr>
                        </tbody>
                    </table>
                    <h2><span>PPF Features and Benefits&nbsp;</span></h2>
                    <p><span>Here are the features and benefits an individual can enjoy under the Public Provident Fund
                            scheme.</span><span>&nbsp;</span></p>

                    <ul>
                        <li><b>Tenure for a PPF Account: </b><span>For a Public Provident Fund, the minimum tenure is 15
                                years. However, every investor has the facility to extend the loan duration by five
                                years. Also, the extension of the PPF scheme does not require any
                                investment.</span><span>&nbsp;</span></li>
                        <li><b>Eligibility for a PPF Account:</b><span> All Indian citizens are eligible to open a PPF
                                account. Non-resident Indians and Hindu Undivided Families are not eligible to open a
                                PPF account.</span><span>&nbsp;</span></li>
                        <li><b>Number of Accounts Under One Name: </b><span>Every individual can have only one PPF
                                account. However, one can open another account as a guardian of a
                                minor.</span><span>&nbsp;</span></li>
                        <li><b>Minimum and Maximum Investment Amount:</b><span> You can open a PPF account with a
                                minimum amount of Rs. 100. The minimum annual investment amount is Rs. 500. On the other
                                hand, the maximum annual investment is Rs. 1,50,000. However, investments above Rs.
                                1,50,000 will not receive any interest.</span></li>
                        <li><b>Deposit Frequency:</b><span> The frequency of deposits can be done either once a year or
                                in 12 instalments (one per month). It is also mandatory to make a minimum of one deposit
                                into the PPF account for 15 years to keep the account active.</span><span>&nbsp;</span>
                        </li>
                        <li><b>Deposit Mode:</b><span> The deposit mode of the PPF scheme is online, demand draft,
                                cheque and cash.</span><span>&nbsp;</span></li>
                        <li><b>Risks:</b><span> The government of India supports the Public Provident Fund (PPF).
                                Therefore, the risks are quite low. It is one of the most secure investment options
                                available to individuals.</span><span>&nbsp;</span></li>
                        <li><b>Joint Account Facility:</b><span> An individual can open only one PPF account in their
                                name. It does not support a joint account facility.</span><span>&nbsp;</span></li>
                        <li><b>Nomination Facility: </b><span>The investor can make anyone a nominee for their account.
                                This facility is available at the time of opening a PPF
                                account.</span><span>&nbsp;</span></li>
                        <li><b>Loan Availability:</b><span> Investors can also avail of loans against their PPF account.
                                But the loan against PPF is only available between the third and the fifth year.
                                However, the loan amount cannot exceed 25% of the amount made at the end of the second
                                financial year.</span></li>
                    </ul>
                    <h2><span>Eligibility Criteria for Public Provident Fund</span></h2>
                    <p><span>The eligibility criteria for Public Provident Fund are as follows:</span></p>

                    <ul>
                        <li><span>PPF accounts can only be opened by an Indian resident.</span></li>
                        <li><span>Non-resident Indians are not eligible to start a PPF account. However, if someone
                                opens a PPF account before becoming an NRI, then it can continue till its
                                maturity.</span></li>
                        <li><span>Parents and guardians can also open PPF accounts for their minors.</span></li>
                        <li><span>One account is only for one person. No joint accounts are allowed.</span></li>
                    </ul>
                    <h2><span>Document Requirement for Public Provident Fund</span></h2>
                    <p><span>Given below are the documents required for opening a PPF account:</span></p>

                    <ul>
                        <li><span>The PPF application form.</span></li>
                        <li><span>Identity proofs, like Aadhaar card, PAN card, passport, driver's license, etc.</span>
                        </li>
                        <li><span>Address proofs like Aadhaar card, passport, etc.</span></li>
                        <li><span>Signature proof.</span></li>
                    </ul>
                    <p><span>Once the documents are submitted, the investor has to deposit the amount towards the
                            opening account. PPF accounts can be opened online only at the bank using internet
                            banking.</span></p>

                    <h2><span>What Were the PPF Interest Rates Over the Different Financial Years?&nbsp;</span></h2>
                    <p><span>The interest rate of PPF schemes over different years is presented to you in a tabular
                            form.</span></p>

                    <table>
                        <tbody>
                            <tr>
                                <td><strong>Quarterly Months and Financial Years</strong></td>
                                <td><strong>Interest Rate (p.a.)</strong></td>
                            </tr>
                            <tr>
                                <td><span>1 July 2021 - 30 September 2021</span></td>
                                <td><span>7.10%</span></td>
                            </tr>
                            <tr>
                                <td><span>1 April, 2021 - July 2021</span></td>
                                <td><span>7.10%</span></td>
                            </tr>
                            <tr>
                                <td><span>1 January, 2021 - 31 March, 2021</span></td>
                                <td><span>7.10%</span></td>
                            </tr>
                            <tr>
                                <td><span>1 October, 2020 – 31 December, 2020</span></td>
                                <td><span>7.10%</span></td>
                            </tr>
                            <tr>
                                <td><span>1 July, 2020 - 30 September, 2020</span></td>
                                <td><span>7.10%</span></td>
                            </tr>
                            <tr>
                                <td><span>1 April, 2020 - 30 June, 2020</span></td>
                                <td><span>7.10%</span></td>
                            </tr>
                            <tr>
                                <td><span>1 January, 2020 - 31 March, 2020</span></td>
                                <td><span>7.90%</span></td>
                            </tr>
                            <tr>
                                <td><span>1 October, 2019 - 31 December, 2019</span></td>
                                <td><span>7.90%</span></td>
                            </tr>
                            <tr>
                                <td><span>1 July, 2019 - 30 September, 2019</span></td>
                                <td><span>7.90%</span></td>
                            </tr>
                            <tr>
                                <td><span>1 April, 2019 - 30 June, 2019</span></td>
                                <td><span>8.00%</span></td>
                            </tr>
                            <tr>
                                <td><span>1 January, 2019 - 31 March, 2019</span></td>
                                <td><span>8.00%</span></td>
                            </tr>
                            <tr>
                                <td><span>1 October, 2018 - 31 December, 2018</span></td>
                                <td><span>8.00%</span></td>
                            </tr>
                            <tr>
                                <td><span>1 July, 2018 - 30 September, 2018</span></td>
                                <td><span>7.60%</span></td>
                            </tr>
                            <tr>
                                <td><span>1 April, 2018 - 30 June, 2018</span></td>
                                <td><span>7.60%</span></td>
                            </tr>
                            <tr>
                                <td><span>1 January, 2018 - 31 March, 2018</span></td>
                                <td><span>7.60%</span></td>
                            </tr>
                            <tr>
                                <td><span>01 October 2017 - 26 December 2017</span></td>
                                <td><span>7.80%</span></td>
                            </tr>
                            <tr>
                                <td><span>01 July 2017 - 30 September 2017</span></td>
                                <td><span>7.80%</span></td>
                            </tr>
                            <tr>
                                <td><span>01 April 2017 - 30 June 2017</span></td>
                                <td><span>7.90%</span></td>
                            </tr>
                            <tr>
                                <td><span>01 January 2017 - 31 March 2017</span></td>
                                <td><span>8.00%</span></td>
                            </tr>
                            <tr>
                                <td><span>01 October 2016 - 31 December 2016</span></td>
                                <td><span>8.00%</span></td>
                            </tr>
                            <tr>
                                <td><span>01 July 2016 - 30 September 2016</span></td>
                                <td><span>8.10%</span></td>
                            </tr>
                            <tr>
                                <td><span>01 April 2016 - 30 June 2016</span></td>
                                <td><span>8.10%</span></td>
                            </tr>
                            <tr>
                                <td><span>01 April 2015 - 31 March 2016</span></td>
                                <td><span>8.70%</span></td>
                            </tr>
                        </tbody>
                    </table>
                    <h2><span>Tax Benefits of Public Provident Fund Investment&nbsp;</span></h2>
                    <p><span>PPF is an investment scheme that falls under the tax exemption category. In simple words,
                            the PPF interest is exempted under section 80C as mentioned under the Income Tax Act, 1961.
                            Also, PPF cannot be more than Rs. 1.5 lakh in the single fiscal year. The calculated
                            interest and amount are also exempted from the tax when the applicant withdraws it.</span>
                    </p>
                    <p><span>Another noticeable fact is that the PPF account cannot be closed before its maturity.
                            However, a PPF account can be transferred from one designation to another. The nominee can
                            file for closure of the account after the PPF account owner's demise.</span></p>

                    <h2><span>Loan Against Public Provident Fund Scheme</span></h2>
                    <ul>
                        <li><span>Any PPF account holder can take a loan against their PPF amount between the third and
                                sixth year.</span></li>
                        <li><span>The maximum loan tenure is only three years.</span></li>
                        <li><span>The loan amount is given to the PPF account holder as the loan is a maximum of 25% of
                                the total available amount.</span></li>
                        <li><span>If the account holder wants a second loan, they can take it before the sixth year if
                                the first loan is repaid completely.</span></li>
                    </ul>
                    <h2><span>How to Withdraw Money From the PPF Account?</span></h2>
                    <p><span>Follow the below easy two-step procedure to withdraw money from the PPF account.</span></p>
                    <p><b>Step 1:</b><span> Fill out the application form using Form C with appropriate
                            information.</span></p>
                    <p><b>Step 2: </b><span>Submit the application to the bank branch where you have your PPF
                            account.</span></p>

                    <h2><span>What is Form C and its Sections?</span></h2>
                    <p><span>As mentioned in the previous section, Form C is used to withdraw money from a PPF account
                            before its maturity.</span><span>&nbsp;</span></p>
                    <p><span>Form C comprises three sections in total:</span></p>
                    <p><b>Section 1:</b><span> The first section is a declaration section. Here you have to give your
                            PPF account number and the amount of money you want to withdraw. You also have to mention
                            how many years have passed since the account was opened.</span><span>&nbsp;</span></p>
                    <p><b>Section 2:</b><span> The second section is an office-use section which includes the following
                            details:</span></p>

                    <ul>
                        <li><span>Date when the PPF account was opened.</span></li>
                        <li><span>Total balance available in the PPF account.</span></li>
                        <li><span>Date when the last withdrawal took place.</span></li>
                        <li><span>Total withdrawal amount currently available in the account.</span></li>
                        <li><span>A sum of the amount sanctioned for withdrawal.</span></li>
                        <li><span>Date and signature of the authorised person (service manager).</span></li>
                    </ul>
                    <p><b>Section 3:</b><span> The third section is all about entering the bank details where the money
                            will be directly credited. It is also important to enclose a copy of the passbook of the PPF
                            and its application.</span></p>

                    <h2><span>How to Open a Public Provident Fund Account Online?</span></h2>
                    <p><span>You can follow the below written steps to open a public provident fund account
                            online.</span><span>&nbsp;</span></p>
                    <p><b>Step 1: </b><span>Use your credentials and log in to your bank account mobile banking
                            platform.</span><span>&nbsp;</span></p>
                    <p><b>Step 2: </b><span>Select the option of Open a PPF Account.</span><span>&nbsp;</span></p>
                    <p><b>Step 3:</b><span> If the account is for self, you have to select the option of Self Account.
                            But, if the account is opened on behalf of a minor, select the option of Minor
                            Account.</span><span>&nbsp;</span></p>
                    <p><b>Step 4: </b><span>You have to enter the mandatory details in the application
                            form.</span><span>&nbsp;</span></p>
                    <p><b>Step 5: </b><span>Enter the total amount you want to deposit in a financial
                            year.</span><span>&nbsp;</span></p>
                    <p><b>Step 6: </b><span>Submit the application. You will get an OTP on your registered mobile number
                            immediately after. Verify it.</span><span>&nbsp;</span></p>
                    <p><b>Step 7:</b><span> In a few seconds, your PPF account will be created. Now, you will be able to
                            see your PPF account number on the screen. You will also receive an email at your registered
                            email address regarding the same.</span></p>

                    <h2><span>How Can One Open a PPF Account in a Post Office?</span></h2>
                    <p><span>To open a PPF account via a post office, you have to follow the below written steps:</span>
                    </p>

                    <ul>
                        <li><span>Get the PPF application form from your nearest post office.</span></li>
                        <li><span>Enter the required information in the form and submit it with all the KYC documents
                                and two passport size photos.</span></li>
                        <li><span>You have to make a minimum deposit required to open a post office account.</span></li>
                        <li><span>After your application is processed further, a passbook will be provided to
                                you.</span></li>
                    </ul>
                    <h2><span>How to Transfer a PPF Account?</span></h2>
                    <p><span>To transfer your PPF account to a different branch or post office, you must follow the
                            steps written below:</span></p>

                    <ul>
                        <li><span>Go to the bank or post office branch where you have opened your PPF account.</span>
                        </li>
                        <li><span>Request for the application form that is used to transfer the PPF account.</span></li>
                        <li><span>Fill in all the relevant information as asked.</span></li>
                        <li><span>The branch officer will process your application and forward it further.</span></li>
                        <li><span>You have to give certified copies of documents, such as nomination form, account
                                opening application, signature, cheque or DD for the outstanding balance to transfer it
                                to the new account.</span></li>
                        <li><span>When the new branch receives your application, they will ask you to send a new PPF
                                account opening form with the old account passbook.</span></li>
                        <li><span>If you want, you can change the nominee of your PPF account.</span></li>
                        <li><span>Once your new application processes, your PPF account will successfully transfer to
                                the new branch.</span></li>
                    </ul>
                    <h2><span>Steps to Check PPF Account Balance Online</span></h2>
                    <ul>
                        <li><span>Log in to your internet banking PPF account.</span></li>
                        <li><span>In the next step, you have to open the PPF account details. In these details, you have
                                to check the latest PPF balance and recent transaction details.</span></li>
                    </ul>
                    <h2><span>PPF Customer Care and Helpline Number</span></h2>
                    <ul>
                        <li><b>PPF Customer Care and Helpline Number:</b><span> 1800118005.</span></li>
                        <li><b>Email Address for Employee:</b><span> employeefeedback@epfindia.gov.in</span></li>
                        <li><b>Email Address for Employer:</b> employerfeedback@epfindia.gov.in</li>
                    </ul>
                </div>
            </div>
        </section>
        <div class="RightSideBar_creditDescTile__EwfAF  " id="enquireNow">
            <h3 class="font16 font600 text181d mb15 mt30">Need Loan Assistance?</h3>
            <div class="LeadPopup_contentBox__k4AzT LeadPopup_sideBarForm__yaxs1">
                <p class="font12 text666 fontsemiBold">Connect with Loan Advisor Now!</p>
                <div class="LeadPopup_form__ZbOgW">
                    <div class="form-item"><input type="text" name="fullName" class="formInput" autocomplete="off"
                            required="" maxlength="90" value=""><label for="fullName"
                            class="font12 fontMedium formLabel">Full Name</label><span class="errorText"></span></div>
                    <div class="form-item contBox"><span class="text303542 font12 contCode fontMedium">+91</span><input
                            type="text" name="mobile" class="formInput" autocomplete="off" required="" maxlength="10"
                            value=""><label for="mobileNo" class="font12 fontMedium formLabel">Mobile No.</label><span
                            class="errorText"></span><span class="errorText"></span></div>
                    <div class="form-item">
                        <div class=" css-b62m3t-container"><span id="react-select-6-live-region"
                                class="css-7pg0cj-a11yText"></span><span aria-live="polite" aria-atomic="false"
                                aria-relevant="additions text" class="css-7pg0cj-a11yText"></span>
                            <div class=" css-13cymwt-control">
                                <div class=" css-hlgwow">
                                    <div class=" css-1jqq78o-placeholder" id="react-select-6-placeholder">Choose City
                                    </div>
                                    <div class=" css-19bb58m" data-value=""><input class="" autocapitalize="none"
                                            autocomplete="off" autocorrect="off" id="react-select-6-input"
                                            spellcheck="false" tabindex="0" type="text" aria-autocomplete="list"
                                            aria-expanded="false" aria-haspopup="true" role="combobox"
                                            aria-describedby="react-select-6-placeholder" value=""
                                            style="color: inherit; background: 0px center; opacity: 1; width: 100%; grid-area: 1 / 2; font: inherit; min-width: 2px; border: 0px; margin: 0px; outline: 0px; padding: 0px;">
                                    </div>
                                </div>
                                <div class=" css-1wy0on6"><span class=" css-1u9des2-indicatorSeparator"></span>
                                    <div class=" css-1xc3v61-indicatorContainer" aria-hidden="true"><svg height="20"
                                            width="20" viewBox="0 0 20 20" aria-hidden="true" focusable="false"
                                            class="css-8mmkcg">
                                            <path
                                                d="M4.516 7.548c0.436-0.446 1.043-0.481 1.576 0l3.908 3.747 3.908-3.747c0.533-0.481 1.141-0.446 1.574 0 0.436 0.445 0.408 1.197 0 1.615-0.406 0.418-4.695 4.502-4.695 4.502-0.217 0.223-0.502 0.335-0.787 0.335s-0.57-0.112-0.789-0.335c0 0-4.287-4.084-4.695-4.502s-0.436-1.17 0-1.615z">
                                            </path>
                                        </svg></div>
                                </div>
                            </div>
                        </div><span class="errorText"></span>
                    </div>
                    <div class="form-item">
                        <div class="Select_rangecalc__KDYd8">
                            <div class="selectBox"><select name="productType" class="formInput undefined" required="">
                                    <option value="">Choose Loan Type</option>
                                    <option value="2">Personal Loan</option>
                                    <option value="1">Home Loan</option>
                                    <option value="3">Loan Against Property</option>
                                    <option value="4">Business Loan</option>
                                    <option value="8">Credit Card</option>
                                </select></div>
                        </div><span class="errorText"></span>
                    </div>
                    <div class="LeadPopup_rangecalc__wwLC4 mb0 "><button
                            class="btn btn-primary textCenterSm font16 ">Submit </button><span class="errorText"></span>
                    </div>
                </div>
            </div>
            <h3 class="font16 font600 text181d mb15 mt30">Loans</h3>
            <div class="RightSideBar_creditTile__tbrLG mb16">
                <ul class="RightSideBar_btmoverflow__wat2N">
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/loans/home-loan">Home Loan</a>
                    </li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/loans/personal-loan">Personal
                            Loan</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/loans/loan-against-property">Loan Against Property</a></li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/loans/business-loan">Business
                            Loan</a></li>
                </ul>
            </div>
            <div
                class="RightSideBar_creditTile__tbrLG RightSideBar_creditImg__B2mz1 mb16 RightSideBar_removePadding__YDnG5">
                <a href="https://www.urbanmoney.com/credit-score"><img alt="Credit Score" loading="lazy" width="250"
                        height="250" decoding="async" data-nimg="1" class="imgResponsive" sizes="100vw"
                        srcset="/_next/image?url=https%3A%2F%2Fcdn.urbanmoney.com%2Fimages%2Fcreditscore.png&amp;w=640&amp;q=75 640w, /_next/image?url=https%3A%2F%2Fcdn.urbanmoney.com%2Fimages%2Fcreditscore.png&amp;w=750&amp;q=75 750w, /_next/image?url=https%3A%2F%2Fcdn.urbanmoney.com%2Fimages%2Fcreditscore.png&amp;w=828&amp;q=75 828w, /_next/image?url=https%3A%2F%2Fcdn.urbanmoney.com%2Fimages%2Fcreditscore.png&amp;w=1080&amp;q=75 1080w, /_next/image?url=https%3A%2F%2Fcdn.urbanmoney.com%2Fimages%2Fcreditscore.png&amp;w=1200&amp;q=75 1200w, /_next/image?url=https%3A%2F%2Fcdn.urbanmoney.com%2Fimages%2Fcreditscore.png&amp;w=1920&amp;q=75 1920w, /_next/image?url=https%3A%2F%2Fcdn.urbanmoney.com%2Fimages%2Fcreditscore.png&amp;w=2048&amp;q=75 2048w, /_next/image?url=https%3A%2F%2Fcdn.urbanmoney.com%2Fimages%2Fcreditscore.png&amp;w=3840&amp;q=75 3840w"
                        src="/_next/image?url=https%3A%2F%2Fcdn.urbanmoney.com%2Fimages%2Fcreditscore.png&amp;w=3840&amp;q=75"
                        style="color: transparent; width: 100%; height: auto;"></a></div>
            <h3 class="font16 font600 text181d mb15 mt30">Investment</h3>
            <div class="RightSideBar_creditTile__tbrLG mb16">
                <ul class="RightSideBar_btmoverflow__wat2N">
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/investment-plans/epf">Employee
                            Provident Fund</a></li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/investment-plans/sip">Systematic
                            Investment Plan</a></li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/fixed-deposit-rate">Fixed
                            Deposit</a></li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/mutual-funds">Mutual Funds</a>
                    </li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/investment-plans/recurring-deposit">Recurring Deposit</a>
                    </li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/investment-plans/sip">Systematic
                            Investment Plan (SIP)</a></li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/investment-plans/epf">Employees
                            Provident Fund (EPF)</a></li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/investment-plans/ppf">Public
                            Provident Fund (PPF)</a></li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/investment-plans/vpf">Voluntary
                            Provident Fund (VPF)</a></li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/investment-plans/elss">ELSS</a>
                    </li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/investment-plans/nps">National
                            Pension Scheme (NPS)</a></li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/investment-plans/nsc">National
                            Savings Certificate (NSC)</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/investment-plans/senior-citizens-saving-scheme">Senior
                            Citizen Saving Scheme</a></li>
                </ul>
            </div>
            <h3 class="font16 font600 text181d mb15 mt30">Financial Calculators</h3>
            <div class="RightSideBar_creditTile__tbrLG mb16">
                <ul class="RightSideBar_btmoverflow__wat2N">
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/calculator/income-tax-calculator">Income Tax Calculator</a>
                    </li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/calculator/sip-calculator">SIP
                            Calculator</a></li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/calculator/fd-calculator">FD
                            Calculator</a></li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/calculator/hra-calculator">HRA
                            Calculator</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/calculator/lumpsum-calculator">Lumpsum Calculator</a></li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/calculator/ppf-calculator">PPF
                            Calculator</a></li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/calculator/rd-calculator">RD
                            Calculator</a></li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/calculator/gst-calculator">GST
                            Calculator</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/calculator/sukanya-samriddhi-yojana-calculator">Sukanya
                            Samridhi Yojana Calculator</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/calculator/mutual-fund-calculator">Mutual Fund
                            Calculator</a></li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/calculator/tds-calculator">TDS
                            Calculator</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/calculator/salary-calculator">Salary Calculator</a></li>
                </ul>
            </div>
            <h3 class="font16 font600 text181d mb15 mt30">Check Eligibility</h3>
            <div class="RightSideBar_creditTile__tbrLG mb16">
                <ul class="RightSideBar_btmoverflow__wat2N">
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/loans/home-loan/eligibility-calculator">Home Loan
                            Eligibility Calculator</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/loans/personal-loan/eligibility-calculator">Personal Loan
                            Eligibility Calculator</a></li>
                </ul>
            </div>
            <h3 class="font16 font600 text181d mb15 mt30">Top 10 AMC</h3>
            <div class="RightSideBar_creditTile__tbrLG mb16">
                <ul class="RightSideBar_btmoverflow__wat2N">
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/mutual-funds/sbi-mutual-fund">SBI Mutual Fund</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/mutual-funds/axis-mutual-fund">Axis Mutual Fund</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/mutual-funds/hdfc-mutual-fund">HDFC Mutual Fund</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/mutual-funds/uti-mutual-fund">UTI Mutual Fund</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/mutual-funds/icici-prudential-mutual-fund">ICICI Prudential
                            Mutual Fund</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/mutual-funds/tata-mutual-fund">Tata Mutual Fund</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/mutual-funds/kotak-mahindra-mutual-fund">Kotak Mahindra
                            Mutual Fund</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/mutual-funds/canara-robeco-mutual-fund">Canara Rodeco
                            Mutual Fund</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/mutual-funds/mirae-asset-mutual-fund">Mirae Asset Mutual
                            Fund</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/mutual-funds/bandhan-mutual-fund">Bandhan Mutual Fund</a>
                    </li>
                </ul>
            </div>
            <h3 class="font16 font600 text181d mb15 mt30">Top 10 Banks</h3>
            <div class="RightSideBar_creditTile__tbrLG mb16">
                <ul class="RightSideBar_btmoverflow__wat2N">
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/banks-in-india/citi-bank">CITI
                            Bank</a></li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/banks-in-india/rbl-bank">RBL
                            Bank</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/banks-in-india/bank-of-baroda">Bank of Baroda</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/banks-in-india/canara-bank">Canara Bank</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/banks-in-india/bajaj-finserv">Bajaj Finserv</a></li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/banks-in-india/yes-bank">Yes
                            Bank</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/banks-in-india/deutsche-bank">Deutsche Bank</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/banks-in-india/idfc-first-bank">IDFC FIRST Bank</a></li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/banks-in-india/dcb-bank">DCB
                            Bank</a></li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/banks-in-india/kotak-bank">Kotak
                            Bank</a></li>
                </ul>
            </div>
        </div>
    </div>
    <section class="faq">
        <div class="container">
            <h2 class="faqHeading font24">Frequently Asked Questions (FAQs)</h2>
            <div class="faqBx">
                <div class="FAQ_question__LkjKP ">
                    <div class="FAQ_faqQuestn__v3L3G">
                        <h3 class="txt font14 fontMedium">PPF interest is exempted under which section of Income Tax
                            Act?</h3><span class="FAQ_pluseIcon__sWIas "></span>
                    </div>
                    <div class="FAQ_content__7VPH9">
                        <p style="text-align: justify"><span style="font-weight: 400">PPF interest is exempted under
                                section 80C of Income Tax Act, 1961.</span></p>
                    </div>
                </div>
                <div class="FAQ_question__LkjKP ">
                    <div class="FAQ_faqQuestn__v3L3G">
                        <h3 class="txt font14 fontMedium">How much will I get after 15 years in PPF?</h3><span
                            class="FAQ_pluseIcon__sWIas "></span>
                    </div>
                    <div class="FAQ_content__7VPH9">
                        <p style="text-align: justify"><span style="font-weight: 400">To understand how much you will
                                receive after 15 years of having a PPF account, let’s start with an example. Suppose you
                                make an annual payment of Rs. 1,00,000 in your PPF investment for 15 years. At the end
                                of 15 years, the total amount you will receive will be Rs. 31,17,276 at the interest
                                rate of 7.1%.</span></p>
                    </div>
                </div>
                <div class="FAQ_question__LkjKP ">
                    <div class="FAQ_faqQuestn__v3L3G">
                        <h3 class="txt font14 fontMedium">Is PPF investment good?</h3><span
                            class="FAQ_pluseIcon__sWIas "></span>
                    </div>
                    <div class="FAQ_content__7VPH9">
                        <p style="text-align: justify"><span style="font-weight: 400">Yes, PPF is a good investment
                                option as it is secure, stable and devoid of any risks.</span></p>
                    </div>
                </div>
                <div class="FAQ_question__LkjKP ">
                    <div class="FAQ_faqQuestn__v3L3G">
                        <h3 class="txt font14 fontMedium">Can I pay PPF monthly?</h3><span
                            class="FAQ_pluseIcon__sWIas "></span>
                    </div>
                    <div class="FAQ_content__7VPH9">
                        <p style="text-align: justify"><span style="font-weight: 400">The maximum payment one can pay
                                Rs. 1.5 lakh annually. And the maximum number of instalments one can make in a year is
                                12.</span></p>
                    </div>
                </div>
                <div class="FAQ_question__LkjKP ">
                    <div class="FAQ_faqQuestn__v3L3G">
                        <h3 class="txt font14 fontMedium">Is PPF interest transferred monthly or yearly?</h3><span
                            class="FAQ_pluseIcon__sWIas "></span>
                    </div>
                    <div class="FAQ_content__7VPH9">
                        <p style="text-align: justify"><span style="font-weight: 400">A PPF interest is transferred
                                annually. It is calculated on a monthly basis considering the minimum balance in the
                                account between the 5th and end of every month. Therefore, it is mandatory to contribute
                                before the 5th of every month if you are contributing on a monthly basis.</span></p>
                    </div>
                </div>
                <div class="FAQ_question__LkjKP ">
                    <div class="FAQ_faqQuestn__v3L3G">
                        <h3 class="txt font14 fontMedium">Can I have 2 PPF accounts?</h3><span
                            class="FAQ_pluseIcon__sWIas "></span>
                    </div>
                    <div class="FAQ_content__7VPH9">
                        <p style="text-align: justify"><span style="font-weight: 400">One person can have multiple PPF
                                accounts under their name as per the PPF rules 2019.</span></p>
                    </div>
                </div>
                <div class="FAQ_question__LkjKP ">
                    <div class="FAQ_faqQuestn__v3L3G">
                        <h3 class="txt font14 fontMedium">What if I deposit more than Rs. 1.5 lakh in PPF?</h3><span
                            class="FAQ_pluseIcon__sWIas "></span>
                    </div>
                    <div class="FAQ_content__7VPH9">
                        <p style="text-align: justify"><span style="font-weight: 400">If you deposit Rs 1.50 lakh in
                                your account in any fiscal year, the excess amount will not have any interest income for
                                you.</span></p>
                    </div>
                </div>
                <div class="FAQ_question__LkjKP ">
                    <div class="FAQ_faqQuestn__v3L3G">
                        <h3 class="txt font14 fontMedium">What is the right time to invest in PPF?</h3><span
                            class="FAQ_pluseIcon__sWIas "></span>
                    </div>
                    <div class="FAQ_content__7VPH9">
                        <p style="text-align: justify"><span style="font-weight: 400">It will be beneficial for you to
                                deposit money between April 1 and April 5 of a financial year.</span></p>
                    </div>
                </div>
                <div class="FAQ_question__LkjKP ">
                    <div class="FAQ_faqQuestn__v3L3G">
                        <h3 class="txt font14 fontMedium">What is the PPF interest rate?</h3><span
                            class="FAQ_pluseIcon__sWIas "></span>
                    </div>
                    <div class="FAQ_content__7VPH9">
                        <p style="text-align: justify"><span style="font-weight: 400">7.1 % per annum is the latest PPF
                                interest rate.</span></p>
                    </div>
                </div>
                <div class="FAQ_question__LkjKP ">
                    <div class="FAQ_faqQuestn__v3L3G">
                        <h3 class="txt font14 fontMedium">Do we get a passbook for PPF accounts?</h3><span
                            class="FAQ_pluseIcon__sWIas "></span>
                    </div>
                    <div class="FAQ_content__7VPH9">
                        <p style="text-align: justify"><span style="font-weight: 400">Yes, every bank provides a
                                passbook for newly opened PPF accounts.</span></p>
                    </div>
                </div>
                <div class="FAQ_question__LkjKP ">
                    <div class="FAQ_faqQuestn__v3L3G">
                        <h3 class="txt font14 fontMedium">Who is eligible for a PPF account?</h3><span
                            class="FAQ_pluseIcon__sWIas "></span>
                    </div>
                    <div class="FAQ_content__7VPH9">
                        <p style="text-align: justify"><span style="font-weight: 400">Every Indian citizen is eligible
                                for a PPF account under their name.</span></p>
                    </div>
                </div>
                <div class="FAQ_question__LkjKP ">
                    <div class="FAQ_faqQuestn__v3L3G">
                        <h3 class="txt font14 fontMedium">How is PPF interest calculated?</h3><span
                            class="FAQ_pluseIcon__sWIas "></span>
                    </div>
                    <div class="FAQ_content__7VPH9">
                        <p style="text-align: justify"><span style="font-weight: 400">The interest is calculated between
                                the fifth and the last day of the month. The interest will be paid to the account holder
                                at the end of each fiscal year.</span></p>
                    </div>
                </div>
                <div class="FAQ_question__LkjKP ">
                    <div class="FAQ_faqQuestn__v3L3G">
                        <h3 class="txt font14 fontMedium">Is PPF withdrawal taxable?</h3><span
                            class="FAQ_pluseIcon__sWIas "></span>
                    </div>
                    <div class="FAQ_content__7VPH9">
                        <p style="text-align: justify"><span style="font-weight: 400">As per PPF rules, any money
                                obtained from a PPF account is exempt from tax.</span></p>
                    </div>
                </div>
                <div class="FAQ_question__LkjKP ">
                    <div class="FAQ_faqQuestn__v3L3G">
                        <h3 class="txt font14 fontMedium">Is the PPF interest rate fixed?</h3><span
                            class="FAQ_pluseIcon__sWIas "></span>
                    </div>
                    <div class="FAQ_content__7VPH9">
                        <p style="text-align: justify"><span style="font-weight: 400">PPF interest rates are fixed by
                                the government of India. A PPF is a safe and secure option which you can open at any
                                bank or post office.</span></p>
                    </div>
                </div>
                <div class="FAQ_question__LkjKP ">
                    <div class="FAQ_faqQuestn__v3L3G">
                        <h3 class="txt font14 fontMedium">How much return does PPF give?</h3><span
                            class="FAQ_pluseIcon__sWIas "></span>
                    </div>
                    <div class="FAQ_content__7VPH9">
                        <p style="text-align: justify"><span style="font-weight: 400">The return amount for the PPF
                                account is dependent on the latest interest rate of 7.1% p.a.</span></p>
                    </div>
                </div>
                <div class="FAQ_question__LkjKP ">
                    <div class="FAQ_faqQuestn__v3L3G">
                        <h3 class="txt font14 fontMedium">Who decides the PPF interest rate?</h3><span
                            class="FAQ_pluseIcon__sWIas "></span>
                    </div>
                    <div class="FAQ_content__7VPH9">
                        <p style="text-align: justify"><span style="font-weight: 400">The rate of interest is always set
                                by the Indian government every quarter. PPF investment is so popular because tax
                                exemption is available on the interest earned under the Income Tax Act. </span></p>
                    </div>
                </div>
                <div class="FAQ_question__LkjKP ">
                    <div class="FAQ_faqQuestn__v3L3G">
                        <h3 class="txt font14 fontMedium">How long can I extend my PPF account?</h3><span
                            class="FAQ_pluseIcon__sWIas "></span>
                    </div>
                    <div class="FAQ_content__7VPH9">
                        <p style="text-align: justify"><span style="font-weight: 400">You can extend your PPF account
                                for five years.</span></p>
                    </div>
                </div>
                <div class="FAQ_question__LkjKP ">
                    <div class="FAQ_faqQuestn__v3L3G">
                        <h3 class="txt font14 fontMedium">Is it necessary to name nominees?</h3><span
                            class="FAQ_pluseIcon__sWIas "></span>
                    </div>
                    <div class="FAQ_content__7VPH9">
                        <p style="text-align: justify"><span style="font-weight: 400">Choosing a nominee completely
                                depends on the owner of the PPF account. However, it is only allowed on behalf of
                                minors.</span></p>
                    </div>
                </div>
                <div class="FAQ_question__LkjKP ">
                    <div class="FAQ_faqQuestn__v3L3G">
                        <h3 class="txt font14 fontMedium">Can I open a PPF account along with my wife or child?</h3>
                        <span class="FAQ_pluseIcon__sWIas "></span>
                    </div>
                    <div class="FAQ_content__7VPH9">
                        <p style="text-align: justify"><span style="font-weight: 400">You can open a PPF account only
                                with your father, mother or guardian. Hence, opening a PPF account in Post Office with
                                you as a guardian and opening another account in SBI with your wife as guardian on the
                                same child is not allowed.</span></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main> -->