<!-- <main>
    <div class="FloatIcon_FloatIcon__JBW0S">
        <div class="FloatIcon_Icon__OAYI3"><img alt="Urban Money Float Icon" loading="lazy" width="28" height="25"
                decoding="async" data-nimg="1" src="/assets/images/FloatIcon.svg" style="color: transparent;"></div>
    </div>
    <div class="container">
        <div class="BreadCrumb_breadCrumb__pNdJT">
            <ul>
                <li><a class="text777 font12" href="/">Home</a></li>
                <li class="text777 font12 "><a class="" href="https://www.urbanmoney.com/calculator">Calculators</a>
                </li>
                <li class="text777 font12 ">Home Loan Pre-payment Calculator</li>
            </ul>
        </div>
    </div>
    <section class="calculator">
        <div class="container">
            <h1 class="font24 mb30 text2828 bottomborderf5a623 Innerheading fontsemiBold lineHeight36">Home Loan
                Prepayment Calculator</h1>
            <div class="mt35 cmstext font14">
                <p style="text-align: justify;">A home loan prepayment calculator is an important tool for those who are
                    looking to save money on their home loan payments. It helps you to calculate how much amount of
                    money you can save by just paying some extra payments towards your home loan balance. In addition,
                    it will help you to understand and estimate in how much time you could pay off your home loan if you
                    plan to make regular home loan prepayments. It will help you to understand better and to make an
                    informed decision about your home loan payments.</p>
            </div>
            <div class="calculator_buttonTab__rjaUN"><a class="calculator_tabs__6JeFT "
                    href="https://www.urbanmoney.com/loans/home-loan/emi-calculator">
                    <figure><img alt="emi svg" loading="lazy" width="19" height="18" decoding="async" data-nimg="1"
                            class="imgResponsive" src="https://cdn.urbanmoney.com/images/emi.svg"
                            style="color: transparent;"></figure> EMI Calculator
                </a><a class="calculator_tabs__6JeFT "
                    href="https://www.urbanmoney.com/loans/home-loan/balance-transfer-calculator">
                    <figure><img alt="bt svg" loading="lazy" width="19" height="20" decoding="async" data-nimg="1"
                            class="imgResponsive" src="https://cdn.urbanmoney.com/images/bt.svg"
                            style="color: transparent;"></figure>Balance Transfer
                </a><a class="calculator_tabs__6JeFT calculator_active__5NJUZ"
                    href="https://www.urbanmoney.com/loans/home-loan/pre-payment-calculator">
                    <figure><img alt="prepay svg" loading="lazy" width="19" height="19" decoding="async" data-nimg="1"
                            class="imgResponsive" src="https://cdn.urbanmoney.com/images/pre-pay.svg"
                            style="color: transparent;"></figure> Pre - Payment
                </a></div>
            <div class="calculator_calcBox__R_RRW">
                <div class="form-container w100 ptl15Sm">
                    <div class="raidoInputBox mb30"><a
                            href="https://www.urbanmoney.com/loans/home-loan/pre-payment-calculator"><label
                                class="radioInput text313541"><input class="form-check-input" type="radio"
                                    name="homeLoan" checked=""><span class="radioCheck"></span><span
                                    class="radioText font12 fontsemiBold">Home Loan</span></label></a><a
                            href="https://www.urbanmoney.com/loans/personal-loan/pre-payment-calculator"><label
                                class="radioInput text313541"><input class="form-check-input" type="radio"
                                    name="personalLoan"><span class="radioCheck"></span><span
                                    class="radioText font12 fontsemiBold">Personal Loan</span></label></a><a
                            href="https://www.urbanmoney.com/loans/business-loan/pre-payment-calculator"><label
                                class="radioInput text313541"><input class="form-check-input" type="radio"
                                    name="businessLoan"><span class="radioCheck"></span><span
                                    class="radioText font12 fontsemiBold">Business Loan</span></label></a></div>
                </div>
                <div class="calculator_calc__nueZG">
                    <div class="calculator_rangecalc__wJBbD calculator_premarg__6Vvaz">
                        <div class="calculator_calcValues__rSbuc"><label>Loan Amount</label>
                            <div class="calculator_inputGrp__Xp0tw"><span class="calculator_Sign__zxYy9">₹</span><input
                                    type="text" name="loanAmount" class="calculator_calcValuesInput__MzEPW"
                                    autocomplete="off" value="10,00,000"></div>
                        </div>
                        <div class="calculator_rangeSlider__jU9si"><input type="range" class="slider maxl" min="500000"
                                max="200000000" name="loanAmount" value="1000000">
                            <ul class="calculator_range-labels__l3XU9">
                                <li>5 Lac</li>
                                <li>20 Cr</li>
                            </ul>
                        </div>
                    </div>
                    <div class="calculator_rangecalc__wJBbD calculator_premarg__6Vvaz">
                        <div class="calculator_calcValues__rSbuc"><label>Original Loan Tenure</label>
                            <div class="calculator_inputGrp__Xp0tw"><input type="number" name="tenure"
                                    class="calculator_calcValuesInput__MzEPW calculator_lwidth__E9IXx"
                                    autocomplete="off" value="20"><span class="calculator_Sign__zxYy9">Years</span>
                            </div>
                        </div>
                        <div class="calculator_rangeSlider__jU9si"><input type="range" class="slider minl" min="5"
                                max="30" name="tenure" value="20">
                            <ul class="calculator_range-labels__l3XU9">
                                <li>5</li>
                                <li>30</li>
                            </ul>
                        </div>
                    </div>
                    <div class="calculator_rangecalc__wJBbD calculator_premarg__6Vvaz">
                        <div class="calculator_calcValues__rSbuc"><label>Current Rate Of Interest</label>
                            <div class="calculator_inputGrp__Xp0tw"><input type="number" name="rate"
                                    class="calculator_calcValuesInput__MzEPW calculator_ratel__Wif0S" autocomplete="off"
                                    value="6.5"><span class="calculator_Sign__zxYy9">%</span></div>
                        </div>
                        <div class="calculator_rangeSlider__jU9si"><input type="range" class="slider minl" min="6"
                                max="20" name="rate" step="0.05" value="6.5">
                            <ul class="calculator_range-labels__l3XU9">
                                <li>6</li>
                                <li>20</li>
                            </ul>
                        </div>
                    </div>
                    <div class="calculator_rangecalc__wJBbD calculator_premarg__6Vvaz">
                        <div class="calculator_calcValues__rSbuc"><label>Prepayment Amount</label>
                            <div class="calculator_inputGrp__Xp0tw"><span class="calculator_Sign__zxYy9">₹</span><input
                                    type="text" name="prepayament" class="calculator_calcValuesInput__MzEPW"
                                    autocomplete="off" value="1,000"></div>
                        </div>
                        <div class="calculator_rangeSlider__jU9si"><input type="range" class="slider minl" min="1000"
                                max="1000000" name="prepayament" value="1000">
                            <ul class="calculator_range-labels__l3XU9">
                                <li>1 K</li>
                                <li>10.0 L</li>
                            </ul>
                        </div>
                    </div>
                    <div class="calculator_rangecalc__wJBbD calculator_premarg__6Vvaz">
                        <div class="calculator_calcValues__rSbuc"><label>Number Of EMI's Paid</label>
                            <div class="calculator_inputGrp__Xp0tw"><input type="number" name="numberofemi"
                                    class="calculator_calcValuesInput__MzEPW calculator_lwidth__E9IXx"
                                    autocomplete="off" value="0"><span class="calculator_Sign__zxYy9">EMI</span></div>
                        </div>
                        <div class="calculator_rangeSlider__jU9si"><input type="range" class="slider minl" min="0"
                                max="239" name="numberofemi" value="0">
                            <ul class="calculator_range-labels__l3XU9">
                                <li>0</li>
                                <li>239</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="calculator_newcalcDetails__5nqoR undefined">
                    <p class="font12  text7c7f87 fontsemiBold type widthadj mb20">Revised Monthly EMI</p>
                    <div class="calculator_totalamt__iIRE2"><sup class="calculator_rupee___sHGb">₹</sup><span
                            class="calculator_price__CqI2b">7,448</span></div>
                    <p class="font12 lineHeight20 fontStyleItalic text7c7f87 fontsemiBold textCenter type widthadj">
                        Seven Thousand Four Hundred And Forty Eight</p>
                </div>
                <div class="calculator_calcDetail__xhxK9">
                    <p class="textCenter font18 fontsemiBold text181d mb30">Key Takeaways:</p>
                    <div class="calculator_chart-container__HPAcY"><canvas role="img" height="200" width="200"
                            style="display: block; box-sizing: border-box; height: 200px; width: 200px;"></canvas></div>
                    <div class="calculator_calculatevalues__YK6Ts">
                        <div class="calculator_amount__Nafh6">
                            <div class="calculator_collect__vpURX"><span
                                    class="calculator_pieBox__GrKUb calculator_amred__zEEHW"></span>
                                <p class="calculator_info__eywyi">Original EMI</p>
                            </div>
                            <p class="calculator_amt__GBBik">₹7,456</p>
                        </div>
                        <div class="calculator_amount__Nafh6">
                            <div class="calculator_collect__vpURX"><span
                                    class="calculator_pieBox__GrKUb calculator_amblue__vIy0j"></span>
                                <p class="calculator_info__eywyi">Revised EMI</p>
                            </div>
                            <p class="calculator_amt__GBBik">₹7,448</p>
                        </div>
                        <div class="calculator_amount__Nafh6 calculator_total__LQDxS">
                            <p class="calculator_info__eywyi">Savings in Interest</p>
                            <p class="calculator_amt__GBBik">₹920</p>
                        </div>
                    </div><button class="btn font12 btn25 textCenterSm">Apply for a Loan<em
                            class="icon-arrow-right font14"></em></button>
                </div>
            </div>
        </div>
    </section>
    <div class="container containerFlex">
        <section class="CmsContent_eligible__8MIhE">
            <div class="pr15">
                <div class="mt40">
                    <h2 class="mt30 mb15 font18 text181d fontMedium">What is the Home Loan Prepayment Calculator?</h2>
                    <p>A housing loan prepayment calculator is a stalwart online tool that is precisely designed to help
                        borrowers. Borrowers can themselves determine the felicitousness of the part prepayment option.
                        You get the option to compute exact values by entering basic details such as loan amount,
                        repayment tenure, together with the part prepayment amount you want to pay. The prepayment
                        calculator allows you to depict the savings you are about to get.</p>
                    <p>With a home loan prepayment calculator, you get to know four essential aspects, including the
                        revised monthly installment, the total percentage saved on monthly EMIs, the repayment tenure
                        reduction, the due amount, and total savings. Utilize the prepayment calculator to know whether
                        you should move forward with the prepayment of the loan or not.</p>
                    <p>Although the manual calculations of such changes can be daunting, there are chances of errors.
                        Rather than wasting your valuable time calculating these values, use our online calculator and
                        make the appropriate computations.</p>
                    <h2 class="mt30 mb15 font18 text181d fontMedium">How does the Home Loan Prepayment Calculator Work?
                    </h2>
                    <p>With Urban Money’s handy home loan prepayment calculator, you can compute values by following a
                        minimal process that won't even take a minute of your precious time. Here’s how the calculator
                        works:</p>
                    <ul>
                        <li>Visit the top section of the home loan prepayment calculator.</li>
                        <li>You will see various text fields marked as Loan Amount, Interest Rate, Tenure, Prepayment
                            Amount, and Number of Paid EMIs.</li>
                        <li>Fill appropriate values in the text field and press "Enter."</li>
                        <li>As a result, you will get new monthly EMIs as the principal loan amount will be reduced.
                        </li>
                    </ul>
                    <p>Using the above home loan prepayment calculator, we have compiled a table as shown below,</p>
                    <table>
                        <tbody>
                            <tr>
                                <td>Loan Amount</td>
                                <td>₹20,00,000</td>
                            </tr>
                            <tr>
                                <td>Original Loan Tenure</td>
                                <td>15 Years</td>
                            </tr>
                            <tr>
                                <td>Current Rate of Interest</td>
                                <td>8% p.a</td>
                            </tr>
                            <tr>
                                <td>Prepayment Amount</td>
                                <td>₹5,00,000</td>
                            </tr>
                            <tr>
                                <td>Number of EMI's Paid</td>
                                <td>5</td>
                            </tr>
                            <tr>
                                <td>Original EMI</td>
                                <td>₹19,113</td>
                            </tr>
                            <tr>
                                <td>Revised EMI</td>
                                <td>₹14,264</td>
                            </tr>
                            <tr>
                                <td>Savings in Interest</td>
                                <td>₹3,48,575</td>
                            </tr>
                        </tbody>
                    </table>
                    <p><strong>Disclaimer:</strong><span> This above table is for reference only.</span></p>
                    <h2 class="mt30 mb15 font18 text181d fontMedium">What are the Benefits of the Home Loan Part Payment
                        Calculator?</h2>
                    <p>Part-payment allows home loan borrowers to diminish the outstanding amount up to a significant
                        level. This reduction in principal is reflected directly in decreased interest liabilities along
                        with subsequent EMI reduction. A part-payment can be helpful in limiting the liabilities,
                        especially when chosen at the right time. The part prepayment calculator enables you to depict
                        the profitability of the upfront payment you will make against the house loan liability.</p>
                    <p>At the same time, the part payment contributes to the overall improvement of the applicant’s
                        credit score after the final settlement of the home loan. When you select the prepayment option,
                        you take one more step towards easier principal amount repayment. Additionally, the charged
                        interest rate remains in check. The best part about computing values is that you already know
                        the exact savings you are going to unlock.</p>
                    <p>As a home loan borrower, always try to make multiple partial payments across the loan tenure to
                        avail of maximum benefits. Banks and lenders usually allow the borrower to make part prepayments
                        equal to the amount payable through three EMIs. In simple words, if you are paying an EMI of INR
                        20,000, then you are eligible to make a part payment of INR 60,000.</p>
                    <h2 class="mt30 mb15 font18 text181d fontMedium">Who is an Eligible Candidate to Make a Home Loan
                        Prepayment?</h2>
                    <p>Any home loan borrower is permitted to make full and partial prepayments towards the outstanding
                        home loan amount. Well, there might be some restrictions that thoroughly depend upon your
                        lender. Many lenders do not accept partial prepayments, while others do.</p>
                    <p>Thus, it is highly recommended to go through the prepayment clause mentioned within the agreement
                        before signing the home loan agreement. If your agreement permits you to do the same, then you
                        are eligible to make part prepayments. Don’t forget to check if the lender has imposed any
                        charges for prepayments. It is better to know about the penalty in advance before making partial
                        payments.</p>
                    <h2 class="mt30 mb15 font18 text181d fontMedium">What are the Applicable Home Loan Prepayment
                        Charges?</h2>
                    <p>When you count on home loan prepayment, you might be liable to pay notable home loan prepayment
                        charges. These charges are imposed based on RBI guidelines or guidelines issued by central
                        banks. All banks and housing finance companies are bound to follow these guidelines. If you are
                        thinking of making partial prepayments, here are certain things you must be familiar with:</p>
                    <p>When Banks &amp; HFCs are Permitted to Charge Prepayment Penalties</p>
                    <ul class="oList blueList listSpanbold mb20">
                        <li>If a non-individual borrower applies for partial prepayments, then he/she will be liable to
                            pay a prepayment penalty.</li>
                        <li>Banks have the right to charge a penalty if a borrower with a fixed rate home loan makes a
                            partial prepayment.</li>
                        <li>HFCs are restricted from imposing penalties on borrowers with fixed rates only if the
                            borrower applies for another loan to put forward the prepayment.</li>
                        <li>If the individual who accessed a dual-rate loan decides to make a prepayment during the
                            fixed rate tenure, then he will be liable to pay a penalty.</li>
                    </ul>
                    <p class="fontStyleItalic"><strong><span class="fontBold">Note:</span></strong>&nbsp;A dual-rate
                        loan is one in which the rate was initially fixed but after a certain time period was shifted to
                        floating interest rates.</p>
                    <p>Cases in Which HFCs are not Permitted to Charge Prepayment Penalties</p>
                    <ul class="oList blueList listSpanbold mb20">
                        <li>Banks are restricted from levying partial prepayment charges in the event of floating-rate
                            loans.</li>
                        <li>HFCs are not allowed to impose a penalty if the borrower is prepaying the amount from their
                            own funds.</li>
                        <li>In the event of a dual-rate loan, financial institutions are restricted from charging a
                            penalty if the home loan is availed at floating rates.</li>
                    </ul>
                    <h2 class="mt30 mb15 font18 text181d fontMedium">Factors to Consider Before Making Part Prepayments
                    </h2>
                    <p>It is not advisable to make part prepayments out of the blue. You need to go through a systematic
                        procedure if you want to avail the maximum possible benefits. Certain factors account for the
                        right time to make a prepayment.</p>
                    <h3 class="font14 mb0 text444 fontBold mt0">1. The Age of the Borrower</h3>
                    <p>If the applicant is near retirement age, then count on the prepayment prior to retirement. When
                        you reach retirement, your income sources are restricted, and your expenditure might increase.
                        There are chances that you won’t be able to make a part prepayment after getting retired.</p>
                    <h3 class="font14 mb0 text444 fontBold mt0">2. Future Expenditure</h3>
                    <p>When you finalise the part prepayment, don’t skip contemplating the upcoming expenses. The amount
                        you will prepay is a huge amount and can literally exhaust all accumulated amounts. Thus, before
                        making such payments, look into your finances and plan accordingly.</p>
                    <h3 class="font14 mb0 text444 fontBold mt0">3. Tax Savings</h3>
                    <p>When an applicant makes a home part prepayment, he is rolled off the list of possible tax
                        benefits. whereas during the repayment period, you can claim a maximum tax exemption of INR 1.5
                        lakh on the principal component under Section 80C. Furthermore, under Section 24 (b), you can
                        claim a maximum tax exemption of INR 2 lakh on the interest component. In the case of a joint
                        loan, both the owners can avail the benefits of the tax exemption individually.</p>
                    <h3 class="font14 mb0 text444 fontBold mt0">4. Total Savings Achieved Through Prepayment</h3>
                    <p>You might have to pay a liable fee to avail yourself of the benefits of prepayment. Before you
                        consider part prepayment, look into the applicable charges, if any, along with the overall
                        amount you will save by making prepayment of a home loan. If you don’t make huge savings through
                        loan prepayment, then drop the idea of prepayment. Additionally, you should consider making a
                        prepayment in the later stages of repayment tenure as the principal component is higher. In the
                        initial tenure, the principal component is comparatively low.</p>
                    <h3 class="font14 mb0 text444 fontBold mt0">5. Investment opportunities</h3>
                    <p>When you have access to a reliable amount of funds, don’t just look into prepayments. If you get
                        other opportunities to invest the same amount and can avail more benefits through the
                        investment, then you should consider other opportunities over prepayment of your home loan.</p>
                </div>
            </div>
        </section>
        <div class="RightSideBar_creditDescTile__EwfAF  " id="enquireNow">
            <h3 class="font16 font600 text181d mb15 mt30">Need Loan Assistance?</h3>
            <div class="LeadPopup_contentBox__k4AzT LeadPopup_sideBarForm__yaxs1">
                <p class="font12 text666 fontsemiBold">Connect with Loan Advisor Now!</p>
                <div class="LeadPopup_form__ZbOgW">
                    <div class="form-item"><input type="text" name="fullName" class="formInput" autocomplete="off"
                            required="" maxlength="90" value=""><label for="fullName"
                            class="font12 fontMedium formLabel">Full Name</label><span class="errorText"></span></div>
                    <div class="form-item contBox"><span class="text303542 font12 contCode fontMedium">+91</span><input
                            type="text" name="mobile" class="formInput" autocomplete="off" required="" maxlength="10"
                            value=""><label for="mobileNo" class="font12 fontMedium formLabel">Mobile No.</label><span
                            class="errorText"></span><span class="errorText"></span></div>
                    <div class="form-item">
                        <div class=" css-b62m3t-container"><span id="react-select-13-live-region"
                                class="css-7pg0cj-a11yText"></span><span aria-live="polite" aria-atomic="false"
                                aria-relevant="additions text" class="css-7pg0cj-a11yText"></span>
                            <div class=" css-13cymwt-control">
                                <div class=" css-hlgwow">
                                    <div class=" css-1jqq78o-placeholder" id="react-select-13-placeholder">Choose City
                                    </div>
                                    <div class=" css-19bb58m" data-value=""><input class="" autocapitalize="none"
                                            autocomplete="off" autocorrect="off" id="react-select-13-input"
                                            spellcheck="false" tabindex="0" type="text" aria-autocomplete="list"
                                            aria-expanded="false" aria-haspopup="true" role="combobox"
                                            aria-describedby="react-select-13-placeholder" value=""
                                            style="color: inherit; background: 0px center; opacity: 1; width: 100%; grid-area: 1 / 2; font: inherit; min-width: 2px; border: 0px; margin: 0px; outline: 0px; padding: 0px;">
                                    </div>
                                </div>
                                <div class=" css-1wy0on6"><span class=" css-1u9des2-indicatorSeparator"></span>
                                    <div class=" css-1xc3v61-indicatorContainer" aria-hidden="true"><svg height="20"
                                            width="20" viewBox="0 0 20 20" aria-hidden="true" focusable="false"
                                            class="css-8mmkcg">
                                            <path
                                                d="M4.516 7.548c0.436-0.446 1.043-0.481 1.576 0l3.908 3.747 3.908-3.747c0.533-0.481 1.141-0.446 1.574 0 0.436 0.445 0.408 1.197 0 1.615-0.406 0.418-4.695 4.502-4.695 4.502-0.217 0.223-0.502 0.335-0.787 0.335s-0.57-0.112-0.789-0.335c0 0-4.287-4.084-4.695-4.502s-0.436-1.17 0-1.615z">
                                            </path>
                                        </svg></div>
                                </div>
                            </div>
                        </div><span class="errorText"></span>
                    </div>
                    <div class="form-item">
                        <div class="Select_rangecalc__KDYd8">
                            <div class="selectBox"><select name="productType" class="formInput undefined" required="">
                                    <option value="">Choose Loan Type</option>
                                    <option value="2">Personal Loan</option>
                                    <option value="1">Home Loan</option>
                                    <option value="3">Loan Against Property</option>
                                    <option value="4">Business Loan</option>
                                    <option value="8">Credit Card</option>
                                </select></div>
                        </div><span class="errorText"></span>
                    </div>
                    <div class="LeadPopup_rangecalc__wwLC4 mb0 "><button
                            class="btn btn-primary textCenterSm font16 ">Submit </button><span class="errorText"></span>
                    </div>
                </div>
            </div>
            <h3 class="font16 font600 text181d mb15 mt30">Financial Calculators</h3>
            <div class="RightSideBar_creditTile__tbrLG mb16">
                <ul class="RightSideBar_btmoverflow__wat2N">
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/calculator/income-tax-calculator">Income Tax Calculator</a>
                    </li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/calculator/sip-calculator">SIP
                            Calculator</a></li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/calculator/fd-calculator">FD
                            Calculator</a></li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/calculator/hra-calculator">HRA
                            Calculator</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/calculator/lumpsum-calculator">Lumpsum Calculator</a></li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/calculator/ppf-calculator">PPF
                            Calculator</a></li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/calculator/rd-calculator">RD
                            Calculator</a></li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/calculator/gst-calculator">GST
                            Calculator</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/calculator/sukanya-samriddhi-yojana-calculator">Sukanya
                            Samridhi Yojana Calculator</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/calculator/mutual-fund-calculator">Mutual Fund
                            Calculator</a></li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/calculator/tds-calculator">TDS
                            Calculator</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/calculator/salary-calculator">Salary Calculator</a></li>
                </ul>
            </div>
            <div
                class="RightSideBar_creditTile__tbrLG RightSideBar_creditImg__B2mz1 mb16 RightSideBar_removePadding__YDnG5">
                <a href="https://www.urbanmoney.com/credit-score"><img alt="Credit Score" loading="lazy" width="250"
                        height="250" decoding="async" data-nimg="1" class="imgResponsive" sizes="100vw"
                        srcset="/_next/image?url=https%3A%2F%2Fcdn.urbanmoney.com%2Fimages%2Fcreditscore.png&amp;w=640&amp;q=75 640w, /_next/image?url=https%3A%2F%2Fcdn.urbanmoney.com%2Fimages%2Fcreditscore.png&amp;w=750&amp;q=75 750w, /_next/image?url=https%3A%2F%2Fcdn.urbanmoney.com%2Fimages%2Fcreditscore.png&amp;w=828&amp;q=75 828w, /_next/image?url=https%3A%2F%2Fcdn.urbanmoney.com%2Fimages%2Fcreditscore.png&amp;w=1080&amp;q=75 1080w, /_next/image?url=https%3A%2F%2Fcdn.urbanmoney.com%2Fimages%2Fcreditscore.png&amp;w=1200&amp;q=75 1200w, /_next/image?url=https%3A%2F%2Fcdn.urbanmoney.com%2Fimages%2Fcreditscore.png&amp;w=1920&amp;q=75 1920w, /_next/image?url=https%3A%2F%2Fcdn.urbanmoney.com%2Fimages%2Fcreditscore.png&amp;w=2048&amp;q=75 2048w, /_next/image?url=https%3A%2F%2Fcdn.urbanmoney.com%2Fimages%2Fcreditscore.png&amp;w=3840&amp;q=75 3840w"
                        src="/_next/image?url=https%3A%2F%2Fcdn.urbanmoney.com%2Fimages%2Fcreditscore.png&amp;w=3840&amp;q=75"
                        style="color: transparent; width: 100%; height: auto;"></a></div>
            <h3 class="font16 font600 text181d mb15 mt30">Top 10 Banks</h3>
            <div class="RightSideBar_creditTile__tbrLG mb16">
                <ul class="RightSideBar_btmoverflow__wat2N">
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/banks-in-india/idfc-first-bank">IDFC FIRST Bank</a></li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/banks-in-india/hdfc-bank">HDFC
                            Bank</a></li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/banks-in-india/axis-bank">Axis
                            Bank</a></li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/banks-in-india/kotak-bank">kotak
                            Bank</a></li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/banks-in-india/icici-bank">ICICI
                            Bank</a></li>
                    <li><a class="font14 lineHeight22" href="https://www.urbanmoney.com/banks-in-india/yes-bank">Yes
                            Bank</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/banks-in-india/indiabulls">IndiaBulls</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/banks-in-india/deutsche-bank">Deutsche Bank</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/banks-in-india/standard-chartered-bank">Standard Chartered
                            Bank</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/banks-in-india/lt-finance">L&amp;T Finance</a></li>
                </ul>
            </div>
            <h3 class="font16 font600 text181d mb15 mt30">Interest Rates</h3>
            <div class="RightSideBar_creditTile__tbrLG mb16">
                <ul class="RightSideBar_btmoverflow__wat2N">
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/loans/home-loan/interest-rate">Home Loan Interest Rates</a>
                    </li>
                </ul>
            </div>
            <h3 class="font16 font600 text181d mb15 mt30">Calculator Types</h3>
            <div class="RightSideBar_creditTile__tbrLG mb16">
                <ul class="RightSideBar_btmoverflow__wat2N">
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/loans/home-loan/balance-transfer-calculator">Balance
                            Transfer</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/loans/home-loan/emi-calculator">EMI Transfer</a></li>
                </ul>
            </div>
            <h3 class="font16 font600 text181d mb15 mt30">Check Eligibility</h3>
            <div class="RightSideBar_creditTile__tbrLG mb16">
                <ul class="RightSideBar_btmoverflow__wat2N">
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/loans/home-loan/eligibility-calculator">Home Loan
                            Eligibility Calculator</a></li>
                    <li><a class="font14 lineHeight22"
                            href="https://www.urbanmoney.com/loans/personal-loan/eligibility-calculator">Personal Loan
                            Eligibility Calculator</a></li>
                </ul>
            </div>
        </div>
    </div>
    <section class="CreditScore_addSection__oQn5B">
        <div class="container">
            <div class="CreditScore_latestCreditBlue__gbIXd">
                <div class="CreditScore_creditHead__y5A5p"><em class="CreditScore_miloMeter__Z5Bfy"></em>
                    <p class="font22 textWhite fontMedium lineHeight24 ">Get your latest Credit Score, <span
                            class="textf7b500">FREE</span></p>
                </div><button class="btn btn-blue fontBold CreditScore_apply__GSpaV">Check Now <em
                        class="icon-arrow-right font14"></em></button>
            </div>
        </div>
    </section>
    <section class="faq">
        <div class="container">
            <h2 class="faqHeading font24">Frequently Asked Questions (FAQs)</h2>
            <div class="faqBx">
                <div class="FAQ_question__LkjKP ">
                    <div class="FAQ_faqQuestn__v3L3G">
                        <h3 class="txt font14 fontMedium">Is prepayment of a home loan permissible?</h3><span
                            class="FAQ_pluseIcon__sWIas "></span>
                    </div>
                    <div class="FAQ_content__7VPH9">
                        <p style="text-align: justify;">A home loan has numerous advantages, such as tax benefits, which
                            may make prepayment an unfavourable option for you. Banks and finance providers permit
                            borrowers to make prepayments and repay home loans before the completion of the loan tenure.
                            Moreover, you might have to pay applicable prepayment charges (if any).</p>
                    </div>
                </div>
                <div class="FAQ_question__LkjKP ">
                    <div class="FAQ_faqQuestn__v3L3G">
                        <h3 class="txt font14 fontMedium">How can you calculate prepayment charges?</h3><span
                            class="FAQ_pluseIcon__sWIas "></span>
                    </div>
                    <div class="FAQ_content__7VPH9">
                        <p style="text-align: justify;">To ease up the prepayment calculation process, you can count on
                            the prepayment calculator. On the other hand, the prepayment charges are calculated by
                            computing the difference between the original rate of interest and the current rate of
                            interest. For instance, let’s say your original home loan interest rate was set at 7.5%, and
                            at present, the applicable rate of interest is 5.5%. The difference between the two, which
                            is 2%, is multiplied by the principal amount.<br>
                            200000 x 0.02 =&gt; 4000 This will be the applicable prepayment charge levied by the lender.
                        </p>
                    </div>
                </div>
                <div class="FAQ_question__LkjKP ">
                    <div class="FAQ_faqQuestn__v3L3G">
                        <h3 class="txt font14 fontMedium">What is the impact of prepayment on home loan EMI?</h3><span
                            class="FAQ_pluseIcon__sWIas "></span>
                    </div>
                    <div class="FAQ_content__7VPH9">
                        <p style="text-align: justify;">When your principal amount is less, you become liable to pay
                            lower interest rates and reduced EMIS. By making home loan prepayment, you unlock the
                            opportunity to part prepay the loan amount before the home loan’s tenure completion. It
                            results in the reduction of interest components from monthly EMIs. Thus, with prepayment,
                            the overall amount of home loan EMI is reduced.</p>
                    </div>
                </div>
                <div class="FAQ_question__LkjKP ">
                    <div class="FAQ_faqQuestn__v3L3G">
                        <h3 class="txt font14 fontMedium">What do you mean by prepayment charges for a home loan?</h3>
                        <span class="FAQ_pluseIcon__sWIas "></span>
                    </div>
                    <div class="FAQ_content__7VPH9">
                        <p style="text-align: justify;">Home loan prepayment is the process of repaying a home loan
                            partially before the due date. To carry forward the prepayment procedure, you might have to
                            pay notable charges levied by the lender. That is why it is recommended to get familiar with
                            the applicable charges while applying for a housing loan.</p>
                    </div>
                </div>
                <div class="FAQ_question__LkjKP ">
                    <div class="FAQ_faqQuestn__v3L3G">
                        <h3 class="txt font14 fontMedium">Do part-payments lower home loan EMIs?</h3><span
                            class="FAQ_pluseIcon__sWIas "></span>
                    </div>
                    <div class="FAQ_content__7VPH9">
                        <p style="text-align: justify;">Not directly, but it eventually reduces the home loan tenure.
                            The prepayment reduces the interest amount, which indirectly has an impact on the EMI.</p>
                    </div>
                </div>
                <div class="FAQ_question__LkjKP ">
                    <div class="FAQ_faqQuestn__v3L3G">
                        <h3 class="txt font14 fontMedium">How to calculate the principal repayment on a housing loan?
                        </h3><span class="FAQ_pluseIcon__sWIas "></span>
                    </div>
                    <div class="FAQ_content__7VPH9">
                        <p style="text-align: justify;">The EMI of a home loan comprises two vital components that are
                            principal components together with interest components. In simple words, the EMI is equal to
                            the principal amount in addition to the interest paid on the housing loan. The monthly
                            installment remains fixed throughout the loan tenure. To calculate the repayment principal,
                            the paid EMIs are deducted from the principal amount along with the levied interest rate.
                        </p>
                    </div>
                </div>
                <div class="FAQ_question__LkjKP ">
                    <div class="FAQ_faqQuestn__v3L3G">
                        <h3 class="txt font14 fontMedium">What is the advantage of prepaying a home loan?</h3><span
                            class="FAQ_pluseIcon__sWIas "></span>
                    </div>
                    <div class="FAQ_content__7VPH9">
                        <p style="text-align: justify;">The key benefit of prepaying a home loan before the due date is
                            the reduction of interest outflow. When you rely on prepayments, you save a lot in terms of
                            interest. With the reduction of the principal amount, the average interest rate and the
                            initially determined payable amount decrease.</p>
                    </div>
                </div>
                <div class="FAQ_question__LkjKP ">
                    <div class="FAQ_faqQuestn__v3L3G">
                        <h3 class="txt font14 fontMedium">When is the right time to make prepayments?</h3><span
                            class="FAQ_pluseIcon__sWIas "></span>
                    </div>
                    <div class="FAQ_content__7VPH9">
                        <p style="text-align: justify;">During the initial stage of a home loan, the interest component
                            is higher. Thus, you should count on prepayments during the initial years of a home loan. If
                            you decide to make prepayments at a later stage, you don’t save much and end up paying more
                            in terms of prepayment charges.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="InternalBlog_blogs__XWFqb">
        <div class="container">
            <h2 class="font24 textBlack fontsemiBold mb10">Home Loan Guide</h2>
            <p class="font14 lineHeight22 mb30 text2828">Get in-depth knowledge about all things related to loans and
                your finances</p>
            <div class="InternalBlog_tiles__DsGB4">
                <div class="InternalBlog_indTile__myHvD">
                    <figure><img alt="Top 10 Best Bank for Home Loan In India 2023" loading="lazy" width="152"
                            height="150" decoding="async" data-nimg="1" class="imgResponsive"
                            srcset="/_next/image?url=https%3A%2F%2Fwww.urbanmoney.com%2Fblog%2Fwp-content%2Fuploads%2F2023%2F02%2FTop-Home-Loans-In-India-2023-2.jpg&amp;w=256&amp;q=75 1x, /_next/image?url=https%3A%2F%2Fwww.urbanmoney.com%2Fblog%2Fwp-content%2Fuploads%2F2023%2F02%2FTop-Home-Loans-In-India-2023-2.jpg&amp;w=384&amp;q=75 2x"
                            src="/_next/image?url=https%3A%2F%2Fwww.urbanmoney.com%2Fblog%2Fwp-content%2Fuploads%2F2023%2F02%2FTop-Home-Loans-In-India-2023-2.jpg&amp;w=384&amp;q=75"
                            style="color: transparent;"></figure>
                    <div class="InternalBlog_blogItem__iU0p_">
                        <div class="InternalBlog_blogInfo__JvPtv"><span class="InternalBlog_name__LehqT">Chitra
                                Chaudhary</span><span class="InternalBlog_date__CiVJk">Nov 21, 2023</span></div><a
                            target="_blank"
                            href="https://www.urbanmoney.com/blog/home-loan-from-the-best-financial-banks-hlart">
                            <h3 class="InternalBlog_mainTitle__m6PVU">Top 10 Best Bank for Home Loan In India 2023</h3>
                        </a>
                        <p class="font14 text777 clearBoth">We have compiled a list of the best banks for a home loan in
                            India 2023 based on the home loan value it offers to the borrower. These banks offer a
                            variety of home loan programs with numerous advantag</p><label class="font12 textLink">Read
                            More <em class="icon-angle-right arrowSm"></em></label>
                    </div>
                </div>
                <div class="InternalBlog_indTile__myHvD">
                    <figure><img alt="Shriram Finance Customer Care Number" loading="lazy" width="152" height="150"
                            decoding="async" data-nimg="1" class="imgResponsive"
                            srcset="/_next/image?url=https%3A%2F%2Fwww.urbanmoney.com%2Fblog%2Fwp-content%2Fuploads%2F2023%2F10%2FToll-Free-Customer-Helplines-compressed.jpg&amp;w=256&amp;q=75 1x, /_next/image?url=https%3A%2F%2Fwww.urbanmoney.com%2Fblog%2Fwp-content%2Fuploads%2F2023%2F10%2FToll-Free-Customer-Helplines-compressed.jpg&amp;w=384&amp;q=75 2x"
                            src="/_next/image?url=https%3A%2F%2Fwww.urbanmoney.com%2Fblog%2Fwp-content%2Fuploads%2F2023%2F10%2FToll-Free-Customer-Helplines-compressed.jpg&amp;w=384&amp;q=75"
                            style="color: transparent;"></figure>
                    <div class="InternalBlog_blogItem__iU0p_">
                        <div class="InternalBlog_blogInfo__JvPtv"><span class="InternalBlog_name__LehqT">Mansi
                                Saini</span><span class="InternalBlog_date__CiVJk">Oct 05, 2023</span></div><a
                            target="_blank"
                            href="https://www.urbanmoney.com/blog/shriram-finance-customer-care-number-hlart">
                            <h3 class="InternalBlog_mainTitle__m6PVU">Shriram Finance Customer Care Number</h3>
                        </a>
                        <p class="font14 text777 clearBoth">We explore all the Shriram Finance Customer Care Numbers
                            provided by the bank. Through these channels of communication, the financier aims to provide
                            technical support, grievance redressal, and other </p><label class="font12 textLink">Read
                            More <em class="icon-angle-right arrowSm"></em></label>
                    </div>
                </div>
                <div class="InternalBlog_indTile__myHvD">
                    <figure><img alt="RBI Home Loan Guidelines 2023" loading="lazy" width="152" height="150"
                            decoding="async" data-nimg="1" class="imgResponsive"
                            srcset="/_next/image?url=https%3A%2F%2Fwww.urbanmoney.com%2Fblog%2Fwp-content%2Fuploads%2F2023%2F09%2FRBI-home-loans-Guidelines-2023-compressed.jpg&amp;w=256&amp;q=75 1x, /_next/image?url=https%3A%2F%2Fwww.urbanmoney.com%2Fblog%2Fwp-content%2Fuploads%2F2023%2F09%2FRBI-home-loans-Guidelines-2023-compressed.jpg&amp;w=384&amp;q=75 2x"
                            src="/_next/image?url=https%3A%2F%2Fwww.urbanmoney.com%2Fblog%2Fwp-content%2Fuploads%2F2023%2F09%2FRBI-home-loans-Guidelines-2023-compressed.jpg&amp;w=384&amp;q=75"
                            style="color: transparent;"></figure>
                    <div class="InternalBlog_blogItem__iU0p_">
                        <div class="InternalBlog_blogInfo__JvPtv"><span class="InternalBlog_name__LehqT">Chitra
                                Chaudhary</span><span class="InternalBlog_date__CiVJk">Sep 11, 2023</span></div><a
                            target="_blank" href="https://www.urbanmoney.com/blog/rbi-home-loan-guidelines-hlart">
                            <h3 class="InternalBlog_mainTitle__m6PVU">RBI Home Loan Guidelines 2023</h3>
                        </a>
                        <p class="font14 text777 clearBoth">The Reserve Bank of India is the highest banking and
                            financial authority in India. Along with the Government of India, the central bank revamps
                            and updates its policies to publish RBI guidelines for h</p><label
                            class="font12 textLink">Read More <em class="icon-angle-right arrowSm"></em></label>
                    </div>
                </div>
            </div>
            <div class="InternalBlog_cntr__oMpqS"><button class="btn btn-primary font14 textCenterSm btn25">View all
                    Blogs<em class="icon-arrow-right arw font14 mrg"></em></button></div>
        </div>
    </section>
</main>  -->